[2019-07-12 09:01] #174 closed, assigned to aoles, rabidllama, marq24

[2019-07-12 09:24] rabidllama commented on #545
Closing this now as I believe that the referenced issue fix should correct the problem

[2019-07-12 09:24] #545 closed, assigned to nobody

[2019-07-12 09:43] pathmapper commented on #174
@rabidllama looks like
- cycling-mountain
- cycling-road
- cycling-electric

are still missing.

Or are there no differences between the different bike profiles anymore?

[2019-07-12 09:56] rabidllama commented on #174
@marq24 are there differences in the tags used?

[2019-07-12 11:50] marq24 commented on #174
there is/was one different handling of the sac_scale tag - I have updated the difference in the docu...

https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering#cycling-regular-bike-cycling-electric-cycling-road--cycling-mountain

Might be, that I totally missunderstand the source - but when I read the wiki and compare it to the encoder, then *only* the code of the ` acceptWay(ReaderWay w

[2019-07-13 07:55] pathmapper commented on #567
@TimMcCauley the issue is still there:

![Bildschirmfoto von »2019-07-13 09-52-11«](https://user-images.githubusercontent.com/20856381/61168825-2221ff00-a554-11e9-8cd7-240d9f671c8b.png)

[2019-07-16 14:41] TimMcCauley commented on #567
@pathmapper this is a backend issue it seems, can you please add it to https://github.com/GIScience/openrouteservice ?

[2019-07-19 09:30] straend opened #568 "Routing true non-existing ramp"
#### Here's what I did

Routing errors, turning in on motorway on non-existing ramp, from the wrong direction

[Route request](https://maps.openrouteservice.org/directions?n1=60.471157&n2=22.364581&n3=17&a=60.457949,22.293149,60.469393,22.355676,61.496087,23.780974&b=0&c=0&k1=en-US&k2=km), Problem near the via-point.

#### Here's what I got

<img width="959" alt="openroute-error" src="https://user

[2019-07-22 08:29] pathmapper commented on #567
@sfendrich is this solved in the backend (and the app is not using an up-to-date version) or should this reopened here?

[2019-07-22 09:17] rabidllama commented on #568
Hi @straend ,

this is a common issue (also #467, #397, #17) that occurs due to how the core algorithm (in GraphHopper) which generates routes quicker doesn't take into account turn restrictions. There will be a new update in the next few months that may address that issue, but we are still investigating the performance of that.

For now though, if you toggle the `Avoid road types` and choose one

[2019-07-22 09:22] sfendrich commented on #567
@pathmapper Sorry, I just forgot to reopen the issue when I transferred it.

[2019-07-22 10:10] rabidllama commented on #567
So it seems this is basically due to how segments are handled. In the algo, each segment is calculated as a separate route, and so there are only ever two point references (0 for the start of the segment, and 1 for the end of the segment). If one segment of the route fails (i.e. cannot find a point), then an exception is thrown and the whole routing process terminated so that you don't end up with

[2019-07-22 11:00] pathmapper commented on #567
@rabidllama thanks for explaining the background.

It would be helpful if the error message would match the point labels (e.g. in the first example `A`, `1`, `2`, `3`, `B`), so the user could easy see which point is causing the termination of the routing process, especially if there are a lot of points used for a route.

Are the different route segments calculated sequentially? (segment 1, segment

[2019-07-22 13:30] rabidllama commented on #567
That's what I originally thought about, but the error message itself (`Cannot find point 1: xxx xxx`) is constructed inside the GH library and all that comes out is an exception with a String message, so it could get a bit messy if we try to deconstruct the message and then replace values... I will continue to see if there is something that can be done which is a bit cleaner

[2019-07-29 07:01] rabidllama commented on #567
I have put a fix in which will be part of the 5.0.2 release. To keep the array indexing consistent though, I have not used the A and B values as this is more a front end conversion than an API (it would likely be more useful for people using the API to use array IDs rather than a mix of letters and numbers)

[2019-07-29 09:22] pathmapper commented on #567
@rabidllama cool, thanks!

Makes sense.

[2019-07-29 19:02] jolerche opened #570 "Routig around Ölmühle/Saxony"
#### Here's what I did
https://maps.openrouteservice.org/directions?n1=50.773359&n2=13.474957&n3=16&a=50.771581,13.486265,50.771411,13.485096&b=1a&c=2&k1=en-US&k2=km

---
#### Here's what I got
Regardless of routing preferences (shortest, quickest, recommended) I only see the correct and direct route between A and B for walking. Choosing car or bicycle huge indirections are calculated. This doesn'

[2019-07-29 19:06] jolerche commented on #570
Comming from A the traffic from B has right of way through the bridge as it's quite narrow.
Bridge heigth is only 3,8m. No other restrictions applied as of 27th of July 2019.

[2019-07-29 21:27] samcrawford opened #571 "Concurrency issue with RouteExtraInfo"
#### Here's what I did

I am writing an application that leverages ORS, and one of the things the application does is calculate a number of possible routes for the user to take (typically ~10). Running these in series is quite slow, but running them in parallel across multiple cores is very quick.

Here is a snippet of the code I'm using to perform route calculation in parallel:

	ExecutorService

[2019-07-30 03:17] AgnesCT opened #572 "Isochrones not working"
I try to run isochrones and I get this error:

QGIS version: 3.8.0-Zanzibar
QGIS code revision: 11aff65f10
Qt version: 5.11.2
GDAL version: 2.4.1
GEOS version: 3.7.2-CAPI-1.11.0 b55d2125
PROJ version: Rel. 5.2.0, September 15th, 2018
Processing algorithm…
Algorithm 'Generate Isochrones' starting…
Input parameters:
{ 'INPUT_FIELD' : 'Name', 'INPUT_METRIC' : 0, 'INPUT_POINT' : None, 'INPUT_POINT_LAY

[2019-07-30 06:23] nilsnolde commented on #572
Sorry, wrong repository, pls open here:
https://github.com/nilsnolde/orstools-qgis-plugin/issues

What does that mean? You're self-hosting?

More info please in the transferred issue:
- What's the URL you're requesting against? (*Web* -> *ORS Tools* -> *Provider Settings*)
- Copy/paste a full request (found in *View* -> *Panels* -> *Log Messages* after sending a request)
- What is the file you're

[2019-07-30 06:23] #572 closed, assigned to nobody

[2019-07-30 06:38] nilsnolde opened #573 "waytype=ferry does not resolve for extra_info directions request"
If ferries are part of the itinerary, the parameter [`extra_info=[waytype]`](https://github.com/GIScience/openrouteservice-docs#waytype) does not resolve the ferries (ID 9) and instead responds with ID 0 (unknown) to the ferry sections.

E.g. Konstanz - Friedrichshafen:
[code]

[2019-07-30 12:30] rabidllama commented on #570
I believe this is because up until 3 months ago the bridge was marked as under construction. We will be deploying new graphs towards the end of the week so hopefully then it will route as expected

[2019-07-30 13:14] AgnesCT commented on #572
My issue ended up being that I somehow deleted the URL I was requested from:

What's the URL you're requesting against? (Web -> ORS Tools -> Provider Settings)

Thank you!!!

[2019-07-31 12:28] samcrawford commented on #571
I've had no further time to look into the code that's causing this, but I plan to debug it further myself tonight.

To satisfy myself that it wasn't just my faulty code that was causing this, I tried to reproduce this against api.openrouteservice.org with a few requests - and I can confirm the same issue is seen there. Sometimes the `extras` response element is missing or contains erroneous data.

[2019-08-01 20:16] samcrawford commented on #571
I've found the cause of this.

'Extra' information is added into responses using ExtraInfoProcessor, which is injected into GraphHopper's normal processing flow in ORSGraphHopper. This injection is done in a bit of a hacky way (as the comments acknowledge) via the TranslationMap.

The issue is that ORSGraphHopper is a singleton, and the TranslationMap hash map is defined at the class level. This i

[2019-08-02 11:41] sfendrich commented on #571
Thank you very much for reporting this issue and for the thorough investigation! We are currently in the process of upgrading our core to a newer GraphHopper version. As we have restructured the way how the extra-info is passed, we have to re-evaluate how your fix fits in there.

[2019-08-02 13:53] samcrawford commented on #571
No problem! And looking at the development-v6 branch, I agree that it looks like the changes there would make this change redundant (see https://github.com/GIScience/openrouteservice/blob/development-v6/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/ORSGraphHopper.java)

[2019-08-04 21:01] clarknovaold opened #575 "Requesting a matrix bigger then size 50 does not work even though maximum locations is set to 200"
#### Found the error: app.config.sample is missing the "maximum_routes" key in the master branch

#### Here's what I did
I deployed my own openrouteservice instance according to the docker setup instructions.
Using the api i request a matrix bigger than 50x50.
---
#### Here's what I got
[code]
It always states the number of total routes allowed are the total routes i requested. When i request 51x5

[2019-08-07 14:25] jolerche commented on #570
I just checked that but unf. there's no change in behaviour today. the beta maps show the same misbehaviour.

Moreover, OSM calculates direct (short) routes A-B and B-A for all transportation profiles.
https://www.openstreetmap.org/directions?engine=fossgis_osrm_car&route=50.77146%2C13.48514%3B50.77154%2C13.48640

[2019-08-08 06:33] nilsnolde commented on #575
What does this mean? Solved? Then please close the issue!

Anyways, as far as I can see the `maximum_routes` key **is** in the [master branch](https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/resources/app.config.sample), `maximum_locations` is not in there and was the old key (> 2 months ago).

I'll close this bcs I think it's invalid, feel free to open another

[2019-08-08 06:33] #575 closed, assigned to nobody

[2019-08-08 15:18] docquantum opened #576 "Couldn't process file data/osm_file.pbf, error: Can't decode srtm_38_03.tif"
#### Here's what I did

Pulled from docker hub and ran on a linux server using docker compose (giscience/openrouteservice:release_5.0.2).

---
#### Here's what I got

[code]

---
#### Here's what I was expecting

For it to work. When accessing the api, I get this at /ors/directions:

[code]

When running the container one-shot and using `ls` to see if the data is there, indeed the file osm_file.pb

[2019-08-08 18:04] docquantum commented on #576
Seems that I was running without a tag initially, and after deleting the volumes (and data) associated with the older container, it now runs fine.

[2019-08-08 18:04] #576 closed, assigned to nobody

[2019-08-13 10:40] TheGreatRefrigerator opened #578 "wrong folder location for locales in README.md"
#### Here's what I did
Go to https://github.com/GIScience/openrouteservice#translations
copy pasted route to url.

---
#### Here's what I got
404 site not found

---
#### Here's what I was expecting
the right location of the locale files
---
#### Here's what I think could be improved
put in a link to or the right location.
"resources/resources/locales" is kind of confusing doubling. maybe refactor

[2019-08-19 11:46] rabidllama commented on #570
Yes, we have had problems with the build process so we still haven't been able t deploy new graphs yet. The OSM routing will most likely be using more up to date graphs than we are, which would be why they work there and not on ors

[2019-08-22 07:43] sfendrich opened #582 "Cleanup build process in .travis.yml"
Our current Travis configuration has several issues that should be cleaned up:
* There is no reason to use stages with only one stage
* After starting Tomcat, we wait a fixed amount of time (15min) to ensure that all graphs are build before the API-Tests are executed. Sometimes, when downloading the maven-dependencies takes longer, this might be sensible, but in general, the graphs are up after a

[2019-08-29 02:28] LRitzdorf opened #584 "Error 2010: "Cannot find point 1""
I'm encountering an issue when using the ORS Python API, although it appears to be server-related, since the same thing happens on https://maps.openrouteservice.org.

When I make a Directions V2 query in either location (API or website), using the point 45.2475833, -108.0732222 (lat, lon), I'm given the following error (taken here from the Python error trace): `{'error': {'code': 2010, 'message':

[2019-08-29 03:01] LRitzdorf commented on #584
Informational Update: Following the lead of #89, I tested the route in OpenStreetMap, with interesting results.

In OpenStreetMap's (apparently default) "Car (OSRM)" mode, the route works - see https://www.openstreetmap.org/directions?engine=fossgis_osrm_car&route=48.202%2C-114.317%3B45.238%2C-108.077. (Although OSM appears to use a different coordinate projection than ORS does - the link is edite

[2019-08-29 08:35] nilsnolde commented on #584
I didn't check all the way now on openstreetmap, but to me it seems ORS and GH are doing the right thing and OSRM is not:

https://www.openstreetmap.org/way/334482979#map=13/45.1471/-107.9674&layers=H

That road is `highway=path`, which is not a valid tag for motorized vehicles:
https://wiki.openstreetmap.org/wiki/Tag:highway%3Dpath

Rather open an issue with OSRM;) They shouldn't route cars on `t

[2019-08-29 08:35] #584 closed, assigned to nobody

[2019-09-03 12:47] HendrikLeuschner opened #585 "Disabling core disabled CH"
In RoutingProfile.java:
`if (prepareCore == false)
                            args.put("prepare.ch.weightings", "no");
                    }`

This disables CH if Core is disabled... just a missed change when implementing Core.

[2019-09-09 05:19] Fefe111 opened #586 "Docker limitation"
Hi, I am sorry to bother you. However, I am stuck in a question. Why do I still encounter the API limitation error after I have configured the docker in Ubuntu 16.04? Thank you!
![微信图片_20190909131833](https://user-images.githubusercontent.com/41660018/64504894-591e5200-d304-11e9-8933-5b6a1f0dc156.png)

[2019-09-09 06:01] nilsnolde commented on #586
Cross posted, see here:
https://ask.openrouteservice.org/t/docker-limitation/926

Also, this would be a [openrouteservice-py](https://github.com/GIScience/openrouteservice-py) issue, not an openrouteservice issue.

[2019-09-09 06:01] #586 closed, assigned to nobody

[2019-09-10 19:43] stevecambridge commented on #576
Hi, what do you mean by running without a tag? I'm seeing this issue now and I'm still not sure how to resolve it.

[2019-09-10 20:16] stevecambridge opened #587 "Proxy problem: Couldn't process file data/osm_file.pbf, error: java.net.SocketTimeoutException"
Hi,
I'm having trouble launching the app via the docker-compose config.

I've been able to build the image after git cloning and docker-compose brings the server up, but it never enters the ready state. Instead, shortly after launching, I get a long list of Java stack traces, summarized in the ors.log file as:

2019-09-10 20:08:37,681 ERROR [routing.RoutingProfileManager] - java.util.concurrent.Ex

[2019-09-11 07:49] rabidllama commented on #576
Sometimes the srtm data gets corrupt during the download process (this download happens within the GH library), so if there is an error relating to srtm data it is normally best to delete the offending files and start the build again

[2019-09-17 09:56] samcrawford commented on #587
Just an idea: Verify that your host has access to the internet, functioning DNS, etc without needing proxies or any special config.

When parsing and creating the routing data it will also download evelation data from a third party server. So if you can't reach the internet, then you'll get an error, and SocketTimeoutException is perhaps indicative of an error like that.

[2019-09-17 13:59] Jaszkowic commented on #57
@eduardoandino Did you try to check the docker container output with `docker container logs <container_id>` ? I had a similar problem where status was stuck on "not ready" with no log output in logs/ors/ors.log but some Java out of memory problem that was logged in the docker container. However, I did use a pretty large OSM dataset (~around 4GB), with smaller datasets everything worked fine.

[2019-09-17 14:21] stevecambridge commented on #587
I see. Unfortunately our docker host is behind a corporate proxy so I'm not sure of a way to provide full internet access without extra configuration. Is there a way to configure the image with a proxy server?

[2019-09-17 15:37] samcrawford commented on #587
Modify https://github.com/GIScience/openrouteservice/blob/master/docker/docker-compose.yml to add in your corporate proxy details. e.g.

JAVA_OPTS=-Dhttp.proxyHost=10.0.0.100 -Dhttp.proxyPort=8800 -Djava.awt.headless=true ...

[2019-09-17 18:23] stevecambridge commented on #587
This didn't work exactly as written, but I got it working by moving JAVA_OPTS and CATALINA_OPTS from the "environment" section of docker-compose.yml to the build arguments section. They're declared as arguments in the Dockerfile anyway, and the `RUN echo` lines appear to copy them into an environment setup script on build. If these values aren't passed as build args, the setup script appears to si

[2019-09-25 11:55] #437 closed, assigned to aoles, TimMcCauley, HendrikLeuschner

[2019-09-27 10:28] s-gbz opened #593 "Python Matrix v2 API - Parameter 'locations' has incorrect value or format"
#### Here's what I did

I'm using the **openrouteservice python library** to send a request to the public v2 Matrix API:

[code]
I confirmed a valid json body:
[code]

I've also tried using a simple **python request API**:
[code]
---
#### Here's what I got

[code]
---
#### Here's what I was expecting

Using postman with the exact same configuration leads to a valid response:

[code]
---
#### Here'

[2019-09-27 11:27] nilsnolde commented on #593
Please use the [ors-py repo](https://github.com/GIScience/openrouteservice-py), since this is not an ORS issue.

In this case: don't do `json.dumps`, unnecessary. You can always confirm you don't send bullocks by adding `dry_run=True` to the parameter list.

[2019-09-27 11:27] #593 closed, assigned to nobody

[2019-09-30 10:39] CramericaIndustries opened #594 "Getting a lot of HTTP 400 responses"
Since about 2 weeks I'm getting a lot of HTTP 400 responses from the API. If I test one of the urls in my browser I get the HTTP 400 too, however if I hit the refresh button 2-3 times it suddenly works.

Example URL (**you need to add an API key**):
[https://api.openrouteservice.org/directions?coordinates=23.97466899999995,54.100236|23.982504000000063,54.099363|23.98706196672731,54.09833120710157&

[2019-10-01 14:14] RataxesKhal opened #595 "Wrong localization"
Good afternoon,

When I ask https://maps.openrouteservice.org for the localization behind:
Rue du Bugnon 44,  1011 Lausanne

I got wrong coord. (46.540111, 6.594661), it shoud be 46.524656, 6.640967

I notice that the postal code 1020 is associate to "Lausanne", but it is "Renens".

Thanks for your help.

#### Here's what I did

---
#### Here's what I got

---
#### Here's what I was expecting

---

[2019-10-02 07:28] rabidllama commented on #594
Hi,

the reason for this is because we recently extended our server infrastructure so that now we have load balancing. This means that for each profile there are two servers, and the newer ones have extra security checks on them imposed by Tomcat. Because of that, all special characters (pipes, braces etc.) need to be encoded, which is best practice anyway as a number of services do not allow spec

[2019-10-06 16:55] bayethiernodiop opened #596 "Error 400 in local deployment with docker"
Hello, thanks for this tool, i am using it locally with the direction api i.e routes and using a kenya.pbf  from osm(by replacing the file name in the docker-compose.yml) it seems to be ok since when connecting to the docker instance i see that the pbf file is copied there, but other than thee default coordinates in the doc if i put coords from kenya country i have this : ApiError: 400 ({'error':

[2019-10-07 08:52] #496 closed, assigned to MichaelsJP

[2019-10-07 08:54] rabidllama commented on #494
Fixed in Release 5.0.2

[2019-10-07 08:54] #494 closed, assigned to rabidllama

[2019-10-07 08:55] #440 closed, assigned to rabidllama

[2019-10-07 08:56] rabidllama commented on #567
Fixed in Release 5.0.2

[2019-10-07 08:56] #567 closed, assigned to nobody

[2019-10-07 08:56] rabidllama commented on #564
Fixed in Release 5.0.2

[2019-10-07 08:56] #564 closed, assigned to nobody

[2019-10-07 08:57] rabidllama commented on #560
Fixed in Release 5.0.2

[2019-10-07 08:57] #560 closed, assigned to rabidllama

[2019-10-07 08:58] rabidllama commented on #547
Fixed in Release 5.0.2

[2019-10-07 08:58] #547 closed, assigned to HendrikLeuschner

[2019-10-07 08:58] #536 closed, assigned to aoles

[2019-10-07 08:59] rabidllama commented on #325
Fixed in Release 5.0.2

[2019-10-07 08:59] #325 closed, assigned to marq24, TimMcCauley, nilsnolde

[2019-10-07 09:00] rabidllama commented on #349
Added in Release 5.0.2

[2019-10-07 09:00] #349 closed, assigned to MichaelsJP

[2019-10-07 09:02] rabidllama commented on #535
Fixed in Release 5.0.2

[2019-10-07 09:02] #535 closed, assigned to aoles

[2019-10-07 09:02] rabidllama commented on #550
Fixed in Release 5.0.2

[2019-10-07 09:02] #550 closed, assigned to aoles

[2019-10-07 09:04] rabidllama commented on #531
Fixed in Release 5.0.2

[2019-10-07 09:04] #531 closed, assigned to nobody

[2019-10-07 09:18] rabidllama commented on #595
This is the repository for the routing aspect of ORS and not the geocoder, so I will close the issue as it is not for here. You can try asking on the ask.openrouteservice.org forum, but we do not have too much control over the Geocoding as we use the Pelias geocoder on our servers. It may be also worth checking on their service to see if the same problem exists, and if so you could raise an issue

[2019-10-07 09:18] #595 closed, assigned to nobody

[2019-10-07 09:20] #558 closed, assigned to marq24

[2019-10-07 09:21] rabidllama commented on #570
Looks like the new graphs take into account this bridge now.

[2019-10-07 09:21] #570 closed, assigned to nobody

[2019-10-07 09:37] rabidllama commented on #596
Can you give us an example of the request that you are making

[2019-10-07 09:40] rabidllama commented on #372
We should put this on hold for the time being

[2019-10-07 09:40] rabidllama commented on #343
This may get introduced when we update to GH0.13

[2019-10-07 18:03] bayethiernodiop commented on #596
`import openrouteservice

# key can be omitted for local host
client = openrouteservice.Client(base_url='http://localhost:8080/ors')
client.request(
    url='/routes',
    get_params={
      'coordinates': "36.8993,-1.35145|36.8144,-1.295",
      'profile': 'driving-car',
      'format': 'json'
  })`

I tried also with postman but same response. But when i use the same request with points from the

[2019-10-07 21:50] bayethiernodiop opened #597 "ascent and descent missing in API response"
When calling the direction using the API the ascent and descent are not in the response but when using the [openrouteservice](https://maps.openrouteservice.org/directions?n1=-1.31672&n2=36.849046&n3=15&a=-1.305249,36.82239,-1.333275,36.870815&b=0&c=0&k1=en-US&k2=km) website  they are present. Any help here and please what these two means, i suppose it's the max and minimum duration. Thanks

reques

[2019-10-08 06:00] nilsnolde commented on #596
Can you paste your `app.config` here? Did you build the Docker initially with the default dataset and flushed the `graphs` folder before building Kenya?

[2019-10-08 06:32] bayethiernodiop commented on #596
I am using the default app.config :
[code]
I built the docker initially with the default dataset but then after i forced the cocker-compose command to recreate it, it didn't work then i deleted all and build a new container from scratch with kenya one but same result.

As you can also see on the image below an ssh connection to the docker container shows that the osm_file.pbf is in fact the kenya

[2019-10-08 06:53] nilsnolde commented on #596
Can you do `rm -rf ./graphs` and then again `docker-compose up -d --build`?

[2019-10-08 08:10] aoles commented on #597
Hi,
thank you for your inquiry!

In order to get the ascent and descent information in route summary add the parameter `elevation: true` to your query as described in the [directions endpoint documentation](https://openrouteservice.org/dev/#/api-docs/v2/directions/{profile}/post).

Cheers,
Andrzej

[2019-10-08 08:10] #597 closed, assigned to nobody

[2019-10-08 08:34] nilsnolde commented on #597
And @bayethiernodiop, please use https://ask.openrouteservice.org for questions or anything not related to a bug.

[2019-10-08 22:41] bayethiernodiop commented on #596
thanks a lot @nilsnolde  it worked like a charm

[2019-10-08 22:41] #596 closed, assigned to nobody

[2019-10-09 09:11] bayethiernodiop commented on #597
@nilsnolde  please can you help in this question, i asked the question in the form but my account is temporarily in hold and i am really in a hurry here. thanks

[2019-10-09 09:39] nilsnolde commented on #597
Your question was answered by @aoles. Don't know what else you might want...

Your account is now unblocked in our forum. Please shift the conversation over there.

[2019-10-09 09:50] nilsnolde commented on #594
Closing this as it's not a bug and no action will be taken from our side.

[2019-10-09 09:50] #594 closed, assigned to nobody

[2019-10-09 13:51] 2803media opened #598 "How much time for status": "ready""
I just wonder the average time for getting a status": "ready", my container start 1 hour ago with a .pbf of France (3.5G) and I wonder have an estimation of the time for the setup.

Thanks

[2019-10-09 14:32] nilsnolde commented on #598
Please follow the instructions in the issue template: questions and anything not being a bug should be posted at https://ask.openrouteservice.org.

1-2 hours I'd expect, depending on the hardware obviously. Look into the container logs.

[2019-10-09 14:32] #598 closed, assigned to nobody

[2019-10-09 14:57] bayethiernodiop commented on #597
thanks and sorry. didn't saw that one at all. thanks @aoles

[2019-10-09 18:41] bayethiernodiop opened #599 "Avaialiability of the POI service"
Hello, I am using openrouteservice local but can't find any route to compute Poi, however it's available on the public API. is this a bug from my local installation or not? thanks.

[2019-10-10 04:19] nilsnolde commented on #599
Straight from the README:

https://github.com/GIScience/openpoiservice

And again: use the forum mate. In **all** cases/packages/languages it's safe to assume that you're doing a mistake and there is no bug. Only after intense research and 60 mins of meditation to reflect on the matter should you file a bug. And if you're too lazy for that, **use the forum**.

[2019-10-10 04:19] #599 closed, assigned to nobody

[2019-10-11 16:34] Philipp-M opened #600 "Router fails to route over a mountain on a hiking path"
I'm not sure if this is the right place, but this seems to be some kind of bug.

#### Here's what I did

Tried to create a hiking route, but the router doesn't do what I wan't to do (doesn't route me over the mountain, no matter how hard I try).

---
#### Here's what I got
Here is a link, where I think it is obvious what I tried to do:

https://maps.openrouteservice.org/directions?n1=47.40625&n2=1

[2019-10-13 17:38] LRitzdorf opened #601 ""Undefined" error returned when route not found"
Hello,

I've written a program that uses the ORS Python API to retrieve and store routing information for later use. I tested it on 9/15/2019, and everything worked correctly. Upon running the program again on 10/12/2019, however, it seems that a recent update has changed how error handling works on the ORS servers.

Previously, if a route could not be found between two locations, an HTTP 404 resp

[2019-10-15 14:30] hamzarhaiem opened #602 "Geocododing using my own instance of Pelias"
Hello,

Can somesone share how can we figure out the changes that need to be made on the conf file, to make the geocoder engine to Nominatim or my own Pelias instance.

Thanks,

[2019-10-15 17:15] ivanpetrushev opened #603 "Error code 2099 for directions on certain coordinates"
#### Here's what I did

$ curl -X POST   'https://api.openrouteservice.org/v2/directions/foot-walking/geojson'   \
-H 'Content-Type: application/json'   \
-H 'Accept: application/json, application/geo+json, application/gpx+xml, img/png; charset=utf-8'   \
-H 'Authorization: <hidden>'   \
-d '{"coordinates":[[42.152427922192466, 24.73769187927246], [42.15809088268482, 24.743356704711914]]}'

---
##

[2019-10-15 18:25] nilsnolde commented on #602
Not a technical issue. Please contact https://ask.openrouteservice.org for questions.

[2019-10-15 18:25] #602 closed, assigned to nobody

[2019-10-16 07:20] civil142 opened #604 "docker-compose up-d stalling on Step 8"
I tried building the ORS using the instructions - it started well then this happened.

Step 8/29 : RUN apt-get update -qq
---> Running in d6d9889c2b1d
apt-get : The term 'apt-get' is not recognized as the name of a cmdlet,
function, script file, or operable program. Check the spelling of the name, or
if a path was included, verify that the path is correct and try again.
At line:1 char:76
+ ... e =

[2019-10-16 13:23] TahiraU commented on #603
Hi ivanpetrushev,

have you already tried to swap the coordinates? Your coordinates aren't in the right order. You have to feed the request with longitude, latitude instead of latitude,longitude. Your body request should look like this:

`{“coordinates":[[24.73769187927246,42.152427922192466],[24.743356704711914,42.15809088268482]]}`

[2019-10-16 17:25] ivanpetrushev commented on #603
Thanks, that worked!

But shouldn't it be able to find route if coordinates were flipped?
If they happened to be in some desert with no routes, shouldn't it return "no routes" or similar error message?

[2019-10-16 17:25] #603 closed, assigned to nobody

[2019-10-21 12:43] TimMcCauley commented on #114
fyi https://github.com/graphhopper/graphhopper/pull/1759

[2019-10-29 10:27] aoles commented on #601
I can confirm this. In fact, when the start-/endpoint is not found the error code returned by the API is 2099 `UNKNOWN` rather than the more specific one 2010 `POINT_NOT_FOUND` or 2009 `ROUTE_NOT_FOUND`. Consider the following [example](https://maps.openrouteservice.org/directions?n1=47.690121&n2=9.357886&n3=11&a=47.625139,9.385062,47.719001,9.397091&b=0&c=0&k1=en-US&k2=km):

![Screenshot_2019-10-

[2019-11-07 09:50] bayethiernodiop opened #606 "osm way id for the route api segments"
Hello, I am using openrouteservice locally using the docker image, I searched a lot on how to get the osm way id along with the segments when using the route API. I am planning on using the osm way id with uber movement data which only has the osm way id for me to join the segment returned by the openrouteservice route API and the data from the uber movement.

I saw that there was a pull request t

[2019-11-07 12:10] TahiraU commented on #600
The reason why you can't route over the mountain is that the specific path carries the sac_scale:demanding_alpine_hiking tag, as you can see here:

![sac_scale_demanding_alpine_hiking](https://user-images.githubusercontent.com/56635666/68387671-20152900-015f-11ea-855a-43e96555e886.png)

The OpenRouteService considers this tag as a dangerous route, which is why (even hikers) can't create a route ov

[2019-11-08 11:06] nexces opened #607 "Cannot add new language for directions"
I’ve followed directions in https://github.com/GIScience/openrouteservice/wiki/Contributing-Translations and I see new language available in “/status” endpoint. However when I’m trying to use new language I’m getting “Parameter ‘language’ has incorrect value or format.”

#### Response from `/ors/status/`
[code]
---

#### Request sent to `/ors/v2/directions/driving-hgv`
[code]

---
#### Response fo

[2019-11-08 11:28] nilsnolde commented on #600
We used to have a `max_difficulty` option for hiking *I think*, but it wasn't used much and didn't survive the latest cleanup of features to prepare for more sophisticated algorithms.

I'll keep this open as I personally think it'd be a good addition for the hiking profile to have 3-4 difficulty levels, though some thought has be given which heuristic(s) to use for that. Or maybe just some flags l

[2019-11-08 11:32] nilsnolde commented on #607
It might easiest if you issue a PR (against development), so we can assess the whole situation.

https://github.com/GIScience/openrouteservice/blob/master/CONTRIBUTE.md#pull-requests

[2019-11-08 11:36] nilsnolde commented on #604
Sorry for the super late answer @civil142 ..

I'm not sure what the problem is, but I suspect some Windows Docker stuff here. The error very much sounds like a Powershell error, which suggests that Docker pulled a Windows image. I have no idea how to tell it to build Linux containers instead, but I'm sure with this clue you'll find that out yourself. Good luck with that!

Closing since no issue wi

[2019-11-08 11:36] #604 closed, assigned to nobody

[2019-11-08 11:41] nilsnolde commented on #606
That's a fairly frequently-asked functionality, see #371 .

I'd still like to have that, so I'll keep this open. Again, don't hold your breath, we're in a major refactoring/upgrading phase. But this should be on our roadmap.

[2019-11-08 11:44] nilsnolde commented on #587
Glad you figured it out! And thanks @samcrawford for supporting here!

Happy to accept a PR to change the docker-compose.yml @stevecambridge :)

[2019-11-08 13:51] stevecambridge commented on #587
Sure. PR is open @nilsnolde.

[2019-11-08 18:24] nilsnolde commented on #587
Awesome, thanks @stevecambridge ! @rabidllama will merge when he's back next week.

[2019-11-12 08:55] rabidllama commented on #607
Hi @nexces ,
the problem is that the documentation needs updating a little to add an extra place that needs a value adding in the java code. Since the update to the new v2 API, the code uses Spring Framework and so the values being passed in also need to be declared in the code. If you add a `PL("pl"),` to the `openrouteservice/src/main/java/heigit/ors/api/requests/common/APIEnums.java` file in th

[2019-11-12 11:59] nexces commented on #607
Thanks @rabidllama, now it works.
I'm going to leave this issue open so it will remind about documentation update ;)
When I'll finish fiddling with translation I'll do a pull request with translation.

[2019-11-13 15:55] rabidllama commented on #607
I've updated the docs now

[2019-11-15 09:45] kubasienki opened #612 "Out of Memory on init of the server"
Hi,

I'm trying to run whole Poland with ORS with no success.

The problem I'm getting is:

`2019-11-15 08:17:07,556 ERROR [routing.RoutingProfileManager] - java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.OutOfMemoryError: Java heap space - problem when allocating new memory. Old capacity: 1048576, new bytes:477285440, segment

[2019-11-18 11:44] kubasienki commented on #612
May be the problem with the docker file and these two lines:
[code]
Based on this thread: https://ask.openrouteservice.org/t/unable-to-run-private-docker-instance/1091/2

[2019-11-19 08:16] rabidllama commented on #612
There was a PR merge into development a couple of days ago (https://github.com/GIScience/openrouteservice/pull/608) that may help with that. It might be worth trying the development branch if you are running it via a git clone and see if that fixes the problem, as the next release is still a couple of weeks away

[2019-11-19 10:50] sfendrich opened #613 "SonarQube fails in Travis on external pull requests"
For security reasons [SonarQube does not scan external PRs](https://docs.travis-ci.com/user/sonarcloud/#analysis-of-internal-pull-requests). This makes the build process fail in Travis.

Until the [upcoming feature in Sonar](https://docs.travis-ci.com/user/sonarcloud/#upcoming-improvements) is implemented, we have to switch off scanning on external PRs.

[2019-11-20 12:58] rabidllama commented on #601
Things that need to be done are:
1 - make it so that when there is no search radius parameter in the app.config, a default value is used
2 - I also see the the erro message text is written twice, so this should be modified to make sure it only comes back once.

[2019-11-21 14:36] HendrikLeuschner opened #619 "Bike profile: Isochrones use FastestWeighting, Routing uses PriorityWeighting"
The weighting for routing and isochrones are different. This leads to smaller isochrones than what you can reach by using A to B routing. It should be the same weighting (preferably Priority).

[2019-11-21 15:57] HendrikLeuschner opened #620 "Car is routed along railway tracks to Sylt"
Try this:
https://maps.openrouteservice.org/directions?n1=54.83807&n2=8.747177&n3=11&a=54.789403,8.838158,54.904251,8.304977&b=0&c=0&k1=en-US&k2=km

The route takes you via a shuttle train. There are no roads on that connecting bit. Apparently the shuttle does take cars, but (as with the normal ferries), the times and speeds are unknown. Our code just returns ab out one hour, which is useless info

[2019-11-22 10:29] takb commented on #542
Implemented in development-v6 branch, awaiting merge

[2019-11-25 18:01] akatasonov commented on #606
@nilsnolde Could you give some tips on how to enable osm ids for profiles other than the wheelchair in the source code? I was browsing the source but couldn't spot a place where 'extra_info=osmid' is allowed for only the wheelchair profile. Or is it more involved than simply turning it on in the source? I'd like to estimate the work effort to turn it on.

[2019-11-25 21:25] TahiraU commented on #606
@akatasonov you can try by changing the `app.config` file, which should be in this directory: `openrouteservice/src/main/resources`.

As you can see below, the wheelchair profile settings have an `OsmId` row at the end, whereas all the other profiles don't carry this info. If you add the `OsmId`-info in the `extended_storage`-parameter of your specific profile, the response will output the corresp

[2019-11-26 09:04] nilsnolde commented on #606
If you want to PR it @akatasonov, @rabidllama can give you some info on what to do.

[2019-11-26 13:45] akatasonov commented on #606
@TahiraU thanks! Appreciated!

[2019-11-27 16:17] aoles commented on #411
Same as #571 ?

[2019-11-27 16:23] takb commented on #411
Possible, now you mention it... As soon as the v6 code is deployed I'll run my repro code again to check, since #571 should be fixed now.

[2019-11-28 14:23] takb opened #622 "Improve speed estimation"
The problem reported in #506 is not a bug but a case where the speed as calculated in the VehicleFlagEncoder for traveling over the highway ramps is higher than the speed over the highway itself.

It seems to happen rather frequently, I found multiple Autobahn junctions near Heidelberg on a quick look-around where a similar problem occurs. It happens easily wherever the highway crossing the juncti

[2019-11-28 14:24] takb commented on #506
Will close this now since #622 will fix.

[2019-11-28 14:25] #506 closed, assigned to nobody

[2019-11-28 15:31] aoles commented on #573
I think we decided once to leave issues open until the actual release.

[2019-11-28 15:34] takb commented on #573
oh ok sorry

[2019-11-29 15:39] TheGreatRefrigerator opened #625 "different elevation for the exact same point"
#### Here's what I did

[code]
body:
[code]
---
#### Here's what I got
After visiting a Waypoint, the route returns on the exact same path but with different elevation information. Part of the coordinate section:
[code]
`8.697592, 49.419596` is the turning point which is present 3 times with 3 different elevation values.

---
#### Here's what I was expecting
The same elevation for the same points

[2019-11-29 15:50] aoles commented on #625
Probably virtual nodes/edges are the thing to look into.

[2019-12-02 18:50] jonzarecki opened #626 "Failure to connect when querying a locally hosted ORS in parallel"
#### Here's what I did

I've loaded the ORS docker on my machine and it works great.
However, when I use multiple processes to query the ORS rest API (from around 16) I get a failure to make a connection to the API.

---
#### Here's what I got
Failure to connect, or a timeout after multiple retries.

---

#### Here's what I was expecting

I looked for a config option of "max_connections" or someth

[2019-12-03 08:40] rabidllama commented on #626
hmm, I just looked through the code and on our servers and I can't see anything where a limit is set, so I assume it is a default somewhere either in Spring, Tomcat, Docker or in GraphHopper. Do you get an error message and if so, what is it?

[2019-12-03 11:09] nilsnolde opened #627 "Docker needs a build to respect new app.config"
Currently it's only possible to respect new config settings in `app.config.sample` when the image is rebuilt, the same for other PBF files than the default.

Optionally, new graphs should be built and new configuration settings respected on container startup.

[2019-12-05 09:36] nilsnolde opened #629 "Restrict polygon properties for avoid_polygons"
To prevent our servers from crashing, we should restrict some polygon property/properties a user can pass with `avoid_polygon` parameter. That should also go in the `app.config` of course.

Possible property restriction:
- area
- extent in X or Y, e.g. no more than 10 km in X OR Y

[2019-12-05 11:00] rabidllama opened #630 "Overhaul heuristic of calculating edge travel speed"
The code that attempts to take into account acceleration has issues (such as short segments) which sometimes sends routes off of a more logical path.

The code needs to either be reworked, or a different method implemented that would reduce travel speeds to a more realistic value than the default of assuming that the vehicle is immediately travelling at maximum possible speed as soon as it enters

[2019-12-05 13:51] aoles commented on #601
Thank you @MichaelsJP for looking into the issue!

[2019-12-05 14:04] aoles commented on #622
We decided to look into alternatives not requiring special handling of `highway:*_link` ways.

[2019-12-05 14:47] takb commented on #622
On closer investigation the culprit turned out to be the adjustSpeedForAcceleration. For the case in #506 adjusting the parameter `ACCELERATION_SPEED_CUTOFF_MAX` fixes the problem. Will investigate further on how to improve the speed estimation.

[2019-12-05 19:54] jonzarecki commented on #626
I got a pretty simple error of unable to form a connection when running in querying from different processes, and something in the neighborhood "max connection amount achieved" when querying with the same session object.

Nothing too informative.

I suspect this hidden limit is the reason I wasn't able to form the connection.

[2019-12-09 14:05] rabidllama commented on #626
Yes that definitely sounds like something related to Tomcat or Docker then. I will ask around to see if anyone else in the group has seen something similar, but if it is an issue with Docker or Tomcat then there might not be much that can be done about increasing the limit (I'm not an expert in either, so I can't say for sure)

[2019-12-09 15:59] aoles opened #631 "Broken "recommended" weighting"
Dynamic "recommended" bike routes use `OptimizedPriorityWeighting` which extends `FastestWeighting`. The routing is done using ALT with "fastest" landmarks. This is not correct because the recommended weighing alters the original fastest weights possibly reducing them. This might lead to the situation where the precomputed fastest landmarks overestimate the actual weigh violating the correctness o

[2019-12-09 22:46] aoles commented on #631
The examples were obtained based on the current **development** branch. Because of the [notorious](https://github.com/graphhopper/graphhopper/issues/1557#issuecomment-496511254) ALT implementation in GH 12 it is possible that by chance they actually illustrate issues with ALT itself rather than with the weighting, or an interplay of both...

[2019-12-10 12:00] sfendrich opened #632 "Unexpected durations when using quiet or green routing"
#### Here's what I did

Send this request:
[code]

---
#### Here's what I got

Duration of about 3h (Distance 5.1km).

---
#### Here's what I was expecting

Duration of about 1h.

---
#### Here's what I think could be improved

When the green and quiet routing factors a set to 0, the duration should match the duration of a regular routing request not using green/quiet routing at all.

[2019-12-10 14:26] aoles opened #633 "Review the logic of matching the routing algorithm to request parameters"
The current behavior of **non-dynamic** routing with **"fastest"** weighting when no CH is available is to use `DijkstraBidirRef` as fallback regardless of any other available alternatives such as ALT, CALT, or A* with Beeline. This probably needs to be altered such that plain Dijkstra really is the last resort.

[2019-12-10 15:26] aoles commented on #631
After closer inspection it appears that the `OptimizedPriorityWeighting` weights are never smaller than the `PriorityWeighting` ones so it should be fine (even though not optimal performance-wise) to reuse landmarks computed with the latter weighting when routing with "recommended". The observed differences seem to be related to problems with ALT.

[2019-12-10 15:26] #631 closed, assigned to aoles

[2019-12-12 11:24] sonigfr opened #634 "St abbreviation searching for Saint is not well recognized"
When I am picking up an address to search containing the St abbreviation (Saint), the api don't recognize it, for example I have to correct my search 3 PLACE DU MARCHE ST HONORE to 3 PLACE DU MARCHE SAINT HONORE to make it work !

[2019-12-12 11:40] nilsnolde commented on #634
That's not an issue with the routing service, as it's geocoding, which is served by a https://github.com/pelias/pelias instance.

Please double-check with https://pelias.github.io/compare/#/v1/search%3Ftext=london,%20uk to see if you get the same behaviour. If you do, open an issue in the Pelias repo. If not, then let us know in our [forum](https://ask.openrouteservice.org).

[2019-12-12 11:40] #634 closed, assigned to nobody

[2019-12-13 13:04] TheGreatRefrigerator opened #636 "wrong `extra_info` when using `skip_segments`"
#### Here's what I did

use this as request body for /directions/driving-car/geojson:
[code]
---
#### Here's what I got

[code]
---
#### Here's what I was expecting

something like

        "extras": {
          "waycategory": {
            "values": [
              [
                0,
                71,
                0
              ],
              [...],
              [
                85,

[2019-12-13 14:15] TheGreatRefrigerator commented on #636
I just realized a value -1 is not very good as it exists in steepness.
I'm not sure what would be applicable. Maybe 'false' or -999 or something

[2019-12-13 23:17] aoles commented on #636
Apparently various [extra infos](https://github.com/GIScience/openrouteservice-docs#routing-response) are encoded as integers, so we might want to stick to this. A large negative value sounds reasonable to me.

[2019-12-13 23:17] TheGreatRefrigerator commented on #636
I guess you would want the same "no-extra-info" value for each extra info available.
As -1 is an actual returned value for [steepness](https://github.com/GIScience/openrouteservice-docs#steepness) you would have to choose a different "no-steepness" value. I would welcome a generic approach where each _extra-info-category_ has the same value for missing infos.

[2019-12-13 23:28] aoles commented on #636
I agree, I realized that afterwards and updated my comment just before your reply :)

[2019-12-14 11:05] JohnnyLe opened #637 "How to update data?"
Hi all

This open source is consuming data directly from service openstreetmap API? Or from local data file?

If it's from local data file, how is process to update data to sync-up with latest data on openstreetmap?

Thanks a lot!

[2019-12-14 17:01] nilsnolde commented on #637
Not for Github, but for our [forum](https://ask.openrouteservice.org).

[2019-12-14 17:01] #637 closed, assigned to nobody

[2019-12-14 23:03] monishski opened #638 "GC overhead limit exceeded with own dataset"
Hi there,

I am currently trying to rebuild ORS locally with my **own dataset** using Docker and encountered a Java **'GC overhead limit exceeded'** error. I am fairly inexperienced with Java and so I am struggling to understand the cause/solution of the problem. _[Note: it works fine with small/city level datasets!]_

I have searched both your **forums** and the **git issues** section and noted t

[2019-12-17 13:51] TheGreatRefrigerator opened #639 "unable to compute route for `extra_info=traildifficulty` with cycling- profiles"
#### Here's what I did

[code]
---
#### Here's what I got

[code]
The route doesn't matter. It is always the same response.

---
#### Here's what I was expecting

route with extra information for trail difficulty

[2019-12-22 19:27] jonzarecki commented on #626
Any updates?

[2019-12-23 10:15] rabidllama commented on #626
Sorry, things have been a bit hectic with the christmas holidays coming up. It doesn't seem that anyone else here had a similar problem when they were running tests, so we are not sure what to suggest. It may be worth trying t run it without docker (some instructions can be found at https://github.com/GIScience/openrouteservice/wiki/Building-from-Source) and seeing if then you run into the same pr

[2019-12-23 10:17] rabidllama commented on #639
The normal bike profile doesn't have the trail difficulty extra info enabled at the minute as we had to turn it off last time we did builds to try and save some memory. mountain bike should have it on though, and it will be available again when the next builds are released

[2019-12-28 20:50] koenekelschot opened #640 "Invalid GeoJSON when including elevation"
When using `"elevation":"true"` in the request body for /directions/foot-walking/geojson, the coordinates in the response include the elevation values. However, the `bbox` properties in the response object contain only 4 items.

According to [RFC 7946 section 5](https://tools.ietf.org/html/rfc7946#section-5):

The current implementation leads to incompatibility with parsers following the RFC, such

[2019-12-29 10:50] nilsnolde commented on #640
Thanks, we weren't aware of that restriction.

I doubt we can get the z values for the bbox easily, as elevation is imprinted on the edges. However, we could at least append 0 as z value.

[2019-12-29 20:47] debyos opened #641 "Hungarian language version ready"
Dear All,

I have completed the Hungarian [translation](https://github.com/GIScience/openrouteservice-app/tree/development/app/languages) of Openrouteservice, you can find
[the file here](https://github.com/GIScience/openrouteservice-app/files/4008609/hu-HU_json.zip).

Please, put it online.

(By the way, I have also translated it at [Google Spreadsheets](https://docs.google.com/spreadsheets/d/1Gz

[2020-01-03 08:49] rabidllama commented on #638
Hi @monishski
first thing to check is that it is actually assigning the correct heap space. if you change the logging line of the app.config file to `"level_file": "DEBUG_LOGGING.json",` that should provide a bit more info in the log output. What we are looking for is something along the lines of
`03 Jan 08:31:16 INFO [routing.RoutingProfileManager] -  Total - 2 GB, Free - 12 GB, Max: 14 GB, Used

[2020-01-03 08:54] rabidllama commented on #641
Hi @debyos,

if I understand you correclty, the translations are for the front end and not the backend. The backend translation file for Hungarian can be found at https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/resources/resources/locales/ors_hu-HU.resources.

I will close the issue here as it is related to the front end repository and not this one.

[2020-01-03 08:54] #641 closed, assigned to nobody

[2020-01-07 11:34] monishski commented on #638
Hi @rabidllama

Sorry for my late response! I haven't played around with ORS for a while but I did end up seeing that that $JAVA_OPTS and $CATALONIA_OPTS were not being read...

I also did note that the latest development branch should overcome this problem!

Thanks a lot for your help... I look forward to playing around with it soon.

[2020-01-07 11:34] #638 closed, assigned to nobody

[2020-01-08 09:01] takb commented on #640
In fact this should be easily fixable, we already have elevations in the pointlist when calculating the bbox. @MichaelsJP , if you haven't already fixed this I'll do it.

[2020-01-08 10:01] #571 closed, assigned to nobody

[2020-01-08 10:01] #573 closed, assigned to takb

[2020-01-08 10:32] TheGreatRefrigerator commented on #639
This was resolved with the new graphs

[2020-01-08 10:32] #639 closed, assigned to nobody

[2020-01-12 12:40] MichaelsJP commented on #640
@takb Is fixed. Leave me a review when you're ready.

[2020-01-12 20:22] leonheess commented on #151
I have this exact issue.

Example-Request:
https://api.openrouteservice.org/directions?api_key=%KEY%&coordinates=9.68473,47.372486|14.033405,48.156815&profile=cycling-regular&format=json&geometry=true&geometry_format=geojson&elevation=true&extra_info=surface

In the Browser I get:
`Access to fetch at %URL% from origin 'https://bicyculty.com' has been blocked by CORS policy: No 'Access-Control-Allo

[2020-01-13 07:19] nilsnolde opened #648 "graph_date in response missing or 0"
#### Here's what I did

Request a /v2 route, isochrone & matrix

---
#### Here's what I got

`graph_date` metadata, which I think is a super useful addition, is either 0 or missing.

Route:

[code]

Isochrone & Matrix are lacking the `graph_date` entirely.

---
#### Here's what I was expecting

Correct `graph_date`

[2020-01-13 11:23] MichaelsJP commented on #632
- {"profile_params":{"weightings":{"green":0.4,"quiet":0}}} =  5.4km = 11598mins ~ 3h
- {"profile_params":{"weightings":{"green":0,"quiet":0}}} = 5.1km = 11025mins ~ 3h
- {"profile_params":{"weightings":{"quiet":0}}} = 5.1km = 7350mins ~ 2h
- {"profile_params":{"weightings":{"green":0}}} = 5.1km = 7350mins ~ 2h
- without weightings = 5.1km = 3675mins ~ 1h

Seems as the actual routing is not affect

[2020-01-13 15:46] aoles commented on #640
Please close the issues only once the corresponding code gets released, thanks!

[2020-01-13 15:51] MichaelsJP commented on #640
@aoles Thx for reopening ;). I remember the ors flow now.

[2020-01-13 16:06] MichaelsJP commented on #632
@sfendrich I dug into the weighting extensions for a bit and I think I solved the mysterious duration thing.

Setting one of the two weightings to zero, doesn't mean they're not going to be applied. The weighting values just work as a `weighting factor`.

For e.g. quiet routing:
https://github.com/GIScience/openrouteservice/blob/735f98744811be2426988e324177349fabbaa295/openrouteservice/src/main/ja

[2020-01-13 16:14] TheGreatRefrigerator commented on #632
If you decide this needs more documentation: That's not my job anymore 😛
The documentation is autogenerated using swagger anotations in the backend.
https://github.com/GIScience/openrouteservice/blob/d1e158a96f1f8053c16f5d60c49772d8c4ccf784/openrouteservice/src/main/java/org/heigit/ors/api/requests/routing/RequestProfileParamsWeightings.java#L38-L46

Anyways: why does the speed get reduced by half

[2020-01-13 16:24] aoles commented on #632
I still don't get it: if the same route is returned, it should also take the same amount of time to traverse it. AFAIU quiet/green routing is about prioritizing certain edges in route calculation by modifying their weights while keeping the travel speed (or duration) assigned to the edges unchanged. Am I missing something here @sfendrich ?

[2020-01-13 16:36] aoles commented on #632
BTW: when I query for the provided example on [maps.openrouteservice.com](https://maps.openrouteservice.org/directions?n1=49.004462&n2=8.437028&n3=14&a=49.009572,8.404056,48.99956,8.47001&b=2&c=0&m1=0.1&k1=en-US&k2=km&s) with both green an quiet routing enabled I get the expected travel time of 3675s. Where do the higher numbers reported by @sfendrich and @MichaelsJP come from?

[2020-01-13 16:50] TheGreatRefrigerator commented on #632
that's a bug. Probably introduced when i switched to v2 endpoint. It doesn't pass the green or quiet options.

[2020-01-13 17:06] MichaelsJP commented on #632
@aoles The results are coming from the interactive docs.

[2020-01-13 17:15] MichaelsJP commented on #632
@aoles When I request it on maps.openrouteservice.com the payload looks like this:
`{"preference":"fastest","language":"en-US","instructions":true,"geometry":true,"units":"m","attributes":["detourfactor","percentage"],"instructions_format":"html","elevation":true,"coordinates":[[8.404056,49.009572],[8.469944,48.999592]],"extra_info":["steepness","waytype","surface"]}`

So no sign of the weightings

[2020-01-14 08:51] sfendrich commented on #632
At least, this is what I would expect. IMO it makes no sense to travel at lower speed just because we prefer quiet routes. If the **same** route is returned it should have the **same** travel time and the **same** distance. In addition, we might report a "quietness" or "greenness" of the route.

Anyway, looking through the code, it looks rather experimental.

[2020-01-14 08:58] aoles commented on #632
Thank you, now I can confirm your findings @MichaelsJP.

If I understand it correctly the idea of the route weightings is to modify edge weights for routing in order to change the resulting **route** rather than make any changes to the **travel mode** itself (here: average walking speed). If this is true then if the green/quite route has the same geometry as the original one no changes in travel t

[2020-01-14 11:22] MichaelsJP commented on #632
In fact the routes are not the same. If you apply the weights with 0.0 there is a slight difference. That results from the fixed internal weight, that is still applied, just without the factor. So setting the weights activates the whole thing, even with values being zeroed.

[2020-01-14 12:04] MichaelsJP commented on #632
So, I guess I'll just clarify the weight descriptions more, so it's clear that they're just factors.

Regarding the actual green or quiet implementation we should open a new issue and discuss eventual changes in there.

[2020-01-14 12:08] MichaelsJP opened #650 "Investigate Quiet and Green routing"
As mentioned in #632, we should investigate green and quiet routing integration towards:

1. Why is the walking speed reduced from 5kph to 2.5kph
2. Find a sustainable way to generate the actual weightings data

[2020-01-15 07:02] takb commented on #629
@nilsnolde , 1. do we need both restrictions? 2. what are the values that endanger server stability?

[2020-01-15 10:54] takb opened #651 "Limit alternative routing to max distance / max number of alternatives"
- make app.config params and enforce in the code

[2020-01-17 08:02] sfendrich opened #654 "Review implementation of MultiTreeSPEntry"
The logic MultiTreeSPEntry must be reviewed in order to make compareTo, equals, and hashCode consistent. Otherwise we cannot guarantee the results of the matrix computation to be correct.

[2020-01-21 11:07] takb commented on #629
@nilsnolde it's implemented now and awaiting merge, but we need to have meaningful values to actually set.

[2020-01-21 14:19] rabidllama opened #658 "Add distance restriction to round trip routing"
Similar to the alternative routes algorithm, GH fallbacks to A-Star Bi-direction, and so there should be a restriction placed on the API that limits the maximum estimated distance of a round trip route to be a value defined in the app.config.

See issue #651 , though implementation should be simpler as it just needs a quick check in the RouteRequestHandler against the value in the app.config as do

[2020-01-22 12:34] takb opened #659 "Check and pull graphhopper#1755"
Check if https://github.com/graphhopper/graphhopper/pull/1755 works on our fork and does improve memory usage (graph building)

[2020-01-23 12:34] ghost commented on #453
Consideration of elevations for Isochrone time calculations would be really helpfull especially for the foot-walking, cycling, and wheelchair profiles in hilly areas (like Stuttgart ;).
I'm really looking forward to having this implemented in the ORS!

Greetings
Fabian

[2020-01-24 13:10] #391 closed, assigned to rabidllama

[2020-01-24 13:10] #377 closed, assigned to takb

[2020-01-24 15:41] aoles opened #662 "Enable CALT routing for cycling profiles"
Make sure CALT is compatible with cycling profiles.

[2020-01-27 15:50] #648 closed, assigned to TahiraU

[2020-01-28 09:45] takb opened #664 "System messages in response"
Implement a way to put a system message in the metadata section of response

[2020-01-29 11:43] aoles opened #665 "Evaluate priority weightings for cycling profiles"
Investigate the difference in routing between original GraphHopper's `PriorityWeighting` and ours `OptimizedPriorityWeighting` in the context of reducing the number of preparations needed for running CALT with bike profiles.

The original GH weight scaling function based on priorities:
![image](https://user-images.githubusercontent.com/6545356/73353180-177e4b80-4293-11ea-9e89-3b2c4ab8c869.png)

OR

[2020-01-31 12:56] TahiraU opened #666 "no error message for exceeding maximum distance limit for matrix request"
#### Here's what I did

Request a /v2 route for matrix (profile foot walking)

[code]

---
#### Here's what I got

` {"durations":[[0,0,0,0],[0,0,0,0],[0,0,0,0],[0,0,0,0]],...`

---

#### Here's what I think could be improved

An error message if maximum distance limit for matrix request is exceeded

[2020-02-01 13:39] Lionbix opened #667 "Increase direction query limit"
Hello,
I'm looking to find 70K directions. How can i increase the query limit of 2.000 requests per day @40 requests per minute ?
All the best

[2020-02-03 02:59] nilsnolde commented on #667
Please respect the issue template that you chose to ignore:

Questions that are not technical issues belong here:
https://aks.openrouteservice.org

[2020-02-03 02:59] #667 closed, assigned to nobody

[2020-02-03 12:15] MichaelsJP commented on #666
Wheelchair throws an `OutofBounds` error on these coordinates. The reason is, that wheelchair is only available for Germany or Europe and the OutOfBounds check checks for the bounds of the entire profile graph and not only how far the coordinates are away or if the results are wrong:

[MatrixSearchContext](https://github.com/GIScience/openrouteservice/blob/e458485e59f7430142dabad9f4ac3744759d0be8/

[2020-02-04 14:35] takb commented on #664
### Proposed format for specification:  JSON object in app.config:

##### ors.system_message: Array of Objects

##### each object in system message array:
[code]
##### condition object:
[code]

all conditions will be AND-chained. For details see the [wiki page](https://github.com/GIScience/openrouteservice/wiki/Configuration-(app.config)#orssystem_message)

The messages should be processed in the

[2020-02-06 09:19] Michalf87 commented on #607
Hi, I've the same problem. I added translation as it is described in wiki and above, after all i run `docker-compose up --build --force-recreate -d ` but i can't see any changes. My language is still missing.

[2020-02-06 09:59] rabidllama opened #670 "API Response documentation for isochrones incorrect"
#### Here's what I did
Viewed the swagger documentation generated by openrouteservice

---
#### Here's what I got
There is no explicit object for the isochrone response information (the part that includes the metadata of the response such as the query and osm md5 hash). Within the code the IsochroneResponseInfo object has an APIModel of RouteResponseInfo rather than IsochroneResponseInfo, and text

[2020-02-06 16:09] takb commented on #659
since @HendrikLeuschner says this makes a difference (though I couldn't verify on my local builds) I'm going forward with it.

[2020-02-07 12:55] TheGreatRefrigerator opened #672 "ors not using fastest route with fastest weighting"
#### Here's what I did
[Forum Link](https://ask.openrouteservice.org/t/wrong-time-calculation/1330/8?u=amandus)
Calculating fastest route from Panguitch ot to Tonopah:
http://bit.ly/2SoO0ti

Underlying request:
`https://api.openrouteservice.org/v2/directions/driving-car/geojson?api_key=xxx`
[code]

---
#### Here's what I got
With a duration of 7h 06min:
![grafik](https://user-images.githubusercont

[2020-02-07 13:34] rabidllama commented on #672
From doing some research looking into the different routes, this is because there is no speed information available in OSM on the roads in the area. That means that the extraterrestrial highway gets given a speed limit of 60km/h as it is tagged as a secondary road. Looking on Wikipedia (https://en.wikipedia.org/wiki/Speed_limits_in_the_United_States) the US is particularly complicated for speed li

[2020-02-12 13:27] marq24 opened #673 "VehicleFlagEncoder.adjustSpeedForAcceleration can cause irrational routing result"
This route seams to be irrational...

https://maps.openrouteservice.org/directions?n1=47.449908&n2=11.933389&n3=17&a=47.450053,11.933459,47.450902,11.935626&b=0&c=0&k1=en-US&k2=km

The B171 have a speed limit of 70km/h - while by the default the track (grade1) have a limit of 40km/h - why the routing still believe, that a route with a length of 303m (@40km/h) is faster then a route with a length o

[2020-02-12 13:38] aoles commented on #673
Similar to https://github.com/GIScience/openrouteservice/issues/622

[2020-02-14 11:22] TheGreatRefrigerator commented on #625
![Waypoint_elevation_breaks](https://user-images.githubusercontent.com/23240110/74526792-6cbd8c80-4f24-11ea-9b45-d1bab0ba991b.png)
This has definitely to do with the waypoints. I was just generating a route with multiple waypoints and this issue appeared a lot more frequently.

[2020-02-14 11:52] marq24 opened #674 "Introduce traffic light and pedestrian crossing time penalties for ors-car"
Coming from #673 we have started to disused if there are alternative ways to get more reasonable travel times - specially in cities - since the current approach (use_acceleration) can cause some issues.

It took me a while to prepare something that we can discuss - but last night I was able to complete the main functionality I had in my mind for quite a while...

Please see the branch:
https://git

[2020-02-14 12:41] marq24 commented on #674
Please don't forget (when you try this branch locally) to adjust your `app.config` - you need to replace
`fastest` with `fastestwp` in the ors.services.routing.profiles.profile-vehicles-car.parameters.preparation.methods.[ch|lm|core].weightings

[2020-02-14 13:37] marq24 commented on #674
and I just made a quick "count" test - in our heidelberg.osm.oz test-file there is the way present with the id 154934575 - Berliner Straße - this osm way have 8 traffic lights... [tricky one to check, since when you look in the live osm data https://www.openstreetmap.org/way/154934575 there is just one... but this is cause the way 154934575 have been splitted into multiple sections in the meantime

[2020-02-14 15:25] #672 closed, assigned to nobody

[2020-02-15 00:41] nilsnolde commented on #674
Oh wow, thanks so much @marq24 ! That was indeed on our roadmap for a while now.

Can't wait to test it! I hope it withstands a global build in terms of performance.

[2020-02-15 06:56] marq24 commented on #674
The current Branch is not in a good shape - since I had to realize, that the traffic light count on a osm-way is not what we actually need - we would need the count for each GH edge.

At the beginning of this BerlinerStraße is a good example - it starts with a way that have 8 lights - but this way is over 500m long - and when you just travel a short section of this street you always get the penalt

[2020-02-15 14:00] marq24 commented on #674
so I have managed (at least I think so) to store the trafficlight & crossing count per gh-edge...

The code that pass the count info is VERY UGLY - but I did not found another way (yet) to store and forward the counts (read from the osm-nodes) over to the created EdgeIteratorState Object - so please do not judge the implementation by this workarrounds (collecting info from nodes, and then make the

[2020-02-17 13:27] TheGreatRefrigerator opened #675 "no response for intersections=true"
#### Here's what I did

[code]
---
#### Here's what I got

Absolutely nothing. 0 byte

---
#### Here's what I was expecting

A response.

[2020-02-17 14:00] TheGreatRefrigerator opened #676 "location_type parameter has no effect"
#### Here's what I did
(these are the default requests in the playground)
request to endopint:
`https://api.openrouteservice.org/v2/isochrones/driving-car`
with bodies only varying in `location_type` and `range_type` parameters:
[code]
[code]
[code]
[code]
---
#### Here's what I got
range_type=distance
location_type=start/destination
![grafik](https://user-images.githubusercontent.com/23240110/746

[2020-02-21 09:04] takb opened #677 "Fix/Refactor WaySurfaceTypeGraphStorageBuilder"
The current code to interpret way tags to determine surface type produces in some cases different results for the same set of tags depending on the order these are read.

As @HendrikLeuschner / @aoles were pointing out, the assignment of waytype ferry is also broken.

The code is also hard to read and cycles through all tags unnecessarily and should be refactored.

[2020-02-21 11:36] stefanocudini commented on #627
one question is not clear for me..

If I edit for example some profile settings in the file: app.config
[code]
for apply the changes in the new routes results..
rebuild the graphs data is need?

in other words ..  profile settings influence the build of the graphs?

[2020-02-21 12:21] aoles opened #678 "Improve way category assignment for ferry connections"
Way categories used by the avoid features filter are resolved independently from way surface types included in extra info annotations. If the logic between these two places differs it might lead to situations where certain way types which are supposed to be filtered out are still being used for routing.

This is the case for ferry connections. Consider the following [example](https://maps.openrout

[2020-02-21 12:33] #601 closed, assigned to aoles, MichaelsJP

[2020-02-21 12:34] aoles commented on #601
Fixed via https://github.com/GIScience/openrouteservice/issues/144.

[2020-02-21 12:40] #433 closed, assigned to aoles, HendrikLeuschner

[2020-02-21 12:45] aoles commented on #630
Cross referencing related issues:
- Example where acceleration fails https://github.com/GIScience/openrouteservice/issues/339
- An attempt to take traffic lights and pedestrian crossings into account https://github.com/GIScience/openrouteservice/issues/674

[2020-02-21 13:31] aoles commented on #620
[OSM Wiki: shuttle_train](https://wiki.openstreetmap.org/wiki/Proposed_features/shuttle_train)

![image](https://user-images.githubusercontent.com/6545356/75036686-c12bb380-54b2-11ea-8c8c-23003ab5cd62.png)

In fact, in the case of the [Sylt-Shuttle](https://www.openstreetmap.org/way/123801601#map=12/54.8460/8.5738&layers=H) there is as `duration: 35` tag which is being used by GH to compute the av

[2020-02-21 15:47] nilsnolde commented on #627
Generally: yes, as there's parameters for profiles affecting how the PBF is read and info put on edges. However, in this case I'm not entirely sure, as it could also be a run-time thing (as opposed to pre-processing, i.e. building the graph) since you can avoid `fords` in `options.avoid_features` for `foot-walking`. @aoles or @HendrikLeuschner could say more on that though.

Note, the PR solving t

[2020-03-02 15:31] stefanocudini commented on #627
Fine! I tried to make a version of the Dockerfile in which I use an external volume instead of an argument in the image build for the config file, (in a docker-compose.yml)
[code]
**- ./ors/config.json:/ors-core/openrouteservice/target/classes/app.config**

now I can edit config file outside of docker container.

this should be enough to avoid the image rebuild for new configuration
and then just

[2020-03-03 15:50] stefanocudini opened #680 "Multimodal routing"
now ORS does not support multimodal routing and not even GTFS file, right?

in the future, could this same project support multimodal transport?

I saw that in the GraphHopper forum they talk about it:
https://discuss.graphhopper.com/t/multi-modal-routing/962/2

possibly ORS could follow the support after GraphHopper?

it could be fairer to create a separate component similar to VROOM with VRPs al

[2020-03-04 02:01] nilsnolde commented on #680
True multi-modal is hard.. But that's definitely very high up on our agenda! At this point we can't commit to a timeline (or implementation details), just know, it's smth we're considering.

AFAIK it's not fully solved in any FOSS router, even Valhalla, even thought they're still closest.

[2020-03-04 09:41] stefanocudini commented on #680
I agree about FOSS software.

I hope this issue will be useful in the future as a starting point for the discussion

many tnks

[2020-03-04 09:55] nilsnolde commented on #627
Did that work then? Like I said, that might be a parameter which influences the build not the run-time queries.

I guess what you did works. Note, in the next release the whole Docker setup will change and that's one of the things addressed.

[2020-03-04 09:55] #627 closed, assigned to nilsnolde

[2020-03-04 16:08] stefanocudini commented on #627
I'm trying to edit for example ```ord.services.routing.profiles.active``` but restarting the docker container it remain the same..

this is a bit problematic when testing different vehicle profile parameters, because rebuild the image is slow ... is there a way to avoid this problem?

[2020-03-04 16:18] stefanocudini commented on #627
for example restarting only the tomcat inside docker?

[2020-03-05 04:50] nilsnolde commented on #627
The main point here is, that each profile builds its separate graph. You can't just add a profile and expect to be able to route on it without building the graphs first. However, if you expose the `graphs` folder (i.e. make it permanent) and all profiles you wanna play around with are built, then you can just add/remove them from that section of the `app.config` and even rebuild the image without

[2020-03-06 15:30] TheGreatRefrigerator opened #681 "alternative_routes together with extra_info will provide wrong extra_info"
#### Here's what I did

request to
`https://api.openrouteservice.org/v2/directions/driving-car/geojson`
body:
[code]
using alternative_routes and some `extra_info` value.

---
#### Here's what I got

The waypoint number the extra info index refers to (34+) is out of bounds of the coordinates array for the current route (32 points).
![grafik](https://user-images.githubusercontent.com/23240110/76096

[2020-03-09 10:19] mariuszkrzaczkowski opened #682 "Couldn't process file data/osm_file.pbf, error: Index: 55427950, Size: 0"
I have a problem launching docker for Poland:
ors version: 6.0.0
pbf file: http://download.geofabrik.de/europe/poland-latest.osm.pbf
[changes in docker.zip](https://github.com/GIScience/openrouteservice/files/4305997/changes.in.docker.zip)

[code]

CLI logs:

[code]

[2020-03-09 14:00] mariuszkrzaczkowski commented on #682
I found a temporary solution to the proble.
I changed from
docker/conf/app.config.sample
[code]
to
[code]

documentation:
![image](https://user-images.githubusercontent.com/10198654/76219362-06234a00-6216-11ea-8d2e-e0f46834ada1.png)

the question:
1. if I have 100GB RAM and 4 vcore CPU, how do I set init_threads?
2. How does this affect the amount of RAM?

I tried these combinations and it doesn't

[2020-03-11 14:07] mariuszkrzaczkowski commented on #682
another test with stronger parameters and a world map failed:

ors version: 6.0.0

CPU(s):               16
CPU MHz:          2294.590
BogoMIPS:        4589.18
RAM:                 250GB

configuration:

docker/conf/app.config.sample:
[code]
docker-compose.yml:
[code]

[app.config.sample.txt](https://github.com/GIScience/openrouteservice/files/4318674/app.config.sample.txt)
[CLI logs.txt](https://

[2020-03-18 19:58] HendrikLeuschner opened #683 "Setting elevation : false while still building HillIndex storage breaks creation of other following extended storages."
The function
[code]
in GraphProcessContext contains a HillIndexStorage at arrStorageBuilder[0] if elevation is set to false in the app.config, while the HillIndexStorage is indicated in the extended storages.
The init of this storage is potentially not (correctly) called and results in a HillIndexGraphStorageBuilder that has a field hillIndexCalc == null.
This leads to an early termination of the

[2020-03-23 06:36] #640 closed, assigned to MichaelsJP, takb

[2020-03-23 06:36] #629 closed, assigned to takb

[2020-03-24 11:57] 1papaya opened #685 "Elevation Calculation Ignores Tunnel"
#### Here's what I did
Computed a car route which includes a tunnel that goes through a gigantic mountain:

---
#### Here's what I got
The elevation profile returned includes the elevation being calculated as if the road goes up and over the mountain, like so:

![ors-screenshot](https://user-images.githubusercontent.com/25945912/77422887-1f0b2e00-6dc6-11ea-9aa9-5d445812a47c.png)

---
#### Here's w

[2020-03-24 16:03] stefan-overkamp opened #686 "ORS matrix:Request parameters exceed the server configuration limits"
We deployed our own openrouteservice instance in docker.

Our app.config has configured "maximum_routes":100000,
app.config:
[code]
https://openroute.geoportal.ruhr/ors/status
shows:
[code]

**If we request to optimize +50 jobs with 10 vehicles we get:**
**ORS matrix:Request parameters exceed the server configuration limits. Only a total of 4096 routes are allowed.**

(The number of allowed routes

[2020-03-24 16:54] nilsnolde commented on #686
Please respect the issue template generally. Also format your text properly. I can't read the last two code blocks (which I fixed).

So, do you have a Vroom instance running? What does the actually used `app.config` say (in `/ors-core/openrouteservice/target/classes/app.config` when you `exec` into the container)?

[2020-03-25 07:35] stefan-overkamp commented on #686
Please excuse the inconvenience.
Yes, we have a vroom instance running.
We followed the configuration hints on
[https://github.com/DigitalCommonsLab/openrouteservice](url)
with some modifications regarding Docker swarm.

/ors-core/openrouteservice/target/classes/app.config has:
`{
   "ors":{
     "info": {
       "base_url": "https://ors.geoportal.ruhr/",
       "support_mail": "geosystem@rvr.ruhr

[2020-03-25 14:32] overkamp commented on #686
MatrixRequestHandler:107 should be changed from:

`throw new ServerLimitExceededException(MatrixErrorCodes.PARAMETER_VALUE_EXCEEDS_MAXIMUM, "Only a total of " + numberOfRoutes + " routes are allowed.");`
to
`throw new ServerLimitExceededException(MatrixErrorCodes.PARAMETER_VALUE_EXCEEDS_MAXIMUM, "Only a total of " + MatrixServiceSettings.getMaximumRoutes(false) + " routes are allowed. " + numberOf

[2020-03-25 16:11] stefan-overkamp commented on #686
With output of MatrixServiceSettings.getMaximumRoutes(false) we have identified, which app.config was used and could fix our misconfiguration (maximum_routes). Had to increase ors.services.routing.profiles.default_params.maximum_waypoints in our config, too.

Now we can optimize 150 Jobs with 8 vehicles.
Many Thanks.

[2020-03-25 16:11] #686 closed, assigned to nobody

[2020-03-26 08:06] rabidllama opened #688 "Cannot request green or noise extra info"
#### Here's what I did

Requested a pedestrian route with green and/or noise selected as extra info

url:
https://api.openrouteservice.org/v2/directions/foot-walking/json?api_key=xxx
body:
[code]

---
#### Here's what I got

An error saying that the extra_info parameter is incorrect.

---
#### Here's what I was expecting

To get extra info relating to green and noise

---
#### Here's what I think

[2020-03-26 15:46] #688 closed, assigned to nobody

[2020-03-26 16:24] stefanocudini commented on #385
hi i am using vroom and as ORS backend ..
I understand that vroom only uses the api matrix from ORS.

from what i understand the api matrix does not yet support dynamic parameters for the vehicle profile.

but in my use case I don't need to be dynamic for every request, because the profile of the vehicle I use is always the same.

I would like for example some predefined preference values, for exa

[2020-03-26 18:18] nilsnolde commented on #385
No cross posting please @stefanocudini :

https://github.com/VROOM-Project/vroom/issues/310

[2020-03-27 08:34] nilsnolde commented on #682
Hi,

sorry for the long wait and thanks for the bump on the forum!

`init_threads` mostly plays a role when you want to compute more than 1 profile, which would then process both graphs in parallel. It's NOT multi-threading the processing of a single profile which I imagine to be pretty hard to realize. EDIT: meaning I think you're doing it correct and I'm also wondering what the problems is..

@r

[2020-03-27 09:02] mariuszkrzaczkowski commented on #682
If I understand correctly, increasing init_threads to 2 should not cause errors because I have one profile anyway?

[2020-03-27 09:06] mariuszkrzaczkowski commented on #682
do you have any suggestions for configuring timeout because sometimes it interrupts my startup process?

[2020-03-27 13:28] rabidllama commented on #682
with your current config, you are building two profiles - car and hgv, so when you set init_threads to be more than one, it will try to build both at the same time. I don't think that would affect the elevation stuff, so first thing to try is to delete the data that is in the elevation_cache folder so that it downloads it again as often the problem is that the downloaded data has got corrupted som

[2020-03-27 13:29] rabidllama commented on #682
ok... no where did i close that github!

[2020-03-27 14:17] nilsnolde commented on #685
Yeah, that's unfortunately still true. Graphhopper fixed that a while ago:
https://github.com/graphhopper/graphhopper/pull/798

Probably a part of the code we're not using for ORS. Any thoughts backend devs?

[2020-03-28 12:22] mariuszkrzaczkowski commented on #682
I do test one profile, one thread and a map of the world.
1. What are the recommended requirements for one profile and a world map around 50GB?  I am asking for the amount of RAM, disk, number of processors?  separately from import and for use
2. can I add another profile after launching or do I need to launch it together?

[2020-03-30 07:17] mariuszkrzaczkowski commented on #682
Works with one thread and one profile (car) for a world map

ors version: 6.0.0

CPU(s):               16
RAM:                 250GB

configuration:

docker/conf/app.config.sample:
[code]
docker-compose.yml:
[code]

[2020-03-30 08:25] nilsnolde commented on #682
With that config you should be able to build and run 2 profiles at the same time. It needs around 75-90 GB heap for Java **per profile**, no matter if build or run stage. Then you'll need some for requests. We usually deploy one profile on 128GB RAM, 18 cores I think. Cores also depends on how you use the API. Even for us 18 is fairly over provisioned with ~ 2 Mio requests per day. Requests are 1:

[2020-03-30 11:08] mariuszkrzaczkowski opened #690 "Missing languages"
Polish is translated but is not in the system by default, why?

https://docs.google.com/spreadsheets/d/1GzFPlVrqJBmUatfWft7v-vS_tfENGtAy0RHOv_5n3SU/edit#gid=0

https://github.com/GIScience/openrouteservice-app/#translations

We checked and updated the translation so it's ok

[2020-03-30 18:40] stefanocudini commented on #385
I'm sorry

I think I wrote here and afterwards I realized that perhaps it was better to write in the vroom project .. (the question is a little confusing)

[2020-03-31 06:46] nilsnolde commented on #682
Can you close this in case it works now @mariuszkrzaczkowski ?

[2020-03-31 06:47] nilsnolde commented on #685
Cc @HendrikLeuschner @aoles @rabidllama @takb

[2020-03-31 06:57] #682 closed, assigned to nobody

[2020-03-31 07:50] aoles commented on #685
Actually, I don't see any problem here. In fact, the elevation profile for the the tunnel section consists of a straight light connecting both ends of the tunnel located at 611 and 363 meters, respectively.

![image](https://user-images.githubusercontent.com/6545356/78000656-e377e300-7334-11ea-94da-acdc62de29cb.png)

[2020-03-31 08:12] #678 closed, assigned to aoles

[2020-03-31 08:12] #662 closed, assigned to aoles

[2020-03-31 08:42] HendrikLeuschner commented on #685
@aoles You are underestimating the length of that tunnel. It does not start where the straight segment begins, but instead already in the bent part (see sattelite maps to check, https://www.google.com/maps/place/Gran+Canaria/@28.0331134,-15.7559019,2595m/data=!3m1!1e3!4m5!3m4!1s0xc40855504bf07c1:0x2ec916c8a5acdb16!8m2!3d27.9202202!4d-15.5474373 )
I think the complaint is a valid one. It is probabl

[2020-03-31 08:59] aoles commented on #685
Oh, right! Thanks for pointing this out @HendrikLeuschner.

[2020-03-31 09:06] aoles commented on #685
I think the problem is that we actually don't use [GH's code](https://github.com/GIScience/graphhopper/blob/master/core/src/main/java/com/graphhopper/GraphHopper.java#L877-L879) to do the interpolation.

[2020-03-31 15:36] #585 closed, assigned to HendrikLeuschner

[2020-04-03 21:53] 1papaya commented on #685
The tunnel is broken up into three segments. I think what's wrong is the elevation is sampled at the beginnings/ends of each of the segments as opposed to the beginning/end of the whole tunnel.

[2020-04-04 09:09] aoles commented on #685
Thanks @1papaya  for sharing your observations! Actually, the splitting into segments occurs only when traveling from South to North: [490956948](https://www.openstreetmap.org/way/490956948) & [350064679](https://www.openstreetmap.org/way/350064679). In the other direction (such as in your example) the tunnel is represented by a [single way](https://www.openstreetmap.org/way/350064693).

[2020-04-04 13:55] aoles commented on #685
It turns out that the interpolation is not enabled because of a missing GH configuration parameter `graph.encoded_values: road_environment`. Without the interpolation the surface elevation is used:

![image](https://user-images.githubusercontent.com/6545356/78452648-b147e780-768c-11ea-80bd-832483951c29.png)

The interpolated elevation profile:

![image](https://user-images.githubusercontent.com/65

[2020-04-06 13:02] HendrikLeuschner commented on #685
Interesting. So we are just missing a parameter I guess? Should be easy to fix by @rabidllama or someone

[2020-04-06 13:11] aoles commented on #685
I'm happy to fix it, but if someone else would like to take it from here I don't mind handing it over either. Just change the issue assignment, thanks!

[2020-04-06 13:22] HendrikLeuschner commented on #685
Just meant that @rabidllama is probably the one to put it into our live servers. But he probably needs some input first.

[2020-04-06 20:44] aoles commented on #685
Thanks @HendrikLeuschner !

As far as I can tell this is not just about adding a missing parameter to the configuration file but rather requires changes to the backend as well.

Correct me if I'm wrong, but any GraphHopper-specific configuration parameters need to be explicitly mapped from the `app.config` settings to the argument list passed to GH. Currently there doesn't seem to be any code to h

[2020-04-08 05:44] camelCaseSucks commented on #176
It's been over a year since the last post, and nearly as long since Graphhopper 0.12. Can we get an update?

[2020-04-08 06:08] nilsnolde commented on #176
We won't use GH's edge-based CH, it's very expensive for what it delivers. Actually for now, it might even be worse, as disabling CH (by setting an arbitrary dummy restriction) will enable C-ALT, which is also not ready for turn restrictions. We're working on fixing the latter though.

In the meantime, you can try integrating a dummy `avoid_polygon` which should trigger A* routing and respect turn

[2020-04-08 09:37] HendrikLeuschner commented on #176
I think you are right @nilsnolde . We are working on integrating our own solution that has no performance penalty to support turn restrictions with high performance calculations. Will check back with my colleague to see whether only_straight_on is supported.

[2020-04-09 06:56] rabidllama opened #694 "Investigate do not cross unknown values in wheelchair profile"
The wheelchair profile currently only restricts when it knows about information (such as kerb height) - when it does not know because the data isn't present it assumes that the way can be traversed.

An enhancement that should be considered is to explicitly store whether information is present in the data or not on the graph and then give the user an option to only traverse known data (or similar)

[2020-04-13 07:59] jcoupey opened #695 "Missing segment distance for POST request"
#### Here's what I did

Running Openrouteservice using Docker on current `master`, I'm sending a POST request for directions where the two first coordinates are identical: `{"coordinates":[[8.694724,49.409358],[8.694724,49.409358],[8.669243,49.444468]]}`.

---
#### Here's what I got

Focusing on the first segment of the route (filtering with `jq`):

[code]
[code]

---
#### Here's what I was expect

[2020-04-13 08:48] nilsnolde commented on #695
Yes, true, we should add that to the segment's response regardless. Should be a small change.

Note, that you're comparing `v1`  GET with `v2` POST responses. Actually for `v2` both are at least consistent:
`https://api.openrouteservice.org/v2/directions/driving-car?start=8.694724,49.409358&end=8.694724,49.409358`

ref https://openrouteservice.org/dev/#/api-docs/v2/directions/{profile}/get

[2020-04-17 20:25] mehlkopf opened #696 "JAVA/CATALINA_OPTS parameters are ignored by tomcat because of wrong default config"
Hi,
unfortunately, the default JAVA_OPTS/CATALINA_OPTS get never passed correctly to setenv.sh for tomcat because of quotation mark mismatch: you get double quotation marks when you use the default docker-compose.yml and docker-entrypoint.sh, leading to a erroneous setenv.sh file, leading to tomcat ignoring the options.
I would propose replacing
`echo "CATALINA_OPTS=\"$CATALINA_OPTS\"" > /usr/loca

[2020-04-17 20:30] mehlkopf commented on #612
@kubasienki Editing docker_entrypoint.sh as described [in this issue](https://github.com/GIScience/openrouteservice/issues/696) might help! But the JAVA_OPTS/CATALINA_OPTS arguments have to be passed as environment (contrary to build in #608) arguments to work for me.

[2020-04-19 22:31] aoles opened #697 "Use country-specific speeds"
Travel time estimation could be improved by taking into account local situation rather than global defaults.

Current solution of country-specific speed limits is based on the presence of the tag `zone:traffic` whose coverage is limited mostly to [Germany and Belgium](https://taginfo.openstreetmap.org/keys/zone%3Atraffic#map).

The information to which country a given way belongs to is already ava

[2020-04-20 09:44] aoles commented on #665
**R script for visualizing the weight scaling functions**
[code]

![](https://i.imgur.com/OXsa8Do.png)

<sup>Created on 2020-04-20 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-04-20 11:48] isikl commented on #675
Requesting via API Playground returns in: `Invalid API key or access to this API has been disallowed`, although API key is valid and works.

[2020-04-20 15:03] mmorelo opened #698 "Swagger documentation is irrelevant for self-hosted instance"
Api documetnation states:

API Documentation
For an easy and interactive way to test the api, visit our documentation at openrouteservice.org. After obtaining your key you can try out the different endpoints instantly and start firing requests.

Yet the documentation in openrouteservice.org is not valid for a self hosted openrouteservice engine, endpoints are different and parameters too. So where

[2020-04-20 16:19] nilsnolde commented on #698
Huh? Can you give examples pls?

The [documentation](https://openrouteservice.org/dev/#/api-docs/v2/directions/{profile}/geojson/post) on `openrouteservice.org` **is** the documentation of the actual ORS engine's HTTP API, which is generated from docstrings. There is no difference between the live instance and the one you install, **if it's the same version**. Currently that's 6.1.0.

[2020-04-20 16:39] mmorelo commented on #698
How does this?
http://localhost:8080/name_of_war_archive/routes
http://localhost:8080/name_of_war_archive/isochrones
http://localhost:8080/name_of_war_archive/matrix

Match with, for example, this?

https://api.openrouteservice.org/v2/directions/driving-car?api_key=your-api-key&start=8.681495,49.41461&end=8.687872,49.420318

directions endpoint does not exist in the locally hosted engine, or will

[2020-04-21 06:55] nilsnolde commented on #698
Classic README fail. Like I said, the **API** documentation is generated from docstrings and therefore guaranteed to be at the latest (unless we forget to update it). Forget about the README, go with the real documentation and please just try it out. It won't bite ;)

Forget about

[2020-04-21 06:55] #698 closed, assigned to nobody

[2020-04-22 16:43] stefanocudini opened #701 "how to use custom elevation data"
hi

I would like to use my custom data in place of the classic srtm / cgiar, I have available geo-referenced geotif(.TIF) files in the right way that cover my road graph

how can i use them? do I have to put them in a zip file that has the same name as my elevation cache automatically downloaded?
in my case only one file: srtm_39_03.zip
contains: srtm_39_03.tif,srtm_39_03.hdr,srtm_39_03.tfw

chang

[2020-04-22 17:22] nilsnolde commented on #701
Questions please on our forum. Like the template said, which you chose to ignore.

Not worth the hassle for us, there's hardly any free & open **global** elevation data. If you want to contribute, we can discuss. Until then I'll close and you can ask the same on the forum.

[2020-04-22 17:22] #701 closed, assigned to nobody

[2020-04-22 18:29] stefanocudini commented on #701
I apologize I have not ignored the template
I was undecided whether this could be considered a question or a  new feature

many thnaks I continue to the forum

[2020-04-24 00:41] stefanocudini commented on #453
hi

about the removed code (for bike profiles) consider elevation..
this code is commented? or removed totally?
can I look for it somewhere in the code?

I look that bike profile ha a option: "encoder_options": **"consider_elevation=true"**... in **app.config** here:
https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/resources/app.config.sample#L210
if I understood

[2020-04-29 12:16] sfendrich commented on #613
Fixed in #613

[2020-04-29 12:16] #613 closed, assigned to sfendrich

[2020-04-29 12:17] sfendrich commented on #582
Fixed in #582

[2020-04-29 12:17] #582 closed, assigned to sfendrich

[2020-04-30 06:03] rabidllama commented on #690
That is because the process of adding languages to the backend routing service is different to the front end so adding it to one does not automatically add it to the other. So it just seems that the entry in the translation spreadsheet was missed by the backend group.

We have some instructions on our wiki (https://github.com/GIScience/openrouteservice/wiki/Contributing-Translations) if you would

[2020-04-30 06:10] rabidllama opened #702 "Bearings property cannot be used on any profile"
#### Here's what I did

Requested a route that made use of the bearings API parameter, i.e.
[code]

---
#### Here's what I got

An error message saying that headings is not supported
[code]

---
#### Here's what I was expecting

That the routing process takes the preferred bearings into account as has previously been the case

---
#### Here's what I think could be improved

It seems there has been

[2020-04-30 06:15] #658 closed, assigned to rabidllama

[2020-04-30 06:16] #651 closed, assigned to takb

[2020-04-30 06:17] #542 closed, assigned to rabidllama

[2020-04-30 06:18] #659 closed, assigned to takb

[2020-04-30 06:30] #632 closed, assigned to MichaelsJP

[2020-04-30 06:32] rabidllama commented on #626
I will close this as there have been no further reports of issues

[2020-04-30 06:32] #626 closed, assigned to nobody

[2020-04-30 06:35] rabidllama commented on #612
I will close this issue for now as there was no feedback from the initial poster, and discussion can continue on the #696 issue

[2020-04-30 06:35] #612 closed, assigned to nobody

[2020-04-30 06:36] nilsnolde commented on #696
Sure, can you please test and PR @mehlkopf ? Thx

[2020-04-30 06:37] rabidllama commented on #607
Which translation? if you added it locally then you need to make sure you are on the correct branch when you run the docker commands

[2020-04-30 06:39] #587 closed, assigned to nobody

[2020-04-30 06:41] #578 closed, assigned to nobody

[2020-04-30 06:42] rabidllama commented on #553
Is this still a problem?

[2020-04-30 06:44] rabidllama commented on #552
I will close this as it seems the answer was that we shouldn't use it until we have a proper public transport viable solution

[2020-04-30 06:44] #552 closed, assigned to HendrikLeuschner

[2020-04-30 06:44] rabidllama commented on #525
Did the update of GH fix this?

[2020-04-30 06:47] rabidllama commented on #488
I will close this as there is more being done on the issue #665

[2020-04-30 06:47] #488 closed, assigned to HendrikLeuschner

[2020-04-30 06:49] rabidllama commented on #411
Did this get fixed?

[2020-04-30 11:09] aoles commented on #525
Nope, apparently because `destination_speed` [has been disabled again](https://github.com/GIScience/openrouteservice/blame/master/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/flagencoders/HeavyVehicleFlagEncoder.java#L120).

[2020-04-30 11:26] aoles commented on #553
Duplicate of #685.

[2020-04-30 11:26] #553 closed, assigned to TimMcCauley

[2020-04-30 12:28] naalang commented on #685
Also at bridges in the mountains the calculations are not correct.
If the bridge is nearly horizontal, the calculated elevation is based on the valley.

[2020-04-30 14:57] takb commented on #411
I've run my repro code several times just to make sure, this got fixed when #571 got fixed.

[2020-04-30 14:57] #411 closed, assigned to rabidllama, takb

[2020-05-01 09:49] aoles commented on #685
Thank you @naalang for the additional insight. Elevation for tunnels and bridges is currently not properly resolved because both need interpolation being turned on which is not the case currently. I'm sorry this has been an issue for so long now, somehow it went out of our radar after you reported it for the first time. I will make sure this is fixed ASAP.

[2020-05-01 13:15] aoles opened #703 "`access:transportation mode` OSM tags not considered for routing"
Currently way access restrictions are resolved based on the most common notation which uses the short form `transportation_mode` for the key. However,  the long form `access:transportation_mode` is still a valid way of specifying access restrictions. In fact, there are over 500 ways worldwide tagged with [`access:hgv`](https://taginfo.openstreetmap.org/keys/access%3Ahgv). In Europe alone, for inst

[2020-05-01 21:03] aoles opened #704 "Certain OSM access tag combinations are not correctly resolved"
Some transportation mode-specific access restrictions are currently not correctly interpreted. In particular, this is the case for hgv profiles. The main problem is that a more general restriction such as `access=no` overrides a more specific one such as `hgv=yes`. In particular, [there are ways open to agricultural and forestry traffic but closed for cars ](https://overpass-turbo.eu/s/TxD). If th

[2020-05-02 12:03] aoles commented on #525
A proper solution taking into account tags such as `hgv:destination` for hgv subprofiles requires reducing the travel speed at query time because when the graphs are build we don't know *a priori* whether the restriction will apply to the profile selected for routing.

[2020-05-02 22:43] aoles opened #705 "Use priority weighting to discourage routing over `access=destination` ways"
Routing over ways tagged with `access=destination` is currently discouraged by artificially limiting the travel speed to `destination_speed`. The problem with this approach is:
1. It introduces a spurious time penalty for `fastest` weighting reflected in inaccurate travel time estimation
2. It doesn't solve the issue for `shortest` weighting + has the same problem with travel time estimation as fo

[2020-05-04 08:42] HendrikLeuschner commented on #685
Might also be due to the spatial uncertainty of the data, at least for bridges I can see this resulting in the valley's elevation being used.

[2020-05-04 09:05] aoles commented on #685
The problem is not so prominent for bridges probably because most of the time they are single line segments without any intermediate nodes, so there is not really anything to interpolate.

But occasionally it might make quite a difference, for example in the case of the [Millau Viaduct](https://maps.openrouteservice.org/directions?n1=44.084038&n2=3.059825&n3=14&a=44.067953,3.025037,44.093412,3.021

[2020-05-04 09:05] HendrikLeuschner commented on #385
On hold until other RE questions are resolved.

[2020-05-04 09:07] HendrikLeuschner commented on #114
On hold until other RE questions resolved.

[2020-05-04 09:10] HendrikLeuschner commented on #107
This will not be integrated due to data quality/density issues. A route that is set to avoid unpaved should not have a single piece of unpaved and we cannot ensure this condition with OSM. At the same time, this does not integrate well with Core-ALT as a binary classification with no strong single-sided tendency is too much for the core.

[2020-05-04 09:10] #107 closed, assigned to HendrikLeuschner

[2020-05-04 14:11] #677 closed, assigned to takb

[2020-05-05 04:24] caduguedess opened #708 "ORS health status error"
Is it possible to add a "error" status in the localhost:8080/ors/health if something wrong happens before "ready" status?
Currently it shows "not ready" while loading the graphs even if some error occurred.

[2020-05-07 06:57] davideps opened #718 "Local install throws ApiError: 400 ... Only a total of 3600 routes are allowed."
Hi Nils,

Thanks to your help, I have ORS up and running locally with just the data our project requires. I can generate routes between two points without difficulty. I'd now like to generate a few large matrices, 70+ coordinate pairs.  When I run this code in Python:

[code]
with a coords list like:
[code]
I get this error trace:
[code]

I've looked in the docker-compose.yml but do not see any re

[2020-05-07 09:28] aoles opened #711 "Use implied surface type "paved" instead of "asphalt""
Use implied SurfaceType.PAVED instead of SurfaceType.ASPHALT: https://github.com/GIScience/openrouteservice/pull/700#discussion_r415766692

[2020-05-07 12:19] aoles opened #712 "Specify location index parameters in the configuration file"
Add parameters for specifying GH location index settings `index.high_resolution` and `index.max_region_search` to `app.config`. See discussion in the [ask forum thread](https://ask.openrouteservice.org/t/can-not-find-point-within-radius/1543).

[2020-05-10 12:51] elumbella opened #714 "Bicycle routing does not use turn restriction exception with weights "shortest" and "recommended""
#### Here's what I did
Calculating a route between two points
---
#### Here's what I got
https://maps.openrouteservice.org/directions?n1=50.098851&n2=8.761355&n3=18&a=50.098746,8.760256,50.099503,8.758931&b=1a&c=2&k1=en-US&k2=km

---
#### Here's what I was expecting
All weights should directly turn left at the intersection

---
#### Here's what I think could be improved
I guess this should be a si

[2020-05-10 21:46] aoles commented on #714
Thank you for your feedback!

This seems to be a known problem with the routing algorithm which is used for `shortest` and `recommended`. `fastest` uses a different algorithm (CH) which does not have the problem and returns the expected route. In fact, I do not observe the issue on a local build with CH enabled for the other two weightings: all three weightings yield the same route. On the contrar

[2020-05-10 22:17] m121212 opened #715 "Add api key support"
There is not a setup for a custom api key on a self hosted app on docker.

[2020-05-11 07:08] nilsnolde commented on #715
Of course not.. That'll always be third-party and your responsibility. Take a look at Tyk.

[2020-05-11 07:08] #715 closed, assigned to nobody

[2020-05-11 08:30] m121212 opened #716 "Profile "cycling-electric""
Is the profile "cycling-electric" available?
If yes, how can it be configured in the app.config file?
Thank you!

[2020-05-11 08:34] aoles commented on #716
Please post any questions such as this one to our [Support Forum](http://ask.openrouteservice.org/).

[2020-05-11 08:34] #716 closed, assigned to nobody

[2020-05-11 13:44] nilsnolde commented on #718
Not a Python issue @aoles. A `openrouteservice` issue with the docker setup. See https://github.com/GIScience/openrouteservice/pull/717

[2020-05-11 13:45] nilsnolde commented on #718
Should be merged soon @davideps

[2020-05-12 07:58] FinnStutzenstein commented on #718
I was stuck there, too. There is a parameter in the `app.config` (For the docker setup the file is in `docker/conf`) `maximum_routes` which can be set higher (The default is 2500, so for many-to-may 50 points are allowed).

[2020-05-12 08:02] FinnStutzenstein opened #719 "Small bug with matrix maximum_routes error response"
#### Here's what I did
Request more routes in the matrix service than `maximum_routes`, e.g. 51 points.

#### Here's what I got
I've got an error: `Request parameters exceed the server configuration limits. Only a total of 2601 routes are allowed.`

#### Here's what I was expecting
The error should contain the correct amount of maximum routes, not what the user has given. In my case 2500.

#### He

[2020-05-12 08:04] nilsnolde commented on #719
Yep, absolutely! Do I smell a PR? :innocent:

[2020-05-12 08:05] FinnStutzenstein commented on #719
I can do this later :)

[2020-05-13 07:03] #719 closed, assigned to nobody

[2020-05-13 09:05] aoles commented on #665
Proposed new priority scaling function for `recommended` (blue) vs. the GH's default `priorityWeighting` (black) and current recommended (red).

[code]

![image](https://user-images.githubusercontent.com/6545356/81792516-74330880-9508-11ea-9e45-d5f1fd655368.png)

[2020-05-14 01:06] yortug commented on #712
Thanks for this - very helpful and worked perfectly! Appreciate the effort put in just to get it implemented 😄

[2020-05-14 06:24] rabidllama opened #721 "Docker matrix config using wrong parameters"
The `app.config.sample` in the Docker setup is set to use incorrect parameters in the Matrix area. Currently it is using
[code]
whereas the `app.config.sample` for the "normal" deploy uses
[code]

The Docker config needs updating to reflect the correct properties which are in the normal config sample

[2020-05-14 07:21] nilsnolde commented on #721
fixed in #717

people always forget that there's another `app.config` when they change the source `app.config` (and can't blame them). smth we should get rid of, but for now updating the PR template to specifically state to update both files would be helpful.

[2020-05-14 10:02] nilsnolde commented on #721
Just remember why I didn't attempt to get rid of docker's app.config: the paths for OSM file, elevation etc, which point to container paths. Can still be done of course with `jq` or so in the Dockerfile to replace those paths.. A separate issue though. But it's right, it'd be worth it.

[2020-05-16 13:24] aoles opened #722 "Incorrect suitability values in extra info"
Some suitability values returned in extra info end up underestimated. As [an example](https://maps.openrouteservice.org/directions?n1=50.019438&n2=9.068036&n3=15&a=50.014798,9.051791,50.018212,9.056969&b=1a&c=0&k1=en-US&k2=km) consider the following [road](https://www.openstreetmap.org/way/4006261) tagged with `class:bicycle=1`. This corresponds to `PriorityClass.PREFER` for which the normalized p

[2020-05-17 07:54] elumbella commented on #714
Fantastic, thanks a lot for the in-depth answer. I am very much looking forward to the new cycling algorithm!

[2020-05-17 15:55] TheGreatRefrigerator opened #724 "roundtrip used with gpx format throws error"
#### Here's what I did

https://api.openrouteservice.org/v2/directions/cycling-regular/gpx
```{“coordinates”:[[8.687872,49.420318]],“options”:{“round_trip”:{“length”:11,“points”:12,“seed”:3}}```

---
#### Here's what I got

[code]
---
#### Here's what I was expecting

A correct response with roundtrip route, or an actual error messgage with hint.

[2020-05-17 16:49] marq24 commented on #453
@stefanocudini sorry for my late reply...
The main reason why the code was removed is cause the resulting routes where plausible from the data side point of view - but not very logical for a cyclist.

In the implementation the elevation gain/loss was calculated into a speed boost/penalty... The approach is suboptimal. It would be better to look at the complete profile and compare alternative route

[2020-05-18 23:50] aoles opened #725 "Use of elevation data"
There are the following potential issues with how the elevation data is being handled by ORS.

## Elevation is not considered for estimating edge length

Currently edge lengths are calculated based on (lon, lat) 2D spatial coordinates instead of doing this in 3D by taking elevation into account as well. GH's default 3D computations are deliberately [disabled in ORS](https://github.com/GIScience/op

[2020-05-19 09:20] #696 closed, assigned to nilsnolde

[2020-05-19 09:20] #718 closed, assigned to nobody

[2020-05-19 09:21] aoles commented on #725
After some further digging it seems that Google does not consider elevation when calculating road distances. This is quite evident from the following [example](https://www.google.com/maps/dir/46.5679249,10.5232555/46.5286331,10.4530779/@46.5661592,10.5229136,16z/data=!4m2!4m1!3e2). The reported distance is **16.7 km** with a **1407 m** ascent. These numbers are quite different from the ones report

[2020-05-20 08:45] rabidllama opened #728 "No support for U-turn instructions"
It seems that there is no support in openrouteservice for providing instructions for u-turns (see InstructionTranslator and InstructionType classes).

In the case of round trip routing (for example), it can be the case that a control point results in the route backtracking on itself:

![image](https://user-images.githubusercontent.com/7126643/82424861-0cd80400-9a86-11ea-83df-510968ed391a.png)

In

[2020-05-20 10:40] #724 closed, assigned to rabidllama

[2020-05-20 10:57] #664 closed, assigned to takb

[2020-05-20 11:03] HendrikLeuschner commented on #654
Please specify the origin of this requirement and a measure for its fulfillment and I will take care of it.

[2020-05-20 11:05] HendrikLeuschner commented on #633
Should be fixed by #691 .

[2020-05-20 11:05] #633 closed, assigned to aoles

[2020-05-20 11:33] aoles commented on #725
Based on my current findings I personally think that we should:

1. Keep the disabled 3D distance calculation, and be consistent in this. In particular, length of interpolated tunnels and bridges (#685) should be calculated the same way as for any other road segments.

2. Enable smoothing of elevation data. This won't affect any of the current routing behavior but will result in more plausible est

[2020-05-22 10:22] aoles commented on #622
What's the status on altering `ACCELERATION_SPEED_CUTOFF_MAX`? There seem to be other examples such as https://github.com/GIScience/openrouteservice/issues/673 where setting it to a lower value could potentially help to address the problem.

[2020-05-22 10:51] aoles commented on #725
There is some recent activity in GH on improving elevation estimation, so let's keep an eye on it: https://github.com/graphhopper/graphhopper/issues/2028

[2020-05-22 11:17] aoles commented on #389
On GraphHopper maps the issue is gone now. So it seems to have been already fixed in their current codebase, probably through https://github.com/graphhopper/graphhopper/pull/1769.

@marq24 would you like to verify this? Cheers!

[2020-05-22 11:31] marq24 commented on #389
I'll make sure that this change (https://github.com/graphhopper/graphhopper/pull/1769/files/ad4fe02d3d9b5deb66dc0b88d02b61b28b52871c) will be integrated into the ors bike encoders

[2020-05-22 11:36] aoles commented on #389
Awesome, thanks a lot @marq24 ! Looking forward to your PR :)

[2020-05-23 06:43] marq24 commented on #389
@aoles I would need some simple help (might be just to early)...

please take a look at this statement, when this becomes 'true'?

`boolean isOneway = A || B || C && (D || E)`

Visiting the java class room is/was quite a while ago... but IMHO in order that isOneway becomes to be true it's required, that either D or E would be true - do you agree?

please take now a look at the new graphhopper http

[2020-05-23 10:16] aoles commented on #389
I don't think you are right on this.  The `&&` takes precedence over `||`, so the statement
[code]
is equivalent to
[code]
Back to the original code, one could clarify the evaluation order by adding parentheses like so:

[code]

The GH's condition looks fine to me. Their latest change requires that if the tag `bicycle:forward` is present only the values `yes` or `no` yield `isOneway = true`. This

[2020-05-23 17:33] marq24 commented on #389
thanks a lot @aoles teaching a old guy a basic java lesson... so expect my PR quite soon.. I would always write my code like this
`A || B || (C && (D || E))`
even if the brackets does not have any effect - it would IMHO simply the reading & understanding (to avoid possible misunderstandings from noobs like me)

[2020-05-25 06:30] sfendrich commented on #654
https://docs.oracle.com/javase/8/docs/api/java/lang/Comparable.html
https://docs.oracle.com/javase/8/docs/api/java/lang/Object.html#hashCode--

[2020-05-25 10:08] zugspitze opened #731 "Direction API isn't able to find some hiking routes"
I am trying to find a hiking route from Watzmannhaus (a mountain hut in Bavaria) [47.571952, 12.933108]  to Watzmann (second highest mountain in Germany) [47.54916, 12.917093]. This hiking route is very famous and well known. The requested url is: [here](https://api.openrouteservice.org/v2/pdirections/foot-hiking/geojson?api_key=5b3ce3597851110001cf6248129cee2a6a9c40b29f8c88481189b9a7
)

---
Respo

[2020-05-25 11:20] aoles commented on #731
Thanks for reaching out! The route is not found because the [path between Hocheck and Watzmann](https://www.openstreetmap.org/way/32348311) is tagged with `sac_scale=demanding_alpine_hiking`, whereas ORS considers only trails up to T4 in terms of [sac scale](https://wiki.openstreetmap.org/wiki/Key:sac%20scale?uselang=en-US). See also https://github.com/GIScience/openrouteservice/issues/600#issueco

[2020-05-25 11:20] #731 closed, assigned to nobody

[2020-05-25 11:43] zugspitze commented on #731
@aoles Thanks for quick response. Is there an option to enable T5/T6 routing as well?

[2020-05-25 12:29] aoles commented on #731
You're welcome. Unfortunately, there is such option available currently. As indicated in #600 I believe this might be implemented eventually, but not in the foreseeable future.

[2020-05-25 12:32] #722 closed, assigned to aoles

[2020-05-25 12:32] #712 closed, assigned to aoles

[2020-05-25 12:33] #525 closed, assigned to aoles

[2020-05-26 17:41] dhasselol opened #733 "Not using bus lane despite bus being selected as vehicle"
#### Here's what I did
See attached image. In the example the route starts and ends on two different bus streets. I have verified that the streets are indeed bus streets by looking at OSM data. As visible, bus is selected as vehicle type.

---
#### Here's what I got
The route suggested is the red line next to the markers. It chooses the nearest public road.

---
#### Here's what I was expecting
I

[2020-05-26 22:34] aoles commented on #725
Fun fact: https://www.heise.de/forum/heise-Developer/News-Kommentare/Routenplanung-GraphHopper-hat-nach-acht-Jahren-das-Routenziel-erreicht/Habe-ich-lange-gerne-genutzt/posting-36729706/show/

[2020-05-28 08:16] gegeweb opened #734 "total ascent and descent not in summary when requesting geojson"
Hi,

when requesting a route in geojson format and elevation true, total ascent and descent for the route aren't in the summary, but one level up, in the root of properties.

[2020-05-28 08:57] aoles commented on #734
Thanks for your feedback.

We are aware of some inconsistencies in the response formats, in particular regarding the `summary`. In fact, we already had an internal discussion back in February exactly on this topic. We agreed that we need to redesign a clean solution and deploy it at some point as API v3. However, this is a long-term project and we have some more pressing things to do at the moment

[2020-05-28 08:57] #734 closed, assigned to nobody

[2020-05-28 09:06] aoles opened #735 "Deprecate summary elements in (Geo)JSON response formats"
There are some major inconsistencies in all response formats which don't come unnoticed (#734). We need to redesign a clean solution and deploy at some point as API v3.

Back in February 2020 we agreed in our internal discussions that the `summary` element in JSON/GeoJSON is redundant. The fields within the summary should be moved to top-level and the summary-element itself removed in v3.

Any new

[2020-06-01 13:11] aoles commented on #733
Seems to be a shortcoming related to the implementation of HGV subprofiles. In this particular example the [service road](https://www.openstreetmap.org/way/142284028) is not included in the routing graph even though tagged with `bus=yes` because the more general `access=no` takes precedence. This is yet another example of the issue described in #704. The faulty implementation in first place is pro

[2020-06-02 05:47] #681 closed, assigned to takb

[2020-06-02 11:30] FinnStutzenstein opened #737 "Waypoints do not correlate to nodes in the OSM source file"
Hi,

I'm using the ORS to calculate routes (yeah!) between two points and try to recreate the route within the original osm file. I've setup the osmid storage to get the osmid for the way used by every segment of the route as well as the amount of waypoints in the segment. With this information I can sucessfully trace back the route in the original files (mapping back the segments to a sequence of

[2020-06-03 08:57] #389 closed, assigned to marq24

[2020-06-03 08:57] #721 closed, assigned to nobody

[2020-06-03 11:12] HendrikLeuschner commented on #737
Hi, we create a graph for routing from the OSM file. This graph contains so called pillar and tower nodes. Tower nodes are usually the ones where one way crosses another. Pillar nodes are the nodes that form the geometry of the way in between. There is no guarantee of a mapping, and you can see that it does not always apply. If you like to learn more about the nodes, check out this graphhopper doc

[2020-06-04 10:43] #737 closed, assigned to nobody

[2020-06-04 11:37] HendrikLeuschner commented on #714
I think it is the other way around: the fastest algorithm is wrong and the others are right. There is a _only_right_turn_ relation on those edges that is ignored by CH. With our new adaptations, fastest will give the same results als shortest and recommended and not the other way around.

[2020-06-05 11:33] nilsnolde opened #742 "New docker containers always use the default app.config"
It's very annoying: whenever a new container is created (e.g. when just changing some env var in `docker-compose.yml`) the new container reads the default `app.config` provided by the image. Regardless if the user actually has a valid config in `./ors-conf`.

Not hard to remedy:

The problem is that `mvn package` is run in the image itself, which packages the default `app.config` into the WAR file

[2020-06-08 09:52] Doev opened #743 "How can I use another osm-file"
I installed ors with docker-compose. in ./docker there is a folder /conf and /data. When I place a new osm-file in /data and change the config-file to use it, always still heidelberg is used.

What is the correct way to change the datafile or edit the config file?

[2020-06-10 07:07] nilsnolde commented on #743
The correct way is to respect the issue template.

https://ask.openrouteservice.org

[2020-06-10 07:07] #743 closed, assigned to nilsnolde

[2020-06-10 09:30] koebi opened #744 "Installation Instructions mention non-existing file"
#### Here's what I did
I am trying to set up the ORS, but the installation instructions in the Readme mention the file
 `openrouteservice/WebContent/WEB-INF/app.config.sample` which does not exist.

#### Here's what I got
I got no further because of this issue.
I also found a file with the same name at `openrouteservice/src/main/resources/app.config.sample`.

#### Here's what I was expecting
I was

[2020-06-10 09:33] koebi commented on #744
If the file I found is the file in question here, I'm very happy to fix this :)

[2020-06-11 08:22] nilsnolde commented on #744
Yeah, the README needs some overhaul anyways, also:
- mention vroom and openelevationservice as external services
- adapt to `/v2` endpoint syntax in [Usage](https://github.com/GIScience/openrouteservice#usage)
- remove the `docker` command and instead only link to the `./docker` directory
.. others?

[2020-06-11 11:20] LittleBoxOfChicken commented on #576
Hello, I have the exact same problem in the exact same situation with the same logs (On Ubuntu 18.04). However I did not run without a tag initially. i've tried cleaning all volumes and data but still the problem persists. I'm also not running any other containers.

[2020-06-11 11:37] LittleBoxOfChicken commented on #576
I solved the issue. My course of action was:

`$ docker stop [container]`
`$ rm -r elevation_cache/srtm*`
`$ docker-compose up`

[2020-06-15 08:14] CMonjo opened #746 "[Docker] Installation error"
#### Here's what I did
Hi !

I've just clone the repository and `cd docker && docker-compose up -d`

I had an error that other people also had when I went to your forum. However no trace of the error on github ...

I've found this issue : https://github.com/GIScience/openrouteservice/issues/682 but it's for a large map, here, i'm trying with a small city (heidelberg)

[code]

On the last line we c

[2020-06-15 14:53] aoles commented on #665
Evaluation results of recommended weighting alternatives:
- [Interactive visualisation](https://aoles.shinyapps.io/cyclingWeightings) of 100 random cycling routes across Bayern ([source](https://gist.github.com/aoles/c336e8eb62394fd99d413c04d7f2ca0e))
- [Systematic analysis](https://rpubs.com/aoles/cyclingWeightings) based on 1000 random routes with uniform length distribution ([source](https://gi

[2020-06-16 09:54] #742 closed, assigned to nilsnolde

[2020-06-18 08:10] #665 closed, assigned to aoles

[2020-06-19 09:39] #690 closed, assigned to takb

[2020-06-20 21:08] Marcoshsc opened #751 "Invalid WayPoints using directions v1 service."
#### Here's what I did

Hello, eveyone. I am building an app that makes use of openrouteservice v1 directions service. While testing my application, I ran into errors, that was probably caused by an bug in the waypoints returned by the directions service. The error is that some of the step's way points returned are greater or equal to the size of the geometry returned. Since a waypoint is a index

[2020-06-22 08:51] #685 closed, assigned to aoles

[2020-06-24 04:35] ImranHugo opened #753 "Docker Installation Issue - Caused by: java.net.BindException: Address already in use (Bind failed)"
I am trying to deploy the OpenRouteService onto an Azure VM.  The steps I followed:

1. Provision VM (Standard B2s (2 vcpus, 4 GiB memory)) - (Linux (ubuntu 16.04))
2. Prep VM by installing Docker and Docker-compose
3. clone repo
4. cd docker && docker-compose up

---
#### Here's what I got
~/openrouteservice/docker$ docker-compose up
Pulling ors-app (openrouteservice/openrouteservice:latest)...
l

[2020-06-24 07:18] nilsnolde commented on #753
When you look in the trace, you see a few `Port already in use: 9001; nested exception is: ors-app | java.net.BindException: Address already in use (Bind failed)`. That's the port for JMX, but it's not exposed by default in the `docker-compose.yml`.. That's really weird, since internally in the container there shouldn't be anything using port 9001. Do you use `network_mode: host` or smth for docke

[2020-06-24 07:26] ImranHugo commented on #753
Hi Team

This was a completely new VM with nothing installed on it at all.  I provisioned it this morning with th purpose of creating our hosted environment for doing ORS Matrix for Australia in our Azure account.

[2020-06-24 07:41] nilsnolde commented on #753
Only thing I can think of that there's some newer base image for Ubuntu which runs some crap on port 9001. That's hard to imagine as well.. I can't reproduce locally and have no clue as to what could be the problem..

[2020-06-24 09:26] ImranHugo commented on #753
I dropped the Azure VM completely and provisioned a new Docker VM at vultr.  This works like a charm here.  Not sure what was up with the Azure VM.  Maybe related to the version of ubuntu I selected on Azure vs Vultr.  Vultr base image for docker is 18.04 but Azure I selected 16.04.

Thanks for your support.

[2020-06-24 10:28] #480 closed, assigned to aoles, HendrikLeuschner, star-pirate

[2020-06-26 10:10] yannickM91 opened #755 "Error heavy vehicle route code 2099 - driving-hgv url parameter seems to be broken."
When selected heavy vehicle in the https://maps.openrouteservice.org/ the routeservice gives this error:

error:2099

"Cannot find Core RoutingAlgorithmFactory for weighting map {routing_suppress_warnings=false, weighting_method=recommended_pref, ch.disable=true, routing_profile_type=2, lm.disable=true, routing_extra_info=7, astarbi.epsilon=1.0, weighting=recommended, core.disable=false, astarbi.a

[2020-06-26 11:37] TheGreatRefrigerator opened #756 "metricsString as parameter in docs"
#### Here's what I did

visit http://129.206.7.40:8081/dev/#/api-docs/v2/matrix/{profile}/post
---
#### Here's what I got

![grafik](https://user-images.githubusercontent.com/23240110/85852819-a6937f00-b7b1-11ea-88d1-33242c177388.png)

---
#### Here's what I was expecting

the metricsString should not be a parameter
---
#### Here's what I think could be improved

[2020-06-29 05:58] #725 closed, assigned to aoles

[2020-07-01 02:02] ImranHugo opened #759 "Matrix - Distance / Duration (Avoid Tolls)"
We are using the matrix call to create a distance/duration matrix and would like to do with tolls and without tolls options.

How would we avoid tolls when submitting this request?

[2020-07-01 09:33] HendrikLeuschner commented on #759
Avoidables and restrictions are currently not supported for the Matrix algorithm.

[2020-07-01 09:33] #759 closed, assigned to nobody

[2020-07-01 10:07] aoles commented on #600
This topic came up on our ask forum as well:
- [route through the Dolomites with a via ferrata](https://ask.openrouteservice.org/t/some-pedestrian-routes-are-no-longer-recognized/1407/11)

[2020-07-01 13:07] TheGreatRefrigerator commented on #751
Hi @Marcoshsc,
If you are currently in the process of developing the app, we would like to urge you to use the V2 version of our API.
V1 is already deprecated and will be removed in the near future.

We will still have a look at this issue.

Best regards

[2020-07-01 16:02] cbayerlein commented on #744
I guess the right file is openrouteservice/src/main/resources/app.config.sample - but what to do with it? Copy it in which folder?

[2020-07-01 21:40] Marcoshsc commented on #751
Thank you for the support, I'm currently migrating my app to use the V2 version. I will open another issue if the error persists.

Best regards.

[2020-07-01 21:40] #751 closed, assigned to nobody

[2020-07-02 04:54] Marcoshsc opened #762 "Invalid Way Point indexes returned in Directions V2 Service."
Hello, I'm currently building an app that uses the Directions V2 service, and I got an error while implementing it. The two way points returned for the steps that are nearly at the end of the route coordinates, sometimes are pointing to a position that don't actually exist in the coordinates array. This is not the first time that I'm running into this error, I have opened an issue with a similar e

[2020-07-02 06:40] rabidllama commented on #744
I assume you are running the Docker setup?

The file in `openrouteservice/src/main/resources/app.config.sample` is the template that can be used for a basic installation. Where you move that file to depends on the setup process you are using.

For the standalone Tomcat / Maven build process, the file stays in the same place and needs renaming to `app.config`.
If you are using the Docker command or

[2020-07-02 12:33] 0xd3e commented on #742
@nilsnolde I'm not entirely sure this fixes the issue.

The custom configuration is only copied when `/usr/local/tomcat/webapps/ors` exists, which means when a new container is started, it will still use the default config. In my case I only need one profile, but when I start the container, it always initializes `cycling-regular` and `driving-car`.

[2020-07-03 09:46] #755 closed, assigned to aoles

[2020-07-03 13:43] aoles opened #763 "Deprecate "fastest" weighting"
For the sake of consistency and in order to clean up the API we will deprecate `preference = fastest` in favour of `recommended` while keeping `shortest` unchanged.  The reason for this change is that `car` and `hgv` are the only profiles which use the **pure** `FastestWeighting` which relies solely on **travel time**. All the other profiles modify these weight by prioritizing certain way types so

[2020-07-03 20:27] Marcoshsc opened #764 "Isochrones V2: Unable to build an isochrone map."
#### Here's what I did

A POST request to this URL: [https://api.openrouteservice.org/v2/isochrones/foot-walking](url)
With this JSON body:
`{
	"locations": [
		[-40.85436, -19.239279],
		[-40.888763, -19.190678],
		[-40.889092, -19.209379]
	],
	"range": [1081.4148824157621, 1440.815178129259, 1476.8964290477913],
"range_type": "distance"
}`

---
#### Here's what I got

The following JSON output:

[2020-07-04 19:17] leungi opened #765 "Docker run error - missing app.config and fail to install dependencies from org.geotools:gt-main"
#### Here's what I did

1. `docker pull openrouteservice/openrouteservice`
2. `docker run -p 4444:8080 --name ors openrouteservice/openrouteservice`
3. open browser to `ohylpy:4444`; this returns OK (note that *ohylpy* is server name)
4. open browser to `ohylpy:4444/ors`; this returns HTTP 404

#### Error capture
![ors-error](https://user-images.githubusercontent.com/30273868/86519347-9148d100-bdf

[2020-07-08 07:25] rabidllama commented on #765
Getting openrouteservice to run through docker hub is quite difficult as there are configurations that are needed during the container building which are specific to the individual setup, and from my understanding, when you pull from the docker hub, all of these are prebuilt and so these configurations can't be set.

We are looking into ways of trying to get openrouteservice to work "out of the bo

[2020-07-08 07:35] nilsnolde commented on #765
I can't say much about the `Failed to execute goal on project openrouteservice`. If there's anything missing in the docker image related to authorization of artifacts it shouldn't be a problem to add them from the source repository.

For the `app.config` bug: d'oh.. there's a `mkdir /ors-conf` missing in the Dockerfile, has nothing to do with Dockerhub, as it'll also fail on a repo setup. Can you

[2020-07-10 05:11] leungi commented on #765
@rabidllama , @nilsnolde : thanks for prompt response 🙇‍♂️

I'll try your suggestion and update y'all.

[2020-07-12 19:44] leungi commented on #765
Update.

Image built from source seems to be successful with the below `Dockerfile` and `docker-compose.yml`.

However, the created container `ors-app` exits on start, and `docker start` doesn't help.

I was also expecting the respective folders in host (e.g., `./graphs`,  `./elevation_cache`) to be populated with files after built, but not the case.

Note:

- the `.pbf` obtained from GeoFabrik is

[2020-07-13 09:06] rabidllama commented on #765
If you run `docker logs --tail 200 ors-app` it should show you if there was an error within Tomcat. Looking at what you said though, I would assume the problem is because you need to tell java to use more memory. In the `JAVA_OPTS` of the docker-compose, that is done with the `-Xms1g` and `-Xmx2g` properties. Generally you need to give it at least twice the size of the pbf file, so if the pbf is 3

[2020-07-13 10:13] nilsnolde commented on #765
A build does not start anything. Only when a container is started it will start to process your OSM file. As for the OSM file path issue, that's not working because you changed the location of the PBF file `./us-south-latest.osm.pbf` is referring to the path of `Dockerfile` for the build and the path of `docker-compose.yml` on container startup.

[2020-07-14 06:16] leungi commented on #765
Good call @rabidllama.

Thanks for tip @nilsnolde; I see the error is due to the host volume specified having the same name as the OSM .pbf file 😅

So it seems `docker-entrypoint.sh` is the reason - Windows EOL *\r*. Reformatted to UNIX format, and facing the same original with maven.

#### Container log
[code]

#### Rebuild using fixed docker-entrypoint.sh
[code]

[2020-07-15 10:54] #763 closed, assigned to aoles

[2020-07-16 06:25] leungi commented on #765
Glad to have solved this problem 🤩

Had to add these args for `MAVEN_OPTS` in the Dockerfile:

`-Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true -Dmaven.wagon.http.ssl.ignore.validity.dates=true`

Thank you @rabidllama and @nilsnolde once again for the guidance along the way 🙏

[2020-07-16 06:25] #765 closed, assigned to nobody

[2020-07-19 20:05] pathmapper opened #770 "Inverted order of points results in different elevation"
#### Here's what I did
`https://api.openrouteservice.org/v2/directions/cycling-regular/geojson`

body 1:
[code]

And the same request only with inverted order of the points.

body 2:
[code]

---
#### Here's what I got

output for body 1:
<img src="https://user-images.githubusercontent.com/20856381/87883582-bdbc3a00-ca08-11ea-9161-38b14a01a110.png" width="300"/>

output for body 2:
<img src="https:

[2020-07-19 20:09] pathmapper commented on #625
Reported a similar issue in https://github.com/GIScience/openrouteservice/issues/770, but there are no waypoints involved, only two points and the inverted order of the points returns different elevation for both points.

[2020-07-20 11:42] EWouters commented on #742
How this is implemented now only works when you build the image yourself, and even then there is some code to [scrub out](https://github.com/GIScience/openrouteservice/pull/745/files?file-filters%5B%5D=.gz&file-filters%5B%5D=.md&file-filters%5B%5D=.properties&file-filters%5B%5D=.sh&file-filters%5B%5D=.yml&file-filters%5B%5D=No+extension#diff-3254677a7917c6c01f55212f86c57fbfR33) all profiles except

[2020-07-20 12:32] EWouters commented on #742
[code]
Something like this, or add this argument to docker run:
[code]

[2020-07-20 12:35] EWouters commented on #742
See #772

[2020-07-21 13:00] rabidllama commented on #746
Hi @CMonjo,

sorry this got lost over the last few weeks. We did a release last week which had some changes to the Docker setup process, so can you check to see if you still encounter the same problem?

[2020-07-21 13:02] rabidllama commented on #753
I guess it must be some strange thing that they have running by default in their image (we have used both Ubuntu 16.04 and 18.04 with no issues).

Glad you got it working though, so I will close the issue but if there are any other issues, just let us know

[2020-07-21 13:02] #753 closed, assigned to nobody

[2020-07-22 11:23] sfendrich opened #773 "Resolve tomcat warning when running with maven"
When starting ORS with `mvn tomcat7:run` we get warnings like the following:
[code]
The cause is probably that the maven-tomcat-plugin only serves tomcat7, which is unable to process newer java byte codes, e.g. java 11. Several solutions to this problem can be found here: https://stackoverflow.com/questions/23541532/org-apache-tomcat-util-bcel-classfile-classformatexception-invalid-byte-tag-in. We

[2020-07-24 08:41] HendrikLeuschner opened #774 "Disable Fast Isochrone Algorithm if additional restrictions are requested"
Currently only checks for availability of algorithm, independent of request.

[2020-07-27 08:19] takb opened #775 "Remove V1 API related code"
Due date is Oct 30th. Remove all classes related to the old API and request processing.

[2020-07-29 10:55] HendrikLeuschner commented on #775
What about the ServiceSettigs files in API-Tests? I dont think they have a use.

[2020-07-31 11:55] #476 closed, assigned to sfendrich

[2020-07-31 12:53] rabidllama opened #777 "Docker setup no longer works after Java 11 update"
Since the code to move to java 11 has been added, the current docker setup no longer works with the output being a fatal error when creating the java virtual machine

[2020-08-04 10:49] longqiuqiu opened #780 "graphhopper Can be upgraded to version 1.0？"
![image](https://user-images.githubusercontent.com/12045406/89285450-f6077d80-d682-11ea-91c3-9d6e91aebdee.png)

![image](https://user-images.githubusercontent.com/12045406/89285485-0a4b7a80-d683-11ea-9982-62c39e113917.png)

now ors yi  update vision 6.2 ,graphhopper vision 0.13.5。
graphhopper  Can be upgraded to version 1.0？

[2020-08-04 11:50] #777 closed, assigned to rabidllama

[2020-08-05 00:47] longqiuqiu commented on #780
I have modified the source code of graphopper, and the function has been implemented

[2020-08-05 00:47] #780 closed, assigned to nobody

[2020-08-05 13:45] TheGreatRefrigerator opened #781 "osm_ids only activated for wheelchair by default"
Regarding https://ask.openrouteservice.org/t/extra-info-for-directions/1954/6?u=amandus
#### Here's what I did

`https://api.openrouteservice.org/v2/directions/driving-car`
[code]

---
#### Here's what I got

[code]

---
#### Here's what I was expecting

`extras` object to contain osm_id

---
#### Here's what I think could be improved
Either add osm_id to to all profiles
or link in documentation t

[2020-08-10 10:10] joker234 opened #782 "NullPointerException when using getRouteSegment"
#### Here's what I did
Used `HiddenMarkovMapMatcher.match()` that uses `ORSGraphHopper.getRouteSegment()`.

---
#### Here's what I got
NullPointerException

[2020-08-10 10:58] aoles commented on #714
Thanks @HendrikLeuschner! You are right, currently the turn restriction is ignored by our routing algorithm. Currently there seems to be one another weird behavior which I observe with hgv `shortest` as illustrated by the following screen. Let's keep an eye on it.

![image](https://user-images.githubusercontent.com/6545356/89775899-0b5c2c00-db09-11ea-923e-379fe8e6b32b.png)

[2020-08-10 13:53] tomastomas75 opened #973 "Option to disable access restrictions when calculating a route"
In my work, I spend most of my time in areas with restricted access, which means I most of the time can not use openrouteservice to calculate a route leading to these places. I can fully understand that openrouteservice will not calculate a route through a gate tagged "access = no" or similar, since it doesn't know I have my keycard that will open that specific gate.

Please add an option, maybe u

[2020-08-11 10:47] aoles opened #785 "Core edge filters not properly initialized for certain profiles"
The matching of core edge filters to routing profiles fails because of a mismatch between the flag encoder names in `FlagEncoderNames` and the names used by the method `RoutingProfileCategory.getFromEncoder`.

[2020-08-11 13:54] blobbybadger opened #786 "Unable to process a list of coordinates using directions"
#### Here's what I did
I was able to install a local version of openrouteservice on my local machine using Docker. I had to tweak the app.config file to have the following:

[code]

I am trying to process the following command:

[code]

#### Here's what I got

But I am getting the following error:

[code]

https://ask.openrouteservice.org/t/unable-to-process-a-list-of-coordinates-using-directions/

[2020-08-12 06:05] #785 closed, assigned to aoles

[2020-08-12 06:42] #782 closed, assigned to nobody

[2020-08-12 15:33] HendrikLeuschner commented on #774
fixed by #769

[2020-08-12 15:33] #774 closed, assigned to HendrikLeuschner

[2020-08-17 12:35] noerw opened #789 "feature request: consider road safety in (bike-) routing"
At least for Germany, there is [open geodata about traffic incidents](https://unfallatlas.statistikportal.de/_opendata2020.html).
It would be nice to have this incorporated into (bike) routing.

I’m not familiar with openrouteservice internals, but think this could be done with a custom weighting just like the existing [QuietWeighting](https://github.com/GIScience/openrouteservice/blob/39688fee531

[2020-08-17 19:36] sfendrich commented on #789
The most relevant classes can be found in `org.heigit.ors.routing.graphhopper.extensions`. You will probably have to
* Adapt the GraphBuilders, which define what Data from OSM and possibly other sources is stored on the Graph;
* Adapt the FlagEncoders, which encode and decode the information stored on the graph in a compact binary format;
* Create a new weighting along the lines of Quiet or Green

[2020-08-18 07:09] HendrikLeuschner commented on #789
You will need to create an extended storage. Map-Matching will also need to be done to find the edges corresponding to the data.
We have a project running at the moment that deals with adding traffic data to the graph. At least the implementation part concerning preprocessing will be quite similar to yours, as I imagine the data you want to add is relatively sparse.
As sfendrich mentioned, you wil

[2020-08-18 08:15] noerw commented on #789
Thanks for all the info, i should be able to work with that.
@HendrikLeuschner this approach works for me, looking forward to that project

[2020-08-18 08:22] HendrikLeuschner commented on #789
Maybe @MichaelsJP can give you some time estimate, he's the one working on the traffic project.

[2020-08-20 07:10] wmann-celonis opened #791 "straight line segment in computed route"
#### Here's what I did
I'm trying to compute a route with a least one intermediate point.
https://maps.openrouteservice.org/directions?n1=47.952225&n2=12.495575&n3=9&a=47.687427,11.980119,47.730903,11.868442,48.078079,11.510925&b=0&c=0&k1=en-US&k2=km&s=1

---
#### Here's what I got
The first segment is a straight line instead of a proper route.

---
#### Here's what I was expecting
A proper route

[2020-08-20 08:30] aoles commented on #791
Doesn't look like a bug to me, but rather an intended behavior related to the skip segment feature. Apparently the url parameter `s=1` enables this option for the first segment between the start and the via point. Not sure how it got there though, at least I couldn't find a way to enable the skip segment feature in our apps client. Maybe @TheGreatRefrigerator can give some insights here.

[2020-08-20 08:51] TheGreatRefrigerator commented on #791
@wmann-celonis,
@aoles is correct, you might have clicked "Add as direct point" instead of "Add as via point". Removing `&s=1` from the URL or "Add as via point" should produce the route you are looking for.

[2020-08-20 08:51] #791 closed, assigned to nobody

[2020-08-20 08:54] aoles commented on #791
Thanks @TheGreatRefrigerator for the clarification, I missed the "direct point" option.

[2020-08-20 09:05] wmann-celonis commented on #791
Thanks for the explanation @TheGreatRefrigerator . Is the s=1 really the only way to see that this a direct point? If yes, I would propose to make this clearer by annotating the point with a D right of the text box. Should I open an issue in the client app?

[2020-08-20 10:20] takb commented on #786
I tried around a bit to reproduce this but couldn't. Error code 2004 does list the actual limit the backend compares the distance approximation against, which means your parameter `ors.services.routing.profiles.default_params.maximum_distance = 200000` is overridden somewhere else, most likely in the respective profile's settings that you are querying against.
I verified that with our current code

[2020-08-23 09:51] BenasPaulikas opened #792 "No error in GUI"
![image](https://user-images.githubusercontent.com/6473565/90975717-65b0b000-e53f-11ea-80a9-03b81e036946.png)

[2020-08-24 08:34] TheGreatRefrigerator commented on #792
moved to app repository
https://github.com/GIScience/openrouteservice-app/issues/344

[2020-08-24 08:34] #792 closed, assigned to nobody

[2020-08-24 15:41] blobbybadger opened #794 "Unable to spin up docker container"
#### Here's what I did
1. Used the `docker-compose.yml` template https://github.com/GIScience/openrouteservice/blob/master/docker/docker-compose.yml
2. Modified the file as
[code]
3. Ran `docker-compose up -d`
---
#### Here's what I got
[code]

---
#### Here's what I was expecting
No errors

---
#### Here's what I think could be improved

[2020-08-25 09:34] rabidllama opened #795 "Incomplete extra info returned when using items invalid for profile"
#### Here's what I did
Request a route with multiple extra info items chosen, some of which are not valid for the selected profile
https://api.openrouteservice.org/v2/directions/foot-walking/json?api_key=xxx
[code]
---
#### Here's what I got
Not all valid and chosen extra info items are returned (in the above case only steepness, suitability, surface, waycategory and waytype were returned.

---
##

[2020-08-25 10:15] rabidllama opened #796 "Error when requesting osmid for wheelchair profile"
#### Here's what I did

Requested a route for the wheelchair profile with the osmid extra info

---

#### Here's what I got

An error response:
[code]

---

#### Here's what I was expecting

For the osmids of the route to be returned

---

#### Here's what I think could be improved

Fixing the error (possibly to do with Java11 update?)

[2020-08-25 12:08] rabidllama commented on #781
I have added a page to the wiki with information about what extra info items are available for the different profiles in our API. As the availability is set in the configuration files, it doesn't make much sense to document them inside the code itself.

https://github.com/GIScience/openrouteservice/wiki/Extra-Info-Availability

[2020-08-25 12:08] #781 closed, assigned to nobody

[2020-08-26 05:40] rabidllama commented on #794
This should be related to the fix in PR #793 so can you check if it works now?

[2020-08-26 11:11] speter9701 commented on #794
@rabidllama I have the same error. I downloaded this repo now so everything is the latest but it still not working.
What I have done:
1. Download this repo as zip, unzipped. In powershell:
2. `cd Docker`
3. `docker-compose up -d`

[2020-08-26 22:10] blobbybadger commented on #794
This seems to have been fixed. I am no longer getting the above error.

[2020-08-26 22:10] #794 closed, assigned to nobody

[2020-08-27 12:56] blobbybadger opened #798 "Docker documentation is not up-to-date with current version of openrouteservice"
#### Here's what I did
Ran the following command

[code]

---
#### Here's what I got
[code]

---
#### Here's what I was expecting
The Tomcat server running

---
#### Here's what I think could be improved
Docker documentation with the correct Tomcat arguments. Take out the `-XX:+UseParNewGC` from the `docker run` command

[2020-08-27 14:41] speter9701 commented on #794
I forgot to pull the latest image from dockerhub, I can confirm that the issue is fixed.

[2020-08-27 23:28] speter9701 commented on #798
Another improvement idea:
In the docker install description the testing paths should be replaced because this is not working:
`http://localhost:8080/ors/routes?profile=foot-walking&coordinates=8.676581,49.418204|8.692803,49.409465`
TO:
`http://localhost:8080/ors/v2/directions/driving-car?start=8.676581,49.418204&end=8.692803,49.409465`

[2020-08-29 06:22] Rich-Tee opened #800 "Route directions duplication"
I notice that direction instructions are often duplicated as the route changes very slightly, example

https://maps.openrouteservice.org/directions?n1=52.223428&n2=-0.787232&n3=9&a=52.923468,-1.475258,51.509648,-0.099076&b=0&c=0&k1=en-US&k2=km 2

you can see a series of 15 instructions one after the other all saying the same " Keep right onto M1",
is there any way that duplicates like this can be

[2020-08-31 09:20] stefanocudini commented on #383
that would be very much appreciated!

[2020-08-31 13:55] adamdarr opened #802 "Directions V2 - driving-hgv profile returns empty response body"
#### Here's what I did
- POST request to https://api.openrouteservice.org/v2/directions/driving-hgv/geojson

---
#### Here's what I got
- 200 OK status with an empty response body

---
#### Here's what I was expecting
- 200 OK status with directions in response body

---
#### Here's what I think could be improved
- Fixing the issue. This just started happening today (`driving-car` profile still wo

[2020-08-31 17:04] kbuilds commented on #802
We are also experiencing this issue

[2020-08-31 20:05] adamdarr commented on #802
It appears to be working again

[2020-09-01 11:04] takb commented on #796
This error occurs if you run the current version of the code on Java 8. I looked around quite a bit but there doesn't seem to be an easy way to achieve backwards compatibility for this particular method. Switch the JRE version in your IDE to Java 11 and all is good.

[2020-09-01 14:50] rabidllama commented on #796
Yeh, seems that the JRE being used by tomcat was java 8, though the war was built using java 11...

[2020-09-01 14:50] #796 closed, assigned to takb

[2020-09-03 09:11] tacxou opened #803 "Docker ORS not use '/ors-conf/app.config' file"
Hello,
While using your Docker container I realized that it ignored the configuration file put in the volume. I managed to solve the problem on my side by modifying the entry point:

[code]

[2020-09-03 10:57] takb opened #804 "Clean up Maven dependencies"
maven dependency check yields the following warnings:
[code]
looks like we should do some cleanup.

[2020-09-04 09:21] #795 closed, assigned to takb

[2020-09-09 04:10] ImranHugo opened #806 "API Playground Results vs Self Hosted very different (Durations)"
#### Here's what I did
I spun up a linux VM as I needed to produce distance/duration metrics for around 65000 location pairs.  I could not run using the online version due to rate limits so spinning up my own version for this batch seemed like the easiest route.

I download the latest PBF file for Australia from http://download.geofabrik.de/australia-oceania/australia.html, spun up the docker imag

[2020-09-10 20:19] igoooor commented on #675
Same problem here sadly

[2020-09-13 15:35] TheGreatRefrigerator opened #807 "not adhering to turn restrictions without alternative routes"
#### Here's what I did

Strange behaviour when not having alternative routes:

[code]
---
#### Here's what I got

![grafik](https://user-images.githubusercontent.com/23240110/93022084-372a7000-f5e7-11ea-8fa7-47890ccbfb4e.png)

---
#### Here's what I was expecting

When setting alternative routes it strangely shows the correct route:
[code]

![grafik](https://user-images.githubusercontent.com/23240

[2020-09-16 08:17] rabidllama commented on #802
It was a problem with reloading the graphs after an update

[2020-09-16 08:17] #802 closed, assigned to nobody

[2020-09-16 09:17] #798 closed, assigned to rabidllama

[2020-09-16 09:32] takb commented on #807
Likely would be fixed as soon as the Core-ALT turn restrictions fix is done, will check again after that

[2020-09-16 19:48] jfalameda opened #810 "Unable to compute a distance/duration matrix with cycling-regular profile"
Hi,

I am trying to compute a distance/duration matrix for a cycling-regular profile. The driving-car profile wors with no issues, but once I change to another of the loaded profiles, it fails with the following error:
`Unable to compute a distance/duration matrix.`

Looking at the logs, I found the following exception:

[code]

Steps to reproduce:

Docker based ORS (latest version).
Using the fol

[2020-09-22 11:36] 1papaya opened #812 "Add `sac_scale` restrictions on Tag Filtering Wiki"
Hi all,
As discussed on various issues (#600 #731) the ORS `foot-hiking` profile filters ways based on `sac_scale` value but the restriction is missing from the [ORS Wiki on hiking tag filtering](https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering#Hiking)

[2020-09-22 12:59] 1papaya commented on #600
Hey folks! Big +1 for some more functionality around `sac_scale` to make ORS more flexible for hiking routing. Not just for a "hardcore hiking" mode (which sounds very cool :wink: ) but also `sac_scale` is arguably the most subjective (though useful!) of the hiking way tags and so the current logic to filter out `demanding_alpine_hiking` and `difficult_alpine_hiking` is a bit too stiff of a routin

[2020-09-28 16:30] amoncaldas opened #814 "Skipped segments should not count on the distance limit"
API returns limit exceeded error even when the whole segment is marked to be skipped.

If a segment is to be skipped, then it should not count on the distance limit.

Request
URL: `https://api.openrouteservice.org/v2/directions/driving-car`
body: `{"coordinates":[[8.681495,49.41461],[-38.43326568603516, -12.967758119178905]],"skip_segments":[1]}`

Response:
`{"error":{"code":2004,"message":"Reques

[2020-10-08 09:41] ImranHugo commented on #806
Good evening. just following up to see if there are any ideas as to why my version would produce much faster durations?  Is it possible to get a version of the config which runs the API playground?

[2020-10-09 22:34] TheGreatRefrigerator opened #816 "driving-hgv routing over way with hgv=no"
#### Here's what I did

[code]
---
#### Here's what I got

[code]

---
#### Here's what I was expecting

The route avoiding a way with tag `hgv=no`

#### See also

https://maps.openrouteservice.org/directions?n1=40.746702&n2=-73.912582&n3=10&a=40.878103,-73.916973,40.794616,-73.971437&b=4a&c=0&k1=en-US&k2=km

https://www.openstreetmap.org/way/8608691#map=16/40.8135/-73.9649

[2020-10-10 11:36] aoles commented on #816
Thanks for reporting this! I can confirm the problem and I will look into it.

[2020-10-12 09:03] aoles commented on #816
Access restrictions for hgv driving profiles are currently not resolved on ORS maps because of a missing `vehicle_type` parameter under route `options` of the request. The restrictions are evaluated by the `HeavyVehicleEdgeFilter` which is enabled only when this parameter is set.

I couldn't find any recent changes in handling of `vehicle_type` in the backend. @TheGreatRefrigerator have there been

[2020-10-12 09:51] tacxou commented on #803
Hello, I think my problem is related to this PR: #784

[2020-10-12 10:51] FinnStutzenstein commented on #806
Hi, I experienced the same issue: We are calculating matrices and I wrote a script checking the triangle inequality. I noticed that it was false all over the place and I picked three places to debug. If I use the directions API and manually calculate the distances, they are different to the matrix result (and satisfy the inequality). I was using v6.1.0. After updating to 6.3.0 the matrix response

[2020-10-12 10:59] FinnStutzenstein opened #817 "After upgrade: Search exceeds the limit of visited nodes"
Hi, I updated from 6.1.0 to 6.3.0 (see my comment in #806 ) and I get `Search exceeds the limit of visited nodes` when calculating matrices. In the old version we used about 700 locations with `foot-walking` and `cycling-regular` without problems (we just needed to increase `maximum_routes`).

After upgrading, we have trouble getting even a 20x20 matrix with `cycling-regular` (Related to #810 ?):

[2020-10-12 13:43] TheGreatRefrigerator opened #818 "Chore: error codes need updating"
https://github.com/GIScience/openrouteservice/blob/9913ba0845fd6ba0a33a95fb93dff661eaf6d7fa/openrouteservice/docs/services/error_codes.md

is missing 2010 and above.
Maybe check other codes in progress

[2020-10-13 05:54] ImranHugo commented on #806
@FinnStutzenstein, I have upgraded my version to

        "engine": {
            "version": "6.3.0",
            "build_date": "2020-10-13T03:17:58Z",
            "graph_date": "2020-10-13T04:14:47Z"
        }

However, this still has not seemed to resolve the duration difference.

My request to the matrix API is:

{
  "locations": [
    [
      150.8144, -33.7861
    ],
    [
      150.7284, -34

[2020-10-13 15:55] TheGreatRefrigerator commented on #816
No recent. See https://github.com/GIScience/openrouteservice-app/commit/8c54a6438c09cf8403c5f066fc6ddae730bf8aa0

I've changed it back then to only add the `vehicle_type` if there are actual vehicle restrictions (length, width) set.

The documentation is kind of ambigous for this, as it says the default value for `vehicle_type` is `hgv`
which would make sense if the `driving-hgv` profile is chosen

[2020-10-14 05:50] #683 closed, assigned to takb

[2020-10-14 08:26] aoles commented on #816
We certainly could introduce a default value for `vehicle_type`. I don't think this has ever been the case before, though, so I'm not sure why the documentation would say otherwise.

[2020-10-15 16:43] fritzfr opened #823 "Every address of small village in Germany is missing the locality field"
#### Here's what I did
Basically, I opened an extensive issue with Pelias already, but they have confirmed the issue has been fixed on their site and it's an issue with ORS.

The issue: https://github.com/pelias/pelias/issues/893
---
#### Here's what I got
Search for "Mühlgasse 20 35510", it will return:

[code]

[code]

This street is in a village called "Nieder-Weisel" and the next bigger city (

[2020-10-16 21:16] wojtekszymak opened #824 "avoiding toll roads avoids non-paid roads"
I think there is some problem with alghoritm of avoiding toll roads.

If i use default parameters for car I receive correct route:

https://maps.openrouteservice.org/directions?n1=52.3431&n2=20.832481&n3=11&a=52.241017,21.012189,52.445964,20.650481&b=0&c=0&k1=en-US&k2=km

If I enable avoiding toll roads i receive different route.

https://maps.openrouteservice.org/directions?n1=52.343939&n2=20.834

[2020-10-19 15:43] aoles commented on #824
Link to [overpass](https://overpass-turbo.eu/s/Zc5) for reference.

[2020-10-20 10:09] aoles commented on #824
Seems to be a consequence of using a dedicated core landmark set for tollways which does not distinguish between the driving profiles. I will look into fixing this.

[2020-10-20 15:51] aoles commented on #824
Thank you @wojtekszymak for reporting this!

It should be fixed with next graph update, most probably within the next two weeks (CC @rabidllama).

[2020-10-20 15:59] aoles opened #827 "Restore original handling of conditional access restrictions"
As of GH v0.13.6 time-dependent conditional access restrictions are not resolved at graph build time anymore but rather marked to be evaluated at query time. If regular non-time-dependent routing is used edges with such restrictions are considered as blocked which might lead to differences in routing compared to the previous approach. This is especially valid for seasonal road closures and other r

[2020-10-21 08:59] rabidllama commented on #812
I've just updated the wiki page to show that the normal foot profile only allows the hiking sac_scale (if the tag is present) and the hiking profile allows up to the alpine_hiking

[2020-10-21 08:59] #812 closed, assigned to nobody

[2020-10-21 16:55] wojtekszymak commented on #824
@aoles , will setting following parameter in app.config be enought to fix the issue on own instance of ORS? ```"lmsets":"highways,tollways;highways;tollways;allow_all"```

[2020-10-21 20:25] aoles commented on #824
Thanks for getting back to me @wojtekszymak !

The problematic part are the tollways-related landmark sets. In order to circumvent the issue it is enough to remove them from the list to have sth like `"lmsets":"highways;allow_all"`. In fact, this is how I have modified the `app.configs` of our public API instances. However, the changes will be visible only once we rebuild the graphs.

I will keep

[2020-10-22 08:42] wojtekszymak commented on #824
Ok, thanks for clarification. I will test this in the evening on my instance and get back with confirmation.

[2020-10-23 17:20] wojtekszymak commented on #824
After this change my instance gives correct routes.

[2020-11-02 06:48] renarena opened #828 "on the map for postalcodes with leading 0 the 0 in some places is omitted"
#### Here's what I did

https://maps.openrouteservice.org/directions?n1=50.780001&n2=12.681398&n3=15&a=50.778047,12.697792,50.784451,12.665863&b=0&c=0&d=100&k1=en-US&k2=km
---
#### Here's what I got

on some locations addresses the postalcodes leading 0 is missing
---
#### Here's what I was expecting

the postalcode has 5 letters no matter if it starts with 0

[2020-11-05 11:21] pasali opened #829 "Feature request: Exporting monitoring metrics"
We are running ORS on k8s via supported docker image.And currently we are having problems with ORS performance since there is no metrics for the jvm and thread usage we can not debug the issue. So it will be very useful to export spring boot supported metrics for debugging and autoscaling purposes.

[2020-11-06 08:09] rabidllama commented on #828
This isn't an issue to do with the openrouteservice core but with the maps client. Can you please open the issue there (https://github.com/GIScience/openrouteservice-app)

[2020-11-06 08:09] #828 closed, assigned to nobody

[2020-11-09 15:32] takb opened #832 "Redefine automated tests using github action"
- [x] set up github action
- [x] get rid of travis
- [x] fix chat-notification

[2020-11-17 08:46] rabidllama opened #834 "Add support for newer population data"
The population data used in openrouteservice isochrones is currently the 2015 data from JRC (https://data.jrc.ec.europa.eu/dataset/jrc-ghsl-ghs_pop_gpw4_globe_r2015a). There is newer version of the data available that was released in 2019 (https://data.jrc.ec.europa.eu/dataset/0c6b9751-a71f-4062-830b-43c9f432370f/resource/fb9565ed-9eff-426f-91a8-3f32afb525b9) which should be used, though it only h

[2020-12-01 16:29] jfalameda commented on #817
Did you manage to solve this issue?

[2020-12-04 13:44] MikeDabrowski commented on #806
Hi, I found this issue while searching for something similar. Using online version of the api to get matrix for just two points (one on the peak of the mountain, the other much lower) the difference between durations was just a few minutes. Given the elevation difference of around 600m the uphill should take much longer than downhill.

I then went to https://maps.openrouteservice.org/ and used sam

[2020-12-04 14:34] MikeDabrowski commented on #453
I've stumbled upon the mentioned issues for cyclists and first wrote a comment here https://github.com/GIScience/openrouteservice/issues/806#issuecomment-738791316

Today (late 2020) I believe you have all the data you need to get it implemented:
The directions api endpoint returns dist/duration between two points but also steepness of the route - in percentages. So it seems like it would be enoug

[2020-12-05 11:26] stefanocudini commented on #453
I totally agree

[2020-12-08 10:45] FinnStutzenstein commented on #817
Sadly no, we are not using the matrix serivce anymore and calculate a route for each entry (which takes a while...).

[2020-12-09 15:36] #827 closed, assigned to aoles

[2020-12-10 08:22] #804 closed, assigned to takb

[2020-12-10 19:45] neatnerd opened #839 "ORS does not work with OSM from Geofabrik"
#### Here's what I did
1. I have downloaded osm file for Austria from [here](http://download.geofabrik.de/europe-latest.osm.pbf)
2. Verified that md5 matched
3. Modified docker-compose just to include the file like this:
[code]
4. Ran docker compose up

---
#### Here's what I got
1. The error seems to be related to the OSM file:
[code]
2. Query of the endpoint returns not ready:
[code]
---
#### He

[2020-12-10 20:49] phil294 commented on #839
I can confirm this issue. Neither can http://download.openstreetmap.fr/extracts/europe/austria.osm.pbf be read. Not sure where to go from here, so I cant really use ORS at all :-/

[2020-12-11 07:16] nilsnolde commented on #839
Not a ORS issue, it's a read timeout on a network request when downloading elevation, see line
`	at org.heigit.ors.routing.graphhopper.extensions.ORSOSMReader.getElevation(ORSOSMReader.java:433) ~[classes/:6.3.1]`

here is the fix: https://ask.openrouteservice.org/t/timeout-exception-on-elevation-data/2345/2

[2020-12-11 09:26] neatnerd commented on #839
I have mounted conf folder and edit `app.config` to disabled elevation everywhere (every profile). It still fails with the same error

[2020-12-11 09:56] nilsnolde commented on #839
Ok, then two things:

- there is also a global app.config parameter for elevation (not profile-specific), did you set that one too?
- did you exec into the container and verified that your app.config is taken into account? It’s somewhere in the tomcat/webapp/ors folder

Sorry, on mobile right now.. If you still can’t build then change the elevation provider in the config to gmted, that should work

[2020-12-11 20:02] neatnerd commented on #839
I am not sure why you point to the tomcat directory, in documentation it says that config is at `/ors-conf`. I exec'ed into running container and yes the config was there. Regarding global variable, I am not sure what you refer to, but this is the entire config file I used:

[code]

[2020-12-13 10:44] sampaxk commented on #839
I'm experiencing the same issue, using the latest italian OSM file downloaded from Geofabrik.

I'm using the same `app.config` posted by @neatnerd .

This is the log: [log.txt](https://github.com/GIScience/openrouteservice/files/5684472/log.txt)

[2020-12-13 12:24] nilsnolde commented on #839
No relation to Geofabrik here, it's simply the CGIAR download page being down since ages apparently. That's a recurring problem, we encountered it multiple times already.. And CGIAR keeps shifting their download URLs.. Probably time for
- either hosting the tiles independently (no idea about legality here)
- use alternative data sources: mapzen's tiles are open on amazon's open data buckets (thoug

[2020-12-14 01:36] monster555 opened #840 "Issues with Dockerfile. Unknown instruction: APT-GET"
#### Here's what I did
app.config
[code]

Dockerfile:
[code]
---
#### Here's what I got
I've tried building the container with docker and docker compose but it always throw "ERROR: Dockerfile parse error line 17: unknown instruction: APT-GET"

---

I'm trying on Google Cloud Registry Container running Debian. I installed docker-compose with apt-get so I cannot find out what can be the root of the

[2020-12-14 06:37] monster555 commented on #840
I've separated into single lines with RUN each of the commands on my Dockerfile and now it's not throwing that error. Now I'm getting `Step 7/19 : COPY openrouteservice /ors-core/openrouteservice
COPY failed: stat /var/lib/docker/tmp/docker-builder343252854/openrouteservice: no such file or directory` instead

[2020-12-20 21:23] TheGreatRefrigerator opened #843 "Steepness not returned for driving-hgv & cycling-regular"
#### Here's what I did

`https://api.openrouteservice.org/v2/directions/driving-hgv`
[code]

#### Here's what I got

only suitability as output extra
![grafik](https://user-images.githubusercontent.com/23240110/102724733-11151a00-4312-11eb-9701-2de213602703.png)

---
---
#### Here's what I was expecting

the steepness
---
#### Here's what I think could be improved

[2020-12-24 18:38] Marcoshsc opened #844 "Wrong results from Matrix V2 service"
I have an application where I use multiple ORS endpoints, such as the Matrix V2 service. Some days ago, my application crashed and I investigated what happened. I found out that the Matrix V2 endpoint is returning wrong distance/duration values when big location sets are provided. These distance/duration values are returned correctly when smaller location sets are provided.

#### Here's what I did

[2020-12-27 21:29] mshvarts opened #845 "Can't decode srtm_38_03.tif"
#### Here's what I did

trying to run "docker-compose up" in the docker folder after pulling from github repository
using docker-compose 1.27.4 that I installed using pip3
tried running on ubuntu 18 and WSL2.

---
#### Here's what I got

`ors-app    | 27 Dec 21:24:07 ERROR [routing.RoutingProfileManager] - java.util.concurrent.ExecutionException: java.lang.RuntimeException: Couldn't process file d

[2020-12-30 09:44] TheGreatRefrigerator opened #846 "Add information and Attribution to Isochrone attribute info"
#### Here's what I did

Looking for the source of the population data in isochrone response

---
#### Here's what I got

couldn't find anything in the API playground

---
#### Here's what I was expecting

Information on the parameter in the documentation.

---
#### Here's what I think could be improved

Zipf, Prof. Dr. Alexander @alex
9:13 PM
ha, i think i found the issue: for those isochrones att

[2020-12-30 13:36] krichter722 opened #847 "Allow avoidance of cobblestone"
So far ferries, fords and steps can be avoided on the route. I'd be nice to be able to avoid cobblestone pavements on the route upon selection. This is a regular use case for navigation especially for inner-city routes.

[2021-01-01 10:49] mshvarts commented on #845
@takb  ? can you help me figure out what is wrong? I don't see other people having this issue. i must be during something wrong with docker? I never used this service before

[2021-01-01 21:54] leontodd commented on #845
I just had this same problem - looks like the default elevation provider's site is down.

See https://github.com/GIScience/openrouteservice/issues/839#issuecomment-744000100 for a fix that worked for me.

[2021-01-01 23:37] mshvarts commented on #845
@leontodd Ah thank you! that seemed to fix the issue

[2021-01-04 18:24] Dzivo commented on #839
@nilsnolde

Can you explain how to set this parameter with an example i would appreciate it very much.

[2021-01-05 08:35] nilsnolde commented on #839
You need to set the value of the JSON path `ors.services.routing.elevation_provider` in the `app.config` to `gmted`:

https://github.com/GIScience/openrouteservice/blob/9f278566c0af6978ca6ebca6125316006d936a08/openrouteservice/src/main/resources/app.config.sample#L81

BTW, if anyone would bother to address this open issue that wouldn't even be a problem and close at least #845 and this one:
https:

[2021-01-05 15:25] neatnerd commented on #839
I have created PR #850, but I am not sure if this fixes it. I have tested it on my side and got mixed results, @nilsnolde can you verify, please?

[2021-01-06 19:11] nilsnolde commented on #839
I'm not really part of this project anymore, but I can at least tell you that this, while nice of you to offer a PR, is not really what should be done. You can do that to your local copy of the app.config, but changing the defaults for everyone would be curing the symptoms not the cause:) and gmted is far inferior to CGIAR, so best is to have it back here:

The issue I pointed to in that GH fork i

[2021-01-07 13:49] hamzarhaiem opened #851 "Instructions missing if Geometry is set to False"
I’am calling directions with POSt and using this like body

[code]

I went to have the response **without geometry**, but even with geometry = false I’am having it on my response. The only way to remove it, is to put **instructions and geometry both to false**, but this will also **remove the segments and the instructions from the response**.

Are there anyway **to have the instructions without th

[2021-01-07 19:53] neatnerd commented on #839
Alright, thanks for the response. Waiting until further comments in this thread. Please, note that until that point **the current version simply does not work** under any scenario as it does not start at all.

[2021-01-08 10:20] nilsnolde commented on #839
Jep, absolutely, should have the highest priority.. I PRd: https://github.com/GIScience/graphhopper/pull/35. If you know how you can try to test. Failed for me for some reason, but really shouldn't..

[2021-01-13 14:44] rabidllama commented on #847
Hi @krichter722

thanks for the suggestion - we are pretty busy at the minute so I can't say for sure when we would get around to implementing something for this, but I will leave the issue open so that we can still see it.

Do you have a particular use case in mind for this?

[2021-01-13 14:47] rabidllama commented on #800
Hi @Rich-Tee

sorry for the heavily delayed response. It looks like this is actually an issue with the library we use for our routing core (GraphHopper) as that is where the instructions get generated. It is probably worth checking on their maps demo to see if the same thing happens there and if so, to then raise an issue on their repo. If not, then feel free to reopen this issue and we will look

[2021-01-13 14:47] #800 closed, assigned to nobody

[2021-01-13 23:19] krichter722 commented on #847
@rabidllama Thanks for your feedback. I live in [this street](https://www.openstreetmap.org/way/103405409) which itself is paved with cobblestone as are most of the crossing streets in the area. They very hard to use with a bicycle. There exceptions, some streets can be used with a bike and are crossing each other which makes it possible to gain access to them over the shortest possible path on co

[2021-01-15 14:20] h4xhor opened #853 "illegal reflective access operation has occurred"
When following the [Docker Install Guide](https://github.com/GIScience/openrouteservice/blob/master/docker/README.md) at the `docker-compose up` step this error occurs:

[code]
Then on trying the health check:
[code]

What am I missing? Thanks in advance.

[2021-01-16 15:48] TheGreatRefrigerator commented on #839
@neatnerd , @nilsnolde sorry for the wait..

this should be fixed in 6.3.3 thanks to your pull request.
Feel free to reopen if it's not working.

[2021-01-16 15:50] TheGreatRefrigerator commented on #845
Should be fixed in v6.3.3
Please reopen if this is still happening

[2021-01-16 15:50] #845 closed, assigned to nobody

[2021-01-16 15:51] #839 closed, assigned to takb

[2021-01-16 19:08] nickdbush commented on #845
I'm running into this exact issue with the v6.3.3 Docker image

[2021-01-16 20:36] visaals commented on #839
FYI, if the latest patch 6.3.3 doesn't work, check to make sure you rebuild the image with `docker-compose build`.

I was getting `Can't decode srtm_38_03.tif` errors even with the latest patched code until I rebuilt the images.. _sigh_ 2 hours I won't get back lol. Glad things work now! Thanks for the fix everyone 🙂

[2021-01-16 21:35] nickdbush opened #855 "Only first active profile is used"
#### Here's what I did
Self-hosted Docker installation, tagged at `v6.3.3` from Docker Hub.
`app.config`: https://gist.github.com/nickdbush/5869f73f7a24460e43a34f4bca69b013

There are multiple active profiles. However, ORS only seems to generate graphs for the first profile in the list.

Using elevation workaround (`gmted` instead of `multi`), elevation disabled for each profile.

`BUILD_GRAPHS` s

[2021-01-17 12:32] nilsnolde commented on #855
What were the exact steps you did to get there? What's your container configuration/docker-compos.yml (volumes, env vars)?

E.g.
[code]

It should work in any case when you restart an existing container with the edited app.config. It _might_ not work if you actually rebuilt the image or start a brand new fresh container with an existing app.config. I think the latter is an undefined case in the `d

[2021-01-17 12:35] nilsnolde commented on #855
BTW, the workaround with elevation provider shouldn't be necessary anymore. Solving that was the only point of the new v6.3.3 release.

[2021-01-17 12:38] nilsnolde commented on #845
Can you try to build the image yourself? It seemed to work for https://github.com/GIScience/openrouteservice/issues/839#issuecomment-761636048

If that works but then 6.3.3 image from dockerhub doesn't, there's a problem on the dockerhub build..

[2021-01-21 11:20] takb commented on #853
The warning messages are just warnings and should not cause ORS to not work. Please look in the `logs/ors/ors.log` file for any errors.

[2021-01-21 12:06] takb commented on #840
The docker file is supposed to run in the context of the cloned openrouteservice project folder, and it should not be necessary at all to modify it. For details see https://github.com/GIScience/openrouteservice/blob/master/docker/README.md

[2021-01-21 12:23] #773 closed, assigned to nobody

[2021-01-21 12:42] takb commented on #855
fixed by #856

[2021-01-21 12:42] #855 closed, assigned to nobody

[2021-01-25 12:55] #832 closed, assigned to takb

[2021-02-03 08:25] JoergSommer opened #861 "Documentation for api key and ssl"
Hello!

I want to use ors as a real production server.

Now I look for documentation to install ssl certificates from letsencrypt with the docker container and api keys for authentication.

Do I have to learn tomcat and others for this or are there working parameters for my docker-compose.yml.

Where can I find the documentation for this?

Best regards

[2021-02-07 15:47] DerDings opened #972 "Isochrones include areas that are not reachable (in time)"
[Isochrones](https://maps.openrouteservice.org/reach?n1=51.472399&n2=7.30506&n3=12&a=51.467951,7.127166&b=0&i=0&j1=21&j2=7&k1=en-US&k2=km) include areas within the 14 minute zone which in fact are only reachable in 18 min when using [regular routing](https://maps.openrouteservice.org/directions?n1=51.481393&n2=7.197975&n3=12&a=51.467967,7.127107,51.466534,7.251277&b=0&c=0&k1=en-US&k2=km).
Same for

[2021-02-10 07:02] JoergSommer commented on #861
Hello!

It would help me a lot if you can tell me if there is a possibility to use certificates and api keys.

If these features are not part of the docker image until now it would be a important information for me.

If only the documentation is missing, perhaps, I can find another way to get this working.

Best regards

[2021-02-10 07:15] nilsnolde commented on #861
Both things you’re asking for is the job of the server running ORS, don’t attempt to do that in containers. This project uses Tyk for Api key management. SSL via letsencrypt as any sane server:)

[2021-02-10 07:15] #861 closed, assigned to nobody

[2021-02-23 15:08] koebi commented on #851
This is caused by [this line](https://github.com/GIScience/openrouteservice/blob/3410e21896c1b9e8d6b85cb1d3db114a0de9e7e2/openrouteservice/src/main/java/org/heigit/ors/routing/RouteResultBuilder.java#L136) in RouteResultBuilder.java, where segments get reset if geometry is set to false.

The fix is straightforward and provided in #863.

I think that there should exist some tests to make sure this

[2021-02-24 10:03] takb commented on #851
I'd guess the quickest would be the API tests for extra info, there should be at least one that goes through that line

[2021-03-04 09:13] HendrikLeuschner opened #867 "Isochrone snaps to wrong point"
Isochrone requests only snap to actual edge tower nodes, they do not produce virtual nodes on the graph. That results in unexpected behavior in case the edge is very long

#### Here's what I did
e.g. https://bit.ly/388UhSB : In this example, there is an underlying tunnel that the request snaps to. This is a long edge and the algorithm snaps to the one at the western end, leading to the request poi

[2021-03-04 09:34] rabidllama commented on #512
Duplicate of #867 which has much more detail in the description, so I will close this one

[2021-03-04 09:34] #512 closed, assigned to rabidllama, MichaelsJP

[2021-03-07 08:59] ManDay opened #868 "OSM changes not reflected after more than 6 weeks"
Since I haven't read anything which indicates that the usual "updates are reflected after a couple/5 days" has changed, I assume this is a bug. This is [an example](https://maps.openrouteservice.org/#/directions/1,Bulgaria/1,Bulgaria/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,38,1,152,3,160,1,128,86,1,217,8,3,128,78,27,207,54,128,88,111,210,128,104,95,204,194,159,195,8

[2021-03-12 06:37] takb commented on #853
Assuming this resolved.

[2021-03-12 06:37] #853 closed, assigned to takb

[2021-03-12 06:42] takb commented on #786
Closing since no feedback after I stated the error is not reproducible.

[2021-03-12 06:42] #786 closed, assigned to takb

[2021-03-12 06:43] takb commented on #840
Assuming this can be closed.

[2021-03-12 06:43] #840 closed, assigned to takb

[2021-03-12 06:44] takb commented on #746
No feedback, so assuming this has been resolved.

[2021-03-12 06:44] #746 closed, assigned to takb

[2021-03-16 10:40] #814 closed, assigned to takb

[2021-03-16 11:40] PeterDieter commented on #702
Do you know when this will be released?

[2021-03-17 06:15] takb commented on #702
This was released with version 6.2.0 in July 2020. Does your inquiry imply you are having issues with this parameter again?

[2021-03-17 06:28] PeterDieter commented on #702
I am getting the same error message when I am putting `continue_straight=True` in my query.

[2021-03-17 09:53] takb commented on #702
Okay, will re-investigate...

[2021-03-18 07:15] yurticikargoit opened #873 "asymmetric distance matrix calculation."
On documentation it's said that ,
By default a symmetric duration matrix is returned where every point in locations is paired with each other.

is asymmetric  matrix calculation supported ? if supported then how can we test it?

[2021-03-18 08:35] takb commented on #702
I did some investigation but could not reproduce. Could you please provide the exact query and the app.config file you used?

[2021-03-18 08:49] PeterDieter commented on #702
I did not deploy the server myself but use the free API.
This is the python code that I use:
[code]
`{'error': {'code': 2099, 'message': 'Heading is not (fully) supported for CHGraph. See issue #483'}, 'info': {'engine': {'version': '6.3.6', 'build_date': '2021-03-02T18:34:49Z'}, 'timestamp': 1616058327609}}`

[2021-03-18 12:38] koebi commented on #636
This is a problem with [`constructFreeHandRoute`](https://github.com/GIScience/openrouteservice/blob/d8c0d31a4b731bd0c85e490ae7ccf97dcabfacc8/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/ORSGraphHopper.java#L538) in `ORSGraphHopper` not setting an `ExtraInfoProcessor`, as is done by [`calcPaths`](https://github.com/GIScience/graphhopper/blob/945d054c928b304789ba2c06

[2021-03-19 06:55] #695 closed, assigned to koebi, takb

[2021-03-19 09:41] koebi commented on #873
Hey,

the documentation seems to be a bit misleading here, using the word `symmetric`.
As running [the example in the playground](https://openrouteservice.org/dev/#/api-docs/v2/matrix/{profile}/post) will show, the returned matrix is indeed asymmetric - as it should be, since a route from A to B is rarely the same as a route from B to A.

I believe the documentation should instead mention that a `

[2021-03-19 09:47] aoles commented on #873
I think the point was more about defining the set of `destinations` to be different from `sources`. There already are corresponding API parameters for doing so. Nevertheless, it still makes sense to  improve the wording as suggested by @koebi.

[2021-03-22 09:27] takb commented on #843
This seems to have resolved itself, currently the instance returns steepness as expected. Most likely this was a case of elevation data not being available.

[2021-03-22 09:27] #843 closed, assigned to takb

[2021-03-23 09:12] mertbakir commented on #383
Any progress on this or is there any other way to snap gps records to the real road line?

[2021-03-23 12:57] #867 closed, assigned to HendrikLeuschner

[2021-03-24 06:24] #807 closed, assigned to takb

[2021-03-24 10:56] #702 closed, assigned to takb

[2021-03-25 15:15] #675 closed, assigned to takb

[2021-03-25 15:29] rabidllama commented on #868
Hi @ManDay

I'm having a look into this as it might actually be an issue with the automatic processing of the OSM file we conduct every week... If the problem is there and we can figure it out tomorrow, your changes should appear in just over a weeks time

[2021-03-25 16:32] koebi opened #879 "Isochrone intersections lack documentation and api-tests"
#### Here's what I did
I tried to write an API-Test for Isochrone requests with `intersections:true` in body.
To do s, I wanted to figure out how isochrone intersections work and what will be returned, as to be able to check for correct returns.

---
#### Here's where I got
nothing - isochrone intersections aren't documented. In fact, Isochrone responses aren't documented at all, as far as I could

[2021-03-26 09:25] elpaso opened #881 "Missing documentation about population data setup with Docker"
I'll see if I find the time to contribute that.

for now, quick notes:

### Prepare your data

Source: https://data.jrc.ec.europa.eu/dataset/jrc-ghsl-ghs_pop_gpw4_globe_r2015a

### Crop your raster using a mask if you don't need the whole world

I am using a shapefile with the USA boundaries in EPSG:54009  `usa_54009.shp` to clip the raster:

[code]

### Import into postgis
I am using the target D

[2021-03-26 09:29] elpaso opened #882 "API documentation about isochrones `range` is wrong"
See: https://openrouteservice.org/dev/#/api-docs/v2/isochrones/{profile}/post

Documentation for "range" sais:

I've found out that it is not correct: the ranges array is not related with the number of locations but it is one of the two mutually exclusive ways to specify ranges.

### option 1: use a single `range` + `interval`

The `interval` is used as a denominator to generate the intermediate r

[2021-03-26 09:31] nilsnolde commented on #881
Yep, that's almost exactly how we set it up back in the days. Only I think I used a tile size of 50 x 50, I think 1024 x 1024 could be a little inefficient for a spatial index. I think you're much more experienced with raster (distribution) though, so what's your take @elpaso ? I didn't perf test it I think, was more a gut feeling back then.

[2021-03-26 09:44] elpaso commented on #881
@nilsnolde I can't say I thought much about it :smile: I just wanted to reduce the rows in my DB. Maybe something in the middle like 256 would work.

[2021-03-28 06:22] joshinils commented on #467
ah, well i too just noticed this: [example](https://maps.openrouteservice.org/#/directions/NSG%20Hofwiesenteiche,Germany/B%2065,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,78,0,232,0,96,25,148,252,3,102,32,86,0,57,78,58,210,2,96,6,134,151,9,102,129,25,40,14,199,69,175,82,3,122,119,192,27,136,177,98,0,88,230,46,47,215,128,249,228,57,113,239,134,167,22,42,234,11,1

[2021-03-29 14:26] ManDay commented on #868
@rabidllama I meant this as a honest bug report, not as a complaint or out of concern for my particular changeset. Is there already a bug which tracks the "issue" which you are referring to?

[2021-03-29 18:44] Jakkajakka opened #886 "Route calculation is not OK"
Found this info: "Please note that openrouteservice uses a forked and edited version of graphhopper 0.13
The route calculation is not the same as in graphhopper
example ORS use a highway that is not allowed to use it.
==================== Kloosterhoek is only access destination
On: Kloosterhoek
call_missed Turn right onto Kloosterhoek
Distance: 1.0 km
access_time 1 min 47 s
======================

[2021-03-30 09:00] #873 closed, assigned to koebi

[2021-03-31 05:52] #762 closed, assigned to takb

[2021-03-31 08:33] subhani-ali opened #888 "How to draw polyline using hundreds of waypoints (may be more than 300) swift 5"
`Basically, I have searched a lot but mostly answer are for javaScrip and I want some code example in swift and according to google we can not use more than 25 way points in a single request`.
`I already have seen seethe link blow.`.
[https://stackoverflow.com/questions/22038388/google-map-direction-services-waypoints-more-than-50](url).
[https://developers.google.com/maps/documentation/javascript

[2021-03-31 09:16] #886 closed, assigned to MichaelsJP

[2021-03-31 09:28] MichaelsJP commented on #888
@subhani-ali Thank you for your issue submission.

We use issues to, well, fix “issues” with the code and improve the code basis. If you have questions regarding the use of OpenRouteService or you need coding ideas, please refer to [https://ask.openrouteservice.org](https://ask.openrouteservice.org).

As a friendly reminder, **this is not Google Maps but OpenRouteService** available at [https://ma

[2021-03-31 09:28] #888 closed, assigned to MichaelsJP

[2021-03-31 09:34] MichaelsJP commented on #886
@Jakkajakka Thank you for your issue submission.

**Please use the issue template, presented when you open a new issue.** It's there for a reason. This way we can make sure to easily transfer your problem with ORS into a technical perspective we can actually use to enhance openrouteservice.

Feel free to edit/reopen this issue properly or open a new one.

[2021-03-31 10:54] pbnoxious opened #890 "access=no ignored for bike routing"
#### Here's what I did
I asked for a bike route to a place not reachable by bike: [link](https://maps.openrouteservice.org/#/directions/Forchheim%20-%20Unteres%20Wiesenttal,Germany/Walpurgiskapelle,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,70,124,3,167,192,22,1,56,3,96,3,128,86,1,153,168,9,154,211,232,1,137,128,104,42,32,118,38,165,75,183,45,67,165,124,245,68,

[2021-04-01 06:26] radu-jakab commented on #817
Hello, are there any updates or workarounds for this issue?
We are running into this as well. Other profiles work fine, bu cycling-regular fails with even small sets.

thanks!

[2021-04-06 11:47] teyhouse opened #893 "Improvement of agricultural routes"
**Here's what I did:**
https://ask.openrouteservice.org/t/navigation-for-agricultural/2660

https://classic-maps.openrouteservice.org/directions?n1=50.470849&n2=9.712837&n3=15&a=50.471175,9.711618,50.51916,9.681722&b=4d&c=0&k1=en-US&k2=km

**Here's what I got:**
Wrong route / not reflecting the agricultural-restrictions on certain roads (like in the example above).

**Here's what I was expecting:*

[2021-04-07 07:49] rabidllama commented on #868
@ManDay no worries, it's good that you reported it as it was a problem with the auto importing process. I have updated the hiking profile with new graphs and now it works as expected

[2021-04-07 07:49] #868 closed, assigned to rabidllama, takb

[2021-04-07 08:36] aoles commented on #893
Thanks for the suggestion!

**IMPLEMENTATION NOTE:** highways tagged with `motorroad=yes` should probably be blocked by setting appropriate access flags in [HeavyVehicleGraphStorageBuilder](https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/storages/builders/HeavyVehicleGraphStorageBuilder.java). Same applies to po

[2021-04-08 12:55] masterofnoroad opened #895 "Handling complex surface tagging like cycleway:surface=asphalt"
If you are bicycle routing and the main surface is cobblestone, but its asphalt shared lane for bicycle. Like road here:

https://www.mapillary.com/map/im/XvFKSELOowmz6V0XKlXZHE

is tagged with:
cycleway:surface=asphalt

https://www.openstreetmap.org/way/518516528#map=16/53.8780/14.4548

but unfortunately openrouteservice shows only cobblestones

https://classic-maps.openrouteservice.org/direction

[2021-04-08 13:08] koebi commented on #895
This is not an issue with the old (or new) client, but rather with the openrouteservice itself. As such, I transferred it over :)

[2021-04-08 19:45] matkoniecz commented on #895
See https://wiki.openstreetmap.org/wiki/Key:cycleway:surface for documentation, it has some noticeable use.

It may also matter on ways like this:

![300px-Witosa_bike_2](https://user-images.githubusercontent.com/899988/114087070-b3521100-98b3-11eb-812a-069e7e9438ad.jpg)

tagged as

    highway=path
    segregated=yes
    foot=designated
    bicycle=designated
    surface=paved
    cycleway:surfac

[2021-04-10 08:46] suknuk opened #897 "Calculated route ignoring "only straight ahead" property"
#### Here's what I did
Planning a route using ORS
https://maps.openrouteservice.org/#/directions/E40,Belgien/Avenue%20Chazal%20-%20Chazallaan,Belgien/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,22,0,233,240,1,128,14,18,4,224,9,159,74,200,29,129,155,232,6,128,86,19,11,61,129,24,73,32,25,145,187,106,131,168,3,100,30,192,55,17,97,149,242,240,229,199,187,117,12,66,177,1,0,3

[2021-04-12 10:17] aoles commented on #897
Thanks for reaching out! Turn restrictions are currently not respected unless there are additional parameters such as `avoid_features=ferries` set in the query. This is so because the default when there are no options set  is to use the fastest CH routing algorithm which does not support turn restriction. As soon as any route filters are activated the backed switches to slower algorithm which supp

[2021-04-12 10:17] #897 closed, assigned to nobody

[2021-04-12 11:47] stefanocudini opened #898 "builder only container"
I am trying to build a container that only deals with the construction of the graph
after which the service should go to stop returning a zero if the process was successful

I was thinking of modifying the docker-entrypoint.sh startup script by mounting a modified script in the cointainer

would it be the right way?

or everything is solved with some environment variable?

[2021-04-12 12:37] rabidllama opened #899 "Warnings for closed output stream in logs"
#### Here's what I did
Built a container and made requests whilst using production level logging. All requests made result in a lengthy output to the logs.

---
#### Here's what I got
Warnings are being logged as apparently  the response stream has already been closed. This does not show in debug level debugging as the springframework loglevel there is set to error, whereas in the production it is

[2021-04-12 15:15] HendrikLeuschner commented on #844
Sorry for the long wait. I am taking a look at it now.

[2021-04-12 15:27] HendrikLeuschner commented on #844
I cannot reproduce the issue, neither locally nor via https://api.openrouteservice.org/v2/matrix/foot-walking.
Values are returned just fine. Could you try and see whether the issue persists for you?
Here's the returned data:
https://gist.github.com/HendrikLeuschner/0ddea0c914cf53e181aeab6a856467a6

[2021-04-12 16:06] Marcoshsc commented on #844
For some reason the api is now returning the correct values. Maybe there was some internal error with the old api version, that was fixed with the further updates. I will continue using the endpoint, and if the issue shows up again I will open another issue. Thank you very much for the help. Best regards.

[2021-04-12 16:06] #844 closed, assigned to HendrikLeuschner

[2021-04-13 13:59] #676 closed, assigned to takb

[2021-04-13 14:48] koebi opened #901 "Add translations from old translation file"
Once upon a time there was a translations file you-know-where where client and backend translations lived happily in a giant spreadsheet. Then came the API redesign and a new client, and the old translation file was deprecated.
This did not matter to most of the translations, but some were sad because they had not yet been integrated into the actual code:

- [x] norwegian
- [x] finnish - started i

[2021-04-14 10:03] rabidllama commented on #898
Hi @stefanocudini

it would be better to put this in our ask forum (https://ask.openrouteservice.org) as it is a question rather than a feature request/bug.

[2021-04-14 10:03] #898 closed, assigned to nobody

[2021-04-14 14:03] takb commented on #806
The app.config parameter causing the discrepancy is `use_acceleration`, which adds a different heuristic to estimate the travel speed for each edge.

As for the discussion regarding consideration of the elevation / steepness which is a different issue entirely, we still haven't had the manpower to address it. If anyone wants to tackle the problem, contributions are welcome...

[2021-04-14 14:15] koebi opened #904 "Specify isochrone `range` separately for each location"
This results from the original documentation of the `range` parameter mentioned in #882.

Currently isochrone endpoint supports multiple locations, but will apply the same range(s) to all of them.
It might be useful to be able to specify ranges for each location separately.

Possible implementations are
1. the `range` parameter accepts an array of arrays of range values if multiple locations are g

[2021-04-15 13:54] kgrimsby opened #905 "java.lang.IllegalArgumentException: from and to edge cannot be NO_EDGE"
Problem deploying osm.pbf-files to ors in docker/kubernetes

#### Here's what I did
Deployed docker image on kubernetes using both latest and v6.4.1 tag.
Provided norway-latest.osm.pbf and phillippines-latest.osm.pbf from Geofabrik.

---
#### Here's what I got
java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.IllegalArgumentExce

[2021-04-15 14:03] aoles commented on #905
Thanks for reporting this! We have observed similar failures with the recent releases and we are currently investigating the issue. However, so far we had no luck in triggering the problem on OSM datasets smaller than planet, so we really appreciate your feedback. Would you mind providing the contents of your app.config file, this would help us reproducing and debugging the problem. Cheers!

[2021-04-15 14:16] kgrimsby commented on #905
@aoles I've also experienced another error, seems a bit random which error I get. The other I can't recall completely, but something about "-1 index is out of bounds of length xx".

I've attached my app.config.

app.config
---
[code]

[2021-04-15 14:26] aoles commented on #905
Thank's a lot for getting back to me so quickly! Is Philippines the smallest OSM dataset which gives you the error, or were you able to further narrow it down?

Makes total sense to me, this is what we observe too.