[2014-03-21 14:21] carinaEichler opened #26 "Service timeout messages"
Include service timeout messages to inform the user about unavailability of the service.
See TODOs in control.js and example for these messages for the routing service call.

[2014-06-05 07:55] enricosteiger opened #27 "no select of searched POI results through map"
on click selection of Adress search results through map, currently only thorugh result list

[2014-06-05 08:12] enricosteiger opened #34 "acessbility analysis service polygon geometries not correct"
might be a backend issue though

[2014-06-05 08:33] enricosteiger opened #37 "[Main GUI]: make GPX Tracks directly downloadable as .gpx"

[2014-07-08 10:52] enricosteiger opened #40 "[AAS] Client doenst support multipolygons inner/outer polygons + user feedback"
see old www.openrouteservice.org
http://koenigstuhl.geog.uni-heidelberg.de/publications/bonn/CORP07-AAS-pn-az-final.pdf

[2014-11-14 13:26] enricosteiger opened #50 "Directory Service POI Search along a route wrong"
JS Wrapper has issues, resolving buffer and bouding polygon
potential bug source: Event Handler
REST request:
<?xml version="1.0" encoding="UTF-8" ?>
<xls:XLS xmlns:xls="http://www.opengis.net/xls" xsi:schemaLocation="http://www.opengis.net/xls http://schemas.opengis.net/ols/1.1.0/DirectoryService.xsd" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:gml="http://www.opengis.net/gml" xmlns:xlin

[2014-12-04 10:08] Rungee opened #53 "Two similar requests to the server for route calculation."
The client sends two similar requests. The problem lies in two calls of the function handleRoutePresent();
This occurs when the following events are fired:
1. function handleWaypointChanged(waypointStringList)  - a marker has been moved
2. function reverseGeocodeSuccess(addressResult, wpType, wpIndex, featureId, addWaypointAt)

[2014-12-05 08:52] Rungee opened #55 "[MAIN GUI] OpenLS qeuries as short link"
We could add a support for short links which have their own benefits.

A raw link:
http://129.206.228.76/ors/?layers=B000FFFTTTTTTTTT&routeOpt=Fastest&motorways=false&tollways=false&waypoints=938684.14391974%2C6364491.2047073%2C940349.0379135907%2C6363841.489978007&avoidAreas=

A short link:
http://bit.ly/1ylNJ7a

[2014-12-15 08:07] cheshire-mouse opened #56 "No menu on right click (Firefox ESR 31.1, win7x64)"

[2015-01-10 15:47] enricosteiger commented on #49
Geocoder has moved to new internal adress but will be redirected to http://openls.geog.uni-heidelberg.de/osm/eu/geocoding

[2015-01-10 16:13] enricosteiger opened #58 "Route Instruction Icons are missing"
when route is calculated route icons (gifs) are not shown

[2015-01-10 16:15] enricosteiger opened #59 "Bike/Pedestrian no Route calculation"
When other Route preferences are selected no Route for Bikes/Pedestrian is calculated

[2015-02-19 21:37] #53 closed

[2015-02-21 18:03] oliverroick commented on #57
Works fine in Chrome/Mac. Can somebody reproduce this on other machines?

[2015-02-21 18:05] oliverroick commented on #58
Works fine in Chrome/Mac. Can somebody reproduce this on other machines?

[2015-02-21 18:05] #58 closed

[2015-02-21 18:16] oliverroick opened #62 "[POI Search] server throws exception internal server error"
Occurred when searching for cinema along a route

Request payload was:

[code]

[2015-02-21 18:29] oliverroick commented on #39
Related to #62. The message seems to be displayed only when there are problems that the client cannot identify. This messages is used for POI search, address search Waypoint search

[2015-02-21 18:52] oliverroick commented on #32
I tried various scenarios, wasn't able to reproduce. Can you please clarify and provide more info on the problem?

[2015-02-21 19:38] oliverroick commented on #38
Don't really know what to do here, please clarify

[2015-02-21 20:08] #59 closed

[2015-02-22 15:37] oliverroick commented on #35
Can you please clarify the problem, I don't know what exactly the problem is

[2015-02-23 11:11] enricosteiger commented on #34
fixed by mrunge

[2015-02-23 11:11] #34 closed

[2015-02-23 11:15] enricosteiger commented on #35
when searching start/via/end point gives multiple results and one selects one of the result POI the map doesn't zoom to this point, but if only one result is find map zooms to this point straight away (see screenhot)
![unbenannt](https://cloud.githubusercontent.com/assets/7802811/6326802/b1d449a2-bb55-11e4-9ccf-dd7bdf54c744.png)

[2015-02-23 14:51] enricosteiger commented on #38
after POI Search the selected POI cannot be moved/dragged from the map to another place...

![unbenannt1](https://cloud.githubusercontent.com/assets/7802811/6329786/bd247304-bb73-11e4-8d1e-d1017e88571f.png)

[2015-02-23 15:14] enricosteiger commented on #63
currently not supported within the ORS backend

[2015-02-23 15:19] enricosteiger commented on #65
BicycleMTB
BicycleRacer
BicycleSafety
BicycleRoute
Pedestrian

currently not supported (client doesn't select these rooute profiles and queries to openls interface)

[2015-02-23 19:06] enricosteiger commented on #57
this issue persists: tested on chrome/ie/firefox windows7
![unbenannt](https://cloud.githubusercontent.com/assets/7802811/6334827/63229268-bb97-11e4-8e80-a639d14e5446.png)

[2015-02-23 19:52] enricosteiger commented on #62
backend problem since directory service has currently issues

[2015-02-23 19:56] enricosteiger commented on #40
mrylov:
As you might know, several extensions are introduced in the new back-end. One of these extensions are two properties in AccessibilityPreferenceType such as Method and Interval (see xml schema below). The Method property is a name of an algorithm used to compute isochrone maps. The Interval property defines an interval between isochrones in minutes. By default both of parameters are null. I

[2015-02-23 19:57] enricosteiger commented on #60
merged with other issue

[2015-02-23 19:59] enricosteiger commented on #56
please specify bug with further description. No menu when  selecting POI on map?

[2015-02-23 20:11] cheshire-mouse commented on #56
it was about choosing start and finish points for routing
but i haven't used it since so i can't give you any useful information

[2015-02-23 20:29] oliverroick commented on #57
Only for short routes, seconds were cut off from time.

[2015-02-23 21:10] enricosteiger commented on #38
ideally this POI should be able to use as a start end point for routing (currently you need to click again into map to start routing)

[2015-02-24 10:13] enricosteiger opened #66 "[POI Search] After POI Search when no search results returned then with mouse click on "0 Ergebnisse gefunden" zoom to 0,0 coordinates"

[2015-02-24 11:56] Rungee opened #67 "[MAPS] Use DNS for OpenMapSurfer tiles"
One needs to substitute the following url
namespaces.layerMapSurfer = 'http://129.206.74.245:8001/tms_r.ashx?x=${x}&y=${y}&z=${z}';
for
namespaces.layerMapSurfer = 'http://korona.geog.uni-heidelberg.de/tiles/roads/x=${x}&y=${y}&z=${z}';

[2015-02-26 15:00] #62 closed

[2015-02-26 15:12] enricosteiger commented on #67
namespaces.js updated

[2015-02-26 15:12] #67 closed

[2015-02-26 17:46] G4udy commented on #56
ESR 31.5 has the same problem. Middle click and right click doesnt work.

[2015-03-03 15:21] enricosteiger commented on #36
support multiple route error code on backend side

[2015-03-05 08:42] Rungee opened #71 "[MAIN GUI] Extend avoid features with two additional options: Ferry and Unpavedroads"
The current specification of AvoidFeatureType has two additional options such as Ferry and Unpavedroads.
See below a piece of RouteService.xsd scheme.

	<simpleType name="AvoidFeatureType">
		<annotation>
			<documentation>Enumeration of types of features to avoid when determining the route.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="Highway">
				<annotat

[2015-03-05 08:52] Rungee opened #72 "[MAIN GUI] Add new profile for trucks."
This new profile introduces an extension of a car profile by considering restrictions such as maxweight, maxwidth, maxheight and maxlength.

In order to support these four parameters, the xls:DetermineRouteRequest has been extended using a new element xls:ExtendedRoutePreference.

	<complexType name="ExtendedRoutePreferenceType">
		<annotation>
			<documentation>Extended route preference to integr

[2015-03-05 08:57] enricosteiger commented on #70
This is linked to issue 65: https://github.com/GIScience/openrouteservice/issues/65

[2015-03-05 09:08] Rungee opened #73 "[MAIN GUI] Output graph information such as coverage and update time for each individual profile."
One can get status of all supported profiles in json format using the following command:
http://openls.geog.uni-heidelberg.de/osm/routing?info

[code]

[2015-03-07 11:24] #66 closed

[2015-03-07 13:42] oliverroick commented on #36
Moved this to 2.2, waiting for backend implementation

[2015-03-10 09:32] michaelzangl opened #76 "Allow draging of start markers"
The current way of setting route point is not very intuitive to me.

I would suggest the following changes:
- Make the marker symbols on the left dragable to reorder them.
- If a user drags a marker on to the map, it will drop there (as if you drag a marker that is already on the map)
- Bind the search again function to double-clicking the marker text
- Pre-Fill the textbox when search again is do

[2015-03-11 13:57] #71 closed

[2015-03-12 09:32] Rungee opened #83 "[MAIN GUI] Popup menu has an extra empty space in FF 36.0.1"
![ors_contextmenu_emptyspace](https://cloud.githubusercontent.com/assets/1660719/6615290/dfdd88a4-c8a2-11e4-9ced-a687b3b989d1.png)

[2015-03-12 09:34] Rungee opened #84 "[MAIN GUI] Highlight an element in popup menu when the mouse pointer is over it."

[2015-03-12 09:39] Rungee opened #85 "[MAIN GUI] Suppress all previous route callback events when a new route request has been sent."

[2015-03-12 09:46] Rungee opened #86 "[MAIN GUI] Make car routing options ergonomically more refined"
Something like on [here maps](https://www.here.com).

![ors_routeoptions](https://cloud.githubusercontent.com/assets/1660719/6615516/e1f3fd7e-c8a4-11e4-9052-d0bd13eba92d.png)

[2015-03-12 10:04] Rungee opened #87 "[MAIN GUI] Fix layout of attributions at the bottom of the map control."
Current layout:
![ors_attributionalignment](https://cloud.githubusercontent.com/assets/1660719/6615623/b43a2006-c8a5-11e4-91ba-e329cf7713c6.png)

Possible layout:
![ors_attributionalignmentto](https://cloud.githubusercontent.com/assets/1660719/6615798/627803da-c8a7-11e4-9231-5f40e77fe907.png)

[2015-03-12 10:08] Rungee opened #88 "[MAIN GUI] Add some transparency to route stroke."
This give us a possibility to read street names.

[2015-03-12 13:57] Rungee opened #90 "[AAS] Client doesn't send RoutePreference parameter."
The latest extension of AccessibilityService introduces new parameter RoutePreference (see below). This extension allows computing isochrone maps for any route profile.

[code]

[2015-03-12 14:55] enricosteiger commented on #28
change event handler from "drag marker" (always triggers geocoder) to "pin marker"
client still sends two routing requests with slightly different coordinates

[2015-03-15 17:39] #88 closed

[2015-03-18 16:49] enricosteiger opened #92 "[Main GUI]: Permalink when only Target selected switches to start"
1. User only selects Target adress
2. Click on generate permalink
3. When using the permalink target adress becomes start adress

[2015-03-20 08:55] zeeburg opened #93 "Date of routing data"
ORS used to publish a date of the routing information taken from Openstreetmap to calculate the route. I can't find this date any more. Could it be included again, somewhere?

[2015-03-22 11:22] joschi81 commented on #92
Thanks for reporting this, so I don't have to add this issue anymore. Would be great if this bug can be resolved, so I can remove the hint below the OpenRouteService link here: http://stadtkreation.de/kontakt.php?lang=en ;)

[2015-03-31 06:58] enricosteiger commented on #95
thanks a lot has been added to the project and will be available with the next ors update

[2015-03-31 07:03] enricosteiger opened #97 "[MainGUI] Route results check user interaction bteween map and ui route list"
1. when a user only retrieves one geocode result then a mouse list select is necessary again to start the route computation (no very intuitevely)

[2015-04-14 13:06] TimMcCauley commented on #72
updated to bugfixes 2.2

[2015-04-14 13:06] #72 closed

[2015-04-15 08:48] Rungee opened #99 "[MainGUI] Profile switcher has wrong button states after parsing a permalink."
http://openrouteservice.org/?pos=48.38747439395741%2C54.31333974272545&zoom=16&layer=B000FTTTTTTTTTT&routeOpt=Pedestrian&avHigh=false&avToll=false&avArea=&wp=48.38722763072926%2C54.31216263154199%2C48.38750658046648%2C54.314791272284&lang=en&routeLang=en&distUnit=m&version=undefined&avUnpaved=false&avFerry=false

Pedestrian button is pressed and selected, but car button is highlighted. The current

[2015-04-15 14:50] #90 closed

[2015-04-16 07:33] TimMcCauley commented on #37
Fixed.

[2015-04-16 07:33] #37 closed

[2015-04-16 10:50] TimMcCauley opened #100 "Zoom Level of OpenMapSurfer not corresponding to other Map Layers"

[2015-04-16 10:50] TimMcCauley commented on #100
fixed.

[2015-04-16 11:39] TimMcCauley commented on #100
Fixed with workaround.

[2015-04-16 11:39] #100 closed

[2015-04-21 11:43] enricosteiger commented on #93
already adressed within issue https://github.com/GIScience/openrouteservice/issues/73

[2015-04-21 11:43] #93 closed

[2015-04-21 12:33] TimMcCauley commented on #99
fixed.

[2015-04-21 12:33] #99 closed

[2015-04-21 15:07] Inyaheyukan opened #102 "[Main GUI] embed turn restriction within extended ORS version"
Routing in car modus went wrong if there is a turn restriction. For example: no_left_turn.
Here you can see the restrictions: http://map.comlu.com/?zoom=19&lat=52.536104&lon=13.473516&layer=Grayscale&overlays=TTT
Try to turn left with openrouteservice: http://www.openrouteservice.org/?zoom=16&lat=52.53628&lon=13.47351&layers=B000FTTTTTTTTTT

[2015-04-23 09:26] TimMcCauley commented on #92
fixed.

[2015-04-23 09:26] #92 closed

[2015-04-23 09:29] TimMcCauley commented on #97
fixed.

[2015-04-23 10:38] enricosteiger opened #104 "[Main GUI] Readd Start/Via/End Point after route selection"

[2015-04-24 07:28] TimMcCauley commented on #81
fixed.

[2015-04-24 10:39] TimMcCauley commented on #104
fixed.

[2015-04-24 10:39] #104 closed

[2015-04-24 13:18] TimMcCauley commented on #73
Insert next to Options button as Popup, grey out rest

[2015-04-24 13:37] enricosteiger commented on #102
already supported by backend

[2015-04-29 06:16] Rungee commented on #102
This features has been implemented in dev version. It is not yet available for the service used by openrouteservice.org. At the moment we are still testing it. It will be available for users as soon as we will have finished running our tests.

[2015-04-29 11:03] TimMcCauley commented on #48
fixed.

[2015-04-29 11:38] TimMcCauley commented on #109
fixed.

[2015-04-29 12:56] TimMcCauley commented on #85
fixed.

[2015-04-29 12:56] #85 closed

[2015-05-08 11:08] Rungee opened #115 "New subtype for delivery services in HeavyVehicle profile."
[code]

[2015-05-08 13:41] TimMcCauley commented on #73
added.

[2015-05-08 13:41] #73 closed

[2015-05-08 13:46] TimMcCauley commented on #87
fixed.

[2015-05-08 13:46] #87 closed

[2015-05-08 13:47] TimMcCauley commented on #51
circles removed, closed.

[2015-05-08 13:48] TimMcCauley commented on #96
Won't happen in this version, possibly with update to OL 3 or Leaflet.

[2015-05-08 13:50] TimMcCauley commented on #54
closed.

[2015-05-08 14:01] TimMcCauley commented on #83
fixed.

[2015-05-08 14:01] #83 closed

[2015-05-08 14:04] TimMcCauley commented on #55
Max is implementing servlet via backend.

[2015-05-08 16:02] TimMcCauley commented on #84
Added.

[2015-05-08 16:02] #84 closed

[2015-05-09 12:34] TimMcCauley commented on #115
added.

[2015-05-09 12:34] #115 closed

[2015-05-09 18:01] TimMcCauley commented on #86
Revamped the entire menu. Closed.

[2015-05-09 18:01] #86 closed

[2015-05-10 10:26] NohWayJose opened #116 "South Entrance to IBM Hursley broken"
The south entrance to IBM Hursley, UK does not appear to allow access from the A3090. I entered a route from my home, in Southampton, to the IBM clubhouse in the SW part of Hursley Park Road but despite adding waypoints to try to force the route, the response insisted on entry by the North entrance to the site.

See the end part of this route...
http://openrouteservice.org/?pos=-1.3943844938963403

[2015-05-10 18:54] TimMcCauley commented on #116
Does this work on http://project-osrm.org/ or on http://www.openstreetmap.org/directions#map=5/51.522/-0.088 ?

[2015-05-10 20:23] NohWayJose commented on #116
Haven't tried all but OSMAnd on my S2 does.
On 10 May 2015 19:54, "TimMcCauley" <notifications@github.com> wrote:

[2015-05-11 10:26] Rungee commented on #116
You are right. The access to IBM clubhouse from the South using this [road](http://www.openstreetmap.org/way/155902505#map=17/51.02353/-1.39787&layers=D)  is forbidden. The corresponding way has a tag access=private, which restricts any bike-related routing.

As far as I can see from a map, there is no other way for a bike to reach clubhouse from the South.

[2015-05-11 15:40] TimMcCauley commented on #114
added.

[2015-05-11 15:41] TimMcCauley commented on #76
This will be added in the future when we update the frontend to new libraries, stay tuned.

[2015-05-12 09:04] Rungee opened #117 "Redesign the instruction list"
See below an example of a possible design.
Note that we also need to think of how to include additional information in instructions such as TMC warnings.

![instructions](https://cloud.githubusercontent.com/assets/1660719/7583527/7a1961fe-f896-11e4-9786-ee374867aa69.png)

[2015-05-12 09:10] Rungee opened #118 "Add avoid features to bike profiles."
The list of supported features is:

[code]

[2015-05-13 16:05] #116 closed

[2015-05-15 12:14] TimMcCauley commented on #118
Closed.

[2015-05-15 12:14] #118 closed

[2015-05-15 12:37] TimMcCauley commented on #117
redesigned.

[2015-05-15 12:37] #117 closed

[2015-05-18 09:44] enricosteiger commented on #30
fixed within 2.1 bugfixes

[2015-05-18 22:41] socketpair opened #121 "highway=crossings + pedestrian route"
`highway=crossing` should have much more priority over general junction for pedestrian route.  i.e.

highway=crossing: 100
highway=traffic_lights: 50
\[just road intersection\]: 0

http://openrouteservice.org/?pos=60.65448794809235%2C56.86254647485451&zoom=17&layer=B000FTTTTTTTTTT&routeOpt=Pedestrian&avHigh=false&avToll=false&avArea=&wp=60.647891077246385%2C56.86463843377325%2C60.65731398836079%2C

[2015-05-19 03:50] socketpair opened #122 "barrier=lift_gate treated as impassable"
so, roads intersected with some railways are not usable in openrouteservice, as opposed to osrm.

[2015-05-19 06:29] Rungee commented on #122
Could you please provide a link to an OSM object with barrier=lift_gate or a permalink for your route?

[2015-05-19 07:35] socketpair commented on #122
https://www.openstreetmap.org/node/3492985639
and
https://www.openstreetmap.org/node/3492985640
...

Cannot make route through https://www.openstreetmap.org/way/342276419

[2015-05-19 23:00] TimMcCauley commented on #18
added as new feature.

[2015-05-19 23:01] TimMcCauley commented on #55
Added with latest update.

[2015-05-19 23:01] #55 closed

[2015-05-19 23:02] TimMcCauley commented on #40
Backend now supports this feature. Client supports Multipolygons. Closed with newest update.

[2015-05-19 23:02] #40 closed

[2015-05-19 23:14] TimMcCauley commented on #123
Fixed.

[2015-05-20 09:13] enricosteiger opened #124 "[Main GUI]: GPX Track Upload"
1. gpx track uploaded
2. route calculation from gpx file
3. when changing start/end/via points gpx track can not be removed with click on "remove"

[2015-05-20 09:28] TimMcCauley commented on #125
Will be fixed with overhaul of client side waypoint behaviour in next update.

[2015-05-20 13:19] TimMcCauley commented on #124
Fixed.

[2015-05-20 13:19] #124 closed

[2015-05-21 09:18] TimMcCauley commented on #56
Sorry, we can't test the ORS on all browser versions as we are only 3 people working on it. Please update to the newest FF for which it works. Thanks.

[2015-05-21 09:18] #56 closed

[2015-05-21 09:19] TimMcCauley commented on #25
Will happen with redesign of client.

[2015-05-21 11:36] Rungee opened #130 "Context menu is beyond the map view."
When a mouse click is near the margin of the map, the context menu is being shown up beyond the map view.

![ors_contextmenu_outsidemapview](https://cloud.githubusercontent.com/assets/1660719/7747783/36d44042-ffbe-11e4-8481-2bc7164d5511.png)

[2015-05-23 08:08] Rungee commented on #121
This issue has been resolved in the latest update. Please close the ticket.

[2015-05-23 08:20] Rungee commented on #122
Thank you for the links.
The issue was successfully resolved.

[2015-05-23 15:09] socketpair commented on #122
Bug still reproduced on main website

[2015-05-26 08:46] Rungee opened #132 "Client sends avoid tollway for bicycle."

[2015-05-27 12:35] TimMcCauley commented on #132
resolved with latest commit.

[2015-05-27 12:35] #132 closed

[2015-05-27 12:36] TimMcCauley commented on #131
Backend error, fixed.

[2015-06-01 21:02] TimMcCauley commented on #135
Hi Peter, have you tried the function "Permalink" in the bottom right corner of the map? You can either copy the shortlink or open the permalink in a new window and forward that address to other people. Please let me know if this is what you are looking for.

[2015-06-01 23:11] peterdey commented on #135
I'm terribly sorry -- I completely missed it!

[2015-06-04 19:47] #121 closed

[2015-06-05 04:15] socketpair commented on #121
I have removed highway=footway in the place where I marked as "no highway=crossing" since there is no footway in that place really. You are clsed this pull request, but no commits on that subject was merged. I think this is wrong.

[2015-06-05 05:52] Rungee opened #140 "MaxSpeed support."
The latest build available on the test instance, has a new feature in ExtendedRoutePreference called MaxSpeed. This parameter defines the maximum speed of a vehicle (measured in km/h) which is applied when, for example, the default speed of a highway is greater. Note, this parameter is considered when WeightingMethod set to Fastest.

[code]

[2015-06-07 13:36] TimMcCauley opened #143 "Permalink Waypoint Order Misbehaves"
Steps to reproduce:

1. Open http://openrouteservice.org/
2. Put start point somewhere
3. Put Stop point somewhere
4. Put waypoint somewhere
5. Open Route extras:, click on the Permalink button

Expacted:
Route one new tab and prev tab is teh same

In fact Stop and Waypoint are mixed.

[2015-06-07 14:23] #143 closed

[2015-06-07 19:25] #130 closed

[2015-06-08 06:37] Rungee opened #147 "Distance marks"
Would be such feature interesting and helpful?

![ors_distancemarks](https://cloud.githubusercontent.com/assets/1660719/8029103/545d3b38-0db9-11e5-8f4e-a1de0428e31e.png)

[2015-06-09 13:48] Rungee opened #149 "New bike profile Cycle Tour"
<xls:RoutePreference>BicycleTour</xls:RoutePreference>

[2015-06-10 19:24] TimMcCauley commented on #151
Menu is closed when map is clicked on. Won't close when map is panned due to new behaviour of adding it on the outskirts of the map.

[2015-06-10 19:25] TimMcCauley commented on #119
not considering this until update to OL3 or leaflet.

[2015-06-10 19:27] TimMcCauley commented on #147
Will be added with update to Leaflet/OL3

[2015-06-10 20:04] TimMcCauley commented on #142
Stopovers for now are added as "Stopover 1, Stopover 2" etc.

[2015-06-10 20:13] TimMcCauley commented on #136
fixed.

[2015-06-10 20:58] TimMcCauley commented on #149
Added.

[2015-06-10 20:58] #149 closed

[2015-06-10 21:15] TimMcCauley commented on #154
This will be started soon.

[2015-06-11 07:44] TimMcCauley commented on #102
Fixed in dev version, will soon be live!

[2015-06-11 07:44] #102 closed

[2015-06-11 07:55] TimMcCauley commented on #152
ActualDistance isn't returned if both are the same length.

[2015-06-11 09:01] TimMcCauley commented on #142
![img_11062015_110041](https://cloud.githubusercontent.com/assets/10322094/8103492/30d0bdee-1029-11e5-9dc5-834af00abf63.png)

[2015-06-12 13:08] socketpair opened #157 "Turn restriction does not work!"
http://www.openrouteservice.org/?pos=60.6372720875453,56.89212036894405&zoom=17&layer=B000FTTTTTTTTTT&routeOpt=Car&avHigh=false&avToll=false&avArea=&wp=60.63425135545021,56.89077373047761,60.63426801344952,56.893014050102&lang=en&routeLang=en&distUnit=m&version=undefined&avUnpaved=false&avFerry=false&value_length=15&value_height=4&value_weight=7&value_width=4&surface=cobblestone:flattened&incline=

[2015-06-15 06:43] TimMcCauley commented on #158
Hello, which browser?

[2015-06-15 09:18] Rungee opened #160 "Optimize reverse geocoding."
When a marker is put or moved to a new location, the client sends a request to the server. Sometimes it takes a while before the client receives a response from the server. Hence, a route can not be sent and calculated before the client has the addresses for all start-via-end points.

It would be nice to change this function a little bit. I would suggest to decouple the reverse geocoding and the r

[2015-06-16 14:17] abrik commented on #158
It's Opera 12.17, thanks.

[2015-06-17 08:27] TimMcCauley commented on #158
Hi Abrik,

we don't "officially" support opera. Due to the small amount of people working on this open source project, we only test on Chrome, Safari and Firefox.

Where does this error occur exactly? Can you upload a screenshot? Thanks.

[2015-06-19 07:35] enricosteiger commented on #165
Hey Riccardo, thanks for pointing this out, I will update the ORS wiki asap. However since we added lots of new route profiles and additonal parameters I would suggest to always use our RESTful Web OpenLS Services. A latest request schema can be found here:
https://github.com/GIScience/openrouteservice/blob/bugfixes-2.2/html/tc_rs.html

Alternatively you can also use a Browser debugging tool (e.g.

[2015-06-19 07:41] riccardoklinger commented on #165
Hi Enrico ,,

ATM I am making a direct call against http://openls.geog.uni-heidelberg.de/testing2015/geocoding with a designed request document/xls:

    url = "http://openls.geog.uni-heidelberg.de/testing2015/geocoding"
    text='<?xml version="1.0" encoding="UTF-8"?><xls:XLS xmlns:xls="http://www.opengis.net/xls" xmlns:sch="http://www.ascc.net/xml/schematron" xmlns:gml="http://www.opengis.net/gm

[2015-06-19 11:29] riccardoklinger opened #166 "No differentiation in routing API between shortest and fastest path"
Tried with these both URLs:
http://openls.geog.uni-heidelberg.de/testing2015/route?Start=13.3888599 52.5170365&End=13.0904622 54.3159851&Via=&lang=de&distunit=KM&routepref=Fastest&avoidAreas=&useTMC=false&noMotorways=false&noTollways=false&instructions=false

and shortest:
http://openls.geog.uni-heidelberg.de/testing2015/route?Start=13.3888599 52.5170365&End=13.0904622 54.3159851&Via=&lang=de&dist

[2015-06-19 11:45] riccardoklinger commented on #166
If I am using the POST method against http://openls.geog.uni-heidelberg.de/testing2015/routing with different weightingmethods in the request content it is working

[2015-06-21 10:33] riccardoklinger opened #169 "Enhance xml response from accessibility analysis"
ATM I am calling the accessibility API with recursive grid and with 10min / 2min intervall. Works great! But is there any possibility to identify which polygon represets which time? The response seems not to have such an indicator and I get 10 polygons but cant differentiate whether a polygon represents the area of a 4min isochrone or 6min isochrone.

[2015-06-23 22:06] riccardoklinger commented on #169
Furthermore can you add an area element like you have length for routes? Otherwise I will calculate it in OSM route.

[2015-06-24 06:14] Rungee commented on #169
Thank you Riccardo.
Both requested enhancements are going to be implemented in the next release of the ORS backend.

[2015-06-26 14:24] Rungee commented on #169
The new schema for AccessibilityAnalysis will look like:

 <aas:AccessibilityGeometry>
        <aas:Isochrone time="360.0">
          <aas:IsochroneGeometry area="886359.55">
            <gml:Polygon srsName="EPSG:4326">
              <gml:exterior>
                <gml:LinearRing xsi:type="gml:LinearRingType">

[2015-06-26 14:40] TimMcCauley commented on #164
fixed.

[2015-06-28 21:30] TimMcCauley commented on #152
added.

[2015-06-28 21:31] TimMcCauley commented on #144
I'm still working on the callbacks for this; not that trivial.

[2015-06-28 21:31] TimMcCauley commented on #142
added.

[2015-06-30 12:36] TimMcCauley commented on #158
Closed as no correspondence.

[2015-06-30 12:40] TimMcCauley commented on #157
closed as ORS updated.

[2015-06-30 12:40] #157 closed

[2015-06-30 12:53] riccardoklinger commented on #46
Can we get information on why and how it was closed? Was this solved? Or rejected?

[2015-06-30 13:00] TimMcCauley commented on #46
This would be a nice to have but we haven't got the man power to add this functionality, currently. Do you have any really good use cases for this?

[2015-06-30 13:26] socketpair commented on #157
@TimMcCauley what did you mean? Does the bug really fixed?

[2015-06-30 13:30] TimMcCauley commented on #157
Yes, it is, it will go live with the next update.

[2015-06-30 14:01] Rungee commented on #122
Finally, we found a problem with the above-mentioned road segment.
In our routing engine, all objects of barrier=lift_gate type are impassible by default.
To make those barriers passable, you need to provide additional information such as access=yes, or motorcar=yes, etc.

[2015-06-30 14:08] socketpair commented on #122
Unfortunatelly, you are right!

http://wiki.openstreetmap.org/wiki/Key:barrier

[code]

[2015-06-30 14:08] #122 closed

[2015-06-30 14:11] socketpair commented on #122
but really, too many OSM barriers without that tag(s)....don't even know what to do...

[2015-07-04 12:43] TimMcCauley commented on #144
added this, please test.

[2015-07-04 12:43] TimMcCauley commented on #125
fixed.

[2015-07-04 20:52] TimMcCauley commented on #169
added.

[2015-07-04 20:52] #169 closed

[2015-07-04 21:00] TimMcCauley commented on #171
added.

[2015-07-05 11:48] riccardoklinger commented on #169
How can i check this? I am trying with http://openls.geog.uni-heidelberg.de/testing2015/analysis and I cannot see a change in the response with this example request:

	<?xml version="1.0" encoding="UTF-8" ?>
	<aas:AAS version="1.0" xmlns:aas="http://www.geoinform.fh-mainz.de/aas" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.geoinform.fh-mainz.de/aas">
		<aas

[2015-07-15 10:21] Rungee opened #179 "Feedback button"
A request from one of the users:

I think it would be a good idea to place a direct feedback link to openrouteservice@geog.uni-heidelberg.de in the page at least in the test enironment. Because most people are not willing to do more than one click to give feedback. I had to search the "staff" site of your institute to get your mail address.

[2015-07-16 16:25] enricosteiger commented on #179
has been added see https://github.com/GIScience/openrouteservice/commit/86707298fef067c0395c25a6fb7d952a86f74dcd

[2015-07-16 16:25] #179 closed

[2015-07-16 16:35] enricosteiger commented on #174
fixed see https://github.com/GIScience/openrouteservice/issues/180

[2015-07-26 09:49] TimMcCauley opened #187 "When start waypoint is removed no add endpoint possible"
When one removes the startpoint from the waypoint menu, it is impossible to add a new endpoint.

http://localhost/?pos=6.938858799999981,50.93764308131834&zoom=16&layer=B000FTTTTTTTTTT&routeOpt=Car&wp=6.943723568847702,50.9393186802011,6.933595547607463,50.93845330228404,6.934567265576115,50.939671320789&lang=en&routeLang=en&distUnit=m&surface=cobblestone:flattened&incline=6&slopedCurb=0.06&routeW

[2015-07-26 10:00] TimMcCauley commented on #178
closed.

[2015-07-26 10:00] TimMcCauley commented on #184
closed.

[2015-07-26 10:00] TimMcCauley commented on #160
please test.

[2015-07-26 10:02] TimMcCauley commented on #175
closed.

[2015-07-26 10:42] #160 closed

[2015-07-26 10:42] TimMcCauley commented on #185
Please elaborate.

[2015-07-26 10:44] TimMcCauley commented on #177
any pattern for this for reproduction?

[2015-07-26 19:29] TimMcCauley commented on #182
Could you please provide an example?

[2015-07-27 06:41] Rungee commented on #182
This issue belongs to the backend.

[2015-07-27 14:04] Rungee opened #188 "Add button to reverse the order of all way points."

[2015-07-28 20:44] TimMcCauley commented on #187
fixed.

[2015-07-28 20:44] #187 closed

[2015-08-01 21:15] TimMcCauley commented on #176
closed.

[2015-08-03 06:39] TimMcCauley commented on #194
Hi bittner, thanks for your feedback! We are fully aware about responsive layouts etc., the problem however is that we are only 1 1/2 people working on this project. We have these issues on the agenda for "future enhancements". Currently we are trying to make the desktop version as stable as possible; adding leaflet, changing to angular etc.

[2015-08-04 15:49] bittner commented on #194
Do you have a development or staging environment to test changes? I'll make a PR with some suggested adaptions. Please see if that works out for you.

[2015-08-16 12:21] TimMcCauley commented on #181
added.

[2015-08-17 17:48] AntiSol commented on #181
Hi, is this live on openrouteservice.org yet? If I plot a route from 128.049510, -17.346174 to 128.052600, -17.328805 I still get a 1400km route...?

[2015-08-18 08:51] TimMcCauley commented on #181
Hi AntiSol, unfortunately not yet. We are merging it into the live branch as soon as the backend ist ready.

[2015-08-18 08:52] riccardoklinger commented on #181
ATM the whole service seems down. ANyone know the reasons? Trying it using
http://openls.geog.uni-heidelberg.de/testing2015/routing&help

_______________________________

Geolicious GbR
Agentur für Geo-Kommunikation

Riccardo Klinger
Geschäftsführer

mobil: 0176 63437298
e-mail: riccardo.klinger@geolicious.de
web: www.geolicious.de

Geolicious GbR
c/o Daniel Kerkow
Binzstraße 48
13189 Berlin

Gese

[2015-08-18 09:03] AntiSol commented on #181
Hi Tim, No problem. Is there a way I can be notified once this does go live? should I star a different ticket or something?

[2015-08-18 09:13] TimMcCauley commented on #181
Riccardo, we are fixing it currently.
Dale, yes, as soon as anything is commited into the master branch, you can expect it to be live.

[2015-08-18 09:18] AntiSol commented on #181
thanks!

On 18/08/15 19:13, TimMcCauley wrote:

[2015-08-18 20:39] riccardoklinger opened #201 "openrouteservice.org does not allow shorter car distances for fastest connections"
I've choosen two points near each other and received this response:
[code]

[2015-08-23 15:13] TimMcCauley commented on #140
added.

[2015-08-23 15:13] #140 closed

[2015-08-23 15:15] TimMcCauley commented on #196
added.

[2015-08-26 08:59] TimMcCauley commented on #177
fixed..

[2015-08-27 20:54] TimMcCauley commented on #183
changed.

[2015-08-27 20:55] TimMcCauley commented on #201
should be running again.

[2015-08-27 20:55] #201 closed

[2015-08-30 19:50] TimMcCauley commented on #188
added.

[2015-08-30 19:50] #188 closed

[2015-08-31 21:04] TimMcCauley commented on #186
IE not supported in general.

[2015-09-01 14:22] enricosteiger commented on #165
has been updated see https://wiki.openstreetmap.org/wiki/OpenRouteService and ORS contact page

[2015-09-09 11:52] Rungee opened #205 "Change location of the feedback button"
![ors_feedbacklocation](https://cloud.githubusercontent.com/assets/1660719/9760953/c969103a-56f9-11e5-89bb-590827821027.png)

Note that this issue also requires relocation and reshaping of the info button.

[2015-09-14 06:08] TimMcCauley commented on #205
resolved.

[2015-09-14 06:08] #205 closed

[2015-09-26 07:19] TimMcCauley commented on #185
fixed

[2015-10-06 00:53] fdc101082 opened #213 "Can't locate my current location"
![cantlocate](https://cloud.githubusercontent.com/assets/14988483/10297855/c9cde99e-6c0a-11e5-9376-19fde550bfaf.PNG)
![cantlocate2](https://cloud.githubusercontent.com/assets/14988483/10297856/c9e93762-6c0a-11e5-851c-a760375644bd.PNG)

Hello,

Warm greetings..

I'm starting to run openrouteservice on my localhost. And in locating my current location why It can't display my address. It just keep on

[2015-10-06 08:16] Rungee opened #214 "Feedback messaging does not support Unicode."
Message:Hallo! Ist es mÃ¶glich, mit dem API auch Routen abzufragen, die die Funktion "Gebiet vermeiden" (z.B. als Polygon) enthalten? GrÃ¼ÃŸe! Peter

[2015-10-07 14:56] Rungee opened #215 "Include browser information in a feedback message."

[2015-10-08 08:48] Rungee opened #216 "Restrictions Bounding Box layer persist when Heavy vehicle profile is deactivated"
![ors_restrictionslayer](https://cloud.githubusercontent.com/assets/1660719/10365706/a6e7a6e2-6dc5-11e5-970c-876c5596af49.png)

[2015-10-08 09:16] Rungee commented on #212
This issue will be resolved after the next graph update, approx. October 11-13.

[2015-10-12 09:49] Rungee commented on #211
The default speed for pedestrian profile is set to 5 km/h. If the value seems too high, one can set a custom value using a new feature (see figure below) available in the ORS client since last upgrade (05.10.15).

![ors_maximum_speed](https://cloud.githubusercontent.com/assets/1660719/10425347/353b16fe-70d7-11e5-9359-7514886f20f9.png)

[2015-10-12 09:54] riccardoklinger commented on #211
Is it also customizable using the API?

_______________________________

Geolicious GbR
Agentur für Geo-Kommunikation

Riccardo Klinger
Geschäftsführer

mobil: 0176 63437298
e-mail: riccardo.klinger@geolicious.de
web: www.geolicious.de

Geolicious GbR
c/o Daniel Kerkow
Binzstraße 48
13189 Berlin

Gesellschafter:
Riccardo Klinger
Daniel Kerkow
Jakob Hafner

Sitz der Gesellschaft: Berlin
Ust-ID: DE2

[2015-10-12 10:02] Rungee commented on #211
Yes, it is. This can be done by providing MaxSpeed element. The value must be given in km/h. For more details, see an example below.

[code]

[2015-10-12 11:21] Rungee opened #219 "Geocoder is unable to resolve an address which contains a hyphen in zip code (e.g. D-69120)."

[2015-10-13 11:31] #219 closed

[2015-11-04 14:31] #214 closed

[2015-11-04 14:42] #215 closed

[2015-11-04 14:57] enricosteiger commented on #166
This has become obsolete since we have new extended Route parameters via Get Request
see latest API documentation
http://wiki.openstreetmap.org/wiki/DE:OpenRouteService

[2015-11-04 14:57] #166 closed

[2015-11-04 15:57] enricosteiger commented on #213
This issue has been tested and works fine, you need to check the proxy settings within the ORS client.

[2015-11-04 15:57] #213 closed

[2015-11-06 13:32] Rungee opened #223 "Add avoid tunnels for car and heavy vehicles profiles"

[2015-11-18 09:28] Rungee opened #226 "Add a checkbox which allows to specify a round trip"
When round trip is enabled, the client should additionally send the start point as the last route point.

[2015-11-28 22:43] TimMcCauley commented on #119
Added in leaflet version.

[2015-11-28 22:46] TimMcCauley opened #227 "[LEAFLET] TMC Layer"

[2015-11-30 09:15] enricosteiger commented on #97
we recieve a couple of emails per month regarding this issue so maybe we can modify this with lastest leaflet implementation

[2015-11-30 11:00] TimMcCauley commented on #97
Ok, I'll fix it.

[2015-11-30 23:53] TimMcCauley commented on #107
added for bicycle profiles.

[2015-12-06 10:15] Kinas opened #228 "add translations for pavedroads"

[2015-12-08 12:01] Rungee opened #229 "MaxSpeed option does not work in HeavyTruck profile"

[2015-12-08 13:43] #229 closed

[2015-12-08 22:57] TimMcCauley commented on #224
fixed

[2015-12-08 23:06] TimMcCauley opened #230 "Add Close Button for Elevation Profile"

[2015-12-08 23:08] TimMcCauley commented on #154
transistion completed

[2015-12-12 18:39] #223 closed

[2015-12-13 10:17] #227 closed

[2015-12-13 10:19] TimMcCauley commented on #216
fixed.

[2015-12-13 10:19] #216 closed

[2015-12-13 11:01] TimMcCauley commented on #231
Added issue -> https://github.com/Leaflet/Leaflet.Editable/issues/47

[2015-12-17 14:09] Rungee opened #237 "Add translation for new layers"
Hillshade
TMC Messages -> Traffic Information

[2015-12-19 20:32] TimMcCauley commented on #97
added again.

[2015-12-19 20:32] #97 closed

[2015-12-25 16:49] TimMcCauley commented on #240
Hi there,

sorry, this was a bug. Fixed now. Could you please try again?

[2015-12-25 16:59] roooots commented on #240
Hi,

wow - this was a quick fix! It's working now, thanks! ;-)

r.

[2015-12-25 19:07] TimMcCauley commented on #231
fixed.

[2016-01-05 12:48] Rungee opened #242 "Zoom in when waypoint icon was clicked"
A user requested the following feature:
Make the waypoint icon in the waypoints list a button so when one clicks on it the map is zoomed to that waypoint at zoom level of 30m

[2016-01-17 10:57] TimMcCauley opened #245 "Address input and reordering of further waypoints"
I don't know if this is the right location for a bug report, but since there is no other button: Bug: I have a route between 2 points and then add a waypoint by pressing the button. But before I enter the waypoint-address I move the waypoint inbetween the other locations to make the order right beforehand. I can then enter the address just fine, but the route won't re-calculate and the points just

[2016-01-18 20:24] HendrikLeuschner commented on #244
Though this is surely more sensible in general, I can easily think of scenarios where an automated reordering of the waypoints would be unwanted, suppose e.g. you have a preordered route of pick-ups and deliveries.
Thus a possiblity to choose how the via-wp should be added might be nice, but I'm not sure if this would be a tad too overengineered and more confusing than usable.
Anyway, I've already

[2016-01-19 08:02] TimMcCauley commented on #244
True, there are actually cases where this might not make too much sense. Shall the community decide ;-)

[2016-01-19 18:50] HendrikLeuschner commented on #244
So instead of @Rungee s algorithm I'm implementing a different one which is more consistent and somewhat more reasonable imho. The proposed algorithm does e.g. not account for waypoints that have no perpendicular lying on a line segment (like when you add a waypoint north of the via-waypoint in the mockup).
So instead what I'm doing is calculating the difference in linear (air-) length that would

[2016-01-20 12:34] TimMcCauley commented on #244
Makes sense. @Rungee - cool for you, too?

[2016-01-20 14:00] Rungee commented on #244
I do agree. The proposed algorithm sounds plausible.

[2016-01-20 15:50] TimMcCauley commented on #244
:+1:

[2016-01-22 21:21] HendrikLeuschner opened #247 "Double click on context menu 'add a waypoint' adds the same waypoint twice"

[2016-01-25 22:17] TimMcCauley opened #248 "Multiple Visualization of GPX tracks"

[2016-01-25 22:17] #248 closed

[2016-01-28 16:56] #247 closed

[2016-01-28 17:02] TimMcCauley opened #249 "Address Input SearchAgain Behaviour"
When user inserts a start address and a destination address, user can not search start address again -> results are not shown

[2016-01-29 17:47] #249 closed

[2016-01-30 10:57] #242 closed

[2016-01-31 13:06] TimMcCauley opened #250 "Markers sometimes not draggable"
When several markers are added, then some can not be moved.

[2016-01-31 14:40] #250 closed

[2016-02-01 14:39] TimMcCauley commented on #251
Hi Mircozorzo, this is already fixed in my latest fix, stay tuned ;)

[2016-02-01 14:45] mircozorzo commented on #251
Ok, thank you so much, so will be available in the next days? Because today still I have this difficult on it.

Bye

[2016-02-01 15:38] #245 closed

[2016-02-01 15:44] TimMcCauley commented on #251
In the meantime, please use this version: http://openls.geog.uni-heidelberg.de/openrouteservice-3.0/

[2016-02-03 00:25] mircozorzo commented on #251
Thank you Tim, now works well.

[2016-02-14 21:15] HendrikLeuschner opened #252 "Add option to use old waypoint ordering. Don't reorder GPX upload waypoints"

[2016-02-17 08:08] #228 closed

[2016-02-17 08:12] enricosteiger commented on #217
already fixed in latest version

[2016-02-17 10:09] enricosteiger commented on #239
added

[2016-02-18 10:43] #252 closed

[2016-02-18 13:05] enricosteiger commented on #237
added see https://github.com/GIScience/openrouteservice/commit/a027d3d68063f34d84ba268cfd137364a3d0cc4f

[2016-02-18 13:05] #237 closed

[2016-02-24 13:39] mircozorzo commented on #251
Hi, I'm still having this problem also on Linux, Windows, Chrome or Firefox. Moving an existing waypoint on the map is or too difficult or impossible at all. I mean when I upload a gpx an then make a re-routing.

Bye, Mirco

[2016-02-24 13:45] TimMcCauley commented on #251
Hi Mircozorzo, with this link ?

http://openls.geog.uni-heidelberg.de/openrouteservice-3.0/

[2016-02-25 15:38] #76 closed

[2016-03-03 13:58] enricosteiger commented on #253
Hi Kuzvac, we are currently not providing a coverage for North- and Southamerica as described here: http://wiki.openstreetmap.org/wiki/OpenRouteService
Hopefully we will be able to change this in the future. Stay tuned!

[2016-03-03 14:03] kuzvac commented on #253
Thanks for the explanation.

[2016-03-07 08:41] alexellis opened #254 "Routing service unavailable?"
I am getting "Calculating Route..." when trying to get a route up through the main website, and when I access the "http://openls.geog.uni-heidelberg.de/route" endpoint I cannot get a response.

Please advise - is the service unavailable?

[2016-03-07 11:36] enricosteiger commented on #254
We are currently updating ORS backend and frontend as described on openrouteservice.org:
https://github.com/GIScience/openrouteservice/blob/bugfixes-3.0/release_notes/v3.0.md

Apologies for any downtime during this update process!

[2016-03-07 11:36] #254 closed

[2016-03-15 11:59] enricosteiger opened #256 "[UI] Integrate Traffic/Hillshade Information layer in permalink"

[2016-03-15 12:02] enricosteiger opened #257 "[API] extend Get Request interface to query elevation and surface information"
<xls:SurfaceInformation>true</xls:SurfaceInformation>
<xls:ElevationInformation>true</xls:ElevationInformation>

[2016-03-17 19:42] blemblem opened #258 "Fastest route calculation to other country seems broken"
Hi,
it seem that the calculation for the fastest route from one country to another seems broken.

Steps to reproduce:
1. Select Car Routing without avoiding road types or setting maximum speed.
2. Select fastest route, if not set default
3. Set Start point to 'Frankfurt, Regierungsbezirk Darmstadt, Hesse, Germany', Heidelberg will do alike
4. Set destination to 'Prague, Czech Republic', any other

[2016-03-21 10:01] Rungee opened #259 "Support for elevation data in Mountain and Racing bike profiles"

[2016-03-22 16:51] enricosteiger opened #260 "[UI Control] - Start marker not draggable after route computation"

[2016-03-22 16:59] #260 closed

[2016-03-31 13:37] HendrikLeuschner opened #261 "Direction is "null""
![unbenannt](https://cloud.githubusercontent.com/assets/13396640/14177377/55dd2fd6-f756-11e5-9bb1-c1d4fd5461c4.jpg)
Currently not sure about how to reproduce the issue. I'll take a look when I find the time.

[2016-04-06 08:46] enricosteiger commented on #258
This is not a bug and has to do with the fact that whenever we are perform a major update the routing service is limited only for germany

[2016-04-06 08:46] #258 closed

[2016-04-07 08:22] #230 closed

[2016-04-13 13:29] #259 closed

[2016-04-14 08:03] Rungee opened #265 "Visualize waypoints in the elevation diagram."

[2016-04-14 08:17] Rungee opened #267 "Color route segments according to their steepness"
Option as checkbox or Icon (color when active) to color route segments. This approach requires a legend for used colors. Add Tooltip containing distance and gradient of specific segment.

[2016-04-14 08:21] Rungee opened #268 "Provide up/downhill summary in meters"
Note: Apply only when elevation data are provided by the server.

[2016-04-14 12:40] Rungee commented on #266
An example below demonstrates a difference between two elevation charts taken from ORS and Falk.de

![ors_elevationdiagram](https://cloud.githubusercontent.com/assets/1660719/14528227/ca367ae2-024e-11e6-966f-4aa90ba2e969.png)

[2016-04-15 12:36] TimMcCauley commented on #262
We should add the remaining languages

[2016-04-18 09:30] enricosteiger commented on #271
This is a bug report tool, inquiries please to openrouteservice at geog.uni-heidelberg.de
Own server hosting ist currently not supported, however the client is open source.

[2016-04-19 11:04] Rungee commented on #268
see Ascent  and Descent  values

[code]

[2016-04-19 13:06] Rungee opened #273 "Show Actual distance for all bike profiles"

[2016-04-26 18:50] TimMcCauley commented on #274
Hi David, thank you, I will fix this asap! Cheers!

[2016-04-28 14:29] HendrikLeuschner commented on #274
On a side-note, see #276

[2016-04-28 19:17] deubeuliou commented on #274
Well, thank you for this awesome web app :) Among the ones listed under <http://wiki.openstreetmap.org/wiki/Routing/online_routers>, I found it was the best.

BTW, I intend to try and use it for the planning of roller skates rides (organized by the roller club in my town), which involves the need to print the directions out as well as the map/trace overview. To that end, I'll try to propose some e

[2016-04-28 21:31] HendrikLeuschner commented on #274
Hi David, thank you for your feedback. Numbered viapoints is already on the list of enhancements (see #170 , I'm currently working on it). A function to print both route instructions and map at the same time is planned, but currently not in focus. I'm looking forward to your suggestions concerning the layout. Cheers!

[2016-04-29 15:29] #257 closed

[2016-05-01 16:18] #26 closed

[2016-05-20 11:24] TimMcCauley commented on #284
This information does not suffice. Please send us a Permalink. Thanks!

[2016-05-20 11:25] ramavanan commented on #284
you want permnent link

[2016-05-20 11:41] TimMcCauley commented on #285
Please describe what you are trying to accomplish.

[2016-05-20 11:43] ramavanan commented on #285
http://aiscbe.in/route/1/index1.html

just u check tje application

shortest path not displaying

[2016-05-23 10:22] Rungee commented on #286
Thanks for reporting this issue.
It will be fixed in the next release within 1-2 weeks.

[2016-05-23 17:12] #268 closed

[2016-05-23 17:24] TimMcCauley commented on #261
I will close this, please reopen with permalink if it occurs again.

[2016-05-23 17:24] #261 closed

[2016-05-23 19:01] #273 closed

[2016-05-23 20:05] TimMcCauley opened #288 "Add translations for Tooltips"
ids so far
tt-ascent
tt-descent
tt-distance
tt-actdistance
tt-time
tt-reorder
tt-reset
tt-zoom

[2016-05-24 16:24] #256 closed

[2016-06-04 17:16] #265 closed

[2016-06-11 17:57] TimMcCauley opened #294 "Transition to Angular 2"

[2016-06-15 10:27] #288 closed

[2016-06-15 12:30] TimMcCauley opened #303 "Elevation Bar Chart with Ascent Descent Information"

[2016-06-15 12:36] Rungee opened #305 "Add avoid tracks for car and hgv profiles"

[2016-06-15 12:38] #305 closed

[2016-06-22 11:41] Unraveler commented on #309
Done

[2016-06-24 12:14] TimMcCauley commented on #312
fixed.

[2016-06-27 10:38] #303 closed

[2016-06-27 15:04] Kinas opened #316 "Add Translations for Tooltips in menu"

[2016-06-28 09:03] stefanhahmann opened #317 "ORS does not zoom to whole route extent"
If I remember right, this used to work already in previous versions.
Test for example with this route: http://bit.ly/297wHKc

In both cases (if you create the from scratch in ORS or if you paste the link to the browser), ORS does not zoom the map to show the whole route extent, but only so that start and end point can be seen, but not necessarily the whole route.

[2016-06-28 12:57] TimMcCauley commented on #319
We have added tooltips for a better understanding, hope this helps.

[2016-06-28 13:02] TimMcCauley commented on #317
Thanks, fixed!

[2016-06-28 13:02] #317 closed

[2016-06-28 13:03] TimMcCauley commented on #318
This does still work, one has to change the routing profile.

[2016-06-29 06:59] TimMcCauley commented on #314
closed.

[2016-06-29 12:37] Unraveler opened #321 "Header Icons in dropdown list on mobile version"

[2016-06-29 13:18] TimMcCauley opened #322 "Add Gradient and Distance Information for Elevation Chart Marker in Map"
Add Gradient and Distance to Elevation Marker in Map when hovering Elevation Profile

[2016-06-29 14:09] TimMcCauley commented on #323
douglas peucker?

[2016-06-29 17:59] HendrikLeuschner commented on #323
Take a look at js/modules/Restrictions.js at line 149
It uses douglas-peucker for that exact purpose and has a neat little implementation.

[2016-06-30 15:48] #316 closed

[2016-07-01 12:34] TimMcCauley opened #326 "Add Tooltips and Translations for Map Controls"
Especially for those controls nobody knows, like Avoid Areas

[2016-07-04 14:11] #321 closed

[2016-07-05 11:45] HendrikLeuschner commented on #328
Adding to, then removing a waypoint (via) from an existing roundtrip route causes end-roundtrip wp to not be dragged

[2016-07-05 12:23] Rungee commented on #328
I've noticed an incorrect behavior when the roundtrip option is activated and one adds either start or end waypoint. In the current implementation, the end point is automatically added even a user specified only one waypoint.

![ors_roundtrip_issue1](https://cloud.githubusercontent.com/assets/1660719/16584332/b8e0b476-42bb-11e6-97dc-d83548c4d42a.png)

[2016-07-05 12:27] Rungee commented on #328
Another issue:
Roundtrip flag is not stored in permalink.

[2016-07-05 12:39] Rungee commented on #328
One more issue :)

1. Create a round trip using the following link
http://openls.geog.uni-heidelberg.de/openrouteservice-3.0/?pos=9.079685211181642,49.397987771900276&zoom=16&layer=00B0000&routeOpt=Car&wp=9.076552391052248,49.399705396513454,9.069364070892336,49.3990211467527,9.073462486267092,49.3979039837971,9.076552391052248,49.399705396513454&lang=en&routeLang=en&distUnit=m&surface=cobblestone

[2016-07-05 16:54] HendrikLeuschner commented on #328
Hey Max, thank you for all the comments.
Concerning #RT2: This is exactly the expected behavior. A roundtrip specification means that start and end point are always the same, thus either is added as soon as start or end point is added, respectively. Do you find this counterintuitive?
This is the very heart of the roundtrip feature:
On the map you have a single waypoint in blue which you can drag.

[2016-07-06 08:54] HendrikLeuschner opened #330 "Indicate driving direction by arrows on map and sidebar"
Please take a look at this mockup which would deal with issues/optimizations mentioned by @Rungee, Alex and @TimMcCauley :
![roundtrip_mockup](https://cloud.githubusercontent.com/assets/13396640/16612397/2019848c-4367-11e6-8e43-236017054b62.jpg)

For normal routing (no roundtrip) show (only blue) arrows in waypoint list and on map instead of routelines.
For roundtrip remove the visibility of the f

[2016-07-06 11:34] TimMcCauley commented on #20
Text and Icon placement on printable pdf made with Firefox misbehaviour

[2016-07-06 11:37] TimMcCauley commented on #330
Cool, I think the arrows in the map will suffice, no need to add them in the waypoint list, it's kind of redundant in my opinion. Thoughts?

[2016-07-06 12:48] HendrikLeuschner commented on #330
I feel like we should at least add the orange Arrow when the user selected round-trip. Otherwise the connection between the last via and the first waypoint might be confusing. Apart from that,yes, we do not necessarily need the blue arrows in the waypoint panel

[2016-07-06 13:32] TimMcCauley commented on #330
Okay, cool. Also komoot has implemented it this way, Start + End is shown once

[2016-07-06 13:33] #50 closed

[2016-07-06 13:35] #27 closed

[2016-07-07 12:11] #326 closed

[2016-07-08 08:37] TimMcCauley commented on #313
removed

[2016-07-08 08:58] HendrikLeuschner commented on #334
![unbenannt](https://cloud.githubusercontent.com/assets/13396640/16682420/e5495144-44fa-11e6-8ec7-046de82e8349.jpg)

[2016-07-08 09:36] #226 closed

[2016-07-08 09:46] TimMcCauley opened #335 "Translations for avoidTracks"

[2016-07-08 11:02] HendrikLeuschner commented on #330
Though we're postponing upgrades, I'll still implement this now as it is part of the roundtrip

[2016-07-08 11:59] HendrikLeuschner commented on #330
![unbenannt](https://cloud.githubusercontent.com/assets/13396640/16686681/1ad87ed4-4514-11e6-90c7-c58943e7ae17.jpg)

How do you like this?

[2016-07-08 12:22] TimMcCauley commented on #330
very cool, you could even increase the distance between

[2016-07-08 12:23] TimMcCauley commented on #330
are they also shown on small zoom lvls ?

[2016-07-08 12:37] HendrikLeuschner commented on #330
Currently they are pixel-based, meaning the distance between two arrows is always a specified pixel value. Thus there's a different number of arrows at each zoom level (up to none at very low zoom). This seems to be the best solution so far. Other possibilities result in strange artifacts at different zoom levels. But I'll have a look at styling later today.

[2016-07-08 13:06] TimMcCauley commented on #330
thumbs up

[2016-07-12 14:45] HendrikLeuschner commented on #330
Route arrows are now displayed and if you select roundtrip, the route segment between final via and destination is displayed in orange. I'll take care of not displaying the second waypoint for roundtrip and the arrow in the sidebar.

[2016-07-20 12:35] Rungee opened #338 "Elevation chart is not getting cleared after deletion of a route"

[2016-07-20 14:06] Rungee commented on #286
Hi zippy2,
Could you please check if the described issue has been resolved or not?

[2016-08-03 08:24] TimMcCauley commented on #337
Hello, are you still having route computation difficulties?

[2016-08-03 09:15] Paviluf commented on #337
Yes and I just found the culprit. As you can see in my previous message, I use "geo.enabled false". When this setting is disabled it brake the service!

[2016-08-03 11:37] Paviluf commented on #337
With "geo.enabled false" the menus "options" and "site preferences" works, I can set a route with right click "Set as starting point" / "Set as destination" but i can't set a route by writing starting point and destination in text fields. Maybe there is an other Firefox setting that the service don't like.

[2016-08-03 15:49] Paviluf commented on #337
It was a cache problem. If I set "geo.enabled" to true everything works !

[2016-08-04 07:34] Paviluf commented on #337
Just to be clear, obviously Openrouteservice should work without "geo.enabled".

[2016-08-16 09:17] TimMcCauley commented on #337
Sorry, we don't have the capacities to implement these functionalities.

[2016-08-16 09:21] TimMcCauley opened #344 "Implement Route Difficulty to Permalink"
To be added for all outdoor profiles

[2016-08-16 09:22] TimMcCauley opened #345 "Extensive Elevation Chart"
Similar to [this](http://www.outdooractive.com/de/fernwanderweg/salzburger-sportwelt/8-tage-almenweg-etappe-21-27/11846999/#dm=1&dmdtab=oax-tab1) we will add a more extensive elevation chart for outdoor profiles

[2016-08-16 09:34] Paviluf commented on #337
Wow I'm so disappointed ! Maybe you didn't understand what I meant ? Openrouteservice should just work without "geo.enabled" that is only a [feature to automatically locate you](https://www.mozilla.org/en-US/firefox/geolocation/). To set a route between 2 cities Openrouteservice don't have to know where I'm now. It shouldn't be that hard to let the service work even if it don't know where I'm at t

[2016-08-16 09:46] Paviluf commented on #337
I tested to re-enable "geo.enabled" and simply refuse to share my location when Firefox asked and Openrouteservice worked well. I think there is just a little bug that break Openrouteservice when it can't use the geolocation service of the browser.

[2016-08-16 10:59] TimMcCauley commented on #337
Ok, perfect, thanks!

[2016-08-16 11:46] Paviluf commented on #337
Thanks to reopen it. I think to reproduce the problem you have to disable "geo.enabled" (type about:config in Firefox address bar, search geo.enabled, set it to false) and the most important clear the cache before trying.

[2016-08-16 11:55] TimMcCauley commented on #337
Feel free to fix this via a fork and pull request, the repository is public.

[2016-08-16 13:48] Paviluf commented on #337
If I knew how to fix it you would already have a PR ;)
Unfortunately I'm not a developer but I try to help the best I can do.

[2016-08-18 06:25] TimMcCauley opened #346 "Ability to Insert LatLng in Input"

[2016-09-05 11:41] TimMcCauley commented on #349
Greetings and good news!

We unfortunately can't change the colouring due to our university ci. We are currently working on a new angular version which will consider the hide/show button suggestion, thank you. To my knowledge there also isn't a simplified version of the logo.

[2016-09-05 11:57] bittner commented on #349
Hi, and thanks for the news!

It's not really about the colouring. It's mainly that the header is covering a substantial part of the UI. Especially on mobile devices. I believe even people that only do administration (and potentially still work with paper only) will understand - given you show them the difference on the screen.

Also, I'm sure the large "OpenRouteService" header text is not part o

[2016-09-15 22:01] HendrikLeuschner commented on #328
#RT1, #RT2, #RT4 solved.

#RT5: Sometimes wrong marker is dragged ondrag

[2016-09-16 08:09] Paviluf commented on #337
Any news ?

[2016-09-17 15:16] HendrikLeuschner commented on #337
Hi, I'm on FF 48.0.2. I cannot reproduce your error. E.g. diabling geo.enabled and routing from Berlin to Hamburg works fine. Could you give a more precise description of how you encounter that error?

[2016-09-17 15:26] Paviluf commented on #337
It's maybe due to the cache that it work even when disabling geo.enabled. Can you try to make "Ctrl+H", right click on Openrouteservice, click on "forget this site" please and retry ?

[2016-09-20 07:51] Rungee opened #352 "Incorrect German translation for time measurements"
The "time" (duration?) of the trip is correctly displayed in English as "6h 25m". In German the duration is displayed as "6s 25m" which is wrong, because "s" is short for seconds in German as well. Please, either use "std" for "Stunden" or stick to"h".

[2016-10-10 10:32] Rungee opened #353 "permalink is broken when only destination point is given"
I like very much OpenRouteService, found on the web few days ago,  but I have a small problem I’d like to fix: I set a destination address (only this one, blank field for the starting address), then I share the page with the destination  marker and the destination address set (using permalink), but the new page I open has the destination address field empty, while the starting address has what I’d

[2016-10-16 10:19] Paviluf commented on #337
It should not be difficult to fix this problem. "geo.enabled" set to false mean that openrouteservice can't retrieve the location of the user. This surprisingly break openrouteservice. When openrouteservice can't retrieve the location of the user using a fallback default location should be enough to don't break everything.

[2016-10-24 14:35] #345 closed

[2016-10-25 07:37] TimMcCauley commented on #351
This issue was moved to GIScience/openrouteservice-ng#1

[2016-10-25 07:38] TimMcCauley commented on #347
This issue was moved to GIScience/openrouteservice-ng#2

[2016-10-25 07:39] #322 closed

[2016-10-25 07:39] #294 closed

[2016-10-25 07:39] TimMcCauley commented on #173
This issue was moved to GIScience/openrouteservice-ng#3

[2016-10-25 07:39] TimMcCauley commented on #234
This issue was moved to GIScience/openrouteservice-ng#4

[2016-10-25 07:40] TimMcCauley commented on #170
This issue was moved to GIScience/openrouteservice-ng#5

[2016-10-25 07:40] TimMcCauley commented on #20
This issue was moved to GIScience/openrouteservice-ng#6

[2016-10-25 07:41] TimMcCauley commented on #323
This issue was moved to GIScience/openrouteservice-ng#7

[2016-10-25 07:41] #330 closed

[2016-10-25 07:41] TimMcCauley commented on #344
This issue was moved to GIScience/openrouteservice-ng#8

[2016-10-25 07:41] #344 closed

[2016-10-25 07:41] TimMcCauley commented on #346
This issue was moved to GIScience/openrouteservice-ng#9

[2016-10-25 07:41] #346 closed

[2016-10-25 07:42] #353 closed

[2016-10-25 07:42] TimMcCauley commented on #350
This issue was moved to GIScience/openrouteservice-ng#10

[2016-10-25 07:43] #338 closed

[2016-10-25 07:43] #335 closed

[2016-10-25 07:44] TimMcCauley commented on #147
This issue was moved to GIScience/openrouteservice-ng#11

[2016-10-25 07:44] #147 closed

[2016-10-25 07:44] TimMcCauley commented on #340
This issue was moved to GIScience/openrouteservice-ng#12

[2016-10-25 07:45] TimMcCauley commented on #267
This issue was moved to GIScience/openrouteservice-ng#13

[2016-10-25 07:45] #267 closed

[2016-11-03 15:38] Paviluf commented on #337
I found that even if I enable "geo.enabled" openrouteservice can break. In Firefox with "geo.enabled" set to "true" when you go to openrouteservice Firefox will ask you to share your location. If you refuse openrouteservice breaks.

[2016-11-03 15:41] Paviluf commented on #337
Openrouteservice should just work even without retrieving / knowing your location.

[2016-11-04 14:42] DanCunnington opened #354 "UK Points not found"
Hi, UK based latitude longitude points are not found. This was working correctly and has suddenly stopped.

[Example Query](http://openls.geog.uni-heidelberg.de/route?api_key=ee0b8233adff52ce9fd6afc2a2859a28&start=-0.139904,51.505856&end=-0.2003,51.4981623&via=&lang=de&distunit=KM&routepref=Bicycle&weighting=Shortest&avoidAreas=&useTMC=false&noMotorways=false&noTollways=false&noUnpavedroads=false&

[2016-11-04 14:49] Rungee commented on #354
We are currently updating our service. Therefore route computations in ORS is available only for Germany region. The update process might take a couple of days.

[2016-11-04 14:49] #354 closed

[2016-11-04 14:54] DanCunnington commented on #354
ok. thank you for the information :)

[2016-11-18 17:26] Paviluf commented on #337
It should not be difficult to fix this problem. I hope that will be done.
Thanks !

[2016-12-03 12:24] TimMcCauley commented on #355
This should work again now!

[2016-12-07 09:59] HendrikLeuschner commented on #337
Hi Paviluf, I think I found the problem. Working on it.

[2016-12-07 18:01] Paviluf commented on #337
Thank you very much !
I don't know if it should work now or if there is a delay to update the site but for now that doesn't work.

[2016-12-07 19:15] HendrikLeuschner commented on #337
The Client still needs to be updated. Let me know if you still experience the issue on the debug version here: http://openls.geog.uni-heidelberg.de/openrouteservice-3.0/

[2016-12-08 05:04] Paviluf commented on #337
The problem is still here. If I don't share my location nothing works but if I share it everything works.

[2016-12-12 17:20] Paviluf commented on #337
I hope you can look again at it.

[2016-12-16 17:21] Paviluf opened #356 "Doesn't work if you don't share your location"
The problem is still here so I reopen the issue https://github.com/GIScience/openrouteservice/issues/337

Thanks !

[2017-01-06 15:20] keinstein opened #357 "Improve usability with high latency internet connection"
Hi,

When I enter an address or POI into the navigation form usually nothing happens for several secounds. Intuitively I enter starting point and end point and select some routing opitons afterwards. The result is that both searches are cancelled. Restarting the geolocation search seems not to be directly supported by the Interface.

I would prefer if the form would mainly work in the same way as

[2017-01-07 16:27] Paviluf commented on #356
Well that shouldn't be that hard to fix. A simple fix would be that if the location is not provided by the browser to fallback on a default, hardcoded one.

[2017-01-09 09:41] HendrikLeuschner commented on #356
Dear Paviluf,
the current version of ORS is not being updated anymore. We have been working on a completely rewritten version based on a different framework. Please wait a few weeks until its release and we will look at the bug in that new version.

[2017-01-10 06:07] Paviluf commented on #356
Ok thank you !

[2017-02-03 11:36] Rungee opened #359 "User remarks"
I would like to make some remarks about the usage of your graphical interface of http://openrouteservice.org

First of all I would like to express that I guess that http://openrouteservice.org is not a service intended for professional use. I think that this is more a kind of prove of concept or demonstration tool to show capabilities of routing algorithms.

I think so because I rather often get e

[2017-05-16 07:14] DanCunnington opened #360 "http://openls.geog.uni-heidelberg.de/ connection refused"
Hi, the open route service server seems to have gone down, would it be possible to restart please?

[2017-05-16 07:15] TimMcCauley commented on #360
Hi Dan, this server is now offline. We have launched a new instance with new API, please find more information on www.openrouteservice.org

[2017-05-16 07:15] #360 closed

[2017-09-13 14:17] TimMcCauley opened #1 "Tests for difficulty options"

[2017-09-13 14:17] TimMcCauley opened #2 "One place might have several categories (Locations API)"

[2017-09-13 14:18] TimMcCauley opened #3 "Implement an option to control allowed travelling direction when departing intermediate waypoints"

[2017-09-13 14:19] TimMcCauley opened #4 "Add support for trail visibility"

[2017-09-13 14:20] TimMcCauley opened #5 "Consider incline|decline for heavy vehicle"

[2017-09-13 14:20] TimMcCauley opened #6 "No answer from certain queries for isochrones"

[2017-09-13 14:21] TimMcCauley opened #7 "Extend Matrix API by providing distances/times for extras"

[2017-09-13 14:21] TimMcCauley opened #8 "Add an option to return route response as GeoJSON/gpx"

[2017-09-13 14:21] TimMcCauley opened #9 "Support ferries in route computation"

[2017-09-13 14:22] TimMcCauley opened #10 "Route Optimization API"

[2017-09-13 14:23] TimMcCauley opened #11 "Isochrone generates strange "tunnel""

[2017-09-13 14:23] TimMcCauley opened #12 "Deprecated old-style multipolygons in OSM data"
https://github.com/GIScience/openrouteservice/issues/108

[2017-09-13 14:24] TimMcCauley opened #13 "Provide curvature of a route segment as extra information"

[2017-09-13 14:24] TimMcCauley opened #14 "app.config setting to control the number of concurrent requests with dynamic weights"

[2017-09-13 14:25] TimMcCauley opened #15 "Routing through permitted streets"

[2017-09-13 14:27] TimMcCauley opened #16 "Implement ClimbsExtraInfo class"

[2017-09-13 14:27] TimMcCauley opened #17 "Turn restrictions for Contraction Hierachies"

[2017-09-13 14:27] TimMcCauley opened #18 "Destination restrictions for Contraction Hierachies"

[2017-09-13 14:41] #12 closed, assigned to nobody

[2017-09-15 08:07] TimMcCauley opened #20 "Trunk maximum speed hgv set to 60"
This has to be changed to 80 as per http://www.verkehrslexikon.de/Texte/LkwTempo01.php

[2017-09-15 08:08] TimMcCauley commented on #20
Closed in 890ebacbce2cdfd6bad0fa5aa3f73a18b99838df

[2017-09-15 08:08] #20 closed, assigned to Rungee

[2017-09-15 10:54] Rungee commented on #6
The issue has been fixed in the previous release.
Closing.

[2017-09-15 10:54] #6 closed, assigned to Rungee

[2017-09-15 11:04] #9 closed, assigned to nobody

[2017-09-15 20:07] petrot opened #21 "Elevation = true parameter causes wrong route result"
I recognized, that the elevation = true parameter kills the routing result.
Sometimes tha last coord of the decoded polyline is [<good_value>, NaN].

My post config:

api_key: xxx
profile:driving-car
preference:fastest
language:hu
elevation:true
coordinates:20.1811515,46.2697751|20.14525,46.2738
options:{"avoid_features":"highways|tollways"}

[2017-09-18 06:58] Rungee opened #23 "Accessibility: Change format of maximum_range_distance and maximum_range_time"
maximum_range_distance:
				[
				   { profiles: "any", value: 50000 }
				   { profiles: "driving-car, driving-hgv", value: 100000 }
				],
				maximum_range_time:
				[
				   { profiles: "any", value: 18000 }
				   { profiles: "driving-car, driving-hgv", value: 3600 }
				],

[2017-09-18 13:45] Rungee commented on #23
Done in 5ef294c297f8f292536ec8ecb2795d9f15aa4943.

[2017-09-18 13:45] #23 closed, assigned to Rungee

[2017-09-19 08:39] Rungee commented on #21
Hi Petrot,
Which library or piece of code have you used to decode a polyline?

[2017-09-19 08:41] petrot commented on #21
Hi @Rungee,

I used this package: https://www.npmjs.com/package/polyline-encoded.

With geoJson output, it works fine.

[2017-09-19 09:20] Rungee commented on #21
Now, the issue is clear to me.

Leaflet's implementation does not support elevation.

Check out the following two implementations taken from Leaflet and Graphhopper accordingly

1. https://gist.github.com/jieter/7689228
2. https://github.com/graphhopper/graphhopper/blob/469cf3c9634440e52821832c52280ca7e28322f4/web/src/main/java/com/graphhopper/http/WebHelper.java

If you need to support proper dec

[2017-09-19 10:51] TimMcCauley commented on #21
Mapbox currently also doesn't, I guess they would be happy about a PR ;) https://github.com/mapbox/polyline

Considering this as closed.

[2017-09-19 10:51] #21 closed, assigned to nobody

[2017-09-19 22:10] farough opened #24 "Live Navigation using Continue Forward"
When using the Directions from ORS for live turn by turn directions, it is paramount to be able to allow the use of the user's current heading when coming up with directions. This prevents the user from needing to turn around because they went off the path which is a very jarring experience.

Preferably an input parameter would allow us to both specify the heading and the degrees of flexibility fr

[2017-09-20 11:30] TimMcCauley commented on #24
Will be live within the next 7 days.

[2017-09-20 14:09] Rungee opened #25 "Extend routing response with bearing for roundabout exits"
![image](https://user-images.githubusercontent.com/1660719/30648200-c5a8ad80-9e1d-11e7-8140-f6ee57a6e42e.png)

For the image above, the expected list of bearings will be [248,141,62].

The step element in routing instructions will have the following format:
[code]

[2017-09-20 14:13] Rungee commented on #25
Hi @farough!

What do you think about this kind of format for bearings of roundabout exits?

[2017-09-21 10:39] Rungee commented on #25
This feature is implemented in 7513123949649a64f45a629d55fd22b299b63711.

[2017-09-21 10:40] Rungee commented on #24
Very first implementation is done in 7513123949649a64f45a629d55fd22b299b63711.

[2017-09-22 13:59] farough commented on #24
The feature in the API 4.3 does not support passing in a bearing to indicate the direction which to continue forward. Perhaps we have a miscommunication about the design of this feature.

[2017-09-25 12:47] #15 closed, assigned to nobody

[2017-09-25 12:47] #11 closed, assigned to Rungee

[2017-10-04 08:35] #25 closed, assigned to Rungee, TimMcCauley

[2017-10-04 08:36] TimMcCauley opened #28 "Optimized=false does not consider turn restrictions"

[2017-10-04 08:42] Rungee commented on #28
Fixed in https://github.com/GIScience/graphhopper/commit/d25d6b4e0e99ff323fc2a8f1cfa580f6e913dad6.

[2017-10-04 08:42] #28 closed, assigned to Rungee

[2017-10-04 15:39] HendrikLeuschner opened #29 "One-way virtual edges at start/destination nodes are not respected"
Crashes with speed from wrong direction error.

[2017-10-04 15:42] HendrikLeuschner commented on #29
fixed by 13cca5370bb75dcc706ef1fc35099eb77ff71694

[2017-10-04 15:42] #29 closed, assigned to nobody

[2017-10-05 12:54] TimMcCauley opened #30 "Option for graph flush without holding in memory"

[2017-10-06 08:54] Rungee opened #31 "Routing: Allow specifying maximum search distance to the nearest edge"
This feature will be exposed via **radiuses** parameter.

[2017-10-06 09:00] Rungee opened #32 "Routing: Support for "bearings" parameter."
Basically, this parameter has the same meaning as the one in https://www.mapbox.com/api-documentation/#directions.

The list of bearings must be specified using "|" character as separator and must have the same length as the list of waypoints. For example: bearings=50|140, where value of 50 degrees corresponds to the start point, and value of 140 to the end point accordingly.

[2017-10-06 09:07] Rungee commented on #32
Done in https://github.com/GIScience/graphhopper/commit/b66a590f18757a28955b9d07d3a497b8a6e18fa1 and d4c2149fb1036537267aa0a9d4dddacdd1a24873.

[2017-10-06 09:07] #32 closed, assigned to Rungee

[2017-10-06 09:08] Rungee commented on #31
Done in https://github.com/GIScience/graphhopper/commit/b66a590f18757a28955b9d07d3a497b8a6e18fa1 and d4c2149fb1036537267aa0a9d4dddacdd1a24873.

[2017-10-06 09:08] #31 closed, assigned to Rungee

[2017-10-06 11:40] Rungee commented on #24
@farough , this issue is related to "continue_straight" parameter.
The feature you are talking about is already implemented in #32 (see also #31). A complete description of the new features, in other words of the parameters "bearings" and "radiuses", will be provided within next week.

Closing this...

[2017-10-06 11:40] #24 closed, assigned to Rungee

[2017-10-06 11:52] #1 closed, assigned to nobody

[2017-10-08 17:45] torfsen opened #33 "Unable to find appropriate routing profile"
I'm playing with the examples in the documentation, but I can't get the one for `matrix` to work: the URL https://api.openrouteservice.org/matrix?profile=foot-walking&locations=9.970093%2C48.477473|9.207916%2C49.153868|37.573242%2C55.801281&metrics=distance&resolve_locations=false&units=m&optimized=true&api_key=XXX (generated by the docs) yields

[code]

The return code is 500, so that's either a

[2017-10-09 10:01] TimMcCauley commented on #33
Thanks for pointing this one out to us. Please note that you can not use optimized=true for any profile except vehicles. Please use optimized=false for your request, however as you found a bug, this will work from tomorrow on ;) we are fixing this now, commit will follow.

[2017-10-09 15:14] #33 closed, assigned to nobody

[2017-10-11 06:42] TimMcCauley opened #35 "Feature borders_open=true|false"

[2017-10-11 11:44] TimMcCauley opened #36 "Bearings can be optional"

[2017-10-11 12:38] #36 closed, assigned to TimMcCauley

[2017-10-11 12:38] #30 closed, assigned to TimMcCauley

[2017-10-12 07:56] TimMcCauley opened #38 "Update distance calculation from 3D to 2D"

[2017-10-12 08:37] Rungee commented on #38
TODO:
1. set setCalcDistance3D(false); in the constructor of the ORSOSMReader class.
2. Adjust tests results.

[2017-10-12 13:42] #14 closed, assigned to nobody

[2017-10-12 13:43] #10 closed, assigned to nobody

[2017-10-12 13:43] #4 closed, assigned to nobody

[2017-10-25 09:07] torfsen commented on #33
Thanks, @TimMcCauley! It now works for the `foot-walking` profile, but not for `wheelchair` (which is also offered by the documentation's example). For the latter I get the same error as before (return code 500, "Unable to find an appropriate routing profile.").

[2017-10-25 11:15] TimMcCauley commented on #33
Wheelchair is currently not active @torfsen - we will be adding this back in the future. For Germany you can use the client labs.openrouteservice.org which has wheelchair integrated

[2017-10-28 15:25] TheGreatRefrigerator opened #39 "Matrix API: Add the specified request parameters to the responses info.query"

[2017-11-02 10:09] TimMcCauley commented on #39
@TheGreatRefrigerator adding the sources and destinations could be a little overkill due to the amount of sources and destinations (up to 2.500). Any particular reason why we need this?

[2017-11-05 12:01] TheGreatRefrigerator commented on #39
payloads could get very large, not needed for now

[2017-11-05 12:01] #39 closed, assigned to TimMcCauley

[2017-11-07 13:55] rabidllama opened #41 "Avoid crossing borders for specific countries"
Allow the provision of country borders that should not be crossed by routes, i.e. a route should not cross into Switzerland, but it is OK to cross borders of other countries

[2017-11-09 09:04] rabidllama commented on #35
Being addressed in Issue #41

[2017-11-10 08:45] rabidllama commented on #35
Duplicate of #41

[2017-11-10 08:47] #35 closed, assigned to rabidllama, TimMcCauley

[2017-11-14 13:09] rabidllama opened #42 "Add rest stops"
A new feature that could be added would be to allow the user to define a duration/distance of travelling before the require a break in travel. For example, in many countries HGV drivers are only allowed to drive for s certain time before by law they have to take a break.

To accomplish this, the service would need to generate a route between the start and end locations and the find features with e

[2017-11-16 17:41] TheGreatRefrigerator opened #43 "Adjust height Data for Tunnels"
Currently the Height data in tunnels is taken from the surface above.

This might be solved by using the tunnel entry and exit as border values and assign mean height values for points in between depending on the distance.

![tunnel](https://user-images.githubusercontent.com/23240110/32906290-c44cfd04-cafc-11e7-8f17-0782c6e70ee0.png)

[2017-11-16 18:28] karussell commented on #43
See https://github.com/graphhopper/graphhopper/pull/798

[2017-11-17 11:07] TimMcCauley commented on #43
thanks @karussell !

[2017-11-21 09:07] nguyen-dinh-dh opened #44 "Difference in duration between ORS and Graphhopper/OSRM/.."
Hi ORS team,

I've set up a local ORS using Germany pbf file, with all services (including Geocode by Nominatim) running. I did some comparison between the local service and your online ORS service, and the results are not the same.

Here are the test points:

localhost:8080/ors/routes?coordinates=13.392786,52.524078|13.411185,52.521321&elevation=true&extra_info=steepness|waytype|surface&geometry=

[2017-11-21 09:25] nguyen-dinh-dh commented on #44
Also, I notice that ORS returns the duration time around 3-4 minutes, while OSRM and Google Maps return 7-8 minutes, both use driving car.

http://router.project-osrm.org/route/v1/driving/13.392786,52.524078;13.411185,52.521321

[2017-11-21 16:28] TimMcCauley commented on #44
Regarding the duration times, I am not sure what OSRM and Google Maps use as average speeds for different function classes of segments (edges). You can check the limits we use here:

https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/resources/resources/services/routing/speed_limits/car.json

[2017-11-21 16:35] TimMcCauley commented on #44
In terms of the distances, I compared your geojson output with the output generated by openrouteservice.org and I can see that the snapped destination point is behind bahnhof Alexanderplatz which results in a different route. This could have to do with changes of the underlying graph structure which might have been changed by OpenStreetMap users.

![screen shot 2017-11-21 at 17 33 42](https://user

[2017-11-22 08:45] nguyen-dinh-dh commented on #44
Thank you for your explanation about the routing distance.

I checked your car profile and the max speed for Germany is only 130 km/h, while OSRM produces 1.7km in 0:03, which results in 340 km/h. Can you check again?

[2017-11-22 09:41] TimMcCauley commented on #44
The speeds you have to check are

[code]

Depending on the OSM street attribute types of the segments the algorithm traverses it will use different speeds.

[2017-11-22 09:45] nguyen-dinh-dh commented on #44
I checked all the values, the maximum values I can find are still less than 150, not even close to 300 km/h in the result.

[2017-11-22 10:24] TimMcCauley commented on #44
@nguyen-dinh-dh this is definitely a bug, we will fix by the end of next week - thanks for pointing this out!

[2017-11-22 10:25] nguyen-dinh-dh commented on #44
@TimMcCauley Thank you for your quick reply :)

[2017-11-22 15:33] rabidllama commented on #44
@nguyen-dinh-dh I just double checked and with regards to the speed at 340km/h, I believe this is a misunderstanding with regards to the units shown on the website (I presume that when you say OSRM you mean the OpenRouteService page). The 00:03 does not mean 3 seconds, but 3 minutes (the numbers are rounded to the nearest minute). Taking that into account, traveling 1.7km in 3 minutes results in a

[2017-11-22 15:37] nguyen-dinh-dh commented on #44
My bad, thank you for your explanation :)

[2017-11-24 08:19] nilsnolde opened #45 "Add minimum range parameter to isochrone API"
I got asked a few times to please implement a minimum range parameter for isochrones, because of the backend interval limit of 10.

E.g. when you want to create isochrones with an interval of 1 min and a maximum range of 40 mins, one would have to perform a minimum of 30 requests. A minimum range parameter would partly solve this issue and bring it down to 4 requests, as e.g.
max range = 40
min ra

[2017-11-27 17:20] nguyen-dinh-dh opened #46 "Accurate of isochrone service."
Hi ORS team,

I have a question about the results of isochrone service. I created an isochrone of 300meters by this api:
http://35.197.231.53:8080/ors/isochrones?format=json&locations=6.7750371,51.2122639&interval=300&profile=driving-car&range=300&range_type=distance

Then I calculate the distance between the center and the points in polygon:

http://35.197.231.53:8080/ors/routes?coordinates=6.775

[2017-11-28 11:27] TimMcCauley commented on #46
@nguyen-dinh-dh , to visualize the issue:

![screen shot 2017-11-28 at 12 23 53](https://user-images.githubusercontent.com/10322094/33317316-085fc1b4-d437-11e7-82af-ad095ec495fa.png)

Step 1: The isochrone algorithm cuts off when the distance of 300 meters is reached and saves the corresponding coordinates. These are used for building the contour lines in step 2. The contour line of the isochrone

[2017-11-28 11:27] #46 closed, assigned to TimMcCauley

[2017-11-28 12:17] nguyen-dinh-dh commented on #46
Thank you for your explanation.

[2017-12-02 12:02] yujorodrigues opened #47 "Possible bug isodistance - range in meters returning out of range"
range=300 returns out of range, saying range=15 (different from the input). units=m, range_type=distance.

Bad request or a bug?

https://api.openrouteservice.org/isochrones?api_key=my_key&locations=-48.263390%2C-18.882508&profile=foot-walking&range_type=distance&range=300&interval=20&units=m&location_type=start&attributes=area&options=&intersections=&id=

{"error":{"code":304,"message":"Parameter

[2017-12-02 20:04] TimMcCauley commented on #47
Hi @yujorodrigues - it is because 300/20 equals great 10. Please try 30 for the interval setting.

[2017-12-02 20:04] #47 closed, assigned to TimMcCauley

[2017-12-08 09:40] nguyen-dinh-dh commented on #44
@rabidllama As far as I know, ORS is using a forked version of graphhopper for routing, however when I use graphhopper:
https://graphhopper.com/maps/?point=52.524078%2C13.392786&point=52.521321%2C13.411185&locale=en-US&vehicle=car&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale

It returns duration of 6 min (similar to OSRM and GoogleMaps), while ORS returns 3min. Are there any di

[2017-12-08 10:05] TimMcCauley commented on #44
@nguyen-dinh-dh it is a forked but changed version and as mentioned above we use different speed limits. It does effect the isochrone service, yes.

[2017-12-08 10:13] TimMcCauley opened #48 "Provide md5 hash of osm file used for building graphs in http response"

[2017-12-08 11:19] nguyen-dinh-dh commented on #44
@TimMcCauley I tried modifying the car.json by halving all the speed for testing, but the duration is still around 3min, here is the car.json
[code]

[2017-12-08 15:33] TimMcCauley opened #49 "Consider points with restrictions which belong to OSM ways"

[2017-12-12 08:50] rabidllama commented on #44
@nguyen-dinh-dh The fork we are using in our version is a bit behind that of the main Graphhopper because of the enhancements we have made to our core to allow many of the additional functionalities that we provide. As such it may well be that the reason for difference between ours and the main Graphhopper is something that they have changed in a newer version.

The main reason for difference betw

[2017-12-12 12:05] #44 closed, assigned to rabidllama

[2017-12-12 19:58] TimMcCauley opened #51 "Continue_straight not being considered"

[2017-12-14 14:00] TimMcCauley commented on #49
This will be added to the graphhopper osm reader fork on giscience

[2017-12-14 14:09] karussell commented on #49
Do you mean barriers here?

[2017-12-14 18:55] HendrikLeuschner commented on #49
Hi Peter,
this is a bug in the custom code which we use in our extended OSMReader that creates restriction storages, e.g. for height restrictions. See ORSOSMReader (onProcessWay) for that. The problem here is that in the (uncommon) case that a non-tower node has a restriction to it and is on top of a way, our storage does not process this information. Our current storage only directly processes OS

[2017-12-14 20:27] karussell commented on #49
Ah, ok. Thanks for the explanation.

[2017-12-20 14:14] rabidllama opened #54 "Allow the returning of fully GeoJSON compatable route object"
Currently when requesting a route, you can tell the service to return the route geometry in GeoJSON format, but the response itself is not GeoJSON. It would be beneficial to be able to return the whole response as a GeoJSON object so that it can be directly used in other tools/services such as QGIS.

[2017-12-21 09:00] #38 closed, assigned to TimMcCauley

[2017-12-22 14:51] GPistre opened #57 "Instructions for running with own OSM dataset"
I followed the instructions for building with docker & own osm dataset at README.md and docker/README.md,
- added my own osm file to docker/data
- created a new app.config file from the sample at https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/WebContent/WEB-INF/app.config.sample, replacing heidelberg.osm.gz with my own file
- edited docker-compose.yml to reference the n

[2017-12-27 18:21] TimMcCauley commented on #57
Greetings - can you show me your app.config file and docker-compose.yml ?

[2017-12-27 18:31] GPistre commented on #57
I managed to get it to work using those exact commands (for a specific osm file)

[code]

[2017-12-27 18:36] TimMcCauley commented on #57
Great - can I consider this closed? p.s. and sorry for the late reply..!

[2017-12-27 18:48] GPistre commented on #57
Yes.
No worries, as long as it works :)

[2017-12-27 18:52] #57 closed, assigned to TimMcCauley

[2017-12-29 08:00] realthargor commented on #51
A bit clarification perhaps. I tried to use it with foot_hiking and always got an 500 error as result.

https://api.openrouteservice.org/directions?coordinates=172.78333%2C-34.45366%7C172.7843%2C-34.45384%7C172.78567%2C-34.45513%7C172.78782%2C-34.45513%7C172.79071%2C-34.45503&profile=foot-hiking&preference=recommended&units=m&geometry=true&geometry_format=geojson&geometry_simplify=false&instructio

[2017-12-29 08:04] realthargor opened #60 "Detour_factor not working"
I'm trying to get the detour_factor, precentage and avgspeed from the
directions api via attributes and it's not working.

Each segment has an avgspeed, but detour_factor and precentage is missing.

Here is my query:

https://api.openrouteservice.org/directions?coordinates=172.77756%2C-34.45213%7C172.77763%2C-34.45213%7C172.77904%2C-34.45242%7C172.78153%2C-34.45332%7C172.78333%2C-34.45366%7C172.78

[2017-12-29 08:08] TimMcCauley commented on #60
You had two typos, try this:

https://api.openrouteservice.org/directions?coordinates=172.77756%2C-34.45213%7C172.77763%2C-34.45213%7C172.77904%2C-34.45242%7C172.78153%2C-34.45332%7C172.78333%2C-34.45366%7C172.7843%2C-34.45384%7C172.78567%2C-34.45513%7C172.78782%2C-34.45513%7C172.79071%2C-34.45503%7C172.7932%2C-34.45529%7C172.79492%2C-34.45593%7C172.80383%2C-34.45695%7C172.80681%2C-34.45656%7C172.

[2017-12-29 08:08] #60 closed, assigned to nobody

[2017-12-31 12:47] TheGreatRefrigerator opened #61 "detourfactor consistency"
currently the request parameter used is `attributes=detourfactor`,
while the response returns `detour_factor: xx`
we should make this consistent and also return `detourfactor`

[2018-01-02 14:23] #49 closed, assigned to HendrikLeuschner

[2018-01-02 22:06] karussell opened #63 "Potential matrix issues"
I'm relatively certain that they are some bugs but I'm not 100% sure as I have integrated the code differently using an unmodified GraphHopper.

You can try to reproduce them if you run a few (5000) matrix request with 2 or 5 points over berlin area via comparing with single 1 to 1 requests.

[code]

and

[code]

And finally a more tricky one in [RPHASTAlgorithm.fillEdgesDownward](https://github.c

[2018-01-02 22:08] karussell opened #64 "Why MultiTreeSPEntry.totalWeight and involved summation is necessary?"
I hope questions should go into issues :) ?

[2018-01-03 11:08] HendrikLeuschner commented on #63
Thanks, I'll have a look at the bugs

[2018-01-03 11:11] rabidllama commented on #48
Closed with merge #62

[2018-01-03 11:11] #48 closed, assigned to HendrikLeuschner, MichaelsJP

[2018-01-03 11:12] rabidllama commented on #8
closed with merge #59

[2018-01-03 11:12] #8 closed, assigned to rabidllama, MichaelsJP

[2018-01-03 11:46] HendrikLeuschner commented on #63
@karussell Could you elaborate on your first bug fix? As far as I can see you've added a check whether a node has weights assigned to it already, correct? This is never the case in our implementation as [RPHASTAlgorithm.calcpaths](https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/java/heigit/ors/routing/algorithms/RPHASTAlgorithm.java#L181 ) is the first method to

[2018-01-03 11:55] karussell commented on #63
I think this is a rare edge case if you have coordinates resulting in the same node IDs, often different coordinates that snap to the same coordinate on the road resulting in the same tower node (but sometimes also pillar node).

[2018-01-03 12:01] HendrikLeuschner opened #65 "Unit tests for RPHAST algorithm"

[2018-01-03 16:36] HendrikLeuschner commented on #64
Hi Peter,
this summation is used in the compareTo method of MultiTreeSPEntry. The sum is used here to be consistent with SPTEntry.compareTo. I do not really recall where this was used, but I'm sure it is used somewhere. In SPTEntry, the weights are compared. In MultiTreeSPEntry, there are multiple weights, but we need one boolean as result of the comparison, therefore we sum over all weights of th

[2018-01-03 16:41] karussell commented on #64
Try removing this and it will still work.

I didn't find anything

[2018-01-03 16:43] HendrikLeuschner commented on #63
Okay, that makes sense, though it's a rare case. Concerning the second bug: Here I also do not quite understand the problem. We build the SubGraph from the targets going upwards level-wise until we reach the globally highest node. Then we search for the highest node going upwards from all source nodes. We then calculate the weights as described in the (R)PHAST papers. I don't understand how node 6

[2018-01-03 16:49] HendrikLeuschner commented on #64
The compareTo method is used when inserting entries into the prioQueue in java.util. The SPEntry uses this as well. Not sure about the inner workings of the queue, but shouldn't this be done correctly? What happens when the prioQueue is not ordered by weight? Would it be possible to remove the compareTo method of SPTEntry then as well?

[2018-01-03 16:54] karussell commented on #63
Sure and no big problems as a result, unlike with the other 2 bugs

It is also an edge case IMO (but frequent in praxis) and happens only if a query results in a tower node and not a virtual node. The difference is the level: a tower node has a fixed one associated (and makes here this problem) and a virtual node is always explored (see DownwardSearchEdgeFilter.accept)

[2018-01-03 16:59] karussell commented on #64
I don't think we need a queue as we explore "everything" reachable with CH (I might be wrong here) and as long as we have a proper update mechanism of suboptimal weights (which we seem to have).

We could use a simple stack or list. IMO the weight does not matter. Again you can try if you replace the totalWeight with something completely different and it will still work correctly (the tests would

[2018-01-04 14:16] TimMcCauley commented on #51
@realthargor we are looking into this.

[2018-01-04 16:04] HendrikLeuschner commented on #63
I'm afraid I still do not see the problem. The DownwardEdgeFilter is used while creating the Subgraph. The initial building routine has all destination nodes as queue. The graph is then built upwards level-wise, which means all nodes with a level higher than the current node are accepted by the DownwardEdgeFilter (The name is a bit misleading here). When the highest node in the graph is reached by

[2018-01-04 16:14] karussell commented on #63
Yes, I know. I also find the naming misleading. Maybe I explain myself a bit wrong or my reasoning is just wrong, but there is an issue and you'll find it if you compare matrix requests with single route requests.

The problem is maybe that it is assumed that there is at least one step for the upward search, which in this case is not existing (IMO because the query node is a tower node).

[2018-01-04 16:59] HendrikLeuschner commented on #63
I'll need to look into that again.
Concerning your third bug: I think I know what the problem here is. The whole 'update' logic is used to save some computational time, exploiting the fact that we use one MultiTreeSPEntry for n entries instead of n SPTEntries. Basically what happens is the following: When we visit a node, we calculate weights from all start nodes to that node and set them as the n

[2018-01-04 17:05] karussell commented on #63
Ok. Regarding the test: I was not able to extract a unit test yet. But it was easy to run some random matrix requests on berlin and compare them with single route requests - see here for the code I'm using: https://gist.github.com/karussell/99dfdb7a73105bd31f38c64e4f66a8e4

[2018-01-04 17:06] karussell commented on #63
And this is the line where it starts to do the single requests: https://gist.github.com/karussell/99dfdb7a73105bd31f38c64e4f66a8e4#file-measurement-java-L276

[2018-01-04 18:03] HendrikLeuschner commented on #63
Concerning bug 3: Adding
`if(!_targetGraph.containsNode(currEdge.adjNode)) currEdge.resetUpdate(false);`
in line [312](https://github.com/GIScience/openrouteservice/blob/757763ca8027c5f1015d0b4817e749713c26bfde/openrouteservice/src/main/java/heigit/ors/routing/algorithms/RPHASTAlgorithm.java#L312) should solve the problem. I have not tested yet though. Will try tomorrow.
The additional check preve

[2018-01-04 19:48] karussell commented on #63
if the SubGraph method is meant like
[code]

then this does not help in my case.

[2018-01-04 19:53] karussell commented on #63
Sorry, can confirm this worked in my test case! ... used the wrong currEdge.resetUpdate(false)

[2018-01-04 20:08] karussell commented on #63
But performance speaks now for commenting out `if (_msptItem.update == false) continue;` since I realized that we could remove all update related code in the fillEdgesDownward like resetUpdate (Is this correct?)

I do not see how the "continue" helps with performance in fillEdgesDownward as it only skips a tiny code branch or should it be necessary for correctness?

For 500 locations, area berlin

[2018-01-04 21:30] karussell commented on #64
Sorry, I have to take back the argument that nothing changes if we change the order (or replace the queue with a list). With max(weight) it gets slower (1.2x) and with weight=0 it gets significantly slower (7x), but correctness seems not affected. Will have to read again the papers why this is necessary for a speedup, probably the update state skips lots of uninteresting sitations? But why not wei

[2018-01-04 21:30] #64 closed, assigned to HendrikLeuschner

[2018-01-04 21:58] karussell commented on #63
There is one more bug left, which I'm unsure about. Let me call it bug 1b as it is related to bug 1. If there are two locations very close to each other this results in a `weight==0`, ie. the same situation that is currently used for "disconnected points".

I'm unsure how to apply the current workaround of a small weight>0 to avoid this. Can we instead try to move the "notation" to `weight<0` for

[2018-01-07 10:41] HendrikLeuschner commented on #63
I'm on vacation right now and will look at the issues as soon as I am back.

[2018-01-07 16:47] Stemby opened #68 "Adding intermediate waypoints"
Hi,
currently when a new waypoint is added (right click → "Add as via point"), it is considered as the last waypoint before the destination (B). In my opinion this is a good general solution, but when I click **on** the calculated route I'd find more natural and productive considering the new waypoint as an intermediate point between the adjacent ones.

![schermata da 2018-01-07 17-37-24](https://

[2018-01-07 17:02] Stemby opened #69 "Limited number of waypoints"
Hi,
currently the number of waypoints is limited to 50 (48 intermediate waypoints + A + B).

When I try to add a further waypoint I get this error:

Is it possible to remove this limit? Is this a technical issue, or a political choice?

Thank you!

Carlo

[2018-01-07 18:07] TimMcCauley commented on #69
It is a technical issue currently, we might increase this though in the future. What are the limits of other service providers, e.g. google maps ?

[2018-01-07 18:14] TimMcCauley commented on #68
@Stemby this is a client issue which is why I would kindly ask you to move it to https://github.com/GIScience/openrouteservice-app . We can take it further there.

[2018-01-07 18:14] #68 closed, assigned to nobody

[2018-01-07 23:11] Stemby commented on #68
[Thanks](https://github.com/GIScience/openrouteservice-app/issues/174)!

[2018-01-08 01:47] Stemby commented on #69
Thank you very much! What kind of technical issue?

In Google Maps [the limit](https://developers.google.com/maps/documentation/javascript/directions#Waypoints) currently should be 23 + origin + destination (= 25).

I can't find limits in Strava. Any documentation?

[2018-01-08 07:33] TimMcCauley commented on #69
The traversal of the graph/nodes that increases, but I’m not 100% sure how this is currently handled, I will have to check. What would be your desired # of waypoints ?

[2018-01-09 15:37] sfendrich opened #70 "Replace import sun.misc.Base64Encoder"
The classes in sun.* are not portable across different Java implementations, e.g., "mvn compile" fails on my machine due to heigit/ors/routing/traffic/TrafficUtility.java importing sun.misc.Base64Encoder (see [Why Developers Should Not Write Programs That Call 'sun' Packages](http://www.oracle.com/technetwork/java/faq-sun-packages-142232.html)). java.util.Base64 would be a better choice.

[2018-01-09 20:10] TimMcCauley commented on #70
@sfendrich thanks for pointing this out - feel free to change and push to the repository

[2018-01-11 08:31] #70 closed, assigned to sfendrich

[2018-01-12 13:54] rabidllama opened #75 "HGV restrictions not working correctly"
It seems that HGV restrictions (at least width) are only taken into account if other restrictions are also added.

The following way has a maxwidth property of 2
http://www.openstreetmap.org/way/37855163

When a restriction is set on hgv routing for this it is NOT taken into account

https://openrouteservice.org/directions?n1=49.428983&n2=8.689633&n3=17&a=49.430117,8.690915,49.427758,8.68834&b=4a&

[2018-01-15 09:11] dkerkow opened #78 "Error 299: Unable to compute route"
The following request fails Error 299:

[code]

...whereas it works with `preference=fastest`.

Is this something I can avoid tweaking the parameters or should I live with the fastest distance in cases like this?

[2018-01-15 09:22] TimMcCauley commented on #78
@dkerkow this is probably a very seldom case and I'm not sure what the reason is at the moment ( https://openrouteservice.org/directions?n1=50.7297&n2=10.852001&n3=14&a=50.74994,10.80874,50.720223,10.890477&b=0&c=0&k1=en-US&k2=km ) . We will look into this. If you experience this again somewhere else please send us the url again.

[2018-01-15 12:11] dkerkow commented on #78
Ok, just out of curiosity I tried to get the return trip, but this does not
work either.

Am 15.01.2018 10:23 vorm. schrieb "Timothy" <notifications@github.com>:

@dkerkow <https://github.com/dkerkow> this is probably a very seldom case
and I'm not sure what the reasons is at the moment (
https://openrouteservice.org/directions?n1=50.7297&n2=10.
852001&n3=14&a=50.74994,10.80874,50.720223,10.890477

[2018-01-18 15:11] TimMcCauley opened #79 "Accessibility analysis of custom destination points"
The idea here to give the user the ability to input a list of coordinates (waypoints), a centroid and and a limit option length/time. The API returns the indices of those waypoints which can be reached in that time. It is basically a "light" version of a proper accessibility analysis API which will allow you to specify types of POIs you want to reach within given time/distance.

[2018-01-18 15:15] HendrikLeuschner commented on #63
In theory this helps with performance like it does in the upwards pass. The overhead might be larger than the improvement though, which it looks like regarding your test times. It is not necessary for correctness, the intention is to skip redundant computations.

The original idea behind choosing weight=0 was to skip the weight assignment when creating a new entry, therefore saving some variable a

[2018-01-19 11:38] TimMcCauley opened #80 "If info in app.config is missing, GPX build will fail, make it optional"

[2018-01-19 16:50] TimMcCauley commented on #80
Let's make this optional ;-)

[2018-01-19 16:52] TimMcCauley opened #81 "Matrix currently not working for any profile other than vehicles"
Most likely an issue to do with Dijsktra. When using optimized=false profiles, let's limit the number to 10x10.

[2018-01-21 09:12] rabidllama commented on #80
I think the problem is that if we are sticking to the gpx schema, than all of the extra info that is in the app.config is mandatory, so strictly speaking, if that information is not there, then what we return isn't gpx

[2018-01-21 16:39] TimMcCauley commented on #80
Roger, shall we hard core something default which can be overwritten by app.config?

[2018-01-22 09:45] karussell commented on #63
yes, with positive infinity. I do not see another option (or maybe Double.MAX_VALUE)

[2018-01-22 21:18] MichaelsJP commented on #80
I added some logic inside the GpxRoutingResponseWriter to check if the config variables are set. if not they are left blank and an error is printed out to the user console e.g. "Config parameter support_mail is missing" .

I omitted a classic try catch because the error handling breaks the gpx routine.
@TimMcCauley We could insert some generic values and/or skip the printing...

Generally speaking

[2018-01-23 09:13] TimMcCauley commented on #80
Roger, thanks! Can you create a PR?

[2018-01-24 10:44] rabidllama commented on #51
OK, I have looked into this and the returning errors is indeed a bug which should be fixed shortly. However, the `continue_straight` option is not intended to tell the engine that it cannot backtrack on itself, more that it should **try not to**. As such, if a via point does invoke a u-turn, the engine will try and find an alternative that wouldn't back track. In the second example provided howeve

[2018-01-24 11:30] TimMcCauley commented on #51
👍

[2018-01-24 15:34] #75 closed, assigned to rabidllama

[2018-01-25 15:50] #51 closed, assigned to rabidllama

[2018-01-25 18:05] HendrikLeuschner commented on #78
@dkerkow this issue is probably related to a speed on a road set to speed=0, but not marked as inaccessible. (See  https://github.com/graphhopper/graphhopper/issues/242 if you're interested)
I'm working on it.

[2018-01-25 18:38] #81 closed, assigned to HendrikLeuschner

[2018-01-25 18:38] #63 closed, assigned to HendrikLeuschner

[2018-01-29 12:09] rabidllama commented on #80
Fixed in PR #84

[2018-01-29 12:09] #80 closed, assigned to MichaelsJP

[2018-01-29 12:40] rabidllama commented on #41
![](https://github.trello.services/images/mini-trello-icon.png) [Borders](https://trello.com/c/PCOQwDlf/1-borders)

[2018-01-30 08:09] eliboni opened #89 "Route calculation failure, meaningless error numbers"
Ref: https://groups.google.com/forum/#!topic/openrouteservice

https://api.openrouteservice.org/directions?api_key=<key>&coordinates=51.401380%2C35.700620%7C51.0578%2C35.848135&profile=driving-car&preference=fastest

From Ramsar: Lat,Lng (36.90387,50.68514)
To Theran  Lat,Lng (35.70062,51.40138)

fails with "random" errors

{"error":{},"info":{"engine":{"version":"4.4.0","build_date":"2018-01-20T1

[2018-01-30 08:52] #65 closed, assigned to HendrikLeuschner

[2018-01-30 08:53] #69 closed, assigned to nobody

[2018-01-31 03:58] Stemby commented on #69
Hi @TimMcCauley, sorry for the delay. 100 waypoints would be enough for my need, I suppose.

Thank you!

[2018-01-31 11:50] nilsnolde commented on #45
Invalid. The `range` parameter actually can take a list of arbitrary values to generate isochrones from. Much better than a `minimum range`

[2018-01-31 11:50] #45 closed, assigned to nobody

[2018-01-31 13:26] nilsnolde opened #91 "Isochrone response summary gives wrong 'range' when units != m"
When specifying `units=km/mi`, the returned request summary specifies `range` in meter values.

Here a response for `range=6` and `units=mi`:
[code]

[2018-01-31 17:17] HendrikLeuschner opened #94 "Restrict Matrix locations count when using Dijkstra, configurable via app.config"

[2018-02-01 10:10] rabidllama opened #95 "Avoid polygons does not work correctly"
See below screenshots - it seems that the second polygon results in a route not found even though it does not touch a part of the route from the first screenshot

![screenshot from 2018-02-01 11-07-22](https://user-images.githubusercontent.com/7126643/35672887-3304fc36-0740-11e8-9a36-66ffcc01bad4.png)

![screenshot from 2018-02-01 11-07-48](https://user-images.githubusercontent.com/7126643/3567289

[2018-02-01 16:40] HendrikLeuschner opened #96 "Rewrite tollway logic"

[2018-02-01 16:41] HendrikLeuschner commented on #96
Should be resolved by #97

[2018-02-01 16:49] #96 closed, assigned to HendrikLeuschner

[2018-02-01 17:48] HendrikLeuschner commented on #96
Let me test this in the new server environment when it's running before pulling. Only tested locally.

[2018-02-02 15:21] HendrikLeuschner commented on #94
closed via #102

[2018-02-02 15:21] #94 closed, assigned to HendrikLeuschner

[2018-02-06 15:22] HendrikLeuschner commented on #89
Hi @eliboni ,

I am having a look at the issue. Will keep you updated. Thanks for narrowing it down already, helps a lot.

Hendrik

[2018-02-06 17:52] HendrikLeuschner commented on #89
@eliboni
The error is coming from the roundabout, specifically the problem that for some reason (that I can't tell you yet), the instruction is to leave at exit 0, which should be exit 1.
If you are consuming the API and do not need the instructions, you can try it with the added parameter "instructions=false", i.e.

https://api.openrouteservice.org/directions?api_key=&coordinates=51.401380%2C35.7

[2018-02-07 12:12] TimMcCauley opened #106 "Enable population data for isochrones"

[2018-02-07 12:42] HendrikLeuschner commented on #89
As said, this has to do with the roundabout. It looks like this is more a problem with the OSM data than with our service. The roundabout does not seem to be correctly tagged. "Normal" roundabouts with correct tags work. I will push a quick fix for this problem and it will be publicly available with the next release. Routes should then be returned as usual, though the roundabout exit number will n

[2018-02-07 13:00] Kinas opened #107 "Ability to avoid specific surfaces|waytypes"
For bikers it would be nice if we could add something to avoid additional features:

For example I want to go from Heidelberg to Stuttgart by bike. I can see that my route contains 4% unpaved ground but saying it in numbers would mean I have to go on 4.5 km on a unpaved ground which is not that nice. So I would like to avoid some surface types on my route even though that means my route will be lo

[2018-02-07 15:00] HendrikLeuschner commented on #89
Closed by #108

[2018-02-07 15:00] #89 closed, assigned to HendrikLeuschner

[2018-02-08 16:27] TheGreatRefrigerator opened #109 "Change internal Error Codes"
Internal error codes are easy to confuse with http status codes
You can get an http 200 and still end up with an internal 200 error:
_Unable to parse JSON request._
Maybe changing to four digits would be helpful.

[2018-02-12 01:52] eliboni commented on #89
@HendrikLeuschner  many thanks for the feedback. Unfortunately I need "instructions=true" because that is the only way to get the distance between the intermediate waypoints (it would be nice to get that without the full instructions list). I'm looking forward for the next release.

[2018-02-12 17:11] HendrikLeuschner commented on #95
@rabidllama , could you provide the API query for these two so I can begin fixing? Thanks in advance

[2018-02-12 17:12] HendrikLeuschner commented on #78
This bug might take a bit of time to fix. Can not give an ETA yet. Sorry for the inconvenience

[2018-02-13 09:00] rabidllama commented on #95
https://api.openrouteservice.org/pdirections?api_key=58d904a497c67e00015b45fccaafa4432232493184c37adb81bb6c01&attributes=detourfactor|percentage&coordinates=8.684692,49.401968|8.690186,49.404299&elevation=true&extra_info=steepness|waytype|surface&geometry=true&geometry_format=geojson&instructions=true&instructions_format=html&language=en-US&options={"profile_params":{},"avoid_polygons":{"type":"Po

[2018-02-14 00:44] nilsnolde opened #113 "Geocoding returns HTTP 200 on unknown location"
If pointing to North Sea coordinates, geocoding API is not responding with an error code:

[code]

[2018-02-14 10:02] TimMcCauley opened #114 "Profiling graph preprocessing"
The idea here is to find bottlenecks in the graph computation. It might make sense to use this plugin: http://plugins.jetbrains.com/plugin/7115-visualvm-launcher

[2018-02-16 19:38] MichaelsJP commented on #106
https://github.com/GIScience/openrouteservice/commit/a1f445b1454ff8c4e91543c9dfab8c39dc6a2f87

[2018-02-16 19:41] MichaelsJP commented on #106
`http://localhost:8082/openrouteservice-4.4.0/isochrones?locations=8.67255110065730,49.40585904466701&profile=driving-car&range=60&attributes=pop_area`

try this query if you want to test it. But attribution must be set in the app.config before.

[2018-02-22 08:39] TimMcCauley opened #119 "Remove channeling of geocoding from the core, use Pelias directly"
We can direct requests directly to the pelias API without pushing them through the openrouteservice core

[2018-02-22 08:40] TimMcCauley opened #120 "Remove channeling of places from the core, use openpoiservice directly"

[2018-02-22 14:29] #113 closed, assigned to rabidllama

[2018-02-22 14:29] #109 closed, assigned to rabidllama, TimMcCauley, MichaelsJP

[2018-02-22 16:07] MichaelsJP opened #123 "Write a global export function"
Write a global export function that handles all the export formats in one place.

[2018-02-23 11:00] RobertSmart opened #125 "Doesn't work with GB dataset"
Hi,

I'm trying to get this working with this dataset:

http://download.geofabrik.de/europe/great-britain.html

It all runs fine up until this point. It then hangs for ages and eventually crashes.

ors-core     | 23-Feb-2018 10:45:08.869 WARNING [ORS-pl-vehicles] heigit.ors.routing.graphhopper.extensions.GraphProcessContext.processWay For input string: "defaut". Way id = 561216870

I've given dock

[2018-02-23 11:43] RobertSmart commented on #125
When the process crashes I get an error message of:
ors-core     | 23-Feb-2018 10:45:08.869 WARNING [ORS-pl-vehicles] heigit.ors.routing.graphhopper.extensions.GraphProcessContext.processWay For input string: "defaut". Way id = 561216870
ors-core exited with code 137

[2018-02-23 13:13] #123 closed, assigned to rabidllama, MichaelsJP

[2018-02-23 13:14] #106 closed, assigned to TimMcCauley, nilsnolde

[2018-02-23 13:14] #54 closed, assigned to rabidllama, MichaelsJP

[2018-02-23 13:42] TimMcCauley commented on #125
@RobertSmart what are your Xmx settings?

[2018-02-23 14:01] RobertSmart commented on #125
- JAVA_OPTS=-Djava.awt.headless=true -server -XX:TargetSurvivorRatio=75 -XX:SurvivorRatio=64 -XX:MaxTenuringThreshold=3 -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -XX:ParallelGCThreads=4 -Xms1g -Xmx6g

[2018-02-23 14:43] TimMcCauley commented on #125
Could you try running Greater London first? It will help us debug 🥇

[2018-02-23 14:44] RobertSmart commented on #125
sure

[2018-02-23 17:57] RobertSmart commented on #125
Greater London from the same source worked fine

[2018-02-24 10:23] TimMcCauley commented on #125
Then you are most likely exceeding the memory limits when importing the bigger pbf file. What profiles are you using? You won't fit more than one group into 6GB RAM for entire Great Britain. Can you try just adding "pedestrian" to active profiles in the app.config ?

[2018-02-25 11:53] noerw opened #126 "wrong error message for isochrones max range value"
I requested `range=3601`. The error message has max value and provided value swapped:

[code]

[2018-02-25 11:56] noerw opened #127 "cannot login with GitHub oauth"
This is probably not the right place to report this, but the website repo seems to be private..:

I cannot login with Github to access my API key. This worked a couple of weeks ago.
I noticed you changed the domain from `go.openrouteservice.org` to `openrouteservice.org`, might that be the issue?

[2018-02-25 12:40] TimMcCauley commented on #127
@noerw thank you a bunch for pointing this out - I updated the OAuth settings now. Does it work again?

[2018-02-25 12:42] noerw commented on #127
yep! :+1:

[2018-02-25 12:46] TimMcCauley commented on #127
Phew, thanks 👍

[2018-02-25 12:47] #127 closed, assigned to TimMcCauley

[2018-02-26 08:39] RobertSmart commented on #125
I’m just loading the vechicle profile. Thats all I really need at the moment.

How much RAM would likely be needed to load this?

[2018-02-26 15:19] TimMcCauley commented on #125
@RobertSmart can you disable elevation and just try pedestrian for now? It will help me point you in the right direction.

[2018-02-27 09:42] #61 closed, assigned to rabidllama, MichaelsJP

[2018-02-27 11:06] #41 closed, assigned to rabidllama

[2018-02-27 12:49] nilsnolde opened #131 "'area' attribute for isochrone request calculates in geodetic CRS"
Response with `total_pop` attribute:
`"area":3.5875821964E8,"total_pop":281579,"total_area_km":151.6472`

`total_area_km` is calculate in Mollweide and should be the right result. Please check where `area` is calculated and if it's in PostGIS, project to EPSG:3035 (LAEA) or ESRI: 54009 (Mollweide). For Mollweide (which would make more sense, to be consistent), you'll have to add it to spatial_ref_

[2018-02-28 14:08] nilsnolde opened #134 "Geocoding 404 doesn't provide error message"
#113
Instead of an error message, it gives a normal (but empty) json response. Please make it consistent with other 404's.

[2018-02-28 16:30] pathmapper opened #567 "Error Code 2099 references always point 1"
If a point can't be used for the routing, the Error Code 2099 references always point 1, regardless which point is causing the error (the coordinates shown in the error message are correct).

Example:

![auswahl_103](https://user-images.githubusercontent.com/20856381/36799234-f35bda1e-1cac-11e8-8258-77f6c1b1608c.png)

[2018-03-01 08:51] petrot opened #135 "getDirection not work"
For a dew days I got the following error message when trying to get direction to a point:

UPD: the error caused by the "elevation=true" parameter:

working:
`https://api.openrouteservice.org/directions?api_key=<MY_EXISTING_API_KEY>&
profile=driving-car&preference=recommended&language=hu&geometry=true&geometry_format=geojson&coordinates=20.1810948,46.269903799999994%7C27.867883,43.229733%7C20.0012

[2018-03-01 10:32] rabidllama opened #136 "Export as GeoJSON geometry incorrect"
When exporting the whole response as GeoJSON, the coordinates are being truncated to 4 decimal places and so the geometry is innaccurate.

Below is normal route using JSON response
![screenshot from 2018-03-01 11-27-18](https://user-images.githubusercontent.com/7126643/36839929-ae3f76c4-1d43-11e8-8154-659b1fee14f2.png)

and this is when using a full geojson response
![screenshot from 2018-03-01 11

[2018-03-01 11:04] TimMcCauley commented on #136
Please use 6 decimals, this will suffice.

[2018-03-01 17:30] nilsnolde opened #137 "Isochrones: add option to adjust polygon smoothness"
Make the alpha factor for isochrone polygonization adjustable with a request parameter, either via smoothness categories or numerically. I prefer categories, alpha factors are not really intuitive to set numerically.

Or alternatively, restore the old behavior to return proper alpha shapes (should still be in the code base) and either let clients deal with simplification or add boolean `simplify`

[2018-03-01 18:20] stevevance commented on #137
Thanks for listening, @nilsnolde
For reference, (former) [Mapzen's isochrone service](https://mapzen.com/documentation/mobility/isochrone/api-reference/#inputs-of-the-isochrone-service), a service I used to use because it incorporated transit routes, had a `denoise` parameter:

[2018-03-01 21:44] TimMcCauley commented on #137
@stevevance roger, thanks for the information, we'll definitely look into this! Stay tuned.

[2018-03-03 20:44] nilsnolde opened #138 "instructions = 'false' returns HTTP 400"
E.g.
`https://api.openrouteservice.org/directions?api_key=key&coordinates=8.34234%2C48.23424%7C8.34423%2C48.26424&profile=driving-car&instructions=false`

returns

[code]

Could be related to #139 ..

[2018-03-05 12:13] nilsnolde opened #139 "directions API does not return correct duration and distance summary"
Using 'geojson' format, I can't find the summary for `distance` and `duration` anymore, e.g.:
[code]

The first object in `segments` says
```{"distance":2029.3,"duration":240.4,"steps":...```

When summing up all individual segments, it's really a duration of 2471.800 secs.

Please investigate and fix asap! Could be related to #138..

[2018-03-05 14:51] MichaelsJP commented on #139
`{"distance":2029.3,"duration":240.4...` in `segments` always refers to the next step. It's not the overall summary.
In fact the overall summary was missing. I'm adding it now. Thx for the note!

[2018-03-05 15:13] eliboni commented on #89
Folks, the roundabout exit issue seems solved, but the original route I was trying to calculate is still failing with 4.5!

https://maps.openrouteservice.org/directions?n1=35.700619&n2=51.401376&n3=17&a=36.90387,50.68514,35.701037,51.40151&b=0&c=0&k1=en-US&k2=km

I'm trying to narrow down, there must be another issue somewhere...

[2018-03-05 15:23] eliboni commented on #89
I'm puzzled, I can narrow the issue down to this:

https://maps.openrouteservice.org/directions?n1=35.808069&n2=51.014081&n3=16&a=35.810853,51.012762,35.786775,51.024005&b=0&c=0&k1=en-US&k2=km

but not further, the problem then disappears...

[2018-03-05 18:52] TimMcCauley commented on #135
@petrot, currently elevation is disabled, will be enabled again within the next week.

[2018-03-05 18:52] #135 closed, assigned to TimMcCauley

[2018-03-06 07:25] TimMcCauley commented on #138
This API call is working for me, why?

[code]

[2018-03-06 07:33] jab commented on #138
lol you just pinged a whole bunch of GitHub users and subscribed us to this issue! maybe adding code fences around your pasted output would have prevented?
https://help.github.com/articles/creating-and-highlighting-code-blocks/

[2018-03-06 07:37] TimMcCauley commented on #138
Umpf, sorry @jab !! Pasting on the mobile fun definitely has some disadvantages... :)

[2018-03-06 07:41] TimMcCauley commented on #138
@MichaelsJP  this has got nothing to do with the geojson fix or am I wrong ?

[2018-03-06 08:45] TimMcCauley opened #141 "Integrate API documentation"
@rabidllama @MichaelsJP @HendrikLeuschner @TheGreatRefrigerator can you please communicate and integrate the api docs for matrix, isochrones and directions to the backend. @TheGreatRefrigerator can you please check how we can merge different ymls from arbitrary repositories in apiary?

[2018-03-06 08:51] TimMcCauley opened #142 "Detaching from GH-ORS fork"

[2018-03-06 23:26] kontrollanten opened #144 "Return specific status code when route not found"
**Current behavior:**
When a route isn't found, a 500 HTTP status is returned with the following response
[code]

**Expected behavior**
A 404 HTTP status code, or eventually an unique error code (not 2099, which is [Unknown error](https://openrouteservice.org/documentation/#/reference/directions/directions/directions-service)).

According to this test case, it seems that it's by design:
https://gi

[2018-03-07 15:05] eliboni opened #145 "Route calculation failure (2) - ref issue 89"
https://maps.openrouteservice.org/directions?n1=35.793398&n2=51.017831&n3=17&a=35.810244,51.012086,35.78983,51.018147&b=0&c=0&k1=en-US&k2=km

see https://github.com/GIScience/openrouteservice/issues/89 - the issue on the roundabout seem solved but the link above fails. What is weird if I try to narrow down the issue the problem disappears.

[2018-03-08 09:01] TimMcCauley commented on #107
Also see https://github.com/graphhopper/graphhopper/issues/655#issuecomment-369939126

[2018-03-10 13:05] guestisp opened #146 "Swapped lat/lng in GeoJSON output"
GeoJSON output is not RFC 7946 compliant.

GeoJSON needs coordinates to be stored as lng,lat but openrouteservice is making GeoJSON with lat,lng

[2018-03-10 14:31] TimMcCauley commented on #146
Hi, this isn’t true, ors responds in lng lat, can you please double check?

[2018-03-10 14:40] guestisp commented on #146
Did you change this recently? Because i've checked our geoJson (created a couple of months ago) and are swapped.

[2018-03-10 15:02] nilsnolde commented on #146
We didn’t offer geoJson a couple of months ago. And no, it’s always been that way in the raw Json. It’s only google who does lat lng, everyone else is sensible and uses x y.

[2018-03-10 15:02] nilsnolde commented on #146
I recommend checking your input.

[2018-03-10 15:02] #146 closed, assigned to nobody

[2018-03-10 15:05] guestisp commented on #146
Sorry, I'm talking about isochone output

[2018-03-11 15:00] TimMcCauley commented on #146
This is also correct, a polygon in Berlin:

```{"type":"FeatureCollection","features":[{"type":"Feature","geometry":{"type":"Polygon","coordinates":[[[13.266049,52.51077],[13.266305,52.50718],[13.273504,52.501778],[13.275819,52.49902],[13.284066,52.492197],[13.288964,52.487219],[13.291555,52.482162],[13.29246,52.481569],[13.300909,52.476103],[13.302521,52.472884],[13.30442,52.470886],[13.30802,52.

[2018-03-11 16:31] MichaelsJP commented on #138
@TimMcCauley In fact it is connected to it. The error only happens while instructions = false and format = geojson. It's a missing try-catch in the code.

[2018-03-11 22:43] RobertSmart commented on #125
Hi, ped profile didn’t work either.

[2018-03-13 09:48] rabidllama opened #148 "Error Logging is too verbose"
In normal mode, when an error is logged a full stack trace is also logged. Though this is suitable for debugging, it may not be optimal for productions instances. In those cases it should only log the message, not the stack trace.

[2018-03-13 10:01] #138 closed, assigned to MichaelsJP

[2018-03-13 10:03] #139 closed, assigned to MichaelsJP

[2018-03-13 10:03] #136 closed, assigned to MichaelsJP

[2018-03-13 10:04] #126 closed, assigned to rabidllama

[2018-03-13 13:18] #148 closed, assigned to rabidllama

[2018-03-13 13:19] #144 closed, assigned to rabidllama

[2018-03-13 13:19] rabidllama commented on #144
Code has been updated so that a 2009 internal error code is returned with a 404 http response

[2018-03-13 13:19] #134 closed, assigned to nobody

[2018-03-14 09:01] TimMcCauley commented on #125
@RobertSmart can you track the memory consumption of the heap. Are you running docker?

[2018-03-14 11:31] RobertSmart commented on #125
Hi, yes I'm running it on docker.

Whats the best way to memory profile a docker container?

Thanks,

Rob Smart

[2018-03-14 11:32] RobertSmart commented on #125
Arghh....pressed the wrong button! How do I uncloise this issue!!?!?!

[2018-03-15 13:55] TimMcCauley commented on #125
Please try `docker stats ors-app` right up to the moment it crashes

[2018-03-15 13:56] TimMcCauley commented on #17
Will be added with latest gh update

[2018-03-15 13:56] #17 closed, assigned to nobody

[2018-03-15 13:56] #16 closed, assigned to nobody

[2018-03-15 13:57] #18 closed, assigned to nobody

[2018-03-15 13:57] TimMcCauley commented on #3
Handled with bearings

[2018-03-15 13:57] #3 closed, assigned to nobody

[2018-03-15 13:58] TimMcCauley commented on #2
Handled in openpoiservice

[2018-03-15 13:58] #2 closed, assigned to nobody

[2018-03-15 13:58] TimMcCauley commented on #43
Will be added automatically when graphhopper updated

[2018-03-15 13:58] #43 closed, assigned to nobody

[2018-03-16 11:27] Maj0rrush opened #151 "CORS Error when requesting directions api"
Hey,

since this morning I always get an error when I make a request via dev machine -> localhost.

Failed to load https://api.openrouteservice.org/directions?api_key=$APIKEY&coordinates=6.93651887827815%2C51.11207410151039%7C6.951238841352023%2C51.09800812671892&profile=foot-walking&geometry_format=geojson

No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http

[2018-03-16 13:16] TimMcCauley commented on #151
@Maj0rrush was this working before? I just tried it myself and it's working from my localhost - can you please run the following script in a `cgi-bin`folder via `python -m CGIHTTPServer 8000` (run this on the same level) and let me know what the response is?

[code]

[2018-03-16 15:58] Maj0rrush commented on #151
Hi .. i have requestet a new api key and now it works again ;-) ... Issue closed for me ...

[2018-03-16 15:58] #151 closed, assigned to TimMcCauley

[2018-03-16 16:03] Maj0rrush opened #152 "Docker install Win10 fails .."
When i try to boot up docker im getting this error ....

Is Windows Host OS not supported ?

C:\Entwicklung\docker\openrouteservice-master>cd docker && docker-compose up

Building ors-build
Step 1/11 : FROM maven:3-jdk-8
 ---> 908bdbacafc2
Step 2/11 : ENV MAVEN_OPTS="-Dmaven.repo.local=.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.s

[2018-03-17 09:13] rabidllama commented on #152
Hi @Maj0rrush

did you clone the repository or download it as a zip archive? For the docker build to work, it needs to be cloned as this produces the .git folder and contents which are needed by one of the images in the docker build.

Hope that helps

[2018-03-17 10:28] TimMcCauley commented on #152
Yea, this will be the case @rabidllama can you add some information regarding this in the README.md for docker installation?

[2018-03-17 12:40] Maj0rrush commented on #152
thx work now!

[2018-03-17 12:40] #152 closed, assigned to nobody

[2018-03-17 12:55] Maj0rrush opened #153 "Docker build error"
hi,

again .. :-) Sorry im not really experienced with docker.

The buld steps run trough 10/11

but then after a bit downloading ...

Downloaded from central: https://repo.maven.apache.org/maven2/junit/junit/4.4/junit-4.4.pom (1.2 kB at 20 kB/s)
441199 [INFO] ------------------------------------------------------------------------
441204 [INFO] BUILD FAILURE
441208 [INFO] ------------------------

[2018-03-19 13:13] rabidllama commented on #153
From the error it seems to have been a problem with the osgeo repository rather than the docker build itself. Have you tried it again since that error in case it was a temporary issue with their server as I have just tried locally and it managed to download the required dependencies?

[2018-03-20 09:42] nilsnolde opened #154 "Evaluate directions 'options' object on backend"
The `options` object should be evaluated server-side. Now, it simply fails silently, when a parameter is specified in the wrong way, i.e. `maximumspeed` instead of `maximum_speed`, and returns the route without an error.

@MichaelsJP if and when you have the ressources. Or coordinate with @Elli96 if that makes sense. No urgency here though. But let's keep it in mind for 4.6 the latest.

[2018-03-21 17:46] RobertSmart commented on #125
Hi,

That didn't work. There is no ors-app container, only ors-core.

I've attached the log from the ors-core. Not sure if that will help. It just stopped whilst processing one of the ways.

[catalina.2018-03-21.log.zip](https://github.com/GIScience/openrouteservice/files/1834512/catalina.2018-03-21.log.zip)

[2018-03-27 09:30] rabidllama commented on #145
This should be fixed now in the last minor release made on 26/3/2018

@eliboni - can you double check and make sure that it works and if so I will close the issue

[2018-03-27 17:43] TheGreatRefrigerator opened #158 "Routing over solid line"
[This route](https://maps.openrouteservice.org/directions?n1=48.787541&n2=8.334761&n3=16&a=48.790439,8.324397,48.786523,8.342121&b=0&c=0&k1=en-US&k2=km) is taking an unusual and dangerous shortcut.
[The request (change key)](https://api.openrouteservice.org/directions?api_key=api_key&attributes=detourfactor|percentage&coordinates=8.324397,48.790439|8.342121,48.786523&elevation=true&extra_info=stee

[2018-03-28 07:15] rabidllama commented on #158
Just checked and it is definitely a problem in the underlying routing algorithms as it happens on the graphhopper site as well

[2018-03-28 08:44] TheGreatRefrigerator commented on #158
Hmm you are right: on the [graphhopper](https://graphhopper.com/maps/?point=48.787895%2C8.326135&point=48.785887%2C8.341627&locale=en&vehicle=car&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale) website it takes the shortcut.
But it works on the OSM website [using graphhopper](https://www.openstreetmap.org/directions?engine=graphhopper_car&route=48.7888%2C8.3252%3B48.7864%2C8.3420

[2018-03-29 10:00] jaronimoe opened #159 "isochrones bug: "intersections" parameter not registered in query - no effect on isochrones"
hi,

I'm trying to receive non-overlapping isochrones from the query, which I assume can be retrieved by setting the `intersections` parameter to "true"?
(the default seems to be "false" where the returned shape files are overlapping.)
(the description in the documentation could be a bit more verbose).

anyway, since I was not sure whether intersections should be true or false for retrieving non-o

[2018-03-30 20:37] TimMcCauley commented on #125
@RobertSmart  what does `docker logs ors-app` or `docker logs ors-core` say? The logs you sent me are basically saying that the graphs are being built. Which pbf are you now running? What what profiles have you enabled in `app.config` ?

[2018-03-30 20:48] TimMcCauley commented on #159
@jaronimoe the intersections parameter will work when you use two input locations for isochrones. If they overlap and intersections are set to false, it will look like this:

<img width="396" alt="screen shot 2018-03-30 at 22 45 40" src="https://user-images.githubusercontent.com/10322094/38153289-2e92f65e-346c-11e8-80f6-50def04d7d0a.png">

If you set intersections to `true` the overlapping ranges

[2018-03-30 20:48] #159 closed, assigned to TimMcCauley

[2018-03-30 20:49] TimMcCauley commented on #153
Considering this as closed for now.

[2018-03-30 20:49] #153 closed, assigned to nobody

[2018-04-02 22:21] eduarsilva commented on #125
Hi Tim,

The same is happening to me at the moment. Trying to load the new york dataset from: https://download.geofabrik.de/north-america.html
It gets to this point and the docker container crashes:

_**ors-core     | 02-Apr-2018 22:16:06.952 WARNING [ORS-pl-vehicles] heigit.ors.routing.graphhopper.extensions.GraphProcessContext.processWay For input string: "7  ons". Way id = 346338462
ors-core ex

[2018-04-03 13:29] rabidllama opened #161 "Create Contribution Guidelines"
We should have a contributing guidelines file which tells people explicitly how they should make a commit / pull request

[2018-04-03 13:39] rabidllama opened #162 "Update Wheelchair Routing Profile"
The wheelchair routing profile needs to be updated to fully take into account parameters that affect accessibility, especially width of sidewalks and the use of drop kerb heights

[2018-04-04 15:21] TimMcCauley commented on #159
@jaronimoe I got this wrong, sorry, the purpose of the "intersections" parameter is to include additional polygons which describe the intersection of isochrones that belong to different locations

[2018-04-04 21:23] TimMcCauley commented on #125
@eduarsilva can you please try https://download.geofabrik.de/north-america/us/district-of-columbia-latest.osm.pbf and let me know if it works?

[2018-04-08 07:29] CramericaIndustries opened #164 "CORS HTTPS-'options' preflight-request counts to API rate limits"
Hello there,
Outgoing from a HTTPS website, I'm querying the openrouteservice api using a jQuery.ajax() request. What jQuery.ajax() automatically does is, it sends an 'OPTIONS'-preflight-request to the api-webserver to test if the cross origin request is secure or not. After it found out that the 'OPTIONS' request is secure it will send the real 'GET' request. Problem now is that the first 'OPTION

[2018-04-08 16:46] TimMcCauley commented on #125
Please reopen when you can provide new information.

[2018-04-08 16:46] #125 closed, assigned to TimMcCauley

[2018-04-08 20:45] RobertSmart commented on #125
Sorry been on holiday. Back at work tomorrow so will report back

[2018-04-09 16:49] TheGreatRefrigerator opened #165 "missing "content-encoding" header with invalid authorization"
This is related to the Apiary Documentation:

If a request contains an invalid api_key or non at all, there is no content-encoding header in the response. Apiary then returns this:
![screenshot-2018-4-9 openrouteservice editor](https://user-images.githubusercontent.com/23240110/38510871-98d73ca2-3c26-11e8-97f7-e52458f4de92.png)
instead of the actual "key not authorized" error

[2018-04-09 20:06] TimMcCauley commented on #164
@CramericaIndustries thank you for sharing this, I will investigate to remove preflight requests from the counter.

[2018-04-10 13:23] sfendrich commented on #158
Seems to be a CH issue, as it works fine with [landmarks](https://graphhopper.com/maps/?point=48.787895%2C8.326135&point=48.785887%2C8.341627&locale=en&vehicle=car&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale&ch.disable=true).

[2018-04-11 11:19] TimMcCauley commented on #164
@CramericaIndustries , we made the necessary changes in the backend. Please try and let us know if this problem still persists.

[2018-04-11 11:29] CramericaIndustries commented on #164
Still getting following error at the 21th request
[code]

[2018-04-11 11:51] TimMcCauley commented on #164
Mhhh, can you try again now?

[2018-04-11 12:54] TimMcCauley commented on #164
@CramericaIndustries could you please include a functional html file with the code that I can test this on my machine directly?

[2018-04-11 15:17] CramericaIndustries commented on #164
@TimMcCauley sorry for the long response time... was out of the office.
The attachment contains a zipped html file which you can use to test the issue. You must upload it somewhere where it is served with HTTPS. It won't work when you directly open it (from your desktop) due to your browser not setting all http headers then. If your setup is ready, just open the file in your browser and enter your

[2018-04-12 19:22] eliboni commented on #145
confirmed. pls. you can close. Many thanks!

[2018-04-13 05:27] #145 closed, assigned to rabidllama

[2018-04-15 12:15] CramericaIndustries commented on #164
@TimMcCauley does the html file work?

[2018-04-17 06:50] TimMcCauley commented on #164
@CramericaIndustries yes, I haven't found time to look into this issue yet but it's on my high priority list! You aren't the first experiencing these problems, unfortunately..

[2018-04-22 11:21] Martin868 opened #167 "Lack of a manual/freehand route option"
On all the routing engines I know that allow the user to draw a route, there is on option to bypass routing for a section of the route and manually link two points. This option is handy when the route need to follow a missing way on the map, or that there is a routing error in the map database. I do a lot of cycling route planning and this happens all the time. For example the route planners in St

[2018-04-22 13:12] nilsnolde commented on #167
This is a frontend issue, please register it here:
https://github.com/GIScience/openrouteservice-app/issues

[2018-04-22 13:16] nilsnolde opened #168 "Missing XML declaration on GPX export?"
Ref. support email. Apparently `<?xml version="1.0"?>` is missing, preventing importers to dismiss the GPX file. Pls investigate and fix if true.

@MichaelsJP Feel free to re-assign, not sure about your workload these days..

[2018-04-22 14:16] TimMcCauley commented on #167
Frontend will consume this but it’s a feature that has to be implemented to the backend ultimately.

The idea is: if a direct connection should be returned the backend simply doesn’t optimize between those two waypoints. We have the code for this in an older version (which was implemented), I might be able to find it.

[2018-04-23 16:38] TimMcCauley commented on #164
@CramericaIndustries can you please try again now? If it works for you - can you check if the headers look ok?

[2018-04-23 17:18] CramericaIndustries commented on #164
@TimMcCauley Is working now. Thanks! Headers look the same as before.

[2018-04-23 17:20] TimMcCauley commented on #164
Great, I'll close this issue for now, let me know if anything weird arises, we'll fix it asap

[2018-04-23 17:20] #164 closed, assigned to TimMcCauley

[2018-04-30 07:52] MichalSayYes commented on #33
Is it possible to get a wheelchair now?

[2018-04-30 07:55] TimMcCauley commented on #33
Not yet, no. We are working on an update wheelchair profile at the moment.

[2018-04-30 08:00] MichalSayYes commented on #33
Thank you!!!
this is definitely an important and useful thing.
Have a Nice Day!

2018-04-30 10:55 GMT+03:00 Timothy <notifications@github.com>:

[2018-04-30 15:58] MichaelsJP commented on #168
@nilsnolde From my point of view the export looks fine. Below I added a simple API call I did myself. Do you know who raised that issue?
[gpx_route_example.txt](https://github.com/GIScience/openrouteservice/files/1961271/gpx_route_example.txt)

[2018-05-01 06:38] MichalSayYes commented on #33
Is there an approximate date when the service will be active?I need this for my app and I want to know if it is possible...
Thanks.

[2018-05-01 09:54] TimMcCauley commented on #33
Currently not, no, sorry.

[2018-05-03 14:07] aoles opened #170 "Error validating GPX response with schema"
There seem to be some problem with the GPX response format or the schema describing it. When I try to validate the resulting [XML](https://api.openrouteservice.org/directions?api_key=...&coordinates=8.34234,48.23424|8.34423,48.26424&profile=driving-car&format=gpx) with [XSD](https://raw.githubusercontent.com/GIScience/openrouteservice-schema/master/gpx/v1/ors-gpx.xsd) I get several errors:

These

[2018-05-03 17:12] MichaelsJP commented on #170
@aoles Thx for pointing this out. I will upload the fix in a minute!
Link to the correct issue --> GIScience/openrouteservice-schema#1

[2018-05-04 07:50] aoles commented on #170
Thanks, I confirm that the now the XML validates fine.

[2018-05-04 07:50] #170 closed, assigned to MichaelsJP

[2018-05-04 08:48] TimMcCauley commented on #169
@heyarne sorry for the late response. Can you removed the `graphs` folder and restart the container? Can you be certain that the app.config inside the container is pointing to the correct pbf?

[2018-05-04 09:41] rrrnld commented on #169
I ran the following commands (from within the docker folder):

[code]

And I could observe the same behavior. Then I ran `docker exec -it ors-core bash` to examine the running container.

[code]

So from what I can tell the only pbf you configure is in the  `update` section, which is disabled by default. The path inside the `app.config` that points to something related to heidelberg (the default d

[2018-05-11 13:43] devsware opened #171 "Missing translation for the last step of directions"
I was experimenting with Leaflet + OpenStreetMaps + openrouteservice and I created a map where the user can obtain directions from a specific address to a point of interest.

In my request to the openrouteservice Directions Service I set `'language':'it'` parameter to obtain instructions in Italian: all steps but the last have an instruction in italian, while the last one ("Arrive at...") is in En

[2018-05-12 10:54] TimMcCauley commented on #169
@heyarne the setup looks good so far. The graphs have been built for the Heidelberg dataset which is correct. What is the `exact URL` you are sending to the API? An example request would look like

`http://localhost:8080/ors/isochrones?format=json&interval=900&location_type=start&locations=8.681247,49.412388&profile=driving-car&range=1800&range_type=time`

[2018-05-14 13:06] aoles opened #172 "Return per minute rate limit usage in API response header"
Apart from the information on the overall daily request quota for a given key returned in `X-Ratelimit-*` header fields, it would be great if the API response included metadata on the current per minute usage as well.

This would allow to  programmatically check in the client for the remaining limit and if it's exceeded wait a few seconds instead of returning an error.

(opening it here to keep be

[2018-05-15 10:09] pathmapper opened #173 "Use sac_scale=difficult_alpine_hiking also for "walking"?"
Follow up from: https://github.com/GIScience/openrouteservice-app/issues/220#issuecomment-389080656

Currently `sac_scale=difficult_alpine_hiking` is used for "hiking", not for "walking".

[2018-05-15 10:22] pathmapper opened #174 "Document what is taken into account for which profiles"
It would be useful to document which tags are considered for each profiles, e.g. to be able to find out easily which is the difference between the profiles `walking` and `hiking` or `Road bike` and `e-bike`.

Related:
https://github.com/GIScience/openrouteservice-app/issues/220#issuecomment-389080656
https://github.com/GIScience/openrouteservice/issues/173

[2018-05-16 11:15] aoles commented on #172
Apparently in the current setup this is not feasible, see the response from tyk:

`{"quota":{"quota_max":100,"quota_remaining":2,"quota_renews":1526380189},"rate_limit":{"requests":1000,"per_unit":60}}`

Using `/<api>/tyk/rate-limits/` endpoint doesn't solve our problem because end users don't have access to it.

[2018-05-16 11:15] #172 closed, assigned to nobody

[2018-05-16 13:02] rrrnld commented on #169
I've changed the URL to http://eu.httpbin.org/anything to precise information about what the request looks like, this is the response:

[code]

If you want only the url: http://localhost:8080/ors/isochrones?profile=driving-car&range=600&locations=48.23424%2C8.4234|49.4077%2C8.66. This is for the last request mentioned in my previous comment (the one for which I also attached the logs).

[2018-05-16 13:10] rrrnld commented on #169
I just realized that I swapped latitude and longitude - the server at api.openrouteservice.org expects them in different order (i.e. 8.4234,48.23424|8.66,49.4077). Don't know how this happened. :/

I could not test this against my local installation yet. Is this expected behavior when running queries outside of the precalculated graph?

[2018-05-17 05:23] TimMcCauley commented on #169
💯 true - this will be the reason @heyarne, sorry for not seeing this earlier. I will take a closer look why it is actually returning anything when using the wrong order.. please let me know once you have tested it locally.

[2018-05-17 12:14] rrrnld commented on #169
Using the coordinates given in the docker readme (`8.676581,49.418204|8.692803,49.409465`) works as expected. Interestingly, trying my coordinates above (`s|8.66,49.4077`) gives me the following response:

[code]

The cause of this seems to be `8.4234,48.23424`, which gives me the same response. Error code `3099` maps to "Unknown Internal Error", but I guess that's the error you get for points out

[2018-05-17 12:20] TimMcCauley commented on #169
@heyarne that is correct, this error will be raised if you are trying to compute isochrones outside of your network. I'm happy it's solved, let us know if anything else comes up on your endeavour through the ecosystem of openrouteservice 👍

[2018-05-17 12:26] TimMcCauley commented on #119
We will keep this in the core for those who want to proxy geocoding requests through openrouteservice itself.

[2018-05-17 12:26] #119 closed, assigned to TimMcCauley

[2018-05-20 17:39] TimMcCauley opened #175 "Remove geocoding tests"
Geocoding requests will no longer be proxied through ORS, instead they will be directly made to the pelias backend.

[2018-05-20 17:50] dlichtistw commented on #167
I agree that this would be really useful for hiking route planning, too. I used it earlier, and am missing it now.

[2018-05-20 20:03] ujos opened #176 "only_straight_on restriction is not supported"
Hello,

`only_straight_on` restriction is not supported. Please check following route:

https://maps.openrouteservice.org/directions?n1=50.157696&n2=25.30745&n3=17&a=50.157645,25.305556,50.157398,25.308088&b=0&c=0&k1=en-US&k2=km

Thanks
Dima

[2018-05-22 08:33] rabidllama commented on #176
It seems this is an issue in graphhopper as on there it does the same - https://graphhopper.com/maps/?point=50.157683%2C25.304807&point=50.157346%2C25.308176&locale=en-GB&vehicle=car&weighting=fastest&elevation=true&use_miles=false&layer=OpenStreetMap.

Within ORS, the "continue_straight" parameter only affects continuing straight when there are multiple segments created by adding via points to th

[2018-05-22 08:45] rabidllama commented on #171
I can confirm that this is not an issue with the code, but instead simply that we are missing the corresponding translations for the arrival messages for the various languages in the resource files.

[2018-05-22 09:57] ujos commented on #176
If you build route on OSM.org, GraphHopper does it correctly...

https://www.openstreetmap.org/directions?engine=graphhopper_car&route=50.15762%2C25.30571%3B50.15733%2C25.30850#map=18/50.15747/25.30710

[2018-05-22 13:19] marq24 opened #177 "RouteResultBuilder Issue"
Hi,

as I started in the google groups
https://groups.google.com/d/msg/openrouteservice/o5-ZTUZVP-I/vU8C2rvuBwAJ

I believe there is an issue with the route instruction builder... I have collected few more examples:

Here BOTH of the roundabout turning instructions will be removed

https://maps.openrouteservice.org/directions?n1=51.830152&n2=8.446485&n3=17&a=51.831362,8.448905,51.828949,8.444045&b

[2018-05-23 15:25] rabidllama opened #178 "Duration times appear to be much smaller than they should be"
Duration of routes appears to be coming out as much shorter than other routing services, even though distances are similar.

3113 | 3113 | 216
-- | -- | --
789 | 3902 | 56
116 | 4018 | 7
391 | 4409 | 23
460 | 4869 | 59
4869 m |   | 361 s

Above is using driving profile

[2018-05-24 12:24] marq24 commented on #177
I finally manages to debug  the development branch in my windows IDE...

So I was able to verify my initial assumption - RouteResultBuilder is the source of the issue. Simply skipping the "canBeMerged" check and always perform the "else" returning the expected turn instructions.

http://localhost:8080/openrouteservice-4.5.0/routes?profile=driving-car&coordinates=8.448905,51.831362%7C8.444045,51.82

[2018-05-24 14:07] rabidllama commented on #177
Hi @marq24 - thanks, I will have a look into the logic behind things and see if I can see if there was a reason for the merging of instructions

@TimMcCauley - do you know the reasoning behind the previous logic?

[2018-05-24 14:28] marq24 commented on #177
It could be the case, that in the past GH had returned duplicated turn instructions for some reasons - IF this was the case, then the implemented check was/is insufficient - nevertheless, IF it was a GH issue then this should had been addressed within the GH sources...

It might be that case, that the code was trying to address issues like this one here:

https://maps.openrouteservice.org/directio

[2018-05-25 09:46] nilsnolde opened #180 "Geojson format strips important extra_info"
When using `format=geojson`, any `extra_info=x` is missing from the response. Please integrate while staying geojson compliant. Add functional tests!!

`https://api.openrouteservice.org/directions?api_key=key&coordinates=8.34234,48.23424|8.34423,48.26424&instructions=false&profile=driving-car&extra_info=tollways|steepness&format=geojson`

[2018-05-27 22:04] Namec opened #181 "How to instructions for adding more language"
hello,

is there any directives or best practices to add more language to ORS.

great piece of engineering you have made !!

[2018-05-27 23:03] Namec opened #182 "Geocododing using Nominatim instead of pelias"
Hello,

can somesone share how can we figure out the changes that need to be made on the conf file, to make the geocoder engine to Nominatim

[2018-05-28 15:45] TheGreatRefrigerator opened #183 "no population returned for some isochrones"
the api returns a 3099 error _Unable to compute isochrone attributes._ for the following request
https://api.openrouteservice.org/isochrones?api_key=my-key&attributes=total_pop&format=json&interval=60&location_type=start&locations=8.411751,49.352414&profile=driving-car&range=540&range_type=time

with `interval=540` it works
also with `range` up to `300` and `interval=60`
but `range=360` then fails

[2018-05-30 06:51] rabidllama commented on #182
Hi @Namec
we have actually updated the code recently so that the geocoding is separate from the main ORS code. At the minute this is in the development branch but should go into the master branch within the next month. So then the functionality to directly access a geocoder through the ors api will be removed.

At the minute, what you would need to do is to change the ``geocoder_name`` property to

[2018-05-30 06:58] TimMcCauley commented on #182
@Namec quick update - the geocoding code for proxying requests through ORS to nominatim/pelias/photon will stay in the core but we won't maintain it any longer, so feel free to set up your own instance and proxy requests through ORS.

[2018-05-30 06:58] #182 closed, assigned to nobody

[2018-05-30 07:15] rabidllama commented on #181
Hi @Namec,

thanks, and to add more languages you just need to add the new language file to the openrouteservice/src/main/resources/resources/locales folder following the format ors_xx.resources.

In terms of best practices, you just need to make sure that you add translations for all of the items there (you can use ors_EN.resources as a guide to what needs to be entered). There are two entries fo

[2018-05-30 07:15] #181 closed, assigned to nobody

[2018-05-30 07:18] rabidllama commented on #176
I believe there may be some differences between the graphhopper used on the graphhopper site and the one used by the osm site... The api calls appear to be the same but each gives a different response in terms of the diversion.

[2018-05-30 07:20] TimMcCauley commented on #177
@rabidllama no idea, sorry..

[2018-05-30 07:21] rabidllama commented on #168
@nilsnolde can you confirm if this is still a problem or can we close it?

[2018-06-04 11:36] marq24 opened #184 "Bike Profile - missing turn instruction (might be caused by the absence of surface tag?)"
Initially this was posted in the google group - @TimMcCauley  asked me to bring that over o here... so I do...

Again I am struggling with a "missing" turn instruction...

first let's take a look at the road/map:
![image](https://user-images.githubusercontent.com/8012359/40915295-d22291a4-67fb-11e8-8a65-c10f9665f3a0.png)

ok that's quite easy - but you might be surprised (like me) that for bike(s)

[2018-06-04 17:23] JK87iab opened #185 "Drivetime Isochrones vs. google maps"
Hi
I am trying to get drivetime isochrones but if I check the polygon inside google maps the drive time is way off.

`https://api.openrouteservice.org/isochrones?api_key=**APIKEY**&locations=-74.184299%2C40.7828954&profile=driving-car&range_type=time&range=120&interval=60&location_type=destination&attributes=&options=&intersections=&id=`

returns

`{"type":"FeatureCollection","features":[{"type":"

[2018-06-04 21:16] ghspenguin commented on #168
@rabidllama
Hi! I'm the one who has reported the problem to @nilsnolde and on my platform the problem still persists. With both browsers, Firefox and Chromium on a Linux Mint Box.
When I try to export a route, the XML declaration is missing. As an additional information I can say, that my export file has no line breaks.
Maybe interesting for you?

[2018-06-05 07:47] rabidllama commented on #185
Hi @JK87iab ,
This is an issue to do with traveling speeds and we are currently working on getting it fixed (see issue #178)

[2018-06-05 08:17] rabidllama opened #186 "Remove depricated services from web.xml"
The services for accessibility and locations are still within the WebContent/WEB-INF/web.xml file which results in class not found error messages as these have been removed (see issue #120 )

[2018-06-07 10:20] rrrnld opened #191 "Inconsistent responses from matrix API when route not found"
I am receiving a duration of null when requesting the time-distance matrix between these two points:
[code]

Response:
[code]

How should I interpret this? I didn't find anything about it in the API docs.

[2018-06-07 11:02] Mattomanka commented on #33
@TimMcCauley labs.openrouteservice.org does not work. Perhaps you have some kind of test version, where it is possible to try wheelchair profile?

[2018-06-07 11:59] TimMcCauley commented on #33
@Mattomanka we will be adding it back to maps.openrouteservice.org within the next 2-3 weeks.

[2018-06-07 14:08] TheGreatRefrigerator opened #192 "Suggests a route through highway=construction"
To reproduce see [this route](https://maps.openrouteservice.org/directions?n1=50.085276&n2=19.857799&n3=16&a=50.091898,19.865427,50.084222,19.845504&b=1a&c=0&g1=-1&g2=0&h2=3&k1=en-US&k2=km).

A route is suggested through [a way](https://www.openstreetmap.org/way/463832906) with `highway=construction` - so a road that does not exist yet. There is no possibility even for a pedestrian to follow this

[2018-06-07 14:10] TheGreatRefrigerator opened #193 "Suggests a bicycle route against a one-way lane"
To reproduce see [this link](https://maps.openrouteservice.org/directions?n1=50.08111&n2=19.917263&n3=17&a=50.082446,19.913589,50.080863,19.917805&b=1a&c=0&g1=-1&g2=0&h2=3&k1=en-US&k2=km)

It is impossible to legally follow this route, as the bicycle path is connected to a one-way lane and lanes are separated (this can be seen in [OSM editor](https://www.openstreetmap.org/edit#map=19/50.08155/19.9

[2018-06-07 20:17] aoles opened #194 "Missing "extras" field in GeoJSON response"
When `format=json` any data for `extra_info` is returned in the `extras` element of a given `route`. However, a similar element containing such extra information is missing from the `properties` of a `feature` when `format=geojson`.

To reproduce this consider the following two API queries which differ only in the `format` parameter.

[code]

[2018-06-07 20:26] aoles commented on #194
Duplicate of #180.

[2018-06-07 20:26] #194 closed, assigned to nobody

[2018-06-07 20:32] aoles commented on #180
When `format=geojson` any data for `extra_info` should probably go into an `extras` element under `properties` of a given `feature`.

[2018-06-08 12:46] rabidllama commented on #193
I have checked and this appears to be due to the one way part of the road only being mapped on OSM 11 days ago and so our bicycle graphs haven't had chance to catch up with it. Using the latest dataset for the area on a local instance of ORS routes correctly, and so when the global bike graphs are updated, this change in OSM should be reflected in the routes.

[2018-06-08 12:46] #193 closed, assigned to nobody

[2018-06-08 12:49] rabidllama commented on #192
Normally the ORS does not route over construction roads, and in this case it is due to the "construction" tag only being added to the road in OSM 4 days ago and so it has not had enough time to be incorporated in our graphs. I have tested locally on the most recent OSM data for the area and the way is avoided, so it should be taken into account on the main ORS when the next global graphs are built

[2018-06-08 12:49] #192 closed, assigned to nobody

[2018-06-08 12:58] pkubowicz commented on #192
Thanks for checking. What is the approximate delay of picking OSM changes? I was mistaken by the fact that the map drawn in ORS was showing the OSM change - I assumed that route finding sees the same up-to-date data.

[2018-06-08 14:24] rabidllama commented on #192
No problem. Normally we try to build the graphs every week at least, but recently we have had to make the gap a bit longer whilst we have been working on a few new things in the graphbuilding process. Hopefully they should all be up to the latest version within the next week though.

The reason for the difference between the map and routes is that as the base map we directly use the OSM map tiles

[2018-06-12 12:34] aoles commented on #191
`null` indicates no route was found, as [documented](https://openrouteservice.org/documentation/#/reference/matrix):

A query to `directions` with the same coordinates returns

[code]
so actually the result you are receiving from `matrix` is the expected one.

However, there seem to be some problem with the response because for `sources=1` I get

[code]

while `sources=all` yields

[code]

It' als

[2018-06-12 12:47] TimMcCauley commented on #187
@kunaltyagi can you please have a look at this thread and let me know if it resolved the issue? https://community.atlassian.com/t5/Bitbucket-questions/Using-Maven-git-commit-id-plugin-in-Pipelines/qaq-p/222068

[2018-06-12 14:34] aoles opened #195 "Use standardized official country codes"
It would streamline certain workflows if the APIs could be queried using standardized country codes, such as [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) instead of the ORS-specific(?) numeric ids listed in https://github.com/GIScience/openrouteservice-docs#country-list.

This doesn't need to be a breaking change because ISO_3166-1 codes can be easily distinguished from the curre

[2018-06-13 07:58] MichaelsJP commented on #195
[country_codes.csv.txt](https://github.com/GIScience/openrouteservice/files/2097163/country_codes.csv.txt)

[2018-06-13 08:00] TimMcCauley commented on #195
Afaik there is a reason why we use our own, @rabidllama can you elaborate?

[2018-06-13 08:59] kunaltyagi commented on #187
@TimMcCauley I tried `docker-compose build` and it worked without any issues. I don't know if any changes were made upstream in the files downloaded by the build process or if it was just a quirk of the build process.

[2018-06-13 09:24] rabidllama commented on #195
the main reason was to do with storage space on the graph. It shouldn't be a big thing to change to use country codes, but it would increase the storage (currently it uses I believe 6 bytes, and using a two character country code to store would be 12 bytes per edge). Generally I think that the storage is much more optimised for numerics as then you can do bit shifting to shorten the amount of spac

[2018-06-13 09:34] TimMcCauley commented on #195
Thanks for explaining, considering this closed, we have plenty of other things to dig into

[2018-06-13 11:29] aoles opened #196 "Missing <rte> tag in GPX response when instructions or geometry set to false"
When `instructions=false` or `geometry=false` there is no `<rte>` element in the response, e.g. the following request `https://api.openrouteservice.org/directions?api_key=<ors_api_key>&coordinates=8.34234%2C48.23424|8.34423%2C48.26424&profile=driving-car&format=gpx&instructions=false` produces the result below.

This is probably the cause of https://github.com/GIScience/openrouteservice-schema/iss

[2018-06-15 06:22] TimMcCauley commented on #187
Good to hear, thanks for informing us - considering this as closed.

[2018-06-15 22:39] gitka opened #198 "Routing problem"
Warum findet openrouteservice nicht den direkten Weg (Rennrad)?
https://maps.openrouteservice.org/directions?n1=48.549754&n2=12.092385&n3=15&a=48.55322,12.104509,48.546473,12.079511&b=1c&c=0&g1=-1&g2=0&h2=3&k1=en-US&k2=km

In diesem Fall, wäre die direkte Strecke auch die schnellste und auch die kürzeste Strecke über Wohngebietsstrassen - egal mit welchem Radtyp. Nur mit "E-Bike" wird die direkte

[2018-06-19 12:23] rabidllama commented on #198
The reason for taking the detoured route when generating the cycle route is due to elevation and gradient changes. In the cycling profiles, the graph generation tries to take into account the steepness of particular way segments and takes these into account when determining the speed of travel. In this particular case, the more direct route has much steeper segments to climb (up to 6%) and so it s

[2018-06-19 12:23] #198 closed, assigned to rabidllama

[2018-06-19 22:09] gitka commented on #198
Thank you for your quick response.
Even with a maximum steepness of 15% and choosing "mountain bike" I don't get the shortest and in my opinion the best way.

For "Road bike" (fastbike) I would recommend to ignore a steepness up to 5% within 500 meters,

[2018-06-20 04:19] pathmapper commented on #174
Additionally it would be useful to document if/how elevation and gradient changes are taken into account for the different profiles.

Related:
https://github.com/GIScience/openrouteservice/issues/198

[2018-06-20 06:59] Twometer opened #200 "Unable to get an appropriate route profile when using POST (Directions API)"
I am trying to use a POST request with the Directions API, which works fine when I use the route profile `driving-car`. But when I try to use anything else, I get a response code 500 and the following JSON:
[code]

I am using the following form data in my request:
[code]

I know that using a POST request on `/directions` is not documented, but I can't use a GET request because my application needs

[2018-06-20 07:53] rabidllama commented on #198
The issue with it taking the detoured route is not that it is trying to avoid steeper segments, it is that the steeper segments result in a much slower travel speed. So when the routing option is set to fastest, the routing algorithms see that taking the more detoured route which is flatter and so has less impact on speed results in a lower duration of the route than if the much slower incline seg

[2018-06-21 07:39] TimMcCauley commented on #200
@Twometer thank you for finding this bug - it has got to do with our apache settings. Please, until this is fixed, append the profile to the query in addition to the POST body - I will keep this open until it's fixed. One example:

[code]

[2018-06-21 08:10] Twometer commented on #200
Thank you very much, that fixed the issue!

[2018-06-21 08:15] Twometer commented on #200
I now noticed however, that when using `foot-walking` and many `avoid_polygons` I always get a 404 error without a response body
EDIT: I also receive 404 when I don't send any options

[2018-06-21 08:20] TimMcCauley commented on #200
This works for me:

[code]

[2018-06-21 08:21] TimMcCauley commented on #200
regarding avoid polygons 404: please open a new ticket with the example request for us to look into

[2018-06-21 08:29] Twometer commented on #200
The reason for the 404 without response was a typo I made in the URL, I'm sorry.

However, when I send a lot of polygons it sometimes can't find a route.

[2018-06-22 11:54] rabidllama commented on #200
@Twometer the issue with avoid polygons could be related to a bug we found a bit ago (#95) which will be applied on the next update (hopefully within the next week).

[2018-06-22 17:12] marq24 commented on #184
I have investigated this issue further - and have some more insights that I wanted to share with you.

When I create separate ORS profiles (own graphs) for cycling-mtb and cycling-road then I get a turn instruction for road bikes - but none for mtb - as soon as I combine different cycling profiles to a single graph folder the turn instruction is missing when the mtb FlagEncoder is included.

So we

[2018-06-25 04:59] jsbaron opened #202 "[3099] Unable to build an isochrone map."
Hi, I'm new to this, so hopefully, this question is an easy fix.

When trying to make a call from the API in R, I continue to get the error "[3099] Unable to build an isochrone map." The coordinates I am using are 31.13489, -97.77561. However, when I use the coordinates provided in the example in the documentation, I do not get this error. Would anyone know why I might be getting this error?

I'm

[2018-06-25 07:55] rabidllama commented on #202
@jsbaron I removed the apikey from the message as this should be kept private

[2018-06-25 08:10] TimMcCauley commented on #202
@jsbaron your coordinates seem to be in `Duoretong, Changdu, Tibet, China` https://maps.openrouteservice.org/directions?n1=31.25977&n2=97.796173&n3=9&a=31.13489,97.77561,null,null&b=0&c=0&k1=en-US&k2=km

Which doesn't have a street network as far as I can tell.

[2018-06-25 08:14] aoles commented on #202
@TimMcCauley I think the intended coordinates are 31°08'05.6"N 97°46'32.2"W https://maps.openrouteservice.org/reach?n1=30.978198&n2=-97.773514&n3=10&a=31.13489,-97.77561&b=0&i=0&j1=60&j2=60&k1=en-US&k2=km

@jsbaron can you confirm please?

[2018-06-25 08:20] TimMcCauley commented on #202
@jsbaron if this is the case, please reverse the coordinate order and you will be able to compute the isochrone map. Please reopen the issue if not, thank you.

E.g. in R:
[code]

[2018-06-25 08:20] #202 closed, assigned to aoles

[2018-06-25 09:38] nilsnolde opened #203 "Response seems to be cut off for large requests"
E.g.
https://api.openrouteservice.org/directions?geometry_format=geojson&profile=driving-hgv&api_key=58d904a497c67e00015b45fcdd970a3a925843bfafe57ae96d61c08b&coordinates=38.7697649,59.8828053|39.8506308,59.18733|39.8397732,57.6686847|38.8934684,57.9744673|38.8530529,57.8940654|38.980329,57.6876748|38.9708018,57.4652553|39.3821239,57.1877968|39.1486752,56.9287062|38.9399564,56.7470348|38.5823107,56

[2018-06-25 10:09] nic2711 opened #204 "Geocoding query resulted in a 500 Internal Server Error"
I'm trying to get the coordinates for an address. However, I always get an 500 Error. Have I overlooked something or is it a bug on the server side?

Requested the following URI:

I've requested coordinates for Berlin and I'm getting this error:

`{
    "error": {
        "code": 1099,
        "message": "Unknown internal server error has occured."
    },
    "info": {
        "engine": {

[2018-06-25 10:58] TimMcCauley commented on #204
Hi @nic2711 please use our new endpoints for this -> https://openrouteservice.org/documentation/#/reference/geocode/geocodesearch

[2018-06-25 10:58] #204 closed, assigned to nobody

[2018-06-25 13:00] MichalSayYes commented on #33
According to what the route with wheelchair profile is calculated?

[2018-06-26 13:04] mkalygin opened #207 "[Directions API] — Route to Closed Area"
## [Related Discussion](https://groups.google.com/d/topic/openrouteservice/Y4vwDCGSzGI/discussion)

## Description

Hi!

There are some cases when a route cannot be properly built if a destination point is in a closed area.

Here is [an example route](https://maps.openrouteservice.org/directions?n1=60.004157&n2=29.715142&n3=14&a=59.93428,30.335099,59.996763,29.700944&b=4a&c=0&k1=en-US&k2=km).

The

[2018-06-26 16:52] MichaelsJP commented on #196
I found kind of a fix. The parser is now able to parse requests without instructions and returns the bare route. But when geometry is turned off the result will be empty. The reason is that it's not possible to return a route in a gpx without any coordinates. It is not "legal" in terms of the gpx standard.

[2018-06-26 21:12] aoles commented on #196
Many thanks @MichaelsJP for your work on this and for the explanation. I'm not sure I understand this correctly, but according to [GPX 1.1 Schema](http://www.topografix.com/GPX/1/1/gpx.xsd) `rteType` doesn't need to contain any `<rtept>` elements containing coordinates:

[code]
So it seems to me that a GPX response containing a `<rte>` without any `<rtept>`s but with`<extensions>` would be perfect

[2018-06-27 10:06] MichaelsJP commented on #196
@aoles

That is true. I investigated the ors backend a bit and it seems that when geometry=false and instructions=true are set, internally there are no route steps calculated. So there is no way to get the bare route step instructions without the coordinates.

When geometry=false I will always return at least this. Hope that is kind of understandable?!

[2018-06-27 10:14] MichaelsJP commented on #196
@aoles geometry=true & instructions=true
[code]

[2018-06-27 10:15] MichaelsJP commented on #196
@aoles geometry=false & instructions=false/true (reminder: no geometries, no route steps)
[code]

[2018-06-27 11:29] aoles commented on #196
🎉  Top, thanks a lot @MichaelsJP!

You mentioned at some point that after the fix some API tests fail, do you plan to work on them as well?

[2018-06-29 12:21] aoles opened #209 "OSM key:access not taken into account in HeavyVehicleGraphStorageBuilder"
The following code block doesn't produce anything meaningful because an empty `accessTag`  cannot equal to any of the values `"agricultural"`, `"forestry"` or `"bus"` by definition.
https://github.com/GIScience/openrouteservice/blob/1156e1d34af87f04da6920df7a9e138468dd6f70/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/storages/builders/HeavyVehicleGraphStorageBuilder.jav

[2018-06-29 12:24] civil142 opened #210 "Cant seem to get OSM Tools (routing) to run Error is "Extra data: line 1 column 5 - line 2 column 1 (char 4 - 19)""
An error has occurred while executing Python code:

JSONDecodeError: Extra data: line 1 column 5 - line 2 column 1 (char 4 - 19)
Traceback (most recent call last):
  File "C:/Users/Ian Kirk-Ellis/.qgis2/python/plugins\OSMtools\osm_tools.py", line 144, in run
    route.directions_calc()
  File "C:/Users/Ian Kirk-Ellis/.qgis2/python/plugins\OSMtools\directions.py", line 88, in directions_calc
    ro

[2018-06-29 13:15] aoles opened #211 "Faulty logic when determining vehicle flags in HeavyVehicleGraphStorageBuilder"
When setting `_hgvType` flags based on OSM vehicle tags such as `goodsTag` in the following code block the variable `busTag` is used when checking for equality with `"yes"`. https://github.com/GIScience/openrouteservice/blob/1156e1d34af87f04da6920df7a9e138468dd6f70/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/storages/builders/HeavyVehicleGraphStorageBuilder.java#L227-L

[2018-06-29 18:12] TimMcCauley commented on #210
@civil142 thank you - please add this issue to the corresponding repository https://github.com/nilsnolde/OSMtools

[2018-06-29 18:12] #210 closed, assigned to nobody

[2018-06-29 22:01] vectro opened #212 "Strange/bad cycling results"
Regarding [this route](https://maps.openrouteservice.org/directions?n1=40.760606&n2=-73.964226&n3=17&a=40.748965,-73.912779,40.765235,-73.982263&b=1e&c=0&g1=2&g2=7&h2=3&k1=en-US&k2=km), ORS is suggesting to take 61st Street to Lexington Avenue (to 55th Street), but neither of these ways have any cycle facilities. Meanwhile it is possible to take 1st Avenue (Southbound) to 59th Street to 2nd Avenue

[2018-07-03 13:30] marq24 commented on #212
just for clarification - is 'this' the route that you are looking for?
https://maps.openrouteservice.org/directions?n1=40.759932&n2=-73.966522&n3=17&a=40.748965,-73.912779,40.760366,-73.963952,40.765235,-73.982263&b=1e&c=0&g1=2&g2=7&h2=3&k1=en-US&k2=km

It would be cool if when you have an issue with routing, that you would provide the shortest version that still having the issue - this helps (at

[2018-07-03 14:21] vectro commented on #212
[shortest version with issue](https://maps.openrouteservice.org/directions?n1=40.757709&n2=-73.973866&n3=15&a=40.760253,-73.961903,40.765235,-73.982263&b=1e&c=0&g1=2&g2=7&h2=3&k1=en-US&k2=km)
The best route I can get out of ORS is [this](https://maps.openrouteservice.org/directions?n1=40.764911&n2=-73.981951&n3=17&a=40.748965,-73.912779,40.760366,-73.963952,40.763918,-73.980474,40.765235,-73.98226

[2018-07-03 18:35] marq24 commented on #212
Allow me to differentiate between some aspects I have understood so far... and I will try to comment/explain...

Let me start with a general hint - one thing you can always check is the openstreetmap section of the area in question - since all we see in ors is based on that data...
https://www.openstreetmap.org/edit#map=20/40.76484/-73.98186

That's how it started for me btw - I had also issues wi

[2018-07-03 19:21] vectro commented on #212
Marq24, this makes sense. I'm less worried about the right turn onto Broadway, which, as you note, requires a mode change. The thing that concerns me is the use of 61st Street and of Lexington Ave., when 55th Street is available. Let me know if I can do anything more to help with that.

[2018-07-03 19:44] marq24 commented on #212
... just downloaded nyc osm data and processing the data - I'll keep you updated...

just to double check - this rout would be fine - right?
https://maps.openrouteservice.org/directions?n1=40.762479&n2=-73.970207&n3=16&a=40.758619,-73.958416,40.76447,-73.981934&b=1d&c=0&g1=2&g2=7&h2=3&k1=en-US&k2=km

[2018-07-03 20:12] vectro commented on #212
Yes, that is a good route, assuming the user would then walk to the final destination. Thanks.

[2018-07-05 13:42] marq24 commented on #212
just a short update - also the TouringBike profile will return a "valid" route...

https://maps.openrouteservice.org/directions?n1=40.755287&n2=-73.974681&n3=14&a=40.748965,-73.912779,40.764624,-73.982019&b=1d&c=0&g1=2&g2=7&h2=3&k1=en-US&k2=km

It look like that regular & safety cycling profiles focus more on the classification of the road itself - while the other profiles (touring or mtb) prefer

[2018-07-05 14:36] vectro commented on #212
Makes sense to me. Ironic that the "touring" option makes better use of the bike lanes than the "safety" option, since 55th Street is definitely safer than 57th Street, but also slower (at least on weekdays).

[2018-07-05 14:39] marq24 commented on #212
might be just too many options (aka profiles) with to less differences... and the main driver of the default routing is "speed"...

As I already said - we want to optimize the bike routing in general (and might get rid of some options in order to reduce complexity)

[2018-07-06 07:17] rabidllama commented on #141
I think this will need to go on hold for a while until we have got the GH stuff sorted

[2018-07-06 07:18] rabidllama commented on #78
@HendrikLeuschner did you find anything else out about what is causing this?

[2018-07-06 09:18] rabidllama opened #217 "Add functionailty for obtaining osm way ids"
In some instances it would be useful to have information returned for the route about the osm ids of ways that the route goes along.
This could be implemented as an "extra info" item in the route response

[2018-07-06 09:19] rabidllama commented on #217
Currently need to check how much storage it needs for such information as the osm ids need to be stored as longs

[2018-07-06 09:41] rabidllama commented on #154
I am moving this to 4.7 as we will have more resources available in the next couple of months

[2018-07-06 09:42] rabidllama commented on #79
@TimMcCauley Was this applied in the update to the locations stuff?

[2018-07-06 11:48] rabidllama opened #218 "Update pull request template to add extra check"
There should be an additional step in the pull request checklist for ensuring that any changes made to graph building processes are tested using routes from the current ORS.

New modifications should not introduce unexpected changes to routes generated.

[2018-07-06 13:11] TimMcCauley commented on #79
@rabidllama I added the description for this

[2018-07-07 10:30] mkalygin commented on #207
@TimMcCauley any updates on this one? 🤔

[2018-07-07 21:01] brmnr commented on #212
I didn't know whether to start a new issue, or using this issue about some strange cycling results I'm having as well. I'm playing around with ORS and "cycling-road" directions for some time now, but frequently i get strange cycling issue like [this one](https://maps.openrouteservice.org/directions?n1=50.817866&n2=5.877031&n3=16&a=50.814151,5.88879,50.819344,5.870454&b=1a&c=0&g1=-1&g2=0&h2=3&k1=en

[2018-07-08 05:22] marq24 commented on #212
when you toggle between 'fastest' & 'shortest' you can see (in your given example) that the code calculates a ride time of 11min for the "natural preferred" direct line - in contrast to 9min with the two additional loops.

I know this is not a very smart answer - but by toggle between fastest & shortest you might can get at least an explanation "why" you see a certain route...

The "how fast can I

[2018-07-09 09:12] Sandmania opened #220 "Elevation profile not available above 60 deg N"
Elevation data currently only works for below 60 deg N. See profile of this route, for example:

https://maps.openrouteservice.org/directions?n1=59.843317&n2=22.552207&n3=8&a=59.808843,22.892606,60.384955,23.121477&b=2b&c=0&g1=-1&g2=0&k1=en-US&k2=km

Previous discussion can be found on this ticket: https://github.com/GIScience/openrouteservice-app/issues/116 Opening new issue in this repo as reque

[2018-07-09 14:53] Namec opened #221 "Get population count for isochrones and more"
hello all,

is there a way to add my own DB with my own attributes, to get some count for isochrones.

Ex :
getting count of poeple under 18 for isochrones
getting cont of electronics stores for isochrones

best

[2018-07-09 18:18] TimMcCauley commented on #221
Hi Namec, you could do this after you have obtained the result from ORS and enrich the polygon with your data.

[2018-07-09 18:18] #221 closed, assigned to nobody

[2018-07-09 19:50] TimMcCauley commented on #220
@Sandmania thank you - we will be tackling this issue with one of our next updates - stay tuned!

[2018-07-10 10:16] marq24 commented on #217
would be "cool", if we would be able to pass this additional info's also to the frontend - so that the additional data is visible in the route...

Additionally to the source way-id I would have the need to see the EdgeId (int) and at least some of the encoded values (like speed/reverse speed)

[2018-07-10 10:23] marq24 commented on #220
jfyi - the multi-elevation-provider will generate also an out of bounds when
`lat > 84 || lat < -70`

so still not the full coverage - but at least not like before:
`lat >= 60 || lat <= -56`

[2018-07-11 07:11] rabidllama commented on #220
The reason for the no data above 60° or below -52° is because it comes from the SRTM, which only collected data between these two values.

[2018-07-11 07:22] Sandmania commented on #220
@marq24 I think the northernmost point of land is < 84, so that shouldn't be a problem. And anything south from approx -60 is the Antarctic, in which there are no paths to draw routes, so that might not be a problem either?

[2018-07-11 11:46] rabidllama commented on #207
Hi @mkalygin -I am having a look into this and so far it seems to be a problem with graphhopper itself as for some reason the whole of motorway going across the water is not being routed along...

[2018-07-11 15:55] mkalygin commented on #207
@rabidllama thanks, do you have any idea how can we handle this? Do you use GraphHopper under the hood?

[2018-07-11 16:03] rabidllama commented on #207
Yes our core routing uses the graphhopper libraries. At the minute I can't say for sure for a quick way around it as the problem seems to be rooted in the core of the graph building process, so it is taking a long time to debug. I will try to keep you informed of progress, but I can't give any definite timings yet.
________________________________
From: Michael Kalygin <notifications@github.com>
S

[2018-07-12 14:01] rabidllama commented on #207
@mkalygin I think I have found the problem and it is actually the osm data rather than the routing.

Basically, on the motorway and nearby slip roads there are a lot of lifting gate nodes (barrier=lift_gate) such as https://www.openstreetmap.org/node/508239451 - when GH comes across these it sees them as potential barriers and because none of them have an access tag, it assumes that they cannot be

[2018-07-12 14:05] rabidllama commented on #174
We are currently in the process of updating how our routing profiles work, so we will include this information in the release that includes these changes

[2018-07-12 14:26] rabidllama commented on #137
I have started looking into the code for this and it seems like it will be quite a large job as a large portion of the geometry generation will need to be rewritten as the main issue lies in ensuring that the different polygons line up at borders

[2018-07-12 18:45] mkalygin commented on #207
@rabidllama how can we achieve that and how can I help you?

[2018-07-13 07:30] rabidllama commented on #203
@TimMcCauley Did this get fixed in the servers?

[2018-07-14 07:56] TimMcCauley commented on #203
@rabidllama not yet

[2018-07-15 23:20] Namec opened #222 "Question about Reachfactor"
Hello All,

in isochrone what does the REACHFACTOR stands for ???

thank you

[2018-07-17 13:09] TimMcCauley commented on #222
Hi @Namec reach factor is the ratio of reachability compared to flight of the crow, basically if the streets had no corners :-)

[2018-07-17 13:09] #222 closed, assigned to nobody

[2018-07-18 15:09] TheGreatRefrigerator opened #224 "[/matrix] cycling profile not appropriate profile on POST request"
The Matrix POST endpoint doesn't recognize cycling profiles
`{"profile":"cycling-regular","metrics":"duration","optimized":true,"units":"m","locations":[[4.3939470564405,51.208787230241],[4.3943189234121,51.208220575997]]}`
while its fine in the GET request
https://api.openrouteservice.org/matrix?api_key=xxx&profile=cycling-regular&locations=4.3939470564405%2C51.208787230241%7C4.3943189234121%2C51

[2018-07-20 06:55] nilsnolde opened #225 "Increase matrix limit for cycling/walking profiles"
Since we included CH for cycling/walking, it's about time to increase the matrix input limit for `destinations` and `sources` to the same as driving, i.e. 50 each.

[2018-07-20 14:29] TimMcCauley commented on #224
This is a server issue - I will fix this asap, for the mean time please add the profile to the URL, such as
`https://api.openrouteservice.org/matrix?api_key=XXX&profile=cycling-mountain` with the POST payload

[2018-07-20 14:29] TimMcCauley commented on #224
#200

[2018-07-20 14:29] #224 closed, assigned to TimMcCauley

[2018-07-20 14:29] TimMcCauley commented on #200
I will fix this asap, for the mean time please add the profile to the URL, such as
https://api.openrouteservice.org/matrix?api_key=XXX&profile=cycling-mountain with the POST payload

[2018-07-25 09:00] mkalygin commented on #207
@rabidllama any progress on this so far?

[2018-07-25 13:48] HendrikLeuschner commented on #78
@rabidllama No. It was a weird bug that I could not find the root cause for. I will wait for the Graphhopper 0.10 backend update and check again then.

[2018-07-25 13:49] HendrikLeuschner commented on #91
Fixed in #223

[2018-07-25 13:49] #91 closed, assigned to aoles, HendrikLeuschner

[2018-07-25 14:11] HendrikLeuschner commented on #95
Hey @rabidllama
I tried this again locally and on maps.openrouteservice.org and I did not encounter the bug anymore. Might have been somehow resolved by something else. Can you check again and close if it works for you too?

![crop_polybug](https://user-images.githubusercontent.com/13396640/43206329-c0177e6e-9025-11e8-9629-9418d1de341f.jpg)

[2018-07-25 14:30] HendrikLeuschner commented on #191
I will have a look at it in the next couple of weeks.

[2018-07-30 08:31] rabidllama commented on #95
hmm, well it seems to be ok with the one polygon, but on live I still get issues when there is more than one polygon added. But the fix in #163 should correct the issue with multiple polygons when it is released

[2018-07-30 08:40] rabidllama commented on #207
@mkalygin sorry I was away on holiday for two weeks. The only way it can be corrected is by updating the OSM data as it would not be correct for the routing to just ignore the presence of these gates. To properly follow the guidelines set by OSM, such information (whether the gate is publicly accessible) should be added by someone who has this information to hand or someone who actually knows thes

[2018-07-31 08:49] cwassert opened #231 "Container setup not working"
I followed the instructions in `docker/readme.md` (i.e. `git clone`, `docker-compose up`) on two unrelated machines (ubuntu and arch). The build phase seems to be working, but the `ors-core` container is not working (404 on every url) and outputs a myraid of error messages.

The error messages are different every time. It looks like some kind of class loading race condition.

[docker-compose-logs-

[2018-07-31 13:47] TimMcCauley commented on #231
@cwassert could you please disable elevation and for starters use one profile `driving-car` and send me the logs again?

[2018-07-31 20:45] boooch commented on #231
The same issue.
the first error in logs :
[code]

full log attached
[logs.txt](https://github.com/GIScience/openrouteservice/files/2247036/logs.txt)

[2018-07-31 21:32] boooch commented on #231
seems this 2 parameters conflicted in web.xml
![image](https://user-images.githubusercontent.com/1180031/43488378-375da588-9522-11e8-97f1-97c310a6a55f.png)
`31-Jul-2018 21:06:58.138 SEVERE [localhost-startStop-1] org.apache.catalina.core.StandardContext.filterStart Exception starting filter [CorsFilter]
 javax.servlet.ServletException: It is not allowed to configure supportsCredentials=[true] when

[2018-08-01 08:56] cwassert commented on #231
I can confirm that changing `cors.support.credentials` in `openrouteservice/WebContent/WEB-INF/web.xml` from `true` to `false` fixes the problem.

[2018-08-01 10:27] boooch opened #232 "optimal application config"
What is optimal application config for routing?

Routing results is different between openrouteservice.org  and my installation with default config.

This is server  openrouteservice.org  result:
![image](https://user-images.githubusercontent.com/1180031/43516322-ec692f36-958d-11e8-8a80-119625403034.png)
"distance": 66557.5,
"duration": 3041.2

This is my installation result:
![image](https://user

[2018-08-01 10:28] TimMcCauley commented on #231
Thank you both, this bug has been fixed in development branch last week - I should have mentioned. Cheers, Tim

[2018-08-01 10:28] #231 closed, assigned to TimMcCauley

[2018-08-01 10:45] TimMcCauley opened #233 "Implement API framework Spring Boot"
Using a library will not only make it more sustainable/maintanable but also make the documentation of the API very easy.

By the way, we can't use dropwizard as it does not support tomcat:

https://blog.takipi.com/java-bootstrap-dropwizard-vs-spring-boot/

[2018-08-02 09:08] TimMcCauley commented on #232
@boooch can you please paste your app.config in here? I will dig in.

[2018-08-02 09:08] TimMcCauley commented on #207
Closing this one, @mkalygin please feel free to edit the OSM data directly.

[2018-08-02 09:08] #207 closed, assigned to nobody

[2018-08-02 09:19] TimMcCauley commented on #203
I have set nginx to `proxy_buffering off;` after reading https://github.com/request/request/issues/1418 - I will keep this open for now.

[2018-08-02 09:26] TimMcCauley commented on #154
Related to #233 - will be done then.

[2018-08-02 09:26] TimMcCauley commented on #141
Will be handled in #233

[2018-08-02 13:40] sedot42 opened #234 "Implement an energy efficient routing profile"
SOTM18 had a [talk](https://2018.stateofthemap.org/2018/T101-Energy_efficient_routing_with_OSM/)  about energy efficient routing. The talk was recorded but has not been published yet. This should not be very difficult to implement as a routing profile and is a good feature that many other routing engines don't have. With the rise of electrical cars with limited capacity this will be gaining more a

[2018-08-02 13:44] aoles opened #235 "HGV access restrictions"
Access restrictions/permissions doesn't seem to be properly resolved for `driving-*` profiles. Consider the following example for `driving-hgv` with`vehicle_type=agricultural`:

https://maps.openrouteservice.org/directions?n1=49.465&n2=8.658385&n3=15&a=49.469532,8.658686,49.464359,8.660789&b=4d&c=0&k1=en-US&k2=km

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/6545356

[2018-08-02 13:52] sedot42 opened #236 "Integrate ORS as online routing provider in popular mobile navigation apps"
Many OSM-based mobile navigation apps allow choosing from a variety of online routing providers. Integrating the OpenRouteService within some of these apps would highly increase exposure to users while not increasing server load too much.
Integration in [OsmAnd](https://github.com/osmandapp/Osmand) could be a good start since it is open source and open for pull requests.

[2018-08-03 07:55] boooch commented on #232
problem resolved

[2018-08-03 08:05] #232 closed, assigned to TimMcCauley

[2018-08-05 19:59] eliboni opened #238 "access conditional issue "no @ (oct-jun)""
it seems ORS does not properly recognize access:conditional attribute when set to "no @ (oct-jun)"

Example: http://bit.ly/2neSK5v point B is not reached (although it is august)

[2018-08-06 07:31] rabidllama commented on #238
We will look into it as you are correct, the route should take you down that path and it seems to happen on all profiles.

Notes:
As we do not implement temporal restrictions yet, this road should be routed down (as seen in GH).
It could be due to an issue in an edge filter used by all profiles.

[2018-08-06 08:10] rabidllama commented on #238
So, I have had a look into this on my local machine using the latest OSM data and the branch that the graphs were built on and it seems that routing works OK then. So it could be a problem with that particular graph build. We are looking at getting new graphs built this week and so then we can test again on the full graphs to see if the problem is still there (it seems that the whole way and also

[2018-08-08 02:47] eliboni commented on #238
Many thanks! I'll test when available. Thanks

[2018-08-08 03:01] eliboni commented on #238
On the other side - the problem is surely wider at the moment, see here as well:
http://bit.ly/2nnIM1v
The route is "no @ Nov-Jun" https://www.openstreetmap.org/edit?editor=id#map=16/45.3027/6.9550

(as a side note I really wish you skip or allow to ignore access:conditional since in several cases it is not accurate and prevents to plan routes for the future...)

[2018-08-08 13:27] aoles opened #239 ""shortest" route is actually longer than the "fastest" one"
Consider the following [simple route](https://maps.openrouteservice.org/directions?n1=49.378961&n2=8.679923&n3=17&a=49.379446,8.679156,49.378357,8.680487&b=0&c=0&k1=en-US&k2=km) with default  weight `fastest`.

<img width="898" alt="image" src="https://user-images.githubusercontent.com/6545356/43839662-ee0a33c6-9b1e-11e8-8cbc-de4ab57b7e58.png">

Once  the weighting is switched to `shortest` a diff

[2018-08-08 13:32] TimMcCauley commented on #239
Afaik fastest uses CH, shortest doesn't - this might help debugging.

[2018-08-08 13:33] TimMcCauley commented on #239
And afaik, fastest doesn't consider turn restrictions which is why this result could be "correct".

[2018-08-08 13:37] aoles commented on #239
Thanks @TimMcCauley! I'm pretty sure in reality there are no turn restrictions on these roads, so I wonder where would these come from...

[2018-08-08 13:41] TimMcCauley commented on #239
https://www.openstreetmap.org/way/23771000#map=18/49.37893/8.68051 - I would compute the graphs for this region with and w/o CH for further investigation.

[2018-08-09 14:33] aoles opened #240 "No results for structured geocoding"
The following request to endpoint `geocode/search/structured` used to work, now it does't return any results.

`https://api.openrouteservice.org/geocode/search/structured?api_key=API_KEY&locality=Heidelberg&county=Heidelberg`

[2018-08-09 15:55] ostermannBernd opened #241 "JSONArray bbox contains only the last segment"
I have requested a route from Innsbruck via Munich to Pfaffenhofen with:

https://api.openrouteservice.org/directions?api_key=MyKey&profile=driving-car&format=json&units=m&geometry=true&geometry_format=encodedpolyline&instructions=true&instructions_format=text&maneuvers=true&coordinates=11.4041024%2C47.2692124%7C11.5819805%2C48.1351253%7C11.512417899999999%2C48.5274509&language=de
I assumed, that

[2018-08-13 05:28] ghost opened #243 "No route"
I want to get the route from 9.260582,47.360331 to 9.283162,47.603291

If I avoid tracks and fords I get no route.
If I only avoid fords, I get is.
My expectation is that I can get in the route to the track, if I exclude this.

If I try this in the client (https://maps.openrouteservice.org) with avoiding tracks, I get the error "Es besteht keine Internetverbindung".

[2018-08-13 10:30] aoles commented on #243
The problem is that your start point happens to lie along a [way tagged as `track`](https://www.openstreetmap.org/way/35221104).

Starting the routing only from the [crossing](https://www.openstreetmap.org/node/287703285) is currently not supported and would probably require substantial changes in the backend.

The spurious error message at maps.openrouteservice.org is a separate [issue](https://g

[2018-08-14 08:52] rabidllama commented on #241
@ostermannBernd I believe that your assumption is correct and that the bounding box should cover the entire route and not just the last segment.

@MichaelsJP It might be useful to have it so that the bounding box in the base object covers the whole route, and then an extra bounding box for each of the segments contained in the `segments` object array i.e.:

[code]