[2018-08-14 11:17] basisbit opened #244 "[readme.md] fix or remove dead links to openrouteservice-tools repo"
The readme.md contains a couple of mentions of the not existing repo `GIScience/openrouteservice-tools`.
If the mentioned scripts, code and so on is still available somewhere else, please update the dead links, so people can actually follow the readme.md again to get started on this project. Thanks!

[2018-08-14 13:50] rabidllama commented on #238
hmm, that's strange as another route https://bit.ly/2MfEQ1S works ok and that uses a way with the `access:conditional=no @ (Oct-Apr)` tag

[2018-08-14 15:17] TheGreatRefrigerator opened #246 "not found error does not display right point number on routes with waypoints"
Currently if a point of a route cannot be found, the returned error message treats the startpoint as number `0` and endpoint as `1` regardless of how many waypoints there are in between.
If one of the waypoints is not found `Code 2099: Cannot find point 1: ...` is returned.

Is it possible to return all points of a route that can't be found, or is this bound to the algorithm that stops if it reach

[2018-08-15 14:43] aoles commented on #238
The tag `access:restriction` is not processed by ORS itself but rather by the underlying Graphhopper routing engine in [`ConditionalOSMTagInspector`](https://github.com/GIScience/graphhopper/blob/ors/core/src/main/java/com/graphhopper/reader/osm/conditional/ConditionalOSMTagInspector.java). The current release of GH works fine for the provided examples: https://bit.ly/2MkASFi and https://bit.ly/2M

[2018-08-15 16:45] TimMcCauley commented on #243
@rschi instead of "no internet connection" the error message from the backend will appear in the next release on https://maps.openrouteservice.org which will basically tell you that no route can be found as @aoles has already explained 👍

[2018-08-15 16:45] #243 closed, assigned to nobody

[2018-08-17 08:50] aoles commented on #235
**UPDATE** `highway=track` below `tracktype=grade1` are excluded from the road network by `HeavyVehicleFlagEncoder` based on `maxTrackGradeLevel`. While this can be specified in the encoder options in **app.config**, the defaults for `CarFlagEncoder` and `HeavyVehicleFlagEncoder` are `3` and `1`, respectively.

Consider revising these settings to allow routing of `agricultural` or `forestry` vehic

[2018-08-17 09:55] aoles commented on #235
Roads with `access=agricultural` are filtered out by both `CarFlagEncoder` and `HeavyVehicleFlagEncoder` because of `agricultural` being in `restrictedValues`. However, ways tagged with multiple values such as `agricultural;forestry` are not picked up by this filter which explains why it's still possible to still go around from A to B in the example above.

Consider keeping ways tagged as `agricul

[2018-08-19 17:38] TimMcCauley commented on #220
@Sandmania  this feature ( https://lta.cr.usgs.gov/GMTED2010 )  will be included in 4.7 end of September

[2018-08-20 07:41] rabidllama commented on #167
@TimMcCauley Did you find where the old code was for this?

[2018-08-20 14:59] RigacciOrg commented on #176
Hi, I can confirm the problem. In the case below there is a turn restriction **only_straight_on** on road SS16 from South to North, but ORS does a right turn. I tried OsmAnd (Android app) which indeed obey the restriction.
[https://maps.openrouteservice.org/directions?n1=43.61513&n2=13.384566&n3=17&a=43.61471,13.385403,43.614827,13.384266&b=0&c=0&k1=en-US&k2=km](https://maps.openrouteservice.org/d

[2018-08-20 20:14] TimMcCauley commented on #167
@rabidllama sorry, I checked and I can't find it (most likely on my old laptop which was stolen 👎). The idea is quite straightforward, every waypoint gets an additional attribute optimize which is either `null` (startpoint), `true` (find an optimized path between it and the previous wp) or `false` which won't optimize but return the input coordinates (between it and the previous wp) as flight of t

[2018-08-21 08:55] rabidllama commented on #191
@HendrikLeuschner any news on this yet?

[2018-08-21 09:23] rabidllama commented on #176
@RigacciOrg @ujos - I have looked into this and it appears to be due to the system defaulting to contraction hierarchies when no additional parameters are set (i.e. maximum speed). When these contraction hierarchies are used (primarily this is a method which massively increases speeds of long distance routing, turn restrictions are not taken into account. If you turn on a parameter such as avoid t

[2018-08-21 09:28] aoles commented on #176
@rabidllama not sure yet, as it depends on various factors and performance constrains.

[2018-08-21 11:13] rabidllama commented on #240
The goecoder has been updated and this should now work

[2018-08-21 11:13] #240 closed, assigned to nilsnolde

[2018-08-21 11:14] TimMcCauley commented on #240
Another working example: https://api.openrouteservice.org/geocode/search/structured?api_key=xxx&country=AUS

[2018-08-21 11:18] rabidllama commented on #167
OK, I don't think this will be too major a thing to add, so lets aim for getting it in there for v4.7

[2018-08-21 13:00] TimMcCauley opened #251 "Implement travis for functional tests"
No need to run these tests on our own Jenkins server

[2018-08-21 13:09] rabidllama commented on #236
It would be best to leave this until we have implemented the new API (Milestone v5.0) as that should then be more sustainable

[2018-08-21 13:10] rabidllama commented on #234
We are currently looking at reworking our profiles, so this would need to happen after those, so likely for the v5 or 5.1 release. For now I will put it on hold until after 4.7

[2018-08-21 13:17] rabidllama commented on #142
So ultimately in 4.7 we wont be able to fully detach from the GH fork, but we will at least be closer to that point with many of the dependencies removed

[2018-08-21 13:19] rabidllama commented on #158
Yes we see similar issues with missing out restrictions when CH is applied (#176 )

OSM automatically tells GH not to use CH in their request

[2018-08-21 14:52] aoles commented on #211
Test case on [way 125388816](https://www.openstreetmap.org/way/125388816): http://maps.openrouteservice.org/directions?n1=49.348238&n2=8.766859&n3=17&a=49.348151,8.768002,49.348123,8.765674&b=0&c=0&k1=en-US&k2=km

Regular car/hgv is allowed but not agricultural even though the way specifically allows them `agricultural=yes`.

[2018-08-21 15:47] HendrikLeuschner commented on #225
@nilsnolde This should be fixed "automatically". As soon as there is a CH profile for a given profile, we use the higher matrix limit. I checked on my machine with the newest app.config with the bike profile as used in https://github.com/nilsnolde/OSMtools/issues/64 and it chooses a CH profile for a GET.
Is the problem possibly that it uses POST and the documentation states that "The profile curre

[2018-08-21 17:16] HendrikLeuschner commented on #191
I have built the Brandenburg graphs locally and run the routing query that give the route not found, but it works for me. The matrix query does also produce correct (the same as the routing) results. Need more investigation for why it does not work on the api. It might have something to do with the osm file...

[2018-08-21 21:10] #251 closed, assigned to TimMcCauley

[2018-08-22 12:36] aoles opened #253 "Rework the motor_vehicle=destination tag penalty logic"
Consider driving on the following [field road](https://www.openstreetmap.org/way/157774067).

https://maps.openrouteservice.org/directions?n1=49.490536&n2=8.65129&n3=17&a=49.490507,8.654737,49.490417,8.647077&b=0&c=0&k1=en-US&k2=km

<img width="775" alt="image" src="https://user-images.githubusercontent.com/6545356/44463047-cc302a00-a616-11e8-8f62-ec64daf905c2.png">

The reported driving time for

[2018-08-22 13:01] aoles commented on #253
Happens because of `motor_vehicle=destination` which sets the speed to `destinationSpeed = 5` in `CarFlagEncoder`. Consider using default value for a given road type regardless the `destination` tag.

[2018-08-22 13:26] aoles commented on #211
I cannot find any good reason why access for agricultural and forestry vehicles is disabled by default for `highway=track`s but enabled on other types of ways. For example, it's possible to route down the [following way](https://www.openstreetmap.org/way/25575494) with any motor vehicle but agricultural/forestry (when ALT is enabled). Similar applies to the example from the previous comment.

http

[2018-08-22 13:41] aoles commented on #211
Yet another example on [Leimer Straße](https://www.openstreetmap.org/way/33733626) which fails for driving agricultural: https://maps.openrouteservice.org/directions?n1=49.371137&n2=8.689848&n3=17&a=49.368262,8.691226,49.370882,8.69157&b=4d&c=0&f5=2&k1=en-US&k2=km

[2018-08-22 17:42] MichaelsJP commented on #241
@rabidllama @ostermannBernd I investigated the bug a bit and it revealed that as soon as there is more than one segment calculated in  `ors/routing/RouteResultBuilder.java` the bbox is always overwritten with the latest segment bbox and in the end just appended to the summary.
I'll think about a nice fix. @ostermannBernd Thank you for posting the issue. It was hidden in the code for quite some tim

[2018-08-23 17:48] #196 closed, assigned to MichaelsJP

[2018-08-23 17:48] #180 closed, assigned to MichaelsJP

[2018-08-23 17:53] MichaelsJP commented on #168
@ghspenguin Can you already say something if the problem still exists in the current development branch?
Sadly I can't reproduce the error on my machine and no one else got this problem so far...

[2018-08-24 07:21] rabidllama commented on #238
As soon as we have the newest version (4.6) up and running we will test out whether there are still these problems. I suspect though that it was a problem in the parsing process (maybe a corrupt osm file) as in the case of the first example at least it appeared in all profiles, yet other places where a similar tag appears the roads are present.
I will keep you updated, but for now I will remove it

[2018-08-27 09:42] aoles opened #262 "HGV restriction axleload not taken into account"
It seems that the hgv restriction `axleload` is not functional at the moment. Consider driving on [Kleinschmidtstraße](https://www.openstreetmap.org/way/28171940) tagged as `maxaxleload=13` with `axleload` set to a value higher than 13t: https://maps.openrouteservice.org/directions?n1=49.405853&n2=8.684945&n3=17&a=49.406017,8.68613,49.404411,8.687804&b=4a&c=0&f4=100&k1=en-US&k2=km

[2018-08-27 10:01] TimMcCauley commented on #262
@aoles do please make sure this is also not working with the API directly, the webapp might have a bug.

[2018-08-27 10:22] aoles commented on #262
@TimMcCauley I already did, the parameter passed in the URL reads `options={"profile_params":{"restrictions":{"axleload":"100"}},"vehicle_type":"hgv"}`.

[2018-08-27 13:12] aoles commented on #262
The fix includes changing the condition in [`VehicleParameters`](https://github.com/GIScience/openrouteservice/blob/development/openrouteservice/src/main/java/heigit/ors/routing/parameters/VehicleParameters.java#L890) from
[code]
to
[code]

[2018-08-27 14:01] aoles opened #263 "HGV specific restrictions fail when their value > 12.8"
HGV restrictions such as `maxweight` are encoded as `byte` values after parsing the original OSM value as `double` and multiplying it by 10. This causes values > 12.8 to exceed the `Byte.MAX_VALUE` limit such that they cannot be reliably stored and retrieved.

As an example consider the [Neckar bridge in Ziegelhausen](https://www.openstreetmap.org/way/155285604) tagged with `maxweight=20`. Even af

[2018-08-27 14:27] aoles commented on #263
For example in the [Karlsruhe region](http://download.geofabrik.de/europe/germany/baden-wuerttemberg/karlsruhe-regbez-latest.osm.pbf) there are 189 cases when the hgv restriction values  exceed the available `byte` data range (mostly for `maxweight` but for `maxlength` too)

[2018-08-27 15:12] aoles commented on #263
As the restrictions are positive values which normally don't exceed 100, and usually they are well defined by 2 significant digits, a possible way of packing them into byte values would involve the following transformation which uses (almost) the whole available range by storing the digit after decimal point only for values < 17, and for the greater ones just the decimal part.

[code]

The transfo

[2018-08-28 13:19] rabidllama commented on #241
Will close when 4.6.1 is released

[2018-09-01 12:34] ghspenguin commented on #168
@MichaelsJP
Hi! Is there an installation of the development site with public access? I've nor resources to install a development version locally.
In my case, at http://maps.openrouteservice.org the problem was reproduceable on different machines with different browsers (IE, Firefox, Chromium) and on linux and windows.
Maybe you can send me an link to the development site, so I can test it in the w

[2018-09-01 14:52] llmuculusll opened #264 "Traffic data layer added to this tool set"
wie geht es ihnen in Heildelberg : )

 I do admire your work, it is quite state of the art.
 we are a team, concentrating on health sector problem-solving in Tehran, working on access and equality and urban population coverage.

We were wondering whether we can use traffic data layer added to this tool set.
 have you tried it? (since isochronous lines now are -as we checked- far from what happens

[2018-09-03 07:12] rabidllama commented on #168
@ghspenguin @MichaelsJP I have just had a quick look and it seems this is actually an issue with the front-end. I presume that you are using maps.openrouteservice.org to produce the route and then selecting to export the route as opposed to directly querying the API?  When I do it from the front end I get the same issue with a missing declaration, but when querying the api I get a correct response

[2018-09-03 07:18] rabidllama commented on #168
I will close this issue here as the front-end needs to address this bug

[2018-09-03 07:18] #168 closed, assigned to MichaelsJP

[2018-09-03 07:29] rabidllama commented on #264
Hi @llmuculusll ,

We previously tried implementing some datasets regarding traffic into ORS but it gave mixed results and in the end we decided not to include it because of performance issues and availability of data.

We don't have plans for redeveloping the code in the near future as it would not be a small job to get it working and in general, access to most traffic data is a pay-for service.

[2018-09-03 11:56] MichaelsJP commented on #131
The area attribute is calculated in `util/GeomUtility.java`. It is used by the borders and isochrone stuff and I wouldnt like to change it due to consistency.
@nilsnolde any idea how to approach that?

[2018-09-03 12:20] MichaelsJP commented on #173
@TimMcCauley @rabidllama the issue goes right into the `graphhopper.extensions`. Does it correlate somehow  with the gh stuff coming up or with any wip?

[2018-09-04 13:25] mkalygin commented on #207
@TimMcCauley I've edited the OSM data, but the API result from OpenRouteService doesn't seem to be updated properly. Is there any cache or something? This is the [result from GraphHopper]() and this is the [result from OpenRotueService](https://maps.openrouteservice.org/directions?n1=60.002408&n2=29.723365&n3=14&a=59.93428,30.335099,59.996665,29.701245&b=4a&c=0&k1=en-US&k2=km).

[2018-09-04 13:35] rabidllama commented on #207
@mkalygin We have been having some technical difficulties lately with building new graphs, so the ones that are being used by ORS are a bit out of date. When we get them updated (hopefully within the next two weeks) the changes made should take effect.

[2018-09-07 08:45] rabidllama opened #266 "Constantly getting logging lines regarding forestry vehicles during build"
Code was introduced into development branch in PR #254 which outputs to console every time a way is added in the HGV builder that has a tag relating to forestry. This **MUST** be removed else logging will be unusable for larger building process.

[2018-09-09 11:49] eliboni commented on #238
@rabidllama is there any planned release date for 4.6? ORS is currently unusable across Alps or other mountain areas with conditional access...

[2018-09-09 11:52] eliboni commented on #238
Also, will there be in 4.6 the possibility to completely  ignore conditional access settings? That is  to plan trips in the future - for example during the winter you can't use OSR to plan a summer trip in Norway.

Thanks!

[2018-09-14 08:32] TheGreatRefrigerator opened #269 "No waypoints for `format=gpx` and `instructions=false`"
The gpx response of the API sometimes has no waypoints for `instructions=false`.
If instructions are true, waypoints are included again, but it also increases the file size.
[code]

https://api.openrouteservice.org/directions?api_key=xxx&attributes=detourfactor|percentage&coordinates=8.582189,48.55606|8.609848,48.565021&elevation=true&extra_info=steepness|waytype|surface&geometry=true&geometry_for

[2018-09-14 09:26] TheGreatRefrigerator commented on #269
The backend version running on the staging server gives back the right response though
[code]

[2018-09-14 20:13] Toni-Reitz opened #270 "Problem: Downloaded GPX-Files are corrupted"
Hi, Team of Open Route Service

After calculating a route on maps.openrouteservice.org and downloading a GPX file, the results seem to be corrupt. Eg. Routeconverter cannot read or modifiy the data. The problem exists for downloads with and without instructions, and can be replicated.
Please find attached two examples of corrupted output, without and with instructions.

Best wished to Heidelberg
T

[2018-09-15 09:32] finessum-github opened #271 "ERROR: Service 'ors-build' failed to build: COPY failed: stat /var/lib/docker/tmp/docker-builder265193547/.git: no such file or directory"
If i run "docker-compose up -d", the following error occurs:

**Step 6/11 : COPY .git /ors-core/.git
ERROR: Service 'ors-build' failed to build: COPY failed: stat /var/lib/docker/tmp/docker-builder265193547/.git: no such file or directory**

I've also tested this on a fresh installed Debian 9 with docker ce installed: Same error.

If i remove/comment out the line "COPY .git /ors-core/.git" from th

[2018-09-15 09:38] kimjohans opened #272 "Please create an installation guide for manual installation (without docker etc)"
Good morning,

as my topic tells:
May you please write an installation guide for manual installation without docker etc.
There are no installation details at all within your readme or docs (or am i blind ?)

Thanks.

[2018-09-15 10:33] kimjohans commented on #271
+1

[2018-09-15 10:34] kimjohans commented on #271
Is not working here either - same error.

[2018-09-15 12:04] kimjohans commented on #271
Found the solution:
[https://www.yourhelpcenter.de/2018/08/error-service-ors-build-failed-to-build-copy-failed/](https://www.yourhelpcenter.de/2018/08/error-service-ors-build-failed-to-build-copy-failed/)

[2018-09-17 07:55] kimjohans opened #274 "Wrong result from https://api.openrouteservice.org/geocode/search/structured?..."
Hello,

testing the ORS Service "geocode/search/structured", i got follwing problem:

Real address = Am Wegekreuz 15, 41516 Grevenbroich, Germany

This address is existing and can easily be found with google maps etc correctly.

Due to the [API documentation of this function](https://github.com/pelias/documentation/blob/master/structured-geocoding.md#structured-geocoding), i used following data:

[2018-09-17 21:06] Toni-Reitz commented on #270
P.S. I use Routeconverter for checking and editing, the komoot app on the android smart phone, and various Garmin Edge devices for navigating.

[2018-09-18 09:39] rabidllama commented on #271
Hi, I believe before when we have seen this issue it was because the whole repository had been downloaded as a zip and then extracted rather than using the `git clone ...` command. Thanks @kimjohans for providing the assistance.

I will close this and create an issue to add this to the installation on the main page

[2018-09-18 09:39] #271 closed, assigned to nobody

[2018-09-18 09:41] rabidllama opened #275 "Document that the repository should be cloned"
The docker build of the ORS only works when the repository is cloned from github rather than being downloaded as a compressed archive. This should be documented on the README file under installation.

[2018-09-18 09:42] rabidllama commented on #275
See #271

[2018-09-18 11:05] rabidllama commented on #274
Hi @kimjohans

We use a local installation of the Pelias geocoder for our geocding and looking at their test page (http://pelias.github.io/compare/#/v1/search/structured%3Faddress=Am%2520Wegekreuz%252015&locality=Grevenbroich&region=Germany&postalcode=41516) for the same address gives the same response of the islands in the north of germany, so if it is a bug it would need to be registered with Pe

[2018-09-18 11:24] rabidllama commented on #272
We are currently writing these up and they should be put onto the front end in the 4.7.1 release.

[2018-09-18 11:24] TimMcCauley commented on #270
@Toni-Reitz we will close this for now. The reason that our new xml format doesn't work is the incompatibility with old (Garmin etc.) devices and RouteConverter. We checked the file and it can be read by other apps (gpsies, for instance). We will eventually add an option to the web-app that a user can decide which gpx to use.

[2018-09-18 11:24] #270 closed, assigned to nobody

[2018-09-18 11:28] rabidllama commented on #272
Currently we can only provide this information based on our server setup which would be Ubuntu 16.04.

[2018-09-18 11:34] rabidllama commented on #275
Already been implemented in development branch (Aug 15)

[2018-09-18 11:34] #275 closed, assigned to rabidllama

[2018-09-19 10:06] mkalygin commented on #207
@rabidllama Any help I can provide to speed up resolution of this issue? Is there any progress on this guy?

[2018-09-19 11:28] rabidllama commented on #207
graphs are building as we speak (seems the problem we were having was in relation to a the docker tomcat image) and so if everything goes to plan, everything will be updated early next week

[2018-09-19 13:09] #274 closed, assigned to nobody

[2018-09-19 13:11] TimMcCauley opened #276 "Add custom Dockerfile for running tomcat"
With [apache updating tomcat 8.0.53](https://tomcat.apache.org/tomcat-8.0-doc/changelog.html) the current docker-compose using `image: "tomcat:8-jre8"` will result in out of memory when building global graphs. We don't know why but have tested tomcat version `8.0.32` which apparently works.

Running example which works:
[code]

[2018-09-19 13:43] rabidllama opened #277 "Update routing endpoint to use Spring framework"

[2018-09-19 13:45] rabidllama opened #278 "Implement routing request object"
Implement a set of objects that store information passed to the service in a request. They should make use of Jackson annotations to populate variables that can be used by the routing engine

[2018-09-19 13:45] rabidllama opened #279 "Implement response objects"
Implement objects that can take a route object generated from the routing service and convert it to the correct structure based on the format that was requested (GPX, JSON, GeoJSON).

[2018-09-19 13:46] rabidllama opened #280 "Facilitate GET and POST requests"
The new API for routing should only allow the passing of complex requests via a request body sent as a POST request. Only a basic request is allowed for GET (profile type and start/end coordinates)

[2018-09-19 13:46] rabidllama opened #281 "Implement handler for communication between API and core"
Implement a handler object that takes the information passed to the API and converts it to the request object used by the routing service. It should handle invalid parameters and values that make it through the API

[2018-09-19 13:47] rabidllama opened #282 "Add api-tests for new routing API"
New API requests are required to test the new API structure. These should at least match existing tests for the old API

[2018-09-19 13:48] rabidllama opened #283 "Implement error responses"

[2018-09-19 13:49] rabidllama opened #284 "Handle invalid parameters"

[2018-09-19 15:02] rabidllama opened #285 "Create GPX Route Response object for new API"

[2018-09-19 15:03] rabidllama opened #286 "Create JSON Route Response object for new API"

[2018-09-19 15:03] rabidllama opened #287 "Create GeoJSON Route Response object for new API"
Generate objects for returning a correctly formatted GeoJSON response representing the route generated and any additional parameters (i.e. instructions, extra infos)

[2018-09-24 13:08] TheGreatRefrigerator opened #289 "Isochrones: units parameter is not working"
https://api.openrouteservice.org/isochrones?api_key=xxx&locations=8.34234,48.23424&profile=driving-car&range_type=time&range=60&units=mi&location_type=start&intersections=false
will result in:
```{"error":{"code":3003,"message":"Parameter 'units' has incorrect value or format."},"info":{"engine":{"version":"4.5.0","build_date":"2018-06-12T14:47:57Z"},"timestamp":1537793370652}}```
it doesn't matte

[2018-09-24 13:12] aoles commented on #289
Might be related to https://github.com/GIScience/openrouteservice/issues/91

[2018-09-24 13:17] TimMcCauley commented on #289
What is the status of #91  @aoles @HendrikLeuschner ?

[2018-09-24 13:20] TimMcCauley commented on #289
Forget my comment, didn't read it to the end

[2018-09-24 17:05] HendrikLeuschner commented on #289
Why was this closed now? Is #91 related or not?

[2018-09-24 17:30] TimMcCauley commented on #289
Sorry, please check and close if resolved

[2018-09-25 13:04] TheGreatRefrigerator opened #290 "language=zh-CN results in empty error"
A request with `language=zh-CN` will get back an empty error.
Maybe this is a graphhopper issue?
https://api.openrouteservice.org/directions?api_key=xxx&coordinates=8.34234,48.23424|8.304977,48.251427&elevation=true&instructions=true&language=zh-CN&preference=fastest&profile=driving-car&units=m

[2018-09-25 13:40] eliboni commented on #238
The items I reported on my initial post seems fixed now, however  I still see issues, for example look at this barrier:
https://www.openstreetmap.org/node/4550696272
although it is "no @ (Nov-Apr)", as of today ORS refuse to pass through:  [link](https://maps.openrouteservice.org/directions?n1=46.213195&n2=11.421597&n3=15&a=46.213861,11.422348,46.20466,11.419601&b=0&c=0&k1=en-US&k2=km)

[2018-09-25 14:05] TheGreatRefrigerator opened #291 "empty error for specifying weightings with wrong profile"
there is also an empty error if i do a request with `profile=driving-car` but specify `weightings` in the options object this happens also on the old version even before showing that there is no driving-car profile.
check:
[driving with weightings](https://api.openrouteservice.org/directions?api_key=xxx&coordinates=8.34234,48.13424|8.34423,48.12424&profile=driving-car&preference=fastest&format=jso

[2018-09-26 08:48] HendrikLeuschner commented on #289
This behavior is correct and expected. You have specified range_type=time, but provide units for range_type=distance, which obviously cannot be processed. Try
http://localhost:8082/openrouteservice-4.5.0/isochrones?api_key=xxx&locations=8.34234,48.23424&profile=driving-car&range_type=distance&range=60&location_type=start&intersections=false

[2018-09-26 08:48] #289 closed, assigned to nobody

[2018-09-26 11:36] HendrikLeuschner opened #292 "Specify error message when units is given but range_type==time in isochrone request"
Currently the error returned does not really represent what the problem is. see #289

[2018-09-28 13:24] eliboni commented on #238
Folks, since the problem in my original post seems solved, and from what I see the issue I mentioned in the previous one is just related to barriers, let me open a new issue and this one can be closed

[2018-09-28 13:33] eliboni opened #293 "barriers with access:conditional block routing"
**Example1:**  access | motor_vehicle:conditional=yes @ (May-Oct)

https://www.openstreetmap.org/node/3165754680

But ORS refuse to cross it [link1](https://maps.openrouteservice.org/directions?n1=45.834231&n2=10.407243&n3=14&a=45.83353,10.396278,45.827636,10.39999&b=0&c=0&k1=en-US&k2=km)

**Example 2:**  access:conditional | no @ (Nov-Apr)

https://www.openstreetmap.org/node/4550696272

although

[2018-10-01 09:35] nilsnolde opened #297 "Isochrone can fail with attribut=total_pop"
All attributes in request returns `3099`:
https://api.openrouteservice.org/isochrones?api_key=key&locations=-98.51475000,29.57827800&profile=driving-car&range_type=time&range=2100&attributes=reachfactor|area|total_pop

Omitting `total_pop` returns isochrones:
https://api.openrouteservice.org/isochrones?api_key=key&locations=-98.51475000,29.57827800&profile=driving-car&range_type=time&range=2100&at

[2018-10-01 09:43] TimMcCauley commented on #297
This works for me
https://api.openrouteservice.org/isochrones?api_key=XY&attributes=area%7Creachfactor%7Ctotal_pop&format=json&interval=900&location_type=start&locations=-98.51475,29.578278&profile=driving-car&range=2100&range_type=time
removing `interval` yields a 3099

[2018-10-01 09:56] nilsnolde commented on #297
Hmm, doesn't seem to be that easy, unfortunately..
https://api.openrouteservice.org/isochrones?api_key=key&locations=-98.51475000,29.57827800&profile=driving-car&range_type=time&attributes=reachfactor%7Ctotal_pop&range=2100&interval=700
fails again with 3099. There is some problem with extracting `total_pop`.

[2018-10-01 13:06] HendrikLeuschner opened #298 "[Core-ALT] DefaultEdgeFilter in Core-ALT leads to route not found"
CH does not have the filter. ALT does not need the filter for shortcuts. So it is probably a problem when applying the defaultedgefilter on a shortcut.
Example: Build HD graph with the normal heidelberg.osm.gz
http://localhost:8082/openrouteservice-4.5.0/routes?api_key=58d904a497c67e00015b45fc6c712bad9f6f409eae1ade20337f7871&attributes=detourfactor|percentage&coordinates=8.670273,49.44324|8.627186

[2018-10-01 19:34] AvePazuzu opened #299 "Distance_Matrix: 'Unable to find an appropriate routing profile.' - for all but 'driving-car'"
I have been using the the function few weeks ago and it worked properly.

Since yesterday I get the titled error message for all profiles but 'driving-car'.

I have tried the examples but I always get the same result.

Here is my test code(py 3.6):

`req_param = {'profile': 'driving-hgv',
metrics' : ['duration', 'distance'],
'optimized': 'true',
'units': 'km',
'locations': [[9.970093,48.477473], [

[2018-10-02 07:41] rabidllama commented on #299
Hi @AvePazuzu - Are you using the python library for this? If so I will direct it over to the people who write that package as I assume it would be something that has changed there

[2018-10-02 08:14] AvePazuzu commented on #299
Hi @rabidllama - Thank your for the quick response. Yes, I am using the python package which I installed with pip.
regards

[2018-10-02 09:38] rabidllama commented on #299
OK cool, I will create an issue over on that repository and then close it here

[2018-10-02 09:38] #299 closed, assigned to nobody

[2018-10-02 12:14] aoles commented on #298
Confirmed, fails with both `CoreDijkstra` and `CoreALT`. Might be a problem specific to the two-stage algorithm, as `CoreDijkstraFilter` from https://github.com/GIScience/openrouteservice/commit/321d7ab65f13fc6b6c98d666a8bc5aa94c40c00c returns correct route.

[2018-10-04 12:43] TheGreatRefrigerator opened #304 "4.7: routing instruction languages not working"
except for language=de or language=en
eg:
https://api.openrouteservice.org/directions?api_key=your_key&coordinates=8.34234,48.23424%7C8.34423,48.26424&profile=driving-car&language=es

[2018-10-04 14:51] #304 closed, assigned to marq24

[2018-10-04 14:52] marq24 commented on #304
fixed it already - PR was merged...

[2018-10-08 09:34] #280 closed, assigned to nobody

[2018-10-08 09:34] #281 closed, assigned to nobody

[2018-10-08 09:34] #286 closed, assigned to nobody

[2018-10-08 09:34] #278 closed, assigned to nobody

[2018-10-08 09:40] rabidllama opened #306 "Add Swagger annotations for routing request"

[2018-10-08 09:41] rabidllama opened #307 "Add swagger annotations for base requests"

[2018-10-08 09:41] rabidllama opened #308 "Add swagger annotations for root request body parameters"

[2018-10-08 09:42] rabidllama opened #309 "Add swagger annotations for request body options object"

[2018-10-08 09:46] rabidllama opened #310 "Add swagger annotations for JSON response"

[2018-10-08 09:50] rabidllama opened #311 "Add swagger annotations for request information object"

[2018-10-08 09:50] rabidllama opened #312 "Add swagger annotations to route geometry object"

[2018-10-08 09:51] rabidllama opened #313 "Add swagger annotations to extra_info objects"

[2018-10-08 09:52] rabidllama opened #314 "Add swagger annotations to segments response section"

[2018-10-08 09:59] TimMcCauley commented on #290
Fixed with #305

[2018-10-08 09:59] #290 closed, assigned to marq24

[2018-10-09 08:29] rabidllama commented on #314
![](https://github.trello.services/images/mini-trello-icon.png) [swagger](https://trello.com/c/MKMljte2/1-swagger)

[2018-10-09 08:36] #306 closed, assigned to nobody

[2018-10-09 08:36] #307 closed, assigned to nobody

[2018-10-09 08:36] #308 closed, assigned to nobody

[2018-10-09 08:36] #309 closed, assigned to nobody

[2018-10-09 08:36] #310 closed, assigned to nobody

[2018-10-09 08:36] #311 closed, assigned to nobody

[2018-10-09 08:36] #312 closed, assigned to nobody

[2018-10-09 08:36] #313 closed, assigned to nobody

[2018-10-09 08:36] #314 closed, assigned to nobody

[2018-10-09 12:12] krangerich opened #315 "Add HGV restrictions to matrix service"
Currently in the matrix service a HGV profile can be given (which leads to adjusted travel time estimation, I guess?), but restrictions like weight or height (like in the directions service) are not possible. This means, distances will be calculated using roads / bridges forbidden for heavy vehicles and are not accurate.

Would be very helpful, if profile_params / restrictions could be used in the

[2018-10-09 12:27] TimMcCauley commented on #315
@krangerich the matrix API uses the base graph for heavy vehicles meaning it will be "compliant". We might be introduced profile_params etcpp. in the future, will keep this one open.

[2018-10-09 12:52] #225 closed, assigned to HendrikLeuschner

[2018-10-09 16:11] mkalygin commented on #207
@rabidllama good news, this route is building almost correctly. It's already correct in [Graphhopper](https://graphhopper.com/maps/?point=60.009264%2C29.71318&point=59.997213%2C29.700616&locale=ru-RU&vehicle=car&weighting=fastest&elevation=true&ch.disable=true&use_miles=false&layer=Omniscale). But it's still not ideal in [OpenRouteService](https://maps.openrouteservice.org/directions?n1=59.997366&

[2018-10-10 07:44] #120 closed, assigned to TimMcCauley

[2018-10-10 07:44] #175 closed, assigned to TimMcCauley

[2018-10-10 07:44] #241 closed, assigned to MichaelsJP

[2018-10-10 07:50] #95 closed, assigned to rabidllama, HendrikLeuschner

[2018-10-10 07:50] #137 closed, assigned to rabidllama

[2018-10-10 07:50] #161 closed, assigned to rabidllama

[2018-10-10 07:50] #162 closed, assigned to rabidllama

[2018-10-10 07:50] #171 closed, assigned to rabidllama

[2018-10-10 07:50] #177 closed, assigned to rabidllama

[2018-10-10 07:50] #178 closed, assigned to rabidllama

[2018-10-10 07:50] #185 closed, assigned to rabidllama

[2018-10-10 07:50] #186 closed, assigned to rabidllama

[2018-10-10 07:50] #200 closed, assigned to TimMcCauley, TheGreatRefrigerator

[2018-10-10 07:50] #209 closed, assigned to aoles

[2018-10-10 07:50] #211 closed, assigned to aoles

[2018-10-10 07:50] #217 closed, assigned to rabidllama

[2018-10-10 07:50] #218 closed, assigned to rabidllama

[2018-10-10 07:50] #244 closed, assigned to TimMcCauley

[2018-10-10 07:50] #246 closed, assigned to rabidllama

[2018-10-10 07:50] #266 closed, assigned to aoles

[2018-10-10 07:52] rabidllama commented on #184
@marq24 Was this fixed in the update?

[2018-10-10 07:53] rabidllama commented on #142
I will close this for now, even though it is not fully detached

[2018-10-10 07:53] #142 closed, assigned to rabidllama, marq24

[2018-10-10 07:54] rabidllama commented on #220
This should all be fixed now with the update to the newest version

[2018-10-10 07:54] #220 closed, assigned to rabidllama, marq24

[2018-10-10 07:54] marq24 commented on #177
:-D Yeah - I'll fix that ;*)

[2018-10-10 11:16] MichaelsJP opened #318 "Test Issue"
This is a test

[2018-10-10 11:19] MichaelsJP opened #319 "Test Issue #2"
This is a test

[2018-10-10 11:19] #318 closed, assigned to MichaelsJP

[2018-10-10 11:21] #298 closed, assigned to aoles, HendrikLeuschner

[2018-10-10 13:48] #319 closed, assigned to nobody

[2018-10-11 09:40] rabidllama opened #320 "Docker app.config.sample still uses merged profiles"
The app.config.sample file in the docker/conf folder still uses the <4.7 method of merging profiles. This needs updating to reflect the new split profile setup.

[2018-10-11 14:18] #277 closed, assigned to nobody

[2018-10-11 14:18] #279 closed, assigned to nobody

[2018-10-11 14:18] #282 closed, assigned to nobody

[2018-10-11 14:18] #283 closed, assigned to nobody

[2018-10-11 14:18] #284 closed, assigned to nobody

[2018-10-11 14:18] #285 closed, assigned to nobody

[2018-10-11 14:18] #287 closed, assigned to nobody

[2018-10-11 14:19] rabidllama commented on #238
OK cool, glad that the initial issue is now resolved :)

[2018-10-11 14:19] #238 closed, assigned to rabidllama

[2018-10-11 14:31] rabidllama commented on #269
@TheGreatRefrigerator  can you double check this is still an issue as I just did the query to the live server and I got the expected response with waypoints

[2018-10-12 07:43] rabidllama commented on #191
@HendrikLeuschner Is this still an issue after the 4.7 update?

[2018-10-12 07:49] rabidllama commented on #154
Lets put this on hold then until v5

[2018-10-12 08:01] rabidllama commented on #131
I think we need to sit down and go over this @nilsnolde @MichaelsJP as I am not clear on what the problem is and what possible solutions there are

[2018-10-12 08:03] rabidllama commented on #167
Moved to 4.7.2

[2018-10-13 06:05] TimMcCauley commented on #276
Turns out this wasn't the case.

[2018-10-13 06:05] #276 closed, assigned to TimMcCauley

[2018-10-13 10:19] nilsnolde commented on #131
Ok. Basically, my guess is, that the `area` attribute is somehow miscalculated.. If you check the area of [this polygon](https://api.openrouteservice.org/isochrones?api_key=5b3ce3597851110001cf624870cf2f2a58d44c718542b3088221b684&locations=13.413384,52.491143&profile=driving-car&range=900&intervals=900&attributes=area|total_pop) e.g. in QGIS, the `total_area_km` field is more or less correct, in W

[2018-10-13 16:41] thijssmudde opened #323 "Directions API: Elevation data missing & NaN value for "encodedpolyline""
Hi. There is an issue with the Directions API when using the **elevation=true** and **geometry_format=encodedpolyline**. The values returned contain a NAN value and there is no elevation data.

Here is the **full request**:
https://api.openrouteservice.org/directions?api_key={API_KEY}&coordinates={coordinates}&profile=driving-car&preference=fastest&format=json&units=m&language=en&geometry=true&geo

[2018-10-14 20:02] natanlaurett opened #324 "return raw points for isochrones"
Hi there. I'm developing a research project using the ORS api to gather data and optimize routes. One of the needs of my program is to discover the nearest coordinate in a road, given the start point (if the start point already is at a road, it must return himself).

I'm using the Isochrone API to find the "range points" of the start Coordinate, in intervals of 300 or 100 meters. I was expecting t

[2018-10-15 07:17] nilsnolde commented on #324
So, what isochrones return is a polygon of reachability. It calculates the distance on all possible roads you can reach within the given time/distance limit and wraps that as a polygon. You can imagine that that's quite a few points, so there's an alpha shape whose smoothing you can regulate a little with the `smoothing` parameter. You don't get the raw points the polygon is made up of. Could be a

[2018-10-15 08:03] rabidllama commented on #323
Hi @fullhdpixel
can you confirm which service/algorithm you are using to decode the encoded polyline? From my understanding the elevation aspect is something custom to openrouteservice as the normal EncodedPolyline algorithm does not take into account any elevation information (only latitude and longitude), so I believe that most conversion libraries would not provide the elevation component.

[2018-10-15 09:12] mkalygin commented on #207
@rabidllama unfortunately this hasn't been resolved yet. Could you reopen this bug? There are definitely some sync issues with Graphhopper's data.

[2018-10-15 12:22] nilsnolde commented on #323
ors-py has it implemented, if you're looking for reference client-side:
https://github.com/GIScience/openrouteservice-py/blob/master/openrouteservice/convert.py#L135

[2018-10-15 13:13] thijssmudde commented on #323
Thanks for the quick answer. I use the mapbox polyline repo for decoding/encoding: https://github.com/mapbox/polyline

Do you have a javascript library which does the same thing?

[2018-10-15 15:36] TimMcCauley commented on #323
@fullhdpixel just checked, this method should do the job https://github.com/graphhopper/directions-api-js-client/blob/master/src/GHUtil.js#L27

[2018-10-15 16:39] TimMcCauley opened #325 "Isochrones reachability using too high maxspeeds"
The reachability factor for isochrones is too low due to maxSpeeds being too high for every profile. I assume it has got do with with

`https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/flagencoders/nextgen/NextGenBikeCommonFlagEncoder.java#L147`

Being used here:

`https://github.com/GIScience/openrouteservice/blob/m

[2018-10-16 13:27] TimMcCauley commented on #323
Closing this as I assume this is resolved.

[2018-10-16 13:27] #323 closed, assigned to nobody

[2018-10-16 13:52] TimMcCauley commented on #131
The area attribute wasn't transformed properly, fixed with #326

[2018-10-17 11:28] rabidllama commented on #184
Just checked and it seems that I get a "turn right" instruction for that route on bike now so I will mark it as closed

[2018-10-17 11:28] #184 closed, assigned to rabidllama, marq24

[2018-10-17 11:39] rabidllama commented on #212
@vectro @marq24 @rbremen I have just tried these with the new version of ORS (currently live) and I am just trying to organise things.
In terms of the original issue in New York, using regular bike now takes you south on 1st Avenue, and then west on East 55th Street. There is a bit where it goes east first on the East 59th, but I am not sure if that is because of 1 way systems.
![image](https://us

[2018-10-17 11:42] rabidllama opened #327 "consider_elevation resulting in diversions"
See #212 for more info, but to quote:

Original URL used: https://maps.openrouteservice.org/directions?n1=50.816822&n2=5.879692&n3=16&a=50.814151,5.88879,50.819344,5.870454&b=1a&c=0&g1=-1&g2=0&h2=3&k1=en-US&k2=km

I guess this is something to do with speeds on these roads as  as @marq24 notes, switching from quickest to shortest provides the correct result

[2018-10-18 00:01] vectro commented on #212
This route is a little better than what was showing previously, but I think it's still suboptimal. I don't see any advantage to deviating to Sutton Place when it would be possible to take 59th Street directly to 2nd Avenue.  In other words, it would be better to turn right on 59th Street, rather than turning left.

[2018-10-18 13:43] rabidllama commented on #327
Had a little look into this and I believe it is something to do with how the elevation is being taken into account as when you reverse the waypoints, you get the expected result

[2018-10-18 15:30] rabidllama commented on #327
ok, so the findings I have are basically showing that the section on the main road is 70m in length and is shown as having an incline of 11%. The system tries to take into account the length of the section with the incline and the incline itself, so for that section it limits it to 2km/h which means that to cover that section it takes 125 seconds.
On the other hand, in the service roads the system

[2018-10-19 08:24] aoles commented on #253
The speed reduction of highways tagged as `access:destination` is a hack to discourage routing on these roads. This is because legally one is allowed to enter them

For the moment I don't see an easy fix for this, as a proper solution would probably require overhauling core parts of the routing logic. Based on some artifacts in the ORS codebase there were attempts to address this in the past, howe

[2018-10-19 08:30] aoles commented on #263
Moved to 4.7.2 because the fix requires updating the graph builders, so more time is needed to test this properly.

[2018-10-19 08:35] rabidllama opened #328 "Update coordinatiates in API tests"
Currently the first coordinate in some of the API tests is in the middle of the Neckar river. This can introduce some unpredictable results, so it would be better to move to to an actual road.

[2018-10-19 11:01] rabidllama commented on #324
I think different ways of returning isochrone data is definitely something that we are interested in doing, but at the minute we do not have a time frame for when we would be looking at what else we can do other than the polygons.

We will keep it in mind though when we are planning the next features

[2018-10-19 11:01] #324 closed, assigned to nobody

[2018-10-19 11:32] rabidllama commented on #212
After looking into the other issue aswell, it seems that the results for the new york on is down to elevation... From what I can work out the system must pick up a longer section of incline in the "best" route and so sends it on a detour. We are looking into ways of updating the evaluation of how changes of elevation affect travel speen, so hopefully that will make its way into the code in the nex

[2018-10-19 12:08] vectro commented on #212
That makes sense to me. Personally I would view total climbing as a better metric than incline, but others might disagree. I did some quick Internet searches but didn't immediately find any relevant research.

[2018-10-19 12:58] TimMcCauley commented on #297
The reason for this behaviour is the usage of `ST_Simplify` before finding intersections with the population grid. Using the example above of the isochrone generated in San Antonio:

`SELECT ST_isValid(ST_Simplify(ST_Transform(ST_SetSRID(ST_GeomFromGeoJSON('{"type":"Polygon","coordinates":[[[-98.871642,29.621113],[-98.871145,29.617548],[-98.87062,29.617621],[-98.868561,29.619082],[-98.85917,29.621

[2018-10-19 13:13] aoles commented on #262
~It seems that the update in `VehicleParameters` mentioned above is not enough, investigating further...~

**UPDATE:** The fix is ok, though `maxaxleload` values > 12.8 are not resolved properly because of #263.

[2018-10-19 18:39] TimMcCauley commented on #183
Same as #297, fix in PR #330

[2018-10-19 18:39] #183 closed, assigned to aoles, nilsnolde

[2018-10-19 18:43] #141 closed, assigned to rabidllama, HendrikLeuschner, MichaelsJP, TheGreatRefrigerator

[2018-10-21 10:30] TimMcCauley opened #331 "Cycling flagencoders refactoring"
@marq24 I suggest we clean up the flagencoders a little as we currently have a more or less non-transparent structure:

[code]

Does the following make sense?

- the best of bicycle-tour profile is used for the bicycle-regular (related to one of the latest questions on [google groups](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/openrouteservice/6kgVggLokS4/GatS2RuiBgAJ

[2018-10-21 18:57] TimMcCauley commented on #325
Minor patch in #333 which doesn't consider elevation now by default for `cycling-regular|cycling-road|cycling-mountain`.

The impact of consider_elevation to `true` has yet to be examined (#334).

[2018-10-21 18:59] TimMcCauley opened #334 "Consider_elevation flagencoder"
We have to check the impact of considering elevation for generating routes and if it makes sense in general.

[2018-10-22 07:08] TimMcCauley commented on #334
Duplicate of #327

[2018-10-22 07:08] #334 closed, assigned to rabidllama, marq24

[2018-10-22 07:10] TimMcCauley commented on #327
Note: `cycling-regular` is currently using `consider_elevation=true` whereas the other bike profiles aren't and produce the expected result. We have to come up with a softer approach for `consider_elevation` to account for these diversions which don't make too much sense.

[2018-10-22 13:00] rabidllama commented on #158
OK, so as this is an issue relating to how the core algorithms in GH work, I will close this issue as it would need addressing by Graphhopper

[2018-10-22 13:00] #158 closed, assigned to nobody

[2018-10-22 13:06] rabidllama commented on #203
Seems to be working now so I will mark this as closed

[2018-10-22 13:06] #203 closed, assigned to TimMcCauley

[2018-10-22 13:28] rabidllama commented on #327
OK, lets assign this to the 4.7.2 release so we can re-evaluate the elevation usage

[2018-10-22 13:32] rabidllama commented on #327
As this seems to be the same issue as #212, I will close this issue and we can continue any discussion there to reduce duplication

[2018-10-22 13:32] #327 closed, assigned to marq24

[2018-10-22 13:34] rabidllama commented on #212
I have closed the #327 issue so that we can keep all the discussion here to reduce duplication. It definitely seems to be something relating to the use of elevation in speed calculations (see my comments on the #327 issue), so we can schedule this for the 4.7.2 release which gives us time to look into alternatives

[2018-10-22 14:00] #269 closed, assigned to MichaelsJP

[2018-10-22 15:18] TheGreatRefrigerator opened #336 "Isochrones should return snapped coordinate as center"
The center in properties of each isochrone feature response should hold the snapped center position.
Currently the queried center coordinate is used which is also displayed in the info.query already.

[2018-10-22 16:08] TimMcCauley commented on #336
@TheGreatRefrigerator is this a bug?

[2018-10-22 16:27] TheGreatRefrigerator commented on #336
bug or extension. Depends on what SHOULD be returned as the isochrone center.
But IMO it should return the point the iso is based on (Snapped) and not the queried.
A centerpoint outside the actual isochrone doesn't make much sense to me.
![screenshot_2018-10-22 isochrones get ors api](https://user-images.githubusercontent.com/23240110/47304812-f5296700-d627-11e8-81fb-ee1fa3c2575a.png)

[2018-10-22 16:41] TimMcCauley commented on #336
Agreed, will fix

[2018-10-23 09:29] TimMcCauley opened #337 "Using interval and range vs range only for isochrones produces different contours"

[2018-10-25 08:15] aoles opened #339 "Route follows a longer and illegal path around the crossing"
Weird CH routing, does not occur when switched to ALT:

https://maps.openrouteservice.org/directions?n1=49.480495&n2=8.472052&n3=17&a=49.480833,8.4718,49.480234,8.472852&b=0&c=0&k1=en-US&k2=km

<img width="324" alt="image" src="https://user-images.githubusercontent.com/6545356/47485633-ccc78580-d83e-11e8-9ff6-4e118df47436.png">

Even though the illegal turn can be explained by the fact that CH doe

[2018-10-25 08:18] aoles commented on #339
PS: [Graphhopper](https://graphhopper.com/maps/?point=49.480875%2C8.471736&point=49.48015%2C8.473023&locale=en-US&vehicle=car&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale) doesn't have this issue, which might suggest that there is something funny going on on our side..

[2018-10-25 10:05] HendrikLeuschner commented on #292
Think this has been resolved by b5716a855916ebb0966099d9705827750f8c8fc4 @TimMcCauley ? Seems like the code segment responsible for this error has been removed. Now we don't throw an exception but just ignore the parameter I guess?

[2018-10-25 10:15] #292 closed, assigned to HendrikLeuschner

[2018-10-25 10:43] marq24 commented on #339
when you switch over to 'shortest' then you get the correct route - so the root cause might be the speed calculation (have in mind that we just have added speed 'accelerate' code to come to more realistic route times in cities...

Of couse I am not sure, if this is the root cause - but I have already started to discuss with adam alternative approaches to get more realistic times (in cities)

[2018-10-25 10:59] aoles commented on #339
I can confirm that this is related to the travel time calculation, as with `use_acceleration=false` the expected straight route is found.

[2018-10-25 11:03] aoles commented on #339
JOSM view of the crossing
<img width="469" alt="image" src="https://user-images.githubusercontent.com/6545356/47496167-520a6480-d856-11e8-95c1-4b9bb3aac86d.png">

[2018-10-26 11:32] natanlaurett opened #340 "Directions returning points out of roads"
Hello there. I'm using the Directions API to build paths between two points, and I think I might have found a bug in the database or in the API. When I run the tests with two points in some rural (or suburban) areas, frequently I get points out of roads. That wouldn't be such a worry, but since the Directions API must return only coordinates on roads, I'm reporting the problem. See the following e

[2018-10-26 12:59] rabidllama commented on #340
Hi @Natansl - do you have an image showing where these are off as I have just created the routes using the API and QGIS but I cannot see where these dislocations occur:
![image](https://user-images.githubusercontent.com/7126643/47567681-8867e280-d92f-11e8-8b1b-0307546a4132.png)
The right-most point on that image is the one you said is off the road (-20.841622, -40.746737) whereas in this example i

[2018-10-26 13:00] rabidllama commented on #340
I should add that the start and end points are normally a bit "off the route" as the algorithm has to snap these points to the nearest road

[2018-10-26 14:50] rabidllama commented on #78
No this has not been addressed in the 0.10 update so it needs to be investigated further

[2018-10-27 02:54] natanlaurett commented on #340
Hello again. So, after your response, I took the coordinates that I reported and verified them on OpenStreetMaps. Turns out that the API is working perfectly well, and is returning points in the very center of the roads we're working with. I was getting points out of the Streets because I was testing them on a mapping tool called HamsterMap, which seems to have this problem that I've just mentione

[2018-10-27 07:23] #340 closed, assigned to nobody

[2018-10-29 14:07] mkalygin opened #341 "[Directions API] Residential road | Code 2009: Route could not be found"
I'm trying to build a route through a `residential` road. And I'm getting `Code 2009: Route could not be found` error. It's OK in Graphhopper though. Here are the routes:
- [OpenRouteService](https://maps.openrouteservice.org/directions?n1=61.939018&n2=30.593609&n3=15&a=61.936249,30.590388,61.944289,30.580125&b=0&c=0&k1=en-US&k2=km)
- [Graphhopper](https://graphhopper.com/maps/?point=61.936831%2C3

[2018-10-29 14:28] aoles commented on #341
Interesting, looking at the [OSM tags](https://www.openstreetmap.org/way/144337155) I don't see any obvious reason why the route is not found. Needs further investigation.

[2018-10-29 19:35] TimMcCauley commented on #341
@aoles will you take this one ?

[2018-10-30 09:18] rabidllama commented on #341
I've had a quick look into it and from what I can tell the edges for those roads are added to the graph but then the algorithm doesn't detect them for some reason, so I believe this is most likely a more in depth issue embedded in the core system.

[2018-10-30 09:20] mkalygin opened #342 "[Directions API] Consider destination as allowed access in barrier restrictions"
This bug has been around for a while. The related issue #207 has been closed since initial problem was caused by the barriers on the roads in the area. But now when the barriers have been updated in OSM, the route is still wrong, though it has been partially updated. Similar Graphhopper route is fine. I'm thinking this could possibly be related to cache updates of ORS. Here are the routes:

- [Ope

[2018-10-30 09:43] rabidllama commented on #339
the issue is because of having to use two different algorithms depending on if it is a residential road or a main road. This is a case where a number of things that could go wrong do go wrong (primary road directly attaching to a residential road, small edges on a primary road because of the junction etc.)

The two options thta are available are to either modify the current algorithm to try an dha

[2018-10-30 13:20] TimMcCauley opened #343 "Expose graphhopper /graph endpoint for visualizing purposes"
For easier debugging of graph issues, let's expose graphhoppers graph endpoint which an be consumed with a tool like https://github.com/ammagamma/graphhopper-graphtool

[2018-10-30 13:52] rabidllama commented on #342
The reason for this is that there are restrictions on the gates accessing that area that say it can only be passed for as a means of arriving at a destination that is within the gated area. It seems that other routing services are more relaxed with this whereas currently openrouteservice says that if the gate isn't marked as publicly accessible or accessible with permission, then you cannot go pas

[2018-10-30 14:02] rabidllama commented on #342
My initial thoughts on this would be to allow access through these "destination" barriers but include information somewhere that parts of the route are "restricted" (same would go for the "permissive" areas). The tricky thing here is that this information would have to be stored against the graph itself and then extracted during routing and added to the response.

[2018-10-30 19:28] mkalygin commented on #342
@rabidllama just a thought here from the user's point of view... Wouldn't it be convenient to have it as an API parameter? Like some sort of flag telling the algorithm to be relaxed with routing through such barriers?

The problem is that `motor_vehicle=destination` means that this road is actually open if you travel to a particular destination (the Fort Constantine in this case). So at the very l

[2018-10-31 08:14] rabidllama commented on #342
The problem with exposing it as an optional parameter is that the point where the barrier is interpreted as an obstacle is at graph build time, which means that it is trickier (not impossible though) to store information about the type of access that is permitted. There seems to already be some code in place for this but I believe that there were problems with it so we need to look into what these

[2018-10-31 12:20] #297 closed, assigned to TimMcCauley

[2018-10-31 12:20] #320 closed, assigned to TimMcCauley

[2018-10-31 12:20] #328 closed, assigned to rabidllama

[2018-10-31 12:24] #272 closed, assigned to rabidllama

[2018-10-31 12:25] #262 closed, assigned to aoles

[2018-10-31 12:25] #131 closed, assigned to TimMcCauley

[2018-10-31 15:04] rabidllama commented on #342
OK, I have been looking into this today and the main problem is that if we want to pass in the access restrictions in the api, it has to be what items to avoid as opposed to which to allow. During the graph building, the action is to include edges and then exclude them at request (like with the avoid features feature) but this does not work in revers (you cannot exclude an edge from the graph and

[2018-11-01 09:52] mkalygin commented on #342
@rabidllama that's good news, thanks for looking at it. I like the idea of passing such option to the API and getting note about road access in `extra_info`.

[2018-11-01 15:02] PublicTransportPlanning opened #347 "Distance >1km in meters"
Hello, would it be possible (for transport planning purpose) to get the distance in meter values even above 1km?

[2018-11-01 17:58] ragapack commented on #347
You can define units in the /directions call:

https://openrouteservice.org/documentation/#/reference/directions/directions/directions-service

[2018-11-01 19:48] PublicTransportPlanning commented on #347
Thanks for the feedback!
So far I used only https://maps.openrouteservice.org/
Is there a possibility to define units?

Am 01.11.2018 19:07 schrieb ragapack:

[2018-11-02 10:43] aoles opened #348 "Wrong bounding box for isochrones spanning over the Western or Southern hemisphere"
The second bbox coordinates pair contains 0 when the lat or lng value is supposed to be negative. Consider the following example:
https://api.openrouteservice.org/isochrones?api_key=API_KEY&locations=-58.487778%2C-34.618235&profile=driving-car&range=60, which returns `"bbox":[-58.493108,-34.623147,0,0]`.

[2018-11-02 15:46] nilsnolde commented on #347
Pleeease use the right channel for questions:
https://ask.openrouteservice.org

[2018-11-02 15:46] #347 closed, assigned to nobody

[2018-11-05 08:51] TimMcCauley opened #349 "List countries a route traverses and add corresponding duration within"

[2018-11-06 09:33] HendrikLeuschner opened #350 "Unchecking 'hazardous goods' leaves 'hazmat=no' in request, which leads to using ALT instead of CH"
It should just be removed entirely from the request, as with all other restrictions.

[2018-11-06 09:42] TimMcCauley commented on #350
Please move this to the corresponding repository https://github.com/GIScience/openrouteservice-app

[2018-11-06 09:42] #350 closed, assigned to TheGreatRefrigerator

[2018-11-06 10:53] HendrikLeuschner commented on #191
Will check out this week. Sorry for the delay @rabidllama

[2018-11-06 22:30] gzmichael84 opened #351 "Error while compose."
Hello. Can you help me? I am getting the following error while trying to compose the service..

$ docker-compose up -d
Starting docker_ors-build_1 ... done
Starting ors-core           ... error

ERROR: for ors-core  Cannot start service ors-core: OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:402: container init caused \"rootfs_linux.go:58: m

[2018-11-08 08:33] rabidllama commented on #174
I am currently coming up with a template that we can use as a way of storing the tag information. When that is finalised the assignments will be:

Car - @aoles
HGV - @aoles
Bike (regular) - @marq24
Mountain bike - @marq24
Electric bike - @marq24
Road bike - @marq24
Walking - @rabidllama
Hiking - @rabidllama
Wheelchair - @rabidllama

@marq24 - I guess that the bike ones are all pretty similar so on

[2018-11-08 08:39] rabidllama commented on #351
As a quick look, based on the file paths it seems that the catalina.properties file is trying to be mounted as a folder. @TimMcCauley do you have any experience with this.

For the future though @gzmichael84 - you should ask this on the ask.openrouteservice.org board as there may be other people who have experienced similar issues, and this seems to be something in relation to the system setup as

[2018-11-08 08:53] TimMcCauley commented on #351
@gzmichael84 docker is telling you that a directory does not exist `/c/users/user/documents/github/openrouteservice/docker/conf/catalina.properties` did you make sure it actually does? Something similar: https://stackoverflow.com/questions/45972812/are-you-trying-to-mount-a-directory-onto-a-file-or-vice-versa

[2018-11-08 09:05] rabidllama commented on #154
So in the newer API which will be released in 5.0, mismatched values/parameters should always return an error

[2018-11-08 15:15] gzmichael84 commented on #351
Yes catalina.properties file exist on that path.. Between im in windows 10 home edition with docker toolbox. Today i tried also to install on windows 7 machine but i get also the same error.

Its strange because it looks simple. Althought its first time i try to play with these kind of tool im experienced with programming and pc in general.

I clone the openrouteservice from Github.
I install dock

[2018-11-10 12:11] marq24 commented on #325
ok - after just few minutes of investigation ->

making use of _searchContext.getEncoder().getMaxSpeed(); in order to calculate the ConcaveBallsIsochroneMapBuilder is IMHO not wise...

When I understand this correct, then this assumes, that I can always travel with MAX speed... which is IMHO not correct...

the FlagEncoder.getMaxSpeed() is used in just few places - one it the ConcaveBallsIsochrone

[2018-11-12 09:54] rabidllama commented on #342
So I think the best way forward for this at the minute is to remove the restriction on "destination" access items and then show any information about the restrictions via the extra_info. realistically dynamically setting what restrictions can be gone through via the api isn't currently feasible, simply because of it being the opposite of what is normally done (normally in the API you tell it what

[2018-11-12 12:48] TimMcCauley commented on #351
@gzmichael84 then I am uncertain what the issue is. The specific images are listed in the docker-compose file, tomcat/mvn. Please add your issue with details in our forum https://ask.openrouteservice.org - maybe you will be able to find help there.

[2018-11-12 12:48] #351 closed, assigned to TimMcCauley

[2018-11-13 09:11] mkalygin commented on #342
@rabidllama It makes sense. We can either remove the restriction by default and provide `extra_info` if there is any, or we can also add an opposite flag, something like `norestricted=true`. Actually I'd be happy only with the first part of this feature. The control of this over API sounds like a separate task.

[2018-11-14 13:43] HendrikLeuschner commented on #191
The problem is something with the second node at Karl-Marx-Strasse. A normal routing query
https://maps.openrouteservice.org/directions?n1=52.927022&n2=12.809844&n3=17&a=52.926485,12.80758,53.29817,14.101061&b=0&c=0&k1=en-US&k2=km
does not find the route either. Setting the point to a different location in Neuruppin works fine.
It seems there are two nodes the iterator on the virtual node can go t

[2018-11-14 17:14] HendrikLeuschner commented on #191
I think the problem is that the speed is calculated from an initial value of 5 down to 2.25. Then there is an if(speed < speedEncoder.factor/2) which is 2.25<2.5. Therefore it sets it to 0. That results in an edge that cannot be accessed.

Edit: Yeah, the residential penalty that is added drops the speed below the required minimum. Maybe we should apply the residential thing only when the actual s

[2018-11-14 19:26] gorille opened #355 "Speed in rural areas of France decreased to 80 km/h"
The speed in France for rural areas has been decreased to 80 km/h as from [this decree](https://consultation.securite-routiere.gouv.fr/media/default/0001/01/c6e4bd5f623e731e28637de08411a2ee0e5721c0.pdf)

the data is up to date [here](https://github.com/GIScience/openrouteservice-docs#country-speed-sets).
This is related to [same issue in documentation](https://github.com/GIScience/openrouteservice

[2018-11-16 12:03] HendrikLeuschner commented on #191
Fixed by #357

[2018-11-16 13:24] HendrikLeuschner commented on #78
Fixed by #357

[2018-11-16 16:06] aoles opened #358 "Tolls for HGV considered only when vehicle_type is set"
At the moment in order to pick up hgv-specific tolls with `avoid: tollways` one has to additionally specify `vehicle_type` in options. Apart from the fact that this behavior us not documented, this is unpractical because currently the result doesn't depend on the particular value of `vehicle_type` anyway (even though it potentially could...).

Consider changing the logic such that results from `To

[2018-11-20 15:41] aoles commented on #358
On top of this, for a given way only the first matching OSM toll tag is being processed. For example, if there is already `toll=no` than a more specific `toll:hgv=yes` might not be picked up, such as [here](https://www.openstreetmap.org/way/22765611): https://maps.openrouteservice.org/directions?n1=50.030584&n2=19.821138&n3=15&a=50.034209,19.815044,50.025704,19.823112&b=4a&c=0&f5=2&k1=en-US&k2=km

[2018-11-21 08:54] rabidllama commented on #78
Lets leave it as open until the code has been merged into master

[2018-11-21 08:57] rabidllama commented on #191
Will reopen until the code is in the master branch and released on the front end

[2018-11-21 16:36] aoles commented on #341
Fixed by https://github.com/GIScience/openrouteservice/pull/357.

[2018-11-21 17:11] HendrikLeuschner commented on #315
We will have to think about computing matrices with the core (a new algorithm) for this. As this is a rather large new development, results cannot be expected soon, sorry @krangerich

[2018-11-21 17:12] HendrikLeuschner commented on #114
Will investigate this when we have finished our choices regarding CH-ALT-Core

[2018-11-22 09:49] rabidllama commented on #293
At the minute we do not take into account temporal restrictions for routes and currently if the system detects a conditional temporal restriction, it is removed from the graph for safety reasons

[2018-11-22 11:26] aoles commented on #293
That's not entirely correct as actually the restrictions are being taken into account. The thing is that  they are resolved only at the time the graphs are being build. At the moment the above examples work even though the restrictions state that from November on these roads should be closed because we didn't update the graphs since October. These roads will be marked as impassable as soon as we r

[2018-11-22 11:26] #293 closed, assigned to aoles

[2018-11-27 11:39] aoles commented on #263
In order to be able to almost fully cover all possible values, such as [`maxaxleload=22.5`](https://taginfo.openstreetmap.org/tags/?key=maxaxleload&value=22.5) or [`maxwidth=2.49`](https://taginfo.openstreetmap.org/tags/?key=maxwidth&value=2.49), I've decided to increase the external storage dedicated for each of the `maxheight`, `maxwidth`, `maxlength`, `maxweight` and `maxaxleload` restrictions

[2018-11-27 13:22] aoles opened #362 "Common driving profile superclass from which car and hgv would inherit"
There are a lot of similarities between `CarFlagEncoder` and `HeavyVehicleFlagEncoder` which lead to duplicated code. In order to make things easier to maintain and to comprehend move all the stuff shared between these two profiles into a `DrivingFlagEncoder`, similar to the approach taken in `CommonBikeFlagEncoder`.

[2018-11-27 15:02] aoles commented on #235
Interesting test cases:

- [x] just [`access=agricultural`](https://www.openstreetmap.org/way/246583765) or [`motor_vehicle=agricultural`](https://www.openstreetmap.org/way/27116436) [:car:](https://maps.openrouteservice.org/directions?n1=49.465705&n2=8.64933&n3=17&a=49.462964,8.650596,49.463411,8.647978&b=4d&c=0&f5=2&k1=en-US&k2=km)
- [x] [`agricultural=yes` and `motor_vehicle=agricultural`](http

[2018-11-27 19:08] HendrikLeuschner commented on #239
Turns out this bug stems from the original ALT implementation using landmarks. If instead we force ALT to use the beeline approximator, it returns the correct values. No idea what the actual problem is though.
I have instead now tested this using Core-ALT. We do not observe this problem here anymore. This might be due to the fact that the route is so short we don't even enter the ALT phase but sta

[2018-11-28 14:49] HendrikLeuschner commented on #107
What do you think we should do with this with regard to the minimization of the core graph? @TimMcCauley @aoles

[2018-11-28 16:19] aoles commented on #107
I think we have already decided that because the `paved/unpaved` road classification is very unreliable we don't provide an option to filter on them.

[2018-12-05 14:56] HendrikLeuschner opened #367 "Additional routing info freeway exits and interchange"
Requested on ask. The specified requirements are:
[code]

This information requires some additional preprocessing I think and then usage in routing. I am unsure how much work it would be, but probably quite a bit. **Priority is low.**
Don't know who to assign that to either.

[2018-12-06 14:40] rabidllama commented on #212
We will be rebuilding graphs in the coming weeks so hopefully that will address some of the issues we see in relation to the elevation that gets used for speed calculations

[2018-12-06 14:42] rabidllama commented on #174
We have begun documenting this information on the wiki that we have recently set up:

https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering

[2018-12-06 18:51] pathmapper commented on #174
@rabidllama great, thanks a lot!

`Conditional`

Some information regarding "other tags and logic" would be nice.

[2018-12-07 07:34] rabidllama commented on #174
The problem with a number of the items is that the logic behind them can be quite complex and very difficult to show in a table or diagram. Sometimes they can be simpler (i.e. based on an app.config setting) but other times they can be quite complex, such as being dependant on a varaible in the code that is calculated based on a number of other factors.

[2018-12-11 09:54] TimMcCauley opened #371 "Ability to derive osmids and tag information from extra_info (extended storages)"

[2018-12-11 11:07] aoles opened #372 "Split HGV vehicle types into separate profiles"
In order to resolve vehicle-type access restrictions already at graph building stage current hgv subprofiles specified through `vehicle_type` will be split into 3 separate driving profiles:

- :truck: Hgv
    - [ ] delivery
- :tractor: Agricultural / Forestry
- :bus: Bus

`vehicle_type=goods` are defined by the OSM tag:

These will be integrated into `driving-car` profile which will be extended by

[2018-12-13 09:38] mkalygin commented on #341
@rabidllama @aoles guys, thanks for the fix! Is there any approximate date for release of this fix?

[2018-12-13 10:19] rabidllama commented on #341
We are in the process of doing the release at the minute, and so it should be within hopefully the next week, but maybe two weeks. I will announce on https://ask.openrouteservice.org/c/announcements when it is all done :)

[2018-12-17 09:14] #264 closed, assigned to nobody

[2018-12-17 09:17] rabidllama commented on #349
If we want to do this, then it would probably need to be a case where the border crossing feature gets extended so that rather then only ways that cross borders having country info stored, every way has country info added to the extended storage. This probably shouldn't require much extra time for processing as each way is checked anyway, the difference would be in terms of the amount of data bein

[2018-12-17 09:47] aoles commented on #349
One byte per edge should be enough to cover the [IDs](https://github.com/GIScience/openrouteservice-docs#country-list) we use (up to 236).

[2018-12-17 09:48] rabidllama commented on #371
what do you mean by "tag information"? Storing the osm id can be done easily as there is already the osmid extended storage that just needs a bit of modification to optimise storage size, and then that id could be used by a client to get tag data from osm itself. The issue there however would be if the data is changed on osm after the graph has been built, there will be a difference between osm da

[2018-12-17 09:49] nilsnolde commented on #349
Right. I'd be in favor of this functionality. But it'd be nicer if country info would always be returned, not only when a route crosses a border. Always meaning, if the option to list countries is set.

[2018-12-17 10:00] nilsnolde commented on #349
And if we want to do this, please re-open and include a fix for #195. I really think API users should not need to implement client-side mappings from our arbitrary ID's to ISO country codes. However, let's not alter the storage itself, but rather add a mapping.

[2018-12-17 11:12] TimMcCauley commented on #349
@aoles sounds like a plan!
@sfendrich feel free to take this one on as a first task :-)

[2018-12-17 11:14] TimMcCauley commented on #371
The idea was that the user would maybe like to see the osm_id(s) of a tollway and what kind of tollway it is.

[2018-12-17 13:58] rabidllama commented on #371
well the id thing should be relatively straightforward. providing the type of tollway may take a bit longer though as currently it just returns whether it is a tollway or not, and so the return vlaues would need changing to represent the different types. It seems that the info is stored in the extended storage though

[2018-12-17 18:01] nilsnolde commented on #371
Do we really need that extra info of individual attributes? I feel like OSM ID is sufficient to derive all relevant attributes from that segment.

[2018-12-17 19:16] aoles commented on #371
That's correct, the different types of tollways are stored according to [`TollwayType`](https://github.com/GIScience/openrouteservice/blob/development/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/TollwayType.java#L20-L38). These values are then matched against the routing request such that only tollway information relevant to a given profile is returned. So in a sense i

[2018-12-18 12:55] nilsnolde opened #377 "Enable GraphHopper's alternative wayfinding methods"
Let's evaluate the dev effort for

- round trip
- alternative routes

Ref. https://github.com/graphhopper/graphhopper/blob/master/docs/web/api-doc.md#flexible

Not sure who to assign here. @sfendrich? What do you think? Smth to look forward to in the new year?;)

[2018-12-18 14:18] #336 closed, assigned to TimMcCauley

[2018-12-18 14:18] #191 closed, assigned to HendrikLeuschner

[2018-12-18 14:18] #291 closed, assigned to MichaelsJP

[2018-12-18 14:18] #348 closed, assigned to MichaelsJP

[2018-12-19 08:57] rabidllama commented on #341
Fixed in release 4.7.2

[2018-12-19 08:57] #341 closed, assigned to aoles, HendrikLeuschner

[2018-12-19 08:59] rabidllama commented on #78
Should be fixed now that we have updated to 4.7.2

[2018-12-19 08:59] #78 closed, assigned to HendrikLeuschner

[2018-12-19 09:00] rabidllama commented on #263
Should be fixed now that we have updated to 4.7.2

[2018-12-19 09:00] #263 closed, assigned to aoles

[2018-12-19 09:01] rabidllama commented on #342
Should be fixed now that we have updated to 4.7.2

[2018-12-19 09:01] #342 closed, assigned to rabidllama

[2018-12-19 09:04] #358 closed, assigned to aoles

[2018-12-19 09:05] #331 closed, assigned to marq24

[2018-12-19 09:07] rabidllama commented on #239
I'm still seeing the same problem in the new release

[2018-12-19 09:08] rabidllama commented on #235
What is the status of this as in the new release it does not go down the direct way?

[2018-12-19 09:12] rabidllama commented on #212
We have turned off the elevation effects in the 4.7.2 release so it should now work more like expected. Fell free to let us know if it is still doing some massively weird things.

[2018-12-19 09:12] #212 closed, assigned to rabidllama, marq24

[2018-12-22 10:05] aoles commented on #235
It does not route down the direct way because it is of [`tracktype=grade3`](https://www.openstreetmap.org/way/26513511) as mentioned previously:

The actual test cases for https://github.com/GIScience/openrouteservice/pull/366 have been listed in my last post above.

[2018-12-22 10:05] #235 closed, assigned to aoles

[2018-12-24 11:39] JeromeHoen opened #381 "Geometry_simplify=true parameter doesn’t work"
Hello, I keep getting a long encoded polyline when I set the geometry_simplify to true. For me it’s a real issue as having to deal with an extended polyline (and not an overview like with Google API) impacts the performance of my web app a lot.

To reproduce the issue, simply compare the results in the demo example of the API Playground and set the geometry_simplify to true.
You’ll see that the re

[2019-01-03 08:34] rabidllama opened #382 "Innaccurate isochrones for smaller distances"
When generating small isochrones (e.g. walking for 1, 2 or 3 minutes) the results can be inaccurate. In some cases, the isochrones show that you can be on another side of a water body even if there is no crossable bridge in range.

![image](https://user-images.githubusercontent.com/7126643/50628744-a8241400-0f39-11e9-91ca-e556ed3d69f6.png)

Raised from https://ask.openrouteservice.org/t/isochrone-

[2019-01-06 20:10] TimMcCauley opened #383 "Re-introduce mapmatching API"
As the code exists, we could re-introduce the map matching API. This requires some decent testing.

[2019-01-07 12:08] TimMcCauley commented on #382
@rabidllama this has most likely got to do with the approximations in the two-fold processing of the contours ( @Rungee please correct me if I'm wrong ). Or what have you found out so far? Making the result more exact will ultimately have an impact on the computation time which is comparably quite high already. As we are currently working on a drastic speedup using many-to-many route computations,

[2019-01-07 12:56] rabidllama commented on #195
I am reopening this now as we have resources to look into it.

@takb the api should still work with numbers when finished, but also allow the country codes.

[2019-01-07 13:09] aoles commented on #195
That's awesome news, thanks @takb for picking up on this! Are you going to implement [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1) country codes, or some other standard?

[2019-01-07 13:21] rabidllama commented on #382
from what i can see, the issue is to do with adding buffer points. In some cases (e.g. when an edge crosses an isochrone boundary) buffer points are added to the polygon. What it seems is that these are there to smooth out the polygon more than anything else as when the buffer value is set to 0 (rather than 0.0018) the problem disappears

[2019-01-07 13:26] rabidllama commented on #325
When I have been looking into the issue relating to smaller isochrone distances, I found that this max speed value (in the case of pedestrian at least) is actually the maximum possible speed that can be stored on the graph. For pedestrians that is 15km/h which obviously is "wrong". There is a mean speed value in the GH code (4km/h for pedestrian), but unfortunately this is never made available out

[2019-01-07 13:27] rabidllama commented on #349
@nilsnolde the text values for countries has been reopened and @takb is looking into it

[2019-01-07 13:35] takb commented on #195
I was thinking alpha-2 and maybe alpha-3 additionally

[2019-01-07 14:23] nilsnolde commented on #381
Yes, you're right. I'll make this my first issue:)

[2019-01-07 14:27] TimMcCauley commented on #382
@rabidllama thanks for investigating, sounds good. Shall we introduce something similar to `resolution` ➡️ https://developer.here.com/documentation/routing/topics/resource-calculate-isoline.html ?

[2019-01-07 14:43] nilsnolde commented on #195
+1 for both

[2019-01-07 14:43] TimMcCauley commented on #371
@aoles even if they are matched towards the request, a user may want to see what types of tollways they are.

Use case: As a logistics planner using my own maps I want to visualise the toll road according to its toll way type, e.g. https://wiki.openstreetmap.org/wiki/Talk:Key:toll / https://wiki.openstreetmap.org/wiki/DE:Key:toll

[2019-01-07 14:49] rabidllama commented on #382
I don't know if a specific resolution thing would be beneficial as it would probably be quite complicated to take into account in the code. At the minute I just have it where if the maximum radius of the isochrone is smaller than a specific value, then the buffer size is decreased. So if the maximum radius is less than 2000m, then the buffer is 0.00018, and anything more it is 0.0018. I am not sur

[2019-01-07 14:50] TimMcCauley commented on #382
Yup, sounds a like a good plan, ty!

[2019-01-07 15:01] rabidllama commented on #382
With default buffer
![image](https://user-images.githubusercontent.com/7126643/50774625-3549ce80-1294-11e9-90e3-18668a71df2e.png)

With reduced buffer
![image](https://user-images.githubusercontent.com/7126643/50774696-60ccb900-1294-11e9-8386-bb2101186edd.png)

When doing a pedestrian route on the live data to the edge of the 5 minute isochrone, the route actually says it takes 8 minutes

![image]

[2019-01-07 15:02] TimMcCauley commented on #382
@rabidllama beautiful, thanks -

[2019-01-07 15:31] aoles commented on #371
Thanks @TimMcCauley! We could then return the [`TollwayType`](https://github.com/GIScience/openrouteservice/blob/development/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/TollwayType.java#L20-L38) id instead of a binary tollway flag as it is now. This should be relatively easy to implement both at the backend side, as well as in the app. Feel free to open a dedicated iss

[2019-01-07 18:59] TimMcCauley commented on #371
Yup, sounds like a reasonable approach - low priority though.

[2019-01-08 10:40] rabidllama opened #384 "Provide a /directions endpoint aswell as /routes"
On the main routing api, for getting routes the /directions end point is used, but locally it is /routes.

Hopefully this could be fixed by adding /directions to the servlet listener in web.xml so that both can be used:

[code]

[2019-01-09 16:16] TimMcCauley opened #385 "Distance matrix with the ability of dynamic arguments (C-ALT + RPHAST)"

[2019-01-11 08:56] TimMcCauley opened #387 "Ability to read app.config naming alterations"
The app.config reader could follow some kind of heuristic:

1. If environment variables are present, use these to determine which `app.config` to use
2. Else if use `app.config`
3. Else if use the first config starting with `app.config...`

[2019-01-13 13:31] brmnr commented on #212
Although it works a lot better now,  I'm still getting weird results on some roads where it's making very strange detours. For example this road: http://maps.openrouteservice.org/directions?n1=50.808531&n2=5.929109&n3=16&a=50.808484,5.919753,50.806179,5.924013&b=1c&c=0&g1=-1&g2=0&h2=31&k1=en-US&k2=km
While it should stay on the same straight road from A to B (Partijerweg), it takes a very odd deto

[2019-01-13 17:21] nilsnolde commented on #381
Using `geometry_simplify` doesn't make sense with `extra_info`. Should I let it fail when both are requested? Think I'd prefer to prioritize `geometry_simplify` and turn off `extra_info` in that case. @rabidllama any thoughts?

[2019-01-14 08:45] rabidllama commented on #212
I will create a new issue for this as this doesn't seem to be related to what was causing the previous problem

[2019-01-14 08:47] rabidllama opened #389 "Cycling profiles making major unexpected detour"
From #212

In some cases, the bike profiles make major unexpected detours. This is after using elevation in graph building has been turned off, and when using dynamic weightings so it is not an issue with contraction hierarchies.

http://maps.openrouteservice.org/directions?n1=50.806891&n2=5.925177&n3=17&a=50.808484,5.919753,50.807074,5.922554&b=1a&c=0&g1=-1&g2=0&h2=31&d=25&k1=en-US&k2=km

[2019-01-14 10:30] rabidllama commented on #377
I have started looking into the round trip thing which seems like it could be promising - though some things that need ironing out first. I will split that one out into a separate issue.

[2019-01-14 10:33] rabidllama opened #391 "Investigate round trip routing"
Graphhopper core offers round trip routing which could be useful if implemented in ors for things such as hikes, jogging, bike trips etc.

We need to check to see if it is
1) Functional in GH
2) How to implement it in ors
3) Decide on API calls
4) Make it use the various restrictions available within ors

[2019-01-14 12:20] pathmapper commented on #389
There is a `cycleway` along the Partijerweg where the destination B is located:
https://www.openstreetmap.org/way/219230473#map=19/50.80652/5.92417

It looks like the cycling profile is not considering the short part `highway=tertiary` (https://www.openstreetmap.org/way/516006808) and pefers the longer way with `highway=cycleway` and `highway=track`.

[2019-01-14 15:13] rabidllama commented on #381
If we are making it so that one doesn't work with the other, then it should result in an error message when both are provided else it might be confusing as to why information isn't being returned

[2019-01-14 15:25] takb commented on #195
The code changes won't break anything, but also won't work until you also load the updated CSV file from the gitlab repo [openrouteservice-infrastructure/core-deployment](https://gitlab.gistools.geog.uni-heidelberg.de/giscience/openrouteservice-infrastructure/core-deployment). The updated CSV file won't work unless [PR 390](https://github.com/GIScience/openrouteservice/pull/390) is  pulled.

[2019-01-14 15:31] nilsnolde commented on #381
Ok, I'll raise an error then.

[2019-01-14 18:21] marq24 commented on #389
the oneway tagged cycleway should IMHO not be the issue - IMHO the https://www.openstreetmap.org/way/45895304 & https://www.openstreetmap.org/way/523292271 is not tagged "correct" - or better the tagging of this element is causing the issue - the cycleway:left=lane...

What I don't understand is, there is this additional cyclepath in the OSM-data - why this is some sort of "duplicated" then on the

[2019-01-14 20:14] brmnr commented on #389
On that part of the road is a separated oneway cyclepath on the other side of the road (in the other direction). In the direction A => B there is a "lane" as you can see on: https://www.google.nl/maps/@50.8065852,5.9235946,3a,75y,113.2h,66.3t/data=!3m6!1e1!3m4!1s2WVYYUUmgDbEQdCD1_dXkg!2e0!7i13312!8i6656
Shouldn't the lane be tagged on that road then?

[2019-01-15 08:39] rabidllama commented on #377
I will switch assignment of this over to @takb - @sfendrich if you have started looking into things on this already, then we can look at transferring things across

[2019-01-15 08:42] sfendrich commented on #377
That's fine, I haven't started so far.

[2019-01-15 09:55] marq24 commented on #389
I am sorry - I was just wrong - when I understand everything correct, then there is a cycle lane from A->B and then there is a separate cycle-path from B->A (oneway)...

looking at detail into the attributes all seams to be correct - https://www.openstreetmap.org/edit?way=45895304

![image](https://user-images.githubusercontent.com/8012359/51172545-be27c200-18b3-11e9-8254-fd7e4c590ae2.png)

looks

[2019-01-15 10:08] marq24 commented on #389
just some more URL's to indicate, that the current tagging in combination with the implementation of the tag reading in our code is working suboptimal (I use my private routing server simply cause there I can make use of a higher zoom)....

Partijerweg "blocked" from A-B (way 45895304)
http://route.emacberry.com/directions?n1=50.805835&n2=5.925272&n3=19&a=50.805858,5.924597,50.805806,5.924675&b=1a

[2019-01-15 10:27] rabidllama opened #392 "Update contribution guidelines and pull request template for commit structure"
The contribution guidelines need updating to inform about commits and commit messages

* Rename contributing.md
* Update CONTRIBUTING.md with commit guidelines
* Update pull request template to add items in the checklist for reading contribution guidelines and ensuring that the number and naming of commits is clean.

[2019-01-15 10:40] marq24 commented on #389
just as update this seams to be a common error - already present in the graphhopper base... ;-)

https://graphhopper.com/maps/?point=50.806999%2C5.922827&point=50.805935%2C5.924517&locale=de&vehicle=bike&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale

at least I did not broke it ;-)

It's in the BikeCommonFlagEncoder

	// handle oneways
	boolean isOneway = way.hasTag("oneway", on

[2019-01-15 17:01] nilsnolde opened #393 "Add code contribution explanations"
To complement our new `CONTRIBUTING.md`.

- Base explanation on IntelliJ
- similar to internal confluence how-to
- but more explanatory on how to run `openrouteservice-api-tests`, i.e. which `app.config` and OSM .pbf to put where

[2019-01-15 22:36] samcrawford commented on #391
I have a significant interest in this feature. I can vouch for the fact that it works in GH, I tested it only recently (it does not work in their web UI though).

The approach used is fairly simple and I've been toying with making a few improvements. In short, the current approach picks N waypoints, on a random initial bearing, distributed evenly in a circle from the start point up to the supplied

[2019-01-15 22:57] samcrawford opened #394 "Elevation data missing"
#### Here's what I did

1. Installed ORS following the Docker instructions at https://github.com/GIScience/openrouteservice/blob/master/docker/README.md
2. Imported my own OSM dataset (UK)
3. I used the default app.config.sample otherwise. elevation=true is set throughout.
4. Install the ORS-app and configured it to point the directions API at my new Docker instance

#### Here's what I got

The el

[2019-01-16 08:19] rabidllama commented on #391
Hi @samcrawford

Thanks for that, I had a look the other day integrating the round trip stuff into the ORS API and it seemed to be a bit hit and miss. As you said, for shorter distances I ended up getting much larger distances than I requested (walking set to 21km ended up sometimes coming back with a 31km route).

I think the main things that we would need to ensure happens is that for these shor

[2019-01-16 08:38] samcrawford commented on #391
Thanks @rabidllama! I will take note of your suggestions and keep you posted as to how I get on with wider "target distance" suppoirt. I'll keep an eye on this thread RE round-trip support, I'm very keen on seeing this supported!

[2019-01-16 09:47] nilsnolde commented on #387
How about all the rest about running API tests? I find it a tedious process changing paths manually in the app.config, replacing .pbf's and other files. If you agree let's extend this to a bigger checklist

[2019-01-16 14:39] aoles opened #396 "Revised restrictions"
Some spring cleaning of route filtering options across all profiles in the preparation for CALT release:

- for each profile, remove from `avoid_features` the following (if present):`pavedroads`, `unpavedroads`, `tunnels`, `tracks` and `hills`
- remove `maximum_speed` option
- for `cycling` and `walking` profiles, remove **difficulty settings** such as `fitness_level`, `avoid hills`, and `maximum

[2019-01-16 15:50] aoles commented on #393
Should we have these on the Wiki?

[2019-01-16 16:02] TimMcCauley commented on #393
Yea, when we have finished it, sure!

[2019-01-16 16:25] aoles commented on #393
Not sure I understand: I thought you would like to have IntelliJ ORS setup documented for potential developers. If this is the intended use case and audience, then maybe we could put it together with  the rest of documentation.

[2019-01-16 16:31] TimMcCauley commented on #393
These are CONTRIBUTION guidelines, basically getting a best-practice in place for contributing code, created PR's etc.

[2019-01-16 16:42] TimMcCauley commented on #394
@samcrawford thanks for sharing this issue.
- Could you please paste your app.config as a gist in here?
- Could you also please paste the list of files of the cgiar_cache folder?

[2019-01-16 17:04] aoles commented on #393
I'm sorry but somehow I don't really get the point of putting the detailed instructions on how to set up a specific IDE to use with our project into the code CONTRIBUTION guidelines.

First of all, it is irrelevant what tool one uses to achieve the goals outlined there. Secondly, such instructions would just bloat up the document discouraging potential readers. Last but not least, while the initia

[2019-01-16 17:07] TimMcCauley commented on #393
Who says that is the case? You asked if we should have the contribution guidelines on the wiki? Did you have a look at this PR (wip) https://github.com/GIScience/openrouteservice/pull/395/files ?

[2019-01-16 17:47] samcrawford commented on #394
No problem.

1) https://gist.github.com/samcrawford/7bf224b68df3b07fd2c299f982171f1c
2) It's empty:
[code]

I've just spotted the other difference between my config and the default, which is that I only enable the pedestrian-walk profile.

[2019-01-17 06:47] TimMcCauley commented on #377
@marq24 @takb @rabidllama it might make sense to update our gh-ors fork once this PR is in? What do you think?
https://github.com/graphhopper/graphhopper/pull/1524

[2019-01-17 09:18] marq24 commented on #377
@TimMcCauley sounds like a task for me :-)

[2019-01-17 12:05] TimMcCauley commented on #377
@marq24 hehe, I think you will be the fastest ;) however I think we should wait a little until it's merged into gh's master and released - what do you think?

[2019-01-18 10:01] aoles commented on #393
Let me apologize @TimMcCauley for the misunderstanding! I should have been more precise in my comment:

where I was referring to the IntelliJ explanations listed above the comment rather than the contribution guidelines as a whole.

[2019-01-18 10:19] nilsnolde commented on #393
No offense, I'll do it myself.

[2019-01-18 22:07] Hiawd opened #397 "Routing used not allowed turn"
#### Here's what I did

Routing from 49.60563, 6.54410 to 49.60470, 6.54559. (Germany, Rheinland-Pfalz)

---
#### Here's what I got

Not allowed turn to the left was made.
http://bit.ly/2TYMY6c
![image](https://user-images.githubusercontent.com/46829027/51414609-599a8a80-1b73-11e9-8fab-9b6599b49cdd.png)
(openrouteservice)
---
#### Here's what I was expecting

Obviously i was expecting the correct

[2019-01-20 19:06] TimMcCauley commented on #394
@samcrawford this looks good so far - did the ors docker container have access to the internet at the time of building graphs?

[2019-01-21 08:06] samcrawford commented on #394
@TimMcCauley Yes, it definitely did (I was building this on a Linode machine). I also ran into the same issue on my local desktop, running with IDEA.

I will try a completely vanilla docker install tonight (using the Heidelberg dataset and your default config).

[2019-01-21 08:39] nilsnolde commented on #393
https://github.com/GIScience/openrouteservice/wiki/Contributing-Code

[2019-01-21 08:39] #393 closed, assigned to nilsnolde

[2019-01-21 08:52] rabidllama opened #398 "Update maven dependencies (too slow and include newest ORS-GH)"
The opengeo repository is causing maven to take a huge amount of time, and we should update the ORS-GH repo to v0.10.1.12 to include some fixes from the ORS-GH library

[2019-01-21 09:18] aoles commented on #397
Thank you for reaching out!

The behavior you observe is expected. The reason for it is that the default routing algorithm which is optimized for speed does not support turn restrictions. This algorithm is used when no route preferences are specified.

You will get the proper route once you enable some filters, for example try *Avoid road types: ferries*. This of course doesn't have a direct influ

[2019-01-21 09:18] #397 closed, assigned to aoles

[2019-01-21 09:46] rabidllama commented on #195
Will close this when it is put into the master branch

[2019-01-21 10:43] nilsnolde commented on #387
Will postpone until spring is availabel in `development` branch:

https://docs.spring.io/spring-framework/docs/2.5.x/api/org/springframework/core/io/support/PathMatchingResourcePatternResolver.html

[2019-01-21 22:25] samcrawford commented on #394
Reset my local Git directory back to HEAD, re-ran the vanilla Docker instructions, and still no joy. This used the default config with zero changes. The docker/data/cgiar_provider directory now has this:

[code]

Note: the only change I made from default was to disable the OpenGeo repository in pom.xml to get it to build in a reasonable timeframe (I see there's another issue that's just fixed this

[2019-01-22 08:06] nilsnolde commented on #325
I'll take this on if noone else is working on this currently.

[2019-01-22 08:09] nilsnolde commented on #239
What's the status on this? It will resolve once we release C-ALT?

[2019-01-22 12:31] aoles commented on #239
Correct, CALT seems to handle this example correctly.

[2019-01-23 13:41] nilsnolde commented on #325
So, I looked at this and I think it's fairly straight forward.

As @marq24 mentions, setting the speed to `maxSpeed()` for all flag encoders is really wrong. Apparently people started to [define](https://github.com/GIScience/openrouteservice/blob/eb3486b60d2ec4285c0295d27ff4349038557dd0/openrouteservice/src/main/java/heigit/ors/isochrones/builders/concaveballs/ConcaveBallsIsochroneMapBuilder.java#

[2019-01-23 14:43] marq24 commented on #325
concerning the "avg speeds" I would say (from my personal riding experience)

cycling-road (30-25km/h) > cycling-electric (24-20km/h) > cycling-regular (19-15km/h) > cycling-mountain (14-10km/h)

[2019-01-24 07:01] nilsnolde commented on #325
Nope, for vehicles it's also max_speed. In Berlin down-town (highly accessible), a `driving-car` accessibility is around 0.03 for 10 mins ranges. For higher ranges, it increases (mostly bcs `primary` and `motorway` can be used for routing). On the other hand, rural highways give higher reachability for the same ranges, which is counter-intuitive..

Adjusting speeds to mean speeds won't do much goo

[2019-01-24 09:03] marq24 commented on #325
for any emergency service it's a really valuable information what is the Xmin-Range (X=2-15) operation Radius/Area...  But therefor it will not help at all to calculate the radius with an mean speed.

Of course for hospitals and fire-stations this can be calculated in advance - but in any disaster scenario the location/start point can be random + the fact that there are possible inaccessible areas

[2019-01-24 10:18] nilsnolde commented on #325
Oh sorry @marq24, this might be a bit confusing. The whole thing is actually *only* about the `attributes=reachfactor` option for isochrones. It estimates reachability, i.e. what is the accessed **area** of a profile on a street network vs. accessibility in open space (as-the-crow-flies) for a given range, e.g. 5 km or 10 mins. So, it gives back a factor in 0.0 - 1.0. For the open-space, we need t

[2019-01-28 22:21] TimMcCauley commented on #394
Hi Sam, sorry for my late responses, been quite busy lately - could you please try another region for now, let's say https://download.geofabrik.de/europe/liechtenstein-latest.osm.pbf and let me know what happens? It is very weird that it isn't generating the elevation information on the edges, at least the correct files have been downloaded properly.

[2019-01-29 13:13] heimpogo opened #405 "Tag for 4.7.2 missing"
#### Here's what I did

    git tag | grep 4.7.2

#### Here's what I got
Nothing.

#### Here's what I was expecting
There should be a tag for release 4.7.2.

#### Here's what I think could be improved
Please tag the release.

[2019-01-29 13:15] TimMcCauley commented on #405
Done @heimpogo

[2019-01-29 13:15] #405 closed, assigned to nobody

[2019-01-30 13:01] heimpogo opened #406 "Version number not incremented in pom.xml"
#### Here's what I did
* `git checkout 4.7.2`
* Check the `<version>` information in `openrouteservice/pom.xml`.

#### Here's what I got
`4.7.0`

#### Here's what I was expecting
`4.7.2`

#### Here's what I think could be improved
The version information in the file should be the actual release number.

[2019-01-30 13:07] rabidllama commented on #406
Hi @heimpogo - we don't normally increase the final number of the version in the pom as it changes the url of local requests, which would mean every time we do a release (normally once a month) we would have to update a number of things on local machines. In the newest version that will be coming soon (5.0) we will look at making it so that the pom only has the major and minor release version with

[2019-01-30 13:12] heimpogo commented on #406
This will be very helpful. Thanks.

[2019-01-30 13:12] #406 closed, assigned to nobody

[2019-01-31 13:18] TimMcCauley opened #408 "Add matrix error handling for locations out of bounds (v1 & v2)"
Currently no error is being raised if locations are used in the matrix request which are outside the network.

[2019-02-04 18:13] Devmaticz opened #410 "Nothing after Clean Install"
Dears,

after a clean on Ubuntu 18, and after a lot of succeful builds.

i can no more access the endpoints /ors/health, after installation where no error where found.

is there any way to check what is hapening with my docker build ??

thank you

[2019-02-07 12:49] TimMcCauley commented on #410
@Devmaticz thank you for your message - do all other endpoints work as expected? Can you please send me the curl request you are using for the health API?

[2019-02-13 15:49] nilsnolde opened #411 "extras field sometimes without value"
Reported by a user. E.g. following query sometimes has an **empty** `extras` field:
https://api.openrouteservice.org/directions?api_key=key&coordinates=11.976793,51.488623%7C13.40732,52.52045&profile=foot-walking&preference=shortest&language=de&format=json&geometry_format=geojson&elevation=true&maneuvers=true&extra_info=steepness%7Csuitability%7Csurface%7Cwaycategory%7Cwaytype%7Ctraildifficulty&in

[2019-02-16 10:13] tkan opened #412 ""Flying" Broken Image"
This is a rather odd (and minor) bug…

#### Here's what I did
Planning a route from Salzburg to Leipzig, added a 'via point' to go through Prague (happened regardless of the placement of the origin, via and end point though). As the route computation is done, a broken image starts "flying" from Paris to Kiev.

---
#### Here's what I got
I recorded an example "flight": https://streamable.com/7rrrd

[2019-02-16 12:14] nilsnolde commented on #412
Haha that's more for the fun category. Pity that doesn't exist..

Thanks for the good laugh! Haha that's so random, Paris to Kiev..

However, closing this, we have a separate repo for the [webapp](https://github.com/GIScience/openrouteservice-app).

[2019-02-16 12:14] #412 closed, assigned to nobody

[2019-02-16 13:08] pathmapper opened #413 "highway=bridleway"
#### Here's what I did
https://maps.openrouteservice.org/directions?n1=34.062899&n2=77.512236&n3=13&a=34.075199,77.421534,34.067281,77.418594&b=2&c=0&g1=-1&g2=0&k1=en-US&k2=km

---
#### Here's what I got
![auswahl_530](https://user-images.githubusercontent.com/20856381/52900078-dca21580-31f1-11e9-9bde-b870277bb213.png)

---
#### Here's what I was expecting
The much shorter way from A to B via this

[2019-02-16 13:58] pathmapper commented on #413
Would it be possible to consider `highway=bridleway` different for pedestrian routing based on the country where the bridleway is located?

| **Germany**  |      Accept     |  Reject |
|:----------|:-------------:|:------:|
| highway=bridleway |   | :heavy_check_mark:   |
| highway=bridleway AND foot=yes | :heavy_check_mark:    |  |
| **Other Countries** |      **Accept**     |  **Reject** |
| hig

[2019-02-16 15:25] tkan commented on #412
Oh sorry, I was not aware of the separation. But glad I could lift up the spirits. :) Should I repost this to the webapp issues or is it too minor/special?

[2019-02-16 15:42] pathmapper commented on #412
@tkan the [original creator of Leaflet](https://agafonkin.com/) is from Kiev, maybe you discovered an [Easter egg](https://en.wikipedia.org/wiki/Easter_egg_(media))  ...

[2019-02-16 16:09] tkan commented on #412
@pathmapper
I don't understand what is going on. The webapp uses (for what reason I can only wonder) the [MovingMarker](https://github.com/ewoken/Leaflet.MovingMarker) plugin. In the build code of the webapp ([scripts.[…].js](https://maps.openrouteservice.org/scripts.ff2acea2e9b40ca0.js)) there is the following code which can not be found in the repo:

[code]

So Paris and Kiev as well as the anim

[2019-02-18 09:36] rabidllama commented on #413
Hi @pathmapper it seems that the rejection of the bridleway feature is introduced at the Graphhopper level of the code (https://graphhopper.com/maps/?point=34.067734%2C77.418852&point=34.1015%2C77.409389&locale=en-US&vehicle=foot&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale) so I would recommend raising an issue with them.

Currently, it is not possible to have different restri

[2019-02-18 09:36] #413 closed, assigned to nobody

[2019-02-18 09:41] rabidllama opened #415 "Bridleways not being included in wheelchair profile"
See Issue #413 for source

#### Here's what I did

Requested a route using the wheelchair profile that should include a bridleway but this way is not included
https://maps.openrouteservice.org/directions?n1=49.363637&n2=8.638226&n3=16&a=49.367745,8.638752,49.363217,8.637185&b=3&c=0&h1=any&h2=31&h3=0.31&h4=-1&k1=en-US&k2=km

---
#### Here's what I got

See above

---
#### Here's what I was expectin

[2019-02-18 10:03] rabidllama commented on #367
https://wiki.openstreetmap.org/wiki/Tag:highway=motorway_junction gives information about how the name/number of the junction, though this would have to be attached to the way when it enters the graph building process rather than a node. In terms of the "keep left/right" I am not sure how this could be implemented as this information could be difficult to interpret from the OSM data. There are som

[2019-02-18 10:07] pathmapper commented on #415
@rabidllama the OSM Wiki page states as **_country-dependent regulation_** for Germany:

I understand it that way, that there is no need to declare it as a horse only way, if the highway=bridleway is located in Germany and you have to add `foot=yes` explicitly if it is available for pedestrians.

[2019-02-18 10:45] pathmapper commented on #413
Thanks @rabidllama,

There is an open GH issue, left a comment in https://github.com/graphhopper/graphhopper/issues/469.

Open GH PR for reference: https://github.com/graphhopper/graphhopper/pull/1408

Is this documented somewhere?

I do think that how `highway=bridleway` is  handled currently in OSM is unfortunate, because for routing engines covering Germany and other countries the only way to h

[2019-02-18 13:46] MichaelsJP commented on #167
`"coordinates": [[8.688812, 49.414352],[8.688169, 49.413193],[8.689349, 49.413291],[8.688898, 49.410652], [8.687375, 49.409549]]`
![auswahl_035](https://user-images.githubusercontent.com/22392104/52954911-a13b4e80-338b-11e9-8b57-70938d1a70c8.png)
If you add `"skip_segments": [3]` it will add a direct connection between the third and fourth coordinate (third segment).
![auswahl_036](https://user-im

[2019-02-18 14:12] Martin868 commented on #167
Can it be done in the current front-end or this is coming ?

[2019-02-18 14:13] TimMcCauley commented on #167
@Martin868 yep, we will include this in the client as soon as it is released!

[2019-02-18 14:45] rabidllama commented on #415
hmm, that certainly makes things more difficult as we don't have a way the ability to do conditional values based on location

[2019-02-18 16:24] pathmapper commented on #415
Despite this I don't think it's safe to assume that all `highway=bridleway` which are allowed for pedestrians are suitable for wheelchairs. Personally I know a lot of bridleways which are having loose, uneven ground or are muddy because they are used by horses.

What about considering `highway=bridleway` for the wheelchair profile only if they are having one of `wheelchair=[yes, permissive, limite

[2019-02-19 14:02] rabidllama commented on #415
Generally, what would be needed in the case of those bridleways would be for people to tag them on osm with the relavent information. so when they are bare earth, they should be tagged using the surface:earth or similar. In general, the way type just says whether the way "could" be used, but then the other information is used to actually determine if it is useful for that particular user.

I think

[2019-02-19 15:16] pathmapper commented on #415
You're right, there are only very few tagged that way. Worldwide according to overpass turbo only:

21 ways with `wheelchair=yes`: http://overpass-turbo.eu/s/Gfd
3 ways with `wheelchair=limited`: http://overpass-turbo.eu/s/Gfc

My point was that I think that if there is no wheelchair tagging, it is more likely the case that a `highway=bridleway` is not suitable for wheelchairs.

From what I can te

[2019-02-19 15:42] rabidllama commented on #415
Probably seems better then to just remove the bridleways from the wheelchair profile

[2019-02-20 09:11] takb commented on #411
I've started looking into it, and I could reproduce the error on different profiles as well. With `profile=foot-walking` the error occurs 10-15% of the time, with `driving-car`, `driving-hgv` and `cycling-regular` with about 0.5-1% of calls. However, I could not reproduce the error locally, neither with development nor with master branch code. I'm suspecting the issue might be related to server co

[2019-02-21 09:59] jkanounji opened #417 "Docker ORS enforces rate limit"
Hey guys

I cloned the code and I'm running ORS in docker.
When I'm issuing requests, I'm still being constrained by the 40 per minute rate limit.
I only have one application that uses the service, so I don't need to implement such a rate limit. I tried looking in the code to where this limit is being set so I can either disable it or at at the very least increase it, but I couldn't find it anywhe

[2019-02-21 17:19] TimMcCauley commented on #417
@jkanounji this is really weird, it shouldn't be restricting at all. What is happening after the 40th request exactly? How are you firing requests? With some other library such as openrouteservice-py or directly via curl etcpp?

[2019-02-21 17:19] TimMcCauley commented on #410
@Devmaticz has this issue been solved or what is the status?

[2019-02-21 21:37] jkanounji commented on #417
I'm using openrouteservice-py , and after the 40th request I get a message saying that I've exceeded the rate limit of 40 requests per minute , waiting for xxxx seconds, exactly as if I was using the public ORS api.

[2019-02-22 07:18] TimMcCauley opened #418 "Ability to specify snapping radius in app.config for each profile individually"
Currently the snapping radius from the coordinates input of the user to the nearest street segment is hard coded in kilometers, it would be great if this could be controlled via the app.config

[2019-02-22 07:25] TimMcCauley commented on #417
That is the reason, openrouteservice-py currently will restrict to 40 requests per minute; we will be adding an option though within to disable this for local running ors instances as it doesn't make sense for that case - could you please add an issue to the corresponding github repo? https://github.com/GIScience/openrouteservice-py/issues/new I will consider this closed in here for now.

[2019-02-22 07:26] #417 closed, assigned to TimMcCauley

[2019-02-25 06:23] nilsnolde commented on #417
Noo, don't open an issue. It's an optional parameter when you instantiate a [`Client()` class](https://github.com/GIScience/openrouteservice-py/blob/ec75b9277b8a411a1138cd523839532d9d25d364/openrouteservice/client.py#L53).. No worries, I'll put the parameter to `None` in next version

[2019-02-25 14:53] rabidllama commented on #362
Postponing to a later version as this is relatively low priority at the minute

[2019-02-27 12:45] rabidllama opened #424 "Build fails when anything other than "ORSRoutingFile" set for "routing_name""
#### Here's what I did

Setting the routing_name property within the app.config and building ORS

---

#### Here's what I got

the build fails with on the unit test testCreateRouteFeatureType in SimpleFeatureTypeTest as it expects always to be named as ORSRoutingFile even when a value has been set in the app.config - it seems that the creation of the feature always accesses the app.config even for

[2019-02-28 10:23] sfendrich opened #425 "RoutingProfileManager exits with NullPointerException when using app.config.sample"
#### Here's what I did

`cp app.config.sample app.config` and adapt app.config to local paths

[code]

---
#### Here's what I got

[code]

---
#### Here's what I was expecting
app.config.sample should work with minimal changes to local environment.

[2019-02-28 11:58] sfendrich commented on #425
The failure happens because no active routing profiles are configured in app.config.sample. This may be resolved by uncommenting the line "active: [...]" in section "routing". This is an acceptable minimal change as long it is documented.
Leaving the profiles deactivated may be a sensible default, if we want to prevent building lots of graphs accidentally. However, RoutingProfileManager should sto

[2019-03-01 10:09] #410 closed, assigned to TimMcCauley

[2019-03-01 10:09] TimMcCauley commented on #394
@samcrawford any updates from your side? Did you get it working?

[2019-03-01 10:52] rabidllama opened #426 "Implement weighted areas"
Currently users can select to completely avoid polygon areas, but it would be useful for a number of cases to not completely avoid these areas, but to prefer not to enter them. When avoid areas are used, if there is no alternative route that does not go through the avoid area, then no route is found. With weighted areas, edges within the area are not completely excluded but rather given higher wei

[2019-03-01 11:00] rabidllama opened #427 "Address German Umwelt zones in routing"
Most cities in Germany have Umwelt zones where specific types of cars are not permitted to enter (i.e. vehicles with diesel engines). It would be useful to reflect this information somehow in the routing.

One item that could be added is an option to avoid such areas from routes when the user selects (i.e. and avoidable option). Another aspect could be to add warning messages to routes when they c

[2019-03-01 11:02] aoles commented on #427
What is the data source for the Umwelt zones?

[2019-03-01 11:24] nilsnolde commented on #427
@aoles OSM.

This requires an in-depth review of the legal state: which engines are commonly restricted? How consistent are the different administrative units handling this (going from city level to country level, start with Germany)? Which jurisdictions are implementing restrictions like this? How's OSM coverage?

Think I'll take the lead on this and start in 2 weeks with research.

[2019-03-01 20:40] yakovkeselman opened #428 "Directions for adding a map in docker container"
I am trying to set up the service locally in a container. I was able to follow the directions in README to get it to work with the sample config/map. However, I'm unable to add another map without a rebuild. Is there a quick way to add a map file? Adding directions for this common use case would be much appreciated!

[2019-03-02 12:38] samcrawford commented on #426
Just a thought, but could the inverse also be possible? i.e. I might want to prefer to go via certain areas (e.g. countryside).

[2019-03-02 12:56] samcrawford commented on #394
Sorry for the slow reply. I've retried with the region you suggested, and tried plotting a route there. Still no elevation data in the response.

The data/cgiar_provider directory is empty.

[2019-03-02 14:53] TimMcCauley commented on #426
Yep, sure. It should go either way.

[2019-03-03 20:00] TimMcCauley commented on #394
Sam, could you please try

[code]

?

[2019-03-03 20:29] samcrawford commented on #394
Thanks Tim. Just tried it, no joy, sorry.

I deleted the docker/build directory first, and the docker/data/cgiar_provider and docker/data/graphs directories too (to ensure a clean re-build). Then rebuilt with `docker-compose up`

My request (generated using the default parameters from the ORS web app):
`http://localhost:8080/ors/routes?attributes=detourfactor%7Cpercentage&coordinates=9.538809,47.1

[2019-03-04 10:08] takb opened #430 "Unit tests fail depending on build environment locale"
#### Here's what I did
Tried to build current dev code on a machine with default system locale de-DE

---
#### Here's what I got
[code]

---
#### Here's what I was expecting
a successful build

---
#### Here's what I think could be improved

The affected tests check `ProfileWeighting` objects that use `com.graphhopper.util.PMap` to store double values, which internally stores everything as string,

[2019-03-04 10:55] rabidllama opened #432 "Update pom to build using ors.war"
#### Here's what I did

Build ors via mvn:package

---
#### Here's what I got

output war is openrouteservice-5.0

---
#### Here's what I was expecting

It would be beneficial to have a consistent build file name so that the endpoint is always http://localhost:8082/ors/... rather than having to change the endpoint whenever a version increase happens

---
#### Here's what I think could be improved

[2019-03-04 11:30] MichaelsJP commented on #418
@TimMcCauley For API v2 only? It can be easily set when the `RouteRequest` is converted to the `RoutingRequest` object. But that would only affect the new API. For the old API I would have to change a few things more.

[2019-03-04 11:42] TimMcCauley commented on #418
@MichaelsJP I'd suggest to set this once when the app.config is read initially and set globally. Would that work?

[2019-03-04 11:54] MichaelsJP commented on #418
@TimMcCauley Should be possible. I'll find a way that doesn't affect too much other things. Should it be set per `service` and per `profile` or only per `service`? The first option wouldn't be a minor change anymore, I would have to change the config readers and a lot of different things. But I guess that is what is needed right?

[2019-03-04 11:57] TimMcCauley commented on #418
So something like

[code]

@rabidllama what'ya think?

[2019-03-04 12:11] MichaelsJP commented on #418
ok. I my opinion it would be intuitive to define the radii at one place directly under the profiles. That would make the option more accessible.  e.g. :
[code]
One thing though, in order to work every radii have to be set. Imo this is not a real downside that speaks against it...
@TimMcCauley @rabidllama Any thoughts on that?

[2019-03-04 12:13] TimMcCauley commented on #418
I think it should be an optional setting in general, defaults to 50km or w/e - just my opinion

[2019-03-04 12:29] rabidllama commented on #418
I would go for the option of setting it inside of the profile settings else we come across the issue of posting null values in the array. Plus when we debug and turn off profiles, in the array method we then have to remove the items from there aswell.

So from my pov, I would have the global snapping_distance: 50 inside the default_params, and then we can override it in the individual profiles.

A

[2019-03-04 12:31] TimMcCauley commented on #418
Perfect solution @rabidllama , agreed.

[2019-03-04 12:46] TimMcCauley commented on #428
@yakovkeselman if you are sharing a volume holding the specific osm file, you can change the app.config to point it to the new osm file. Then delete the graphs folder and restart the container with `docker restart ors-app`

[2019-03-04 13:32] rabidllama opened #433 "Implement and deploy core-alt routing algorithm"
Implement the algorithms for the core-alt routing.

We need to make sure that routes requested using the algorithm return the same results as previous methods.

[2019-03-04 14:10] TimMcCauley opened #434 "Introducing dockerhub for ors images"

[2019-03-05 09:38] TimMcCauley opened #436 "Refactor app.config.sample"
Currently it is still using typesafe and looks quite messy.

[2019-03-05 11:55] TimMcCauley opened #437 "Add app.config documentation to wiki"
It is currently almost impossible to understand how the app.config works. The comments within should be added to the wiki that a user understands how to configure running openrouteservice locally.

https://github.com/GIScience/openrouteservice/wiki/Configuration

Extract the information from https://github.com/GIScience/openrouteservice/blob/1d2837a9d24cfad6840646069234f4f61c40bb57/openrouteservic

[2019-03-05 12:51] TimMcCauley commented on #434
Dockerhub will from now on be triggered to build a new image when a new release is made on github.

https://cloud.docker.com/repository/docker/openrouteservice/openrouteservice

[2019-03-05 12:51] #434 closed, assigned to TimMcCauley

[2019-03-05 15:48] TimMcCauley opened #440 "Flagencoders for foot-walking and foot-hiking"
We currently do not have flag encoders for hiking and walking (graphhoppers are being used). We should be adding these as routing results for both can be increased, a pedestrian example route along a bundesstraße (instead of going through the forest):

http://maps.openrouteservice.org/directions?n1=49.883642&n2=8.884734&n3=14&a=49.894931,8.836895,49.886613,8.924247&b=2&c=0&k1=en-US&k2=km

We need

[2019-03-05 16:15] TheGreatRefrigerator opened #441 "avgspeed attribute returns high values"
#### Here's what I did

url:
`https://api.openrouteservice.org/v2/directions/driving-car?api_key=xxx`
body:
[code]
---
#### Here's what I got

segmets:
[code]
---
#### Here's what I was expecting

avgspeed value within reasonable range in km/h

[2019-03-06 10:42] TimMcCauley commented on #394
Sam, this is annoying me :-) - let's dig a little deeper. Could you please run graphhopper directly with docker and see if it downloads (note: we are depending on graphhopper for exactly this) ?

https://github.com/graphhopper/graphhopper#docker

p.s. remember to enable elevation in the graphhopper config

[2019-03-06 13:20] TheGreatRefrigerator opened #445 "v2/matrix: error for specified `destinations` parameter"
a new day, a new bug-report :

#### Here's what I did

i can't seem to get any valid response for a specified `destination` parameter like:
url:
[code]
body:
[code]
---
#### Here's what I got

it always returns an error:
"Could not write JSON: 3; nested exception is com.fasterxml.jackson.databind.JsonMappingException: 3 (through reference chain: heigit.ors.api.responses.matrix.JSONMatrixResponseOb

[2019-03-06 16:52] TimMcCauley commented on #437
@aoles @HendrikLeuschner could you please add the remaining information in the descriptions of lm/ch preparation/execution in https://github.com/GIScience/openrouteservice/wiki/Configuration-(app.config) ? Please keep it brief 👍

[2019-03-08 12:59] aoles opened #450 "Refactor ORSWeightingFactory"
There is no real need for the intermediate `DefaultWeightingFactory` class in ORS Graphhopper fork because it's only used as base class for `ORSWeightingFactory` which overrides it's `createWeighting` method anyway. Things can be simplified when `ORSWeightingFactory`  directly implements `WeightingFactory` rather than extends `DefaultWeightingFactory`.

[2019-03-08 15:47] 123bistami opened #452 "How can i get the shortest sum of a matrix the shortest path"
Hello,

I have a route matrix like attachment, where you is list the distance in km to the next location, i would like to get the shortest sum ( the shortest path ) of this matrix, how can i do that.!
Link to image:
https://www.dropbox.com/s/he3wxysl067dsvz/IMG_1465.jpg?raw=1

[2019-03-08 17:34] nilsnolde commented on #452
for questions please use our [forum](https://ask.openrouteservice.org)

[2019-03-08 17:34] #452 closed, assigned to nobody

[2019-03-09 14:42] TimMcCauley opened #453 "Considering elevation for duration of travel in routing and isochrones"
Considering the elevation information can, if implemented properly, be a useful option for all services. For the isochrones for instance it is quite handy to know how far an object can move in a certain amount of time if the steepness of roads change. The logic of this is already implemented and has been used in the past and should be added again asap; however it but produced some weird artefacts

[2019-03-09 14:55] marq24 commented on #453
there is a small dilemma - since adjusting the speed of a way have instant impact on the routing calculations - since the code (always) tries to find the fastest route.

In our previous impl. this speed reduction (uphill) and increase on downhill was the root cause of this "none reasonable" detours (at least for the bike)...

I don't mind to get a closer look into this issue again - since it's qui

[2019-03-09 15:23] TimMcCauley commented on #453
@marq24 of course, you are right. Even with the artefacts the results were ok for isochrones as this was aggregated data for routing it's a different case.

- Could we actually ignore anything less than 3% for instance and start adding forward/backward speeds for "higher" percentages?
- Could we make this an "optional" setting to be added to the API or would it eat up too much space?

Any further

[2019-03-09 15:24] #428 closed, assigned to TimMcCauley

[2019-03-09 16:06] marq24 commented on #453
please do not get me wrong - I really would like to get this to work... One of the things that makes it quite hard is the filter (how to decide when a "climb" is significant)?

The initial thought is of course you take the start & end of a way and subtract start ALT with end ALT and based on this delta you calculate the "climb"...

The problem (IMHO) is, that you can not be sure, how "long" your a

[2019-03-09 18:03] TimMcCauley commented on #453
Yea, it seems to be quite an endeavour @marq24 ;-) could we start of using the current implementation but making it an option to enable/disable (probably disabled by default) ? This way we could benefit from it in the isochrones case at least and then start brainstorming about the directions use case a little more? Could we there just ignore anything less than 3% ?

[2019-03-09 18:43] marq24 commented on #453
i hope there are other opinions here as well (we should also start a voice chat about this issue) - for your hybrid solution - I am not aware, that It's possible to encode two different speeds for a single way [and switch dynamically between speedA (default) and speedB (isochrones)] - but I am quit a noob when it comes to this kind of things - no idea how the extra storages are working and how/whe

[2019-03-12 10:18] hhblaze opened #457 "geometry_simplify does not work for > 2 locations"
#### Here's what I did
Getting directions

[Getting directions with geometry_simplify=True](https://api.openrouteservice.org/directions?api_key=58d904a497c67e00015b45fc09d497d61a084b7988e14adafdb89594&coordinates=11.50306,53.33353|10.03285,53.56074|10.02152,53.55651|10.01092,53.55396|10.00315,53.55605|11.50306,53.33353&profile=driving-hgv&preference=fastest&format=json&units=m&language=en&geometry

[2019-03-12 11:02] rabidllama commented on #457
Hi @hhblaze - we have recently been updating the api to get things like the simplify_geometry to work properly, and as such the **geometry_simplify=true parameter cannot be used on routes that have more than one segment** (in the Graphhopper core library I believe this is due to the simplify changing the geometry itself which can mess up aspects relating to via points). I have added an error messa

[2019-03-12 12:21] hhblaze commented on #457
Thank you!

[2019-03-12 12:21] #457 closed, assigned to rabidllama

[2019-03-13 08:48] #355 closed, assigned to rabidllama

[2019-03-13 08:48] #154 closed, assigned to rabidllama

[2019-03-13 08:48] #233 closed, assigned to rabidllama, MichaelsJP

[2019-03-13 08:48] #167 closed, assigned to MichaelsJP

[2019-03-13 08:48] #396 closed, assigned to aoles

[2019-03-13 08:48] #408 closed, assigned to rabidllama

[2019-03-13 08:48] #382 closed, assigned to rabidllama

[2019-03-13 08:49] #195 closed, assigned to aoles, takb

[2019-03-13 08:49] #398 closed, assigned to rabidllama

[2019-03-13 08:49] #392 closed, assigned to nilsnolde

[2019-03-13 08:49] #381 closed, assigned to nilsnolde

[2019-03-13 08:49] #384 closed, assigned to rabidllama

[2019-03-15 10:19] CramericaIndustries opened #463 "value of geometry_simplify=false is interpreted as 'true'"
#### Here's what I did

Requested:
`https://api.openrouteservice.org/directions?coordinates=10.999659000000065,49.217501|11.001968000000033,49.218401|10.999775329730937,49.21936818962267&profile=foot-hiking&preference=shortest&format=geojson&units=m&geometry_format=geojson&geometry_simplify=false&instructions=false&elevation=true&extra_info=surface|waytype|steepness&api_key=[CENSORED]
`
#### Here'

[2019-03-15 10:26] #445 closed, assigned to rabidllama

[2019-03-15 10:26] #441 closed, assigned to rabidllama

[2019-03-15 12:24] TimMcCauley opened #464 "HGV routing over tracks"
With the removal of being able to avoid "tracks", the current HGV profile will use tracks by default which do not make sense.

https://maps.openrouteservice.org/directions?n1=47.551086&n2=9.27922&n3=17&a=47.551912,9.274843,47.550224,9.283597&b=4a&c=0&k1=en-US&k2=km

https://www.openstreetmap.org/way/253024681#map=17/47.54890/9.28213

With #372 this won't be an issue but for now we need to be able

[2019-03-15 12:53] nilsnolde commented on #463
Jup, will fix on Monday.

[2019-03-18 15:11] aoles commented on #239
The observed behavior was because of a [bug](https://github.com/graphhopper/graphhopper/issues/1557) in the original ALT implementation. The problem does not occur anymore in the [patched version](https://github.com/GIScience/graphhopper/pull/22) of our GH fork.

This issue will resolve itself as soon as we switch to the new GH version [0.10.1.13](https://github.com/GIScience/graphhopper/releases/

[2019-03-18 15:22] aoles commented on #362
Prerequisite for https://github.com/GIScience/openrouteservice/issues/372.

[2019-03-18 15:26] jarek opened #467 "ORS driving directions take wrong off-ramps when OSM has no turn restrictions"
First off - thanks for this project!

#### Here's what I did

Requested directions from 46.433539,-81.035328 to 46.450351,-81.003549

https://maps.openrouteservice.org/directions?n1=46.430404&n2=-80.991662&n3=15&a=46.433539,-81.035328,46.450351,-81.003549&b=0&c=0&k1=en-US&k2=km

See also discussion in https://www.openstreetmap.org/note/1711523 and https://www.openstreetmap.org/changeset/68216922

[2019-03-18 15:35] jarek commented on #467
Similar case, in case it helps with testing, again a two-way highway with separate off-ramps and no turn restrictions:

https://maps.openrouteservice.org/directions?n1=42.94747&n2=-79.255596&n3=16&a=42.9519,-79.262238,42.947046,-79.259555&b=0&c=0&k1=en-US&k2=km

![image](https://user-images.githubusercontent.com/47415/54541647-af6f9100-4970-11e9-9fbc-cf70721e52a9.png)

---

Test cases of unusual r

[2019-03-18 16:30] jarek commented on #467
It seems it might be a similar issue as #339? That issue also involves unexpected use of slip/turn lanes and relatively sharp turns.

I'm not familiar with the algorithm at all, but to me it looks like it takes the as-the-bird-flies route and then finds roads nearest that route, but score penalties for sharp turns are not high enough.

[2019-03-18 16:51] ivoburger opened #468 "30 minute isochrone excludes area around starting point"
#### Here's what I did

I tried to generate 5 to 30 minutes (range 30 minutes, interval 5 minutes) isochrones for a place in Cyprus.
https://maps.openrouteservice.org/reach?n1=35.045457&n2=33.353462&n3=11&a=35.109851,33.384112&b=0&i=0&j1=30&j2=5&o1=1&o2=1&k1=en-US&k2=km
---
#### Here's what I got

The 30 minutes isochrone excludes some of the the 25 to 5 minutes isochrones area. Simply put, there

[2019-03-19 11:17] nilsnolde commented on #463
Think I actually found a solution to #457 which doesn't need to raise to an exception for waypoints > 2 and makes this issue redundant. Expect a fix in the next release (hopefully in a few weeks).

Until then, pls just dismiss `geometry_simplify` altogether if not wanted, on our backend it defaults to `False` anyways.

[2019-03-19 14:39] nilsnolde commented on #468
yeah, we'll have to do some work on the geometry of the isochrones, there's a few things going wrong here. Esp in areas with low street coverage. It's due to how it simplifies the actual geometry, i.e. build the alpha (or concave) shape.

I'll leave this unassigned but add it to our TODO. Not sure yet who'll be best to take a look.

[2019-03-21 07:22] nilsnolde commented on #427
Discussion about OSM tagging going on here (in German):
https://forum.openstreetmap.org/viewtopic.php?id=65638

Guess we'll just go ahead soon and update OSM for a few regions in Germany and hope they'll stick.

[2019-03-21 07:34] nilsnolde commented on #418
what's the status on this @MichaelsJP? Working as expected? Here adding a few tests would be beneficial;)

[2019-03-21 08:20] MichaelsJP commented on #418
In the making ;)... I had to figure out and understand a few things as it affects the initial config reading and object generation at ors start.

[2019-03-21 12:49] TimMcCauley commented on #464
**Note:** this is already live and deployed on the live API for the HGV profile.

[2019-03-21 16:39] aoles opened #470 "Use local maven artifact repo for development"
Use local maven artifact repo in order to speed up development turnover time.

[2019-03-25 10:04] rabidllama opened #471 "Update api documentation for isochrone smoothing"
The current documentation for the isochrone smoothing factor does not correctly reflect the code itself.

The algorithm is `(maximum_radius_of_isochrone / 100) * smoothing_factor` with limits between 0 and 100.

See https://github.com/GIScience/openrouteservice-docs/issues/35

[2019-03-25 14:50] rabidllama commented on #467
It seems that this is related to that other issue yes as turning off the acceleration calculations on a local instance makes it so that it uses the slip road as intended (in the first example).

[2019-03-25 14:55] sfendrich opened #474 "Prepare upgrade from unsupported Java 8 to newer version"
As the official support of Java 8 ended by January, we should switch to a newer version. This issue is concerned with the minimal necessary changes required to compile ORS with a newer Java version. The code should compile and pass the api tests with both Java 8 and a newer java version.

[2019-03-25 15:32] sfendrich opened #476 "Upgrade to Java 11"
Because Java 8 is officially unsupported since January, we have to switch to a newer version. Java 11 is the current LTS release, making it a good candidate. ~~Unfortunately the current Ubuntu LTS does only ship with Java 10.~~ *Meanwhile Java 11 is shipped.*

- [x] Upgrade pom.xml
- [x] Upgrade .travis.yml
- [ ] Upgrade servers, docker, etc.

Related to #474

[2019-03-25 15:55] rabidllama commented on #467
but the root problem seems to be how GH handles such instances, as for the same junction it also does the strange u-turn if you go closer to the junction

![image](https://user-images.githubusercontent.com/7126643/54934357-ab1e1780-4f1e-11e9-811c-a421999b75b6.png)

[2019-03-25 16:49] TimMcCauley commented on #467
@rabidllama I think this is caused by CH

[2019-03-25 17:36] jarek commented on #467
@rabidllama in your example you have moved the origin point past the turn-off point for the curved ramp.

Arguably a router should not suggest 170 degree left turns, especially off trunk routes, but the only other option from that starting point is taking the next exit 3 km up the road.

[2019-03-26 07:44] rabidllama commented on #467
Yes I moved it past the turn off point to see if GH would take you to the next exit, which it does not and instead does the strange U-turn, which would imply that there needs to be something in the GH code which applies the sharp turn restriction. The reason it happens with the fastest option when used on the road before the junction is because we have some code that tries to take into account acc

[2019-03-26 07:48] TimMcCauley commented on #467
If you try shortest, the result is what you would expect; as mentioned above, my guess is that this is caused my contraction hierarchies which currently do not support turn restrictions @rabidllama

[2019-03-26 08:42] rabidllama commented on #437
I will reopen this until the information from @aoles / @HendrikLeuschner has been added so that we don't lose track of it

[2019-03-26 14:02] aoles opened #479 "RV/carvan/trailer profile"
It might be interesting to have a RV/carvan/trailer profile to complement seasonal access restrictions in national parks ;) There is already [interest for it](https://ask.openrouteservice.org/t/bug-maximum-speed-option-not-taken-in-account-for-isochrones-maps/305).

The idea would be to take into account country-specific speed regulations, and allow vehicle weight/dimension specification as for HG

[2019-03-26 14:10] aoles opened #480 "User adjustable speed capping"
After removing `maximum_speed` we've received some feedback that in [certain scenarios](https://ask.openrouteservice.org/t/bug-maximum-speed-option-not-taken-in-account-for-isochrones-maps/305/7) this option has been actually useful.

It might be feasible to still support it even with CALT, but within a limited range such that it only affects high-speed roads, some of which are filtered out by `av

[2019-03-26 14:29] rabidllama commented on #480
If we don't want to be going in and affecting the build process (which for now is probably something we shouldn't be doing) and results don't need to be particularly accurate, then one option would be to take the duration returned for segments, calculate the average speed and if that is greater than the maximum speed then we do some simple capping to get a result that is within the time frame of t

[2019-03-26 14:31] rabidllama commented on #479
I think this is something that we would not look into for a while as we do not have the resources in terms of people and servers to have the extra profile running

[2019-03-26 14:41] aoles commented on #479
![image](https://user-images.githubusercontent.com/6545356/55006176-9e142d80-4fdd-11e9-9acb-798a71ec2d6e.png)

[2019-03-26 15:01] aoles commented on #480
Thanks @rabidllama ! My reasoning here is: if we allow the maximum speed to be adjustable not in a arbitrary range but starting only from say, max_speed=80 km/h, than *hopefully* the amount of roads which allow higher speeds than `max_speed` will be a relatively low fraction of the whole routable road network and could be integrated into core. Needs to be verified, though.

Personally I'm not conv

[2019-03-26 15:37] MichaelsJP commented on #424
@rabidllama It seems like the `routing_name` variable is a bit redundant. It's not correctly documented in the wiki documentation as it is just called `name` in there and it seems it was actually never returned. I didn't implement it correctly back then. `I would suggest dropping the config variable completely`, as we already have `attributions` in it. And that is basically the "same" if not bette

[2019-03-27 07:08] rabidllama commented on #424
I believe it was introduced when the gpx output was added as it was some sort of required value in the response

[2019-03-27 09:13] rabidllama commented on #176
In the latest version of GH (0.12) contraction hierarchies will support turn restrictions, so when we do the upgrade for that this should be fixed. I will put it on hold until we have the update complete in the upcoming months and then we can check if it fixed the issue

[2019-03-27 09:39] rabidllama commented on #415
I have added an extra bit of code that only allows going over bridleways if they are explicitly set to be accessible for foot or wheelchair

[2019-03-27 10:47] nilsnolde commented on #427
Changeset for Stuttgart up for review:

https://www.openstreetmap.org/changeset/68581426

Let's cross fingers!

[2019-03-27 12:17] cDanowski opened #482 "Configuration of max locations for isochrones not used in code"
#### Here's what I did
I increased the parameter "ors.services.isochrones.maximum_locations" within app.config (i.e. to 5 or 10 or 100), because I intended to create isochrones requests with more than 2 start points.

---
#### Here's what I got
However I always got ParameterValueException saying that the max number of isochrone locations is limited to 2 (in contrary to the value set within app.con

[2019-03-27 12:23] nilsnolde commented on #482
It does help, thanks so much! I'll take the low-hanging fruit;)

[2019-03-27 13:02] sfendrich commented on #425
RoutingProfileManager is so messy that it makes no sense to fix this minor issue without fixing the more severe ones. Therefore, this issue will be fixed when cleaning up RoutingProfileManager.

[2019-03-27 13:30] cDanowski commented on #482
no problem ;)

[2019-03-28 08:36] sfendrich opened #483 "ORS is incorrectly called RESTful in README"
ORS is obviously not a RESTful service.

[2019-03-28 08:43] #483 closed, assigned to sfendrich

[2019-04-01 08:18] nilsnolde commented on #482
I found it, but it'll take a while for the change to propagate to `master`.

In the meantime, if you use the old API (i.e. GET with `localhost:8082/openrouteservice-5.0/isochrones?query_params`, it will respect your app.config settings.

[2019-04-01 08:35] rabidllama commented on #468
So a little update from what I can see about why this would happen (for when we get chance to look into it) - it does the hollow part because the distance between two of the points to the east are quite far from each other, and so the algorithm that generates the polygon basically creates a concave polygon as it thinks that this is the "better" way of doing it.

[2019-04-01 08:39] rabidllama commented on #433
also, make sure to update the app.config wiki information (#437)

[2019-04-01 13:34] sfendrich commented on #474
Closed by #475

[2019-04-01 13:34] #474 closed, assigned to sfendrich

[2019-04-01 13:35] sfendrich commented on #432
Closed by #439

[2019-04-01 13:35] #432 closed, assigned to sfendrich

[2019-04-02 08:58] HendrikLeuschner opened #488 "Investigate 'recommended' weighting and decide which parts to remove or keep"
If recommended weighting is to be kept, it has to be adapted to be a stand-alone weighting for core-alt.

[2019-04-03 09:15] nilsnolde opened #489 "Classpath problems on Windows: resources not found"
We have an error when trying to run ORS on Windows, which seems to be related to the way we try to access `resources`, like `app.config` and `locales`.

Tomcat trying to build the webapp, raises a `NullPointerException` for `app.config`. When we set `File file = new File("C:\\absolute\\path\\to\\app.config")`, then it works.

Relevant lines in `AppConfig.java`:
https://github.com/GIScience/openrou

[2019-04-03 10:39] marq24 commented on #489
sorry - just catching up... so by default the WAR should be auto extracted by the Tomcat... and then the app.config file should be present in the FileSystem...

I have a slight different setup here locally - I jave "linked" my IntelliJ 'webContent' folder to a context named "ors"

by placing a ors.xml in the conf\Catalina\localhost folder of my tomcat installation :

[code]

in the AppConfic class

[2019-04-03 10:44] marq24 commented on #489
then I just looked into the LocalizationManager class - to be honest - just let's refactor that completly - the purpose is to create hashmaps with key value pairs - this can be done completly different...

[2019-04-04 09:16] aoles commented on #480
I did a very quick and basic analysis on DACH region using the [test_maxspeed](https://github.com/GIScience/openrouteservice/tree/test_maxspeed) branch by just dumping speed assignments and binning them with the following R script.

For example, the number of ways with speed > 80 km/h is around 3%. This number already includes most of the highways which according to a [former analysis](https://doc

[2019-04-04 20:54] aoles commented on #479
There are currently no plans of implementing a tailored rv/trailer profile because of limited resources and a relativelly narrow use case of a such highly specialized subprofile. Instead, we will look into a more generic solution of re-introducing the recently disabled option to set [maximum speed](https://github.com/GIScience/openrouteservice/issues/480) which we believe will serve a broader audi

[2019-04-04 20:54] #479 closed, assigned to nobody

[2019-04-05 12:53] rabidllama opened #491 "Avoid Russia still crosses the russian border"
When generating a route between Ukraine and Russia, a route is found even when told to avoid russia.

![image](https://user-images.githubusercontent.com/7126643/55629036-8180ae00-57b2-11e9-882a-2abbe2ca3772.png)

The response should be that no route can be found

[2019-04-05 12:55] rabidllama commented on #491
This is because here there is a very special case relating to how border detection is optimized and the particular road that crosses the border which is routed along. Basically, the system ends up seeing this road as being in three countries rather than 2 (due to splitting polygons into small chunks) and so when storing start and end countries, both are set to the same country.

[2019-04-05 13:52] rabidllama commented on #173
Looking at OSM info relating to these tags, and us moving the foot encoders to ORS, it is more realistic to actually limit the walking profile to only include a sac_scale of hiking. Any others are not particularly suitable for a general walk, and so these should only appear if the user selects the hiking profile

[2019-04-05 20:58] TimMcCauley commented on #480
@aoles nice finding - let's definitely consider this!!

[2019-04-08 08:07] rabidllama commented on #385
We will need to look at this when the update with c-alt has been deployed

[2019-04-08 15:34] aoles opened #493 "Wrong coordinate order in isochrones bounding box"
The bounding box returned for **isochrones**  seems to have the coordinates ordered as

[code]

However, according to the [geoJSON specification](https://tools.ietf.org/html/rfc7946#section-5) these should be rather in the order

[code]

   length 2*n where n is the number of dimensions represented in the
   contained geometries, with all axes of the most southwesterly point
   followed by all axe

[2019-04-08 17:06] nilsnolde commented on #493
I'll take the cheap one.

[2019-04-09 07:35] aoles commented on #493
As this is a rather serious bug which renders the bounding box unusable we should consider publishing the fix without any unnecessary delay, certainly before ORS 5.2.

[2019-04-09 08:39] nilsnolde commented on #493
it's alright, not that crazy serious. not a single issue reported so far. I can take care of it on Thursday. Feel free to quickly do it if you want.

[2019-04-09 09:17] aoles commented on #493
Thanks @nilsnolde ! No stress, but it's important in the sense that anyone trying to visualize the isochrones will probably run across this issue, at least that was the case for me as soon as I updated the R package to API v2.

[2019-04-09 09:38] svdhoorn opened #494 "Isochrone open space"
When I request an isochrone with the following I receive a blank space (not reached by the isochrone) where I would expect it to be reached. See screenshot below, the arrow points at te space I would expect to be filled.

The request:
[code]

![afbeelding](https://user-images.githubusercontent.com/41985373/55790104-f9edb480-5abb-11e9-9bd3-ef64a72bf898.png)

[2019-04-09 09:41] nilsnolde commented on #493
Not every implementation takes `bbox` into account necessarily. We're displaying them into our web app without issues.

[2019-04-09 09:57] nilsnolde commented on #494
Hm, that does look weird! It's likely a geometry simplification issue, e.g. that area was reached by the algorithm (obviously, as it's just a few meters away), but the geometry generation somehow simplifies it entirely wrong. We'll look into it soon. Isochrones have similar issues lately, see #468 for example.

[2019-04-09 10:08] aoles commented on #493
This might be just because maps.openrouteservice.org still queries the legacy API. I didn't experience the issue with API v1 either but only after upgrading to API v2.

[2019-04-09 10:17] svdhoorn commented on #494
Thanks for the quick response

[2019-04-09 12:59] eduardoandino commented on #57
Sorry to bother again with this. But I did exactly what @GPistre said and the service stays in {"status":"not ready"}.
It works with the dafult OSM dataset, but when I use "ile-de-france-latest.osm.pbf" it does not work. I modified the docker-compose.yml file to point to this new file. What am I missing?

The log in logs/ors/ors.log is empty, and the onw of tomcat shows no error.
Thanks in advance

[2019-04-09 13:05] eduardoandino opened #495 "Running with own OSM dataset issue"
Can not get openrouteservice to work with another pbf file than the one by default.

I did exactly what @GPistre in https://github.com/GIScience/openrouteservice/issues/57#issuecomment-354155636 said and the service stays in {"status":"not ready"}.
It works with the dafult OSM dataset, but when I use "ile-de-france-latest.osm.pbf" it does not work. I modified the docker-compose.yml file to point t

[2019-04-09 13:38] eduardoandino commented on #495
I think it was just a matter of time. After 20 minutes aprox It worked.
Closed

[2019-04-09 13:38] #495 closed, assigned to nobody

[2019-04-10 13:42] aoles opened #496 "Unable to validate API v2 GPX response"
An attempt to validate API v2 GPX response against XML schema [fails](http://www.utilities-online.info/xsdvalidation/?save=63531f0f-d03b-42f4-8516-da8b48ab4f06-xsdvalidation).

Apparently the response is missing the namespace specification as after changing
[code]
to
[code]
validation [succeeds](http://www.utilities-online.info/xsdvalidation/?save=1ba406e9-4d58-47b0-8cf4-32b908233115-xsdvalidation

[2019-04-11 07:45] MichaelsJP commented on #496
@aoles it's an easy fix. I'll do it next week.

[2019-04-12 11:06] #173 closed, assigned to rabidllama

[2019-04-16 14:25] rabidllama opened #499 "Strip route optimisation code from the main openrouteservice code base"
With the introduction of the Vroom optimisation framework, the unused route optimisation code should be removed from the main openrouteservice code base as it doesn't appear to work, is not included in the v2 API and would clean up a lot of code.

[2019-04-18 19:04] elutz opened #502 "Routing with profile bike normal doesn't work"
#### Here's what I did

Tried to calculate a route with profile bicycle normal on https://maps.openrouteservice.org/directions

---
#### Here's what I got

There wasn't any route calculated.
Some errors were shown in the JS console of the browser. See attached logs from the console.
[maps.openrouteservice.org-1555612995538.log](https://github.com/GIScience/openrouteservice/files/3095839/maps.openr

[2019-04-19 06:45] nilsnolde commented on #502
This is not a backend issue. Good to know though. But please use our [forum](https://ask.openrouteservice.org) next time.

[2019-04-19 06:45] #502 closed, assigned to nobody

[2019-04-19 12:38] ghost opened #503 "Update map once in 4 days"
Hi,

We want to use this setup in our project  but wondering, how it will auto update the maps or how does the loading and saving of the maps work?

Any help will be appreciated.

[2019-04-19 13:40] TimMcCauley commented on #503
Greetings,

please use our forum for this question at https://ask.openrouteservice.org

Thank you

[2019-04-19 13:40] #503 closed, assigned to nobody

[2019-04-23 09:06] sfendrich commented on #499
Closing due to merge into development

[2019-04-23 09:06] #499 closed, assigned to sfendrich

[2019-04-25 10:05] sfendrich opened #505 "Error in polyline-encoded geometry"
#### Here's what I did
[code]

---
#### Here's what I got
Unexpected geometry ([see online polyline decoder](https://developers.google.com/maps/documentation/utilities/polylineutility)) in this result:

[code]

---
#### Here's what I was expecting
The geometry shown in the playground map, when using the same coordinates.

**EDIT:** Clarification: the issue is that the polyline decoder and the ORS

[2019-04-25 18:49] avanc opened #506 "Routing leaves highway unnecessarily"
#### Here's what I did
Create a route on a highway:
https://maps.openrouteservice.org/directions?n1=52.452583&n2=10.777234&n3=16&a=52.449975,10.781826,52.454028,10.773404&b=0&c=0&k1=en-US&k2=km

---
#### Here's what I got
![screenshot](https://user-images.githubusercontent.com/2905029/56686048-8e1e6500-66d3-11e9-8f69-135eb21dfc9a.png)

---
#### Here's what I was expecting
I would expect that the h

[2019-04-26 07:23] nilsnolde commented on #505
Please try that again.. Works for me with Google's link and with all my libraries.

[2019-04-26 08:19] aoles commented on #505
I've tried the same API query as @sfendrich and got the same result as he with the following geometry.

[code]

This when pasted into Google's online polyline decoder results in a geometry different from the expected one shown in the playground.

![image](https://user-images.githubusercontent.com/6545356/56793617-b198fb00-680c-11e9-8195-1b120ede54b7.png)

[2019-04-26 08:32] TimMcCauley commented on #505
Did you actually think about this being a bug of google? @aoles did you decode the line and double check?

[2019-04-26 08:36] aoles commented on #505
Not yet, that's why it needs further investigation. Just confirming @sfendrich's observation. From @nilsnolde comment I've got the impression that he didn't observe the issue even with google's online decoder.

**UPDATE**
I've just tried an alternative [mapbox JS implemenation](https://github.com/mapbox/polyline) to decode the result and got the same list of coordinates as from Google's online uti

[2019-04-26 08:59] nilsnolde commented on #505
Oh sorry, I misunderstood indeed. I thought he couldn't decode the polyline at all.

You're right, that'd be seriously awkward.. I'll try to decode and plot real quick here.

EDIT:
Aren't we using GH's encoding lib here?

[2019-04-26 09:06] aoles commented on #505
Apparently not, it seems that we use our own `heigit.ors.util.PolylineEncoder`, even though GraphHopper provides `com.graphhopper.http.WebHelper.encodePolyline()`.

[2019-04-26 09:07] nilsnolde commented on #505
Not that I'd have expected a different outcome decoding myself, but yeah, it's wrong.

@aoles do you have time to fix real quick?

@rabidllama I think this qualifies for an immediate hotfix. What do you think?

[2019-04-26 09:08] nilsnolde commented on #505
:roll_eyes: can we pls use GH? They do the exact same thing, i.e. provide elevation info etc.

[2019-04-26 09:14] aoles commented on #505
OK, I will then look into switching from our home-grown solution to GH's encoder.

**UPDATE:** it turns out that using GH's encoder is not entirely straightforward. This is so because it lives in `graphhopper-web` module which we currently don't include. I've tried enabling it but because of cross-dependencies on the rest of the unused modules and our modifications to `graphhopper-core` I ended up

[2019-04-26 12:37] rabidllama commented on #494
in this particular case it seems to be due to a simplification stage before the generation of the polygons. Basically, when points are added that represent the roads, if they are too close together then only one is added to the list. It should be the case that we can reduce the size of this check so that points have to be closer together before they are skipped, but this should only be done for sm

[2019-04-26 14:36] aoles commented on #505
There seem to be a similar problem with GH's implementation too, as the query`https://graphhopper.com/api/1/route?point=48.197123,11.300716&point=48.125142,11.449067&vehicle=car&debug=true&key=<API-KEY>&type=json` returns

[code]

![image](https://user-images.githubusercontent.com/6545356/56815282-40276f80-6841-11e9-83c1-00fcc46d396e.png)

**UPDATE**: this gets really weird as we virtually use the

[2019-04-26 14:41] TimMcCauley commented on #505
@aoles is this the same result for with and without elevation?

[2019-04-26 15:14] nilsnolde commented on #505
Haha wtf.. how can it be that the geometry is correct for a major part of the way and then deviates into complete bullshit.. 3D doesn't explain that. That just completely destroy it. Reeeeally curious what you come up with @aoles!

[2019-04-26 15:16] aoles commented on #505
**Found it!** It seems to be caused by the escaping of `\` in the encoded string, because when I replace all the occurrences of  `\\` by `\` the routes are back to normal.

![image](https://user-images.githubusercontent.com/6545356/56817549-1886d600-6846-11e9-929f-d98726a2ab26.png)

The escaping happens most probably when creating a valid JSON response object from an originally unescaped string. N

[2019-04-26 15:52] TimMcCauley commented on #505
Great find @aoles - should we add a note to the readme with a link to this issue and close it?

[2019-04-26 16:08] nilsnolde commented on #505
ah damn.. little of a dilemma isn't it.. Wouldn't like to go against JSON specs, but I really think noone should have to manually remove `\`s, which requires a decoding step. So this should be an exception. Google doesn't escape it either apparently, otherwise their tool would include a decoding for escaping. Is there a way to not escape anything in the geometry object in the first place?

[2019-04-26 16:17] TimMcCauley commented on #505
I think google does, e.g.  ```"overview_polyline" : {
            "points" : "knjmEnjunUbKCfEA?_@]@kMBeE@qIIoF@wH@eFFk@WOUI_@?u@j@k@`@EXLTZHh@Y`AgApAaCrCUd@cDpDuAtAoApA{YlZiBdBaIhGkFrDeCtBuFxFmIdJmOjPaChDeBlDiAdD}ApGcDxU}@hEmAxD}[tt@yNb\\yBdEqFnJqB~DeFxMgK~VsMr[uKzVoCxEsEtG}BzCkHhKWh@]t@{AxEcClLkCjLi@`CwBfHaEzJuBdEyEhIaBnCiF|K_Oz\\
            {MdZwAbDaKbUiB|CgCnDkDbEiE|FqBlDsLdXqQra@kX|m@aF|KcHtL

[2019-04-26 19:38] aoles commented on #505
Actually, I think that we should keep the escaping as is. For example, it is in general necessary for any string literals in R as well and the decoding of the current output works just fine with [googlePolylines](https://cran.r-project.org/package=googlePolylines) package.

The same applies when working with openelevation service: the input encoded polyline needs to have the `\` escaped as `\\` .

[2019-04-26 21:07] TimMcCauley commented on #505
Yes, agreed. Closing this for now, let’s keep at note on the docs, I’ll take care of this.

[2019-04-26 21:07] #505 closed, assigned to aoles

[2019-04-28 18:44] wolfshafen opened #507 "Routing for horseback riding"
#### Here's what I think could be improved

I'd like to plan routes for horseback riding. Tried to use hiking mode as well as mountainbike mode but unfortunately bridleways are ignored by the routing algorithm. Here's my suggestions:
1) Bridleways should be preferred before offroad tracks and tracks should be preferred before generic paths and roads with a hard surface
2) Highways must be avoided

[2019-04-29 07:57] sfendrich commented on #505
Agreed. Thanks a lot for debugging! The documentation at `/v2/directions/{profile}` and `/v2/directions/{profile}/json` should be extended by something like "The geometry is returned as a string in the [Encoded Polyline Algorithm Format](https://developers.google.com/maps/documentation/utilities/polylinealgorithm). Note that according to the JSON-specification some special characters in this strin

[2019-04-29 08:00] rabidllama commented on #507
Unfortunately we don't have the hardware resources available at the minute to be able to run a separate horse riding profile, but we will definitely keep it in mind for if we get some spare resources as it would be a nice profile to include.

In terms of the other profiles not using bridleways - this is because in some countries (e.g. Germany) the legal usage of bridleways by pedestrians is a bit

[2019-04-29 19:34] wolfshafen commented on #507
Dear Adam, thank you for your quick response and your example where routing is possible. As a workaround I attached the attribute "foot=yes" to every bridleway which costed me some hours to find all of those ways in the corresponding area (hope that will work as well as "foot=designated"). In fact most of that ways can be used by pedestrians or hikers too; some of them are even part of a hiking tr

[2019-04-30 09:16] svdhoorn commented on #494
Thanks for the explanation; this makes sense

[2019-05-07 15:11] MichaelsJP commented on #349
The current plan is to use the **BordersGraphStorageBuilder.java** and add two more **shorts** to every edge indicating, at a maximum of two, the countries it traverses. The countries will internally be represented by our integer country mapping consisting of max. 3 integers. This process of getting the edge countries will just be added to the normal borders preparation once a new graph is calcula

[2019-05-08 15:23] jarek commented on #506
This might be related/same underlying issue as #339

[2019-05-08 21:22] ivoburger opened #511 "API v2 matrix generates wrong ordered output for non-square matrices"
#### Here's what I did

I call the v2 matrix API with body:
{"locations":[[9.70093,48.477473],[9.207916,49.153868],[37.573242,55.801281],[115.663757,38.106467]],"metrics":["distance","duration"],"sources":[0,1],"units":"m"}
---
#### Here's what I got

![image](https://user-images.githubusercontent.com/48688535/57409036-87b9de00-71e7-11e9-8e4a-b144eee3efd8.png)
The results are probably in a wrong o

[2019-05-09 08:15] rabidllama commented on #511
I have checked on a local instance running the latest version and this doesn't seem to be occuring after another fix was made (relating to the arrays for output in the matrix results). This latest version should be getting deployed in the next week or two.

[2019-05-09 09:27] ivoburger commented on #511
Thanks for the info.

On Thu, May 9, 2019, 10:16 Adam Rousell <notifications@github.com> wrote:

[2019-05-09 11:46] rabidllama opened #512 "Isochrone edges going too far"
It seems that when building isochrones (in particular for small areas), the boundary goes too far when the isochrone limit is reached part way down an edge.

[2019-05-09 11:47] rabidllama commented on #512
It seems that when the algorithm places the point part way down an edge, it takes into account the wrong coordinates and lengths when calculating where to place the end coordinate

[2019-05-21 22:10] samcrawford commented on #394
I think I've found the cause of this issue, at long last.

I tried in the latest Graphhopper, as requested, and it worked fine.

I then tcpdump'd what ORS was doing differently, and I saw it was making the following HTTP request for CGIAR data:

GET http://srtm.csi.cgiar.org/SRT-ZIP/SRTM_V41/SRTM_Data_GeoTiff/srtm_38_03.zip
Which 301's to http://srtm.csi.cgiar.org/srt-zip/srtm_v41/srtm_data_geotif

[2019-05-22 12:49] TimMcCauley commented on #394
Uff, wow. Thanks for debugging this @samcrawford. We haven't had this issue because we are using the same cache over and over again which was generated before this change was introduced by the cgiar team.

We are currently working on an updated of the openrouteservice graphhopper fork to 0.12 which will incorporate the PR in graphhopper.

https://github.com/GIScience/graphhopper/blob/ors_0.12-upgr

[2019-05-22 13:20] nilsnolde commented on #394
That IS great @samcrawford thanks!

I'll change this in our GH fork. Too important to wait for so long.

[2019-05-23 09:04] #436 closed, assigned to TimMcCauley

[2019-05-23 09:17] #471 closed, assigned to rabidllama

[2019-05-23 09:17] #463 closed, assigned to nilsnolde

[2019-05-23 09:17] #450 closed, assigned to aoles

[2019-05-23 09:18] #415 closed, assigned to rabidllama

[2019-05-23 09:18] #470 closed, assigned to aoles

[2019-05-23 09:18] #430 closed, assigned to takb

[2019-05-23 09:18] #482 closed, assigned to nilsnolde

[2019-05-23 09:18] #424 closed, assigned to MichaelsJP

[2019-05-23 09:18] #491 closed, assigned to rabidllama

[2019-05-23 09:18] #493 closed, assigned to nilsnolde

[2019-05-23 09:18] #489 closed, assigned to nilsnolde

[2019-05-23 09:18] #418 closed, assigned to MichaelsJP

[2019-05-23 12:03] Devmaticz opened #517 "Request parameters exceeding server config, even when changed"
dear all,

i have a brand new ORS server runing and everything works well, using the docker installation guide as mentioned in the doc

when i make changes to the docker > conf > app config sample, by putting bigger values to the maximum routes.

after lunching my container, my changes doesn't take effect, even when i delete the graphs folder before building the container again

[2019-05-23 13:09] #239 closed, assigned to aoles, HendrikLeuschner

[2019-05-23 13:42] marq24 opened #518 "matrix endpoint 5.0.1 - exceed limit of locations"
looks like that currently the number of posted locations are taken into account concerning the limit of max 2500 results. (can just send 60 locations right now)

the limit of 60 would be ok if you would calc. 50x50 (source = dest) - but when you like to get 1x61 it will refuse the request.

[2019-05-23 19:28] marq24 opened #519 "Index of turn instructions is shifted in the presence of way points"
Please take a look at this simple route
https://maps.openrouteservice.org/directions?n1=51.815798&n2=8.488516&n3=16&a=51.818501,8.474434,51.814187,8.497066&b=1c&c=0&k1=en-US&k2=km

all is fine - please open the TurnInstruction details - and check/confirm that the TURN LEFT is at the correct position (aka index)
![image](https://user-images.githubusercontent.com/8012359/58280379-b962a580-7da0-11e9-

[2019-05-24 11:35] #519 closed, assigned to nobody

[2019-05-24 12:27] nilsnolde commented on #517
Which maximum routes? Please give the exact parameter.

[2019-05-24 13:23] CramericaIndustries opened #522 "foot-hiking query stopped working"
#### Here's what I did
Requested [https://api.openrouteservice.org/directions?coordinates=-8.285694128863724,42.90609872641957|-8.297824398499415,42.908103477868934|-8.300573612820926,42.91533275672189|-8.294116876280896,42.91189116434972&profile=foot-hiking&preference=shortest&format=geojson&units=m&geometry_format=geojson&instructions=false&elevation=true&extra_info=surface|waytype|steepness&api

[2019-05-24 15:05] #518 closed, assigned to rabidllama, nilsnolde

[2019-05-24 16:26] TimMcCauley commented on #522
@CramericaIndustries this will work again by Monday, it's a bug in the most recent update. Sorry about this!

[2019-05-24 17:29] nilsnolde commented on #511
Fixed in v5.0.1

[2019-05-24 17:29] #511 closed, assigned to nobody

[2019-05-24 17:37] TimMcCauley commented on #519
<img width="1251" alt="Screenshot 2019-05-24 at 18 34 00" src="https://user-images.githubusercontent.com/10322094/58346329-88db4400-7e52-11e9-904e-f843e5fe3387.png">

Healthy again @marq24  ;-)

[2019-05-24 17:53] marq24 commented on #519
GREAT - and also inside my app all TurnInstructions are back at the correct place - thanks that you are so flexible to update all servers in less then 24h

[2019-05-24 18:01] TimMcCauley commented on #522
@CramericaIndustries if you remove extra_info for now it will compute a route and from next week onwards the API's will work normally again.

[2019-05-24 18:01] #522 closed, assigned to TimMcCauley

[2019-05-24 18:55] CramericaIndustries commented on #522
You guys should consider pushing new versions on Mondays, instead of Fridays ;D
Last time my open route service API code also stopped working on a Friday afternoon. Fortunately there was an easy workaround...

[2019-05-25 08:37] nilsnolde commented on #522
Wouldn't matter. It's not because we're not doing anything on weekends, the graphs just take 3 days to build. It might be a good idea though to have fallback option (either your own ORS Server that you can deploy on short notice or another provider in case you don't need all the extra options we offer).

[2019-05-26 08:59] CramericaIndustries commented on #522
Ah now I understand. My apologizes if  you understood my comment as criticism. It was meant to be constructive. I really appreciate the work you guys are doing!

Yeah I already have Google Maps routing as a backup. However sometimes it doesn't has roads/trails but OSM does have those and vice versa.

[2019-05-26 11:19] nilsnolde commented on #522
Oh no, guess I have to work on my communication;) Not offended or anything.

I'd recommend you use Mapbox as a fallback option. It's also OSM and their routing engines are quite good.

[2019-05-27 09:20] aoles opened #525 "Hgv routing does not respect `destination` access restriction"
Reported at [ask.openrouteservice.org](https://ask.openrouteservice.org/t/hgv-routing-does-not-respect-access-resriction/574), transit [routing](https://maps.openrouteservice.org/directions?n1=49.855862&n2=10.023931&n3=15&a=49.746073,9.93649,49.852153,10.000563&b=4a&c=0&f1=20&k1=en-US&k2=km) over trunk road tagged with [`hgv:destination`](https://overpass-turbo.eu/s/Jn6).

Cause: `HeavyVehicleFlag

[2019-05-27 14:37] aoles commented on #362
Addressed in https://github.com/GIScience/openrouteservice/commit/8ed5668098680dc30f5b1c65c692287f6e270d7a, https://github.com/GIScience/openrouteservice/commit/ebd2dd080e02000ec101ff453c96982da442503b, https://github.com/GIScience/openrouteservice/commit/eaf23eae9872ed8964b77ad98be169b2a294932f and https://github.com/GIScience/openrouteservice/commit/e29d92a60f6c37ef9d5bb5814591899295dfaeb2.

[2019-05-27 14:37] #362 closed, assigned to aoles

[2019-05-27 15:02] aoles commented on #525
Should be fixed via https://github.com/GIScience/openrouteservice/commit/e29d92a60f6c37ef9d5bb5814591899295dfaeb2 upon migration to GH 0.12.

[2019-05-27 15:06] #464 closed, assigned to aoles

[2019-05-27 15:56] TimMcCauley commented on #517
Closing this for now, please open again if not resolved.

[2019-05-27 15:56] #517 closed, assigned to nobody

[2019-05-27 17:38] CramericaIndustries commented on #522
Is working again. Thanks a lot!

[2019-05-29 09:38] TimMcCauley opened #527 "Re-work docker setup instructions"
Currently many users are struggling with the docker setup, I am planning to rework the steps to make it a little easier to handle.

[2019-05-29 13:27] nilsnolde commented on #394
I'll just re-open until it's in master

[2019-05-29 18:41] novotnytom opened #530 "Avoid Multiple Polygons"
Hi!

Does the function 'Avoid Polygons' works with multiple Polygons?

If I call the API Request with just one polygon everything is fine, but with two Polygons I got the 400 Error.

My Params:
`
avoid_polygons: {
      type: Polygon,
      coordinates: {
[
  [ //first polygon
      [[xx, yy], [xx, yy],[xx,yy]],
  [ //second polygon
      [[xx, yy], [xx, yy],[xx,yy]]
]
}`

Thank you Tomas

[2019-05-29 19:28] aoles commented on #530
Hi Tomas,

The geometry specifications of  `avoid_polygons` follows the GeoJSON standard, try [MultiPolygon](https://en.wikipedia.org/wiki/GeoJSON#Geometries).

Cheers,
Andrzej

[2019-05-29 20:14] novotnytom commented on #530
Thank you Andrzej,
it works ;)

Tomas

[2019-05-29 20:14] #530 closed, assigned to nobody

[2019-05-30 05:44] nilsnolde commented on #387
I think we can close this. From what you suggested, 1. and 2. are actually working. Is 3. really necessary?

What ya think @TimMcCauley ?

[2019-05-30 07:14] TimMcCauley commented on #387
Not really, should suffice, closing.

[2019-05-30 07:14] #387 closed, assigned to nilsnolde

[2019-05-31 07:21] #394 closed, assigned to nilsnolde

[2019-05-31 07:41] Liuxboy opened #531 "A NPE problem has occurred"
Hello,man, when I run this project from github with IDEA embed Tomcat, there is a NPE problem as follow, and in the line 38 of app.config: **"source": "openrouteservice/src/main/files/heidelberg.osm.gz"**,
this source file has not been packaged into the osr war, Where should this configuration item be placed relative to the war package??

[code]

[2019-05-31 13:55] nilsnolde commented on #427
Finally getting back to this..

Based on a review I altered the tagging scheme for Stuttgart and also applied it to Leizig:
- [Stuttgart](https://www.openstreetmap.org/relation/271888)
- [Leipzig](https://www.openstreetmap.org/relation/1462106)

Values are based on the [London low emission zone](https://www.openstreetmap.org/relation/9418858#map=14/51.5087/-0.1185).

I think the tagging is alright

[2019-06-03 09:57] Duke74 opened #532 "Routing issue on some hiking trails"
Hi,

I noticed that some hiking trails are not used when computing a route (using the hiking profile)
It's seems like it's a bug because the trails have highway=path or the higway=footway attribute so it should be working. (most of the trails are working good btw)

Here is 2 exemple where the issue is present :
https://maps.openrouteservice.org/directions?n1=52.191443&n2=-117.105696&n3=15&a=52.193

[2019-06-03 11:48] TimMcCauley commented on #532
Greetings @Duke74 - thank you. We will investigate, usually these situations can arise when seasonal access restricts the path but this seems not to be the case. @rabidllama any ideas?

Here a link to the [OSM way 71500717](https://www.openstreetmap.org/way/71500717#map=14/52.1797/-117.0969)

<img width="927" alt="Screenshot 2019-06-03 at 13 46 40" src="https://user-images.githubusercontent.com/10

[2019-06-03 13:33] aoles commented on #532
... and to the working one: [OSM way 519739830](https://www.openstreetmap.org/way/519739830#map=15/52.1921/-117.1099)

![image](https://user-images.githubusercontent.com/6545356/58805519-81672800-8614-11e9-9d70-9f6aff3c4b8f.png)

One difference is the highway type (`path` vs. `footway`), plus the working one has an explicit `foot` access tag.

[2019-06-03 13:41] Duke74 commented on #532
Yes I noticed this too but there is another trail in the area that is a `path` and have the `foot` attribute too but it's not taken by the routing system either.

https://www.openstreetmap.org/way/264966225

[2019-06-03 13:46] aoles commented on #532
Right, thanks for sharing your observation! This is really weird, as both the working and the non-working trail are tagged virtually the same.

[2019-06-03 14:28] aoles opened #533 "Problems with visualizing ORS GPX response"
Reported in [forum](https://ask.openrouteservice.org/t/gpx-endpoint-returns-erroneous-routes/591). Tried various viewers, all seem to have a problem to visualize the response.

![image](https://user-images.githubusercontent.com/6545356/58809536-6bf5fc00-861c-11e9-8d62-e3a7edfe4f2f.png)

[2019-06-03 14:55] aoles commented on #533
Minimal GPX response illustrating the issue:

`<gpx version="1.0" creator="openrouteservice"><metadata><name>openrouteservice directions</name><desc></desc><author><name>openrouteservice</name><email id="support" domain="openrouteservice.org"/><link href="https://openrouteservice.org/"><text>https://openrouteservice.org/</text><type>text/html</type></link></author><copyright author="openrouteservi

[2019-06-03 15:38] MichaelsJP commented on #533
@aoles this is interesting. I just tried it myself and it looks quite reproducible and therefore resolvable. It's present in dev and master as well. At least it's wrong the same way across branches hehe ;). So, let's see. Onto it :rocket:
![image](https://user-images.githubusercontent.com/22392104/58814609-54237580-8626-11e9-9229-2f9c69f7b599.png)

[2019-06-03 16:14] TimMcCauley commented on #453
bump @openrouteservice

[2019-06-04 07:07] sfendrich commented on #453
The implementation of the storages should not be too difficult as soon as we switched to GH 0.12. Storing a further forward and a backward speed with the same precision as for the "normal" speed would require additional 4bytes/edge.
However, to make sense of such a feature, we have to clarify many questions. Here are just a few to start a list:
* Is the elevation data sufficiently precise?
* Does

[2019-06-04 07:08] TimMcCauley commented on #527
I have tested the current setup readme with docker-compose and it works w/o any issues, therefore closing.

[2019-06-04 07:08] #527 closed, assigned to TimMcCauley

[2019-06-04 07:12] marq24 commented on #453
@sfendrich - we had implemented this previously (for bike profiles) - we removed it - the issue (but I guess that's a face2face discussion) is, that the data needs to be normalised [elevation gain/loss in a certain distance interval (that is matching the current elevation data grid)] in order to be usable...

[2019-06-04 07:15] TimMcCauley commented on #453
@sfendrich thank you, maybe I can shed some light on your questions:

It's as good as SRTM/GMTED gets, we might be able to obtain Tandem-X data one day which will increase the spatial resolution, both horizontally and vertically.

Graphhopper has worked on this in one of their recent updates: https://github.com/graphhopper/graphhopper/issues/1363

A similar situation as with narrow valleys: we can

[2019-06-04 11:49] lucamanga commented on #532
See this: https://ask.openrouteservice.org/t/strange-thing-with-waliking-directions/602

[2019-06-04 12:29] sfendrich opened #534 "Wrong coordinate order in error 2010 "Cannot find point""
#### Here's what I did

I sent a request containing coordinate [-19.8202962, 33.9852423] in order lon,lat causing a "Cannot find point" error.

---
#### Here's what I got

Coordinate order lat,lon (instead of lon,lat) in the error message.

`{"error":{"code":2010,"message":"Cannot find point 0: 33.9852423,-19.8202962; Cannot find point 1: 34.8194789,-19.7248894"},"info":{"engine":{"version":"5.0.1

[2019-06-04 14:41] MichaelsJP commented on #533
![image](https://user-images.githubusercontent.com/22392104/58888311-8052fb00-86e7-11e9-8baf-20d704032018.png)
Looks fixed. I'll leave it for a day or two, just in case :+1:

[2019-06-04 18:33] aoles commented on #533
Awesome, thanks a lot for the prompt fix!

[2019-06-05 10:16] nilsnolde commented on #534
Minor thing. Anyone who puts the next PR pls quickly fix this.

[2019-06-06 10:29] aoles opened #535 "External storage might not contain entries for all edge IDs"
`setEdgeValue()` methods in `*GraphStorage` classes contain a call to `ensureEdgesIndex()` which use `DataAccess.ensureCapacity()` to control the storage size which is not fixed during initialization. This approach might lead to missing storage entries for edges with high IDs unless `setEdgeValue()` is called for every edge by `processEdge()` method in `*GraphStorageBuilders`. Currently some build

[2019-06-06 15:00] aoles opened #536 "Remove obsolete storages"
[EmergencyVehicleGraphStorageBuilder](https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensions/storages/builders/EmergencyVehicleGraphStorageBuilder.java) and [AccessRestrictionsGraphStorageBuilder](https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/java/heigit/ors/routing/graphhopper/extensi

[2019-06-07 08:35] aoles commented on #534
As far as I can tell the error message originates from GH which natively operates on (lon, lat) coordinate order. There are probably multiple places where this behavior would need to be altered including similar error messages printing coordinates, doesn't look like a one-line fix to me.

[2019-06-07 08:40] nilsnolde commented on #534
I don't understand.. yes, there might be additional errors which need to be adjusted. can happen over time. right now, we can fix this one and that particular misbehavior should be a one-liner, right?

[2019-06-07 09:00] nilsnolde commented on #534
Had to look inside the code, but now I see why Graphhopper, the error message is inherited from their code. I'l give it a won't fix. Please open this issue in GH repo (if still present there) if it's worth it.

[2019-06-07 09:00] #534 closed, assigned to nobody

[2019-06-07 18:48] nilsnolde opened #538 "Different snapping behavior for matrix and directions?"
It seems like matrix endpoint might have a different snapping radius than the directions endpoint for input coordinates.

[2019-06-08 12:36] aoles opened #539 "One-way streets not resolved properly"
Reported in the [forum](https://ask.openrouteservice.org/t/directions-does-not-longer-respect-one-way-road/628).

In the following [example](http://maps.openrouteservice.org/directions?n1=49.018927&n2=1.754428&n3=17&a=49.019324,1.755527,49.019937,1.754637&b=0&c=0&k1=en-US&k2=km) roads tagged with `oneway: yes` such as [46721415](https://www.openstreetmap.org/way/46721415) are not respected.

![ima

[2019-06-09 17:17] aoles commented on #539
Thanks a lot @MichaelsJP for taking the lead on this one!

[2019-06-11 10:56] aoles commented on #532
I can confirm this issue with `development` branch on the latest OSM dataset.

[2019-06-11 11:17] rabidllama commented on #532
Think I have found the problem - it is not actually to do with ORS but the fact that none of the footpath ways are connected to the road. Therefore during the build process, the footpaths are not included as they make a subgraph network with only a handful of edges

[2019-06-11 12:22] rabidllama opened #542 "Identify the date of osm data used in a profile"
It would be useful to know when the data is from that is being used in the different profiles. This should be returned somewhere so that it can be used by services making use of the data and by the maps front end to display when the data for each profile is from.

Currently this information is already available in the GraphHopper objects via the `datareader.data.date` graph property, so it just ne

[2019-06-11 12:53] aoles commented on #532
Makes sense @rabidllama, thanks for chiming in!

@Duke74 I've made a quick [edit in OSM](https://www.openstreetmap.org/changeset/71140284) which should address some of the problems, feel free to correct any remaining ones.

[2019-06-11 12:53] #532 closed, assigned to nobody

[2019-06-12 13:08] ifle opened #545 "Error when running the project in intelij"
Hi,

I try to run the ORS in intelij on WIN 10 and have this error. What is missing?
[code]

[2019-06-12 14:24] rabidllama commented on #545
How are you trying to run it? If you intend to run it directly from within IntelliJ, using a Maven Run configuration with `clean package tomcat7:run` normally works.
Otherwise, you would need to build the WAR file and then drop it into your Tomcat webapps folder on your system.

[2019-06-12 16:36] ifle commented on #545
@rabidllama Thanks for your advice. Using a Maven Run works. But during loading I still have error
The matrix service return the "Matrix service is not ready yet" message.
[code]

How to run ORS under debugger?

[2019-06-13 07:18] ifle opened #546 "Driving time is not realistic"
Consider driving on the following route. The real driver time is ~8-10min. But ORS give 4 min.
https://maps.openrouteservice.org/directions?n1=32.097618&n2=34.88613&n3=16&a=32.093391,34.874425,32.103044,34.896312&b=0&c=0&k1=en-US&k2=km

For example the OSRM give 5 min
https://www.openstreetmap.org/directions?engine=fossgis_osrm_car&route=32.0930%2C34.8745%3B32.1031%2C34.8965

And Graphhoper give 7

[2019-06-13 09:08] rabidllama commented on #545
If running through intellij, you would debug it the same way as you debug any other program in intellij (using the Debug button to start the run configuration).
It could be a problem with the `app.config` (in `openrouteservice/src/main/resources`) that you are using, so make sure that any file paths in there point to actual files on your system.
Also, make sure that you delete the contents of the

[2019-06-13 09:14] rabidllama commented on #531
This seems to be the same as on #545

[2019-06-13 09:17] ifle commented on #545
@rabidllama When I run using the Debug button I have this error. How to run it with embed Tomcat?
Sorry for very basical questions. I'm from .NET world and my knowledge of java very limited.

[code]

I will try to check again the config file. Thanks

[2019-06-13 09:26] rabidllama commented on #545
I can't help much with the different IDE setups as I only use the one, but for the original problem - if you go into the app.config and then for the profiles for hgv and car, there is a small bit of text that if you remove it should build ok:
[code]
needs to be
[code]
(remove the `country_193;` part).

[2019-06-13 09:29] rabidllama commented on #531
I have just put a comment on #545 that should tell you how to fix the null pointer problem (a line in the app.config needs updating).
For the location of the osm file - I don't believe this gets packaged in the war, and so the path is to the location on the system running it. When running locally I tend to use the full path to the file to make things a bit easier to follow

[2019-06-13 09:32] rabidllama opened #547 "Current app.config.sample build fails due to calt setting"
In the `app.config.sample` file, for car and hgv profiles there is the line
[code]
However, the country borders extended storage is not turned on by default, and so the `country_193` part causes the build process to fail.

[2019-06-13 09:33] rabidllama commented on #547
see #531 and #545

[2019-06-13 09:49] ifle commented on #545
Thanks.

[2019-06-14 07:15] #533 closed, assigned to MichaelsJP

[2019-06-14 09:53] ifle opened #548 "Some SRTM elevation tiles are corrupt, e.g. srtm_44_06.tif"
Hi,

I tried to load the israel-and-palestine-latest.osm.bz2 file.
During load  I have following error. what am I doing wrong?
[code]

[2019-06-14 09:59] nilsnolde commented on #548
Hi, thanks for the report!

Yes, we heard that recently a few times. Also, in the western US there seem to be some tiles that are corrupt. We did contact the CGIAR team about it, but didn't receive an answer yet (they're downloaded from their WordPress site). We'll keep you updated.

Until then, please specify `gmted` as elevation provider in your `app.config`. It's not as accurate, but better tha

[2019-06-14 10:25] ifle commented on #548
Thanks for quick response. I've changed the elevation provider, but have another error.

[code]

default_params from app.config

[code]

[2019-06-14 10:39] aoles opened #550 "Failing builds with CALT"
It happens occasionally (so far observed only for planet OSM file) that the landmark preprocessing step for CALT fails with the following:

[code]

[2019-06-14 10:45] ifle commented on #548
Looks like disabling elevation is workaround

[2019-06-15 10:59] nilsnolde opened #552 "Use funiculars for foot-* and wheelchair"
Asked on the [forum](https://ask.openrouteservice.org/t/ors-tools-and-osm-in-qgis-for-an-accessibility-and-mobility-project/652/5).

They're fairly rare with [1500 ways worldwide](https://taginfo.openstreetmap.org/tags/railway=funicular) but could be really useful for `foot-*`  and even more for `wheelchair`. As far as I can see we don't include them yet.

Examples from Spain:
https://www.openstre

[2019-06-16 09:40] naalang opened #553 "incorrect elevation in a route at routeservice"
When i ask the elevation at a route, the routeservice gives me the elevation of the map and not the elevation of the road him self.
But if you have a tunnel or a bridge the elevation isn't correct.
A tunnel in a mountain the elevation gives maybe the top of the mountain in stead of the elevation of the road surface.
So it isn't possible to calculate the correct descent or ascent of the road.

Is i

[2019-06-17 06:45] TimMcCauley commented on #553
Hi @naalang - yes, this will be fixed in our next update. I will keep this open until then. Thanks and cheers, Tim

[2019-06-17 08:18] sfendrich commented on #538
Findings so far:
* The relevant configuration parameters are supposed to be `maximum_snapping_radius`(routing) and `maximum_search_radius`(matrix)
* In the live app.config for driving-car neither `maximum_snapping_radius` nor `maximum_search_radius` are set, so probably some default values are used.
*The default for `maximum_search_radius` is supposed to be 2000
* I couldn't find a default value f

[2019-06-17 08:31] sfendrich opened #554 "Rename inconsistently named parameters in the configuration"
Both app.config parameters `maximum_snapping_radius`(routing) and `maximum_search_radius`(matrix) serve the purpose to define the maximum distance from the graph a given coordinate may have in order to find a nearest point on the graph. Serving the same purpose, they should have the same name. `maximum_snapping_radius` is to be preferred as it states more clearly what the parameter is about.

[2019-06-17 10:49] HendrikLeuschner commented on #546
Real driving time is always a matter of when and who is driving. We currently do not support traffic information so that your driving time may differ due to high traffic. We are always working on optimizing the information processing to gain higher precision driving times. But subjective, singular driving times do not represent driving conditions throughout the day.
The bicycle profile can be enab

[2019-06-17 10:49] #546 closed, assigned to nobody

[2019-06-17 10:50] HendrikLeuschner commented on #542
I added this sort of feature concerning the md5 hash a year or so ago. I guess you can just use the same pipeline

[2019-06-17 10:57] HendrikLeuschner commented on #506
Hi avanc,
thanks for the well written issue. This is indeed an ORS bug. We are investigating this issue. It is most likely caused by how we calculate the time it takes to traverse certain edges.

[2019-06-17 14:13] HendrikLeuschner commented on #488
Currently in the core-alt-bike branch. Will probably be merged into dev as soon as core-alt is updated to the GH 0.12 code style

[2019-06-19 20:57] emilyeros opened #558 "Document bike routing profiles"
Hi, could you add documentation that explains the OSM tags you've incorporated for your cycling profiles? I was experimenting with this tool in QGIS but couldn't find info for the profiles I was after.

I'm especially interested in:
- cycling-safe (does this relate to the level of traffic stress, or other methodologies?)
- cycling-regular
- cycling-road

thanks!

![image](https://user-images.githu

[2019-06-20 05:49] TimMcCauley commented on #558
Hi Emily, please find more information here:

https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering

[2019-06-20 05:57] emilyeros commented on #558
Hi, I looked before filing this issue but the info isn't there. Biking profiles are empty:

![image](https://user-images.githubusercontent.com/9657971/59824284-8818bf00-92e5-11e9-9444-36d4f446834a.png)

[2019-06-20 06:30] TimMcCauley commented on #558
Oops, @marq24 are you able to add the missing profiles for @emilyeros ?

[2019-06-20 08:50] marq24 commented on #558
I'll will (have) to do that...

[2019-06-20 20:43] geovista116 opened #559 "Strange Isocrone generated"
Dear OpenRouteService,

We have some issues with isochrone generation with 3 points. Some colored fringes appear along street that no exist in OSM street layer.

See to believe... I have just attached some screenshots.

![isocrones_openrouteservice_v3](https://user-images.githubusercontent.com/51724737/59802832-6ac8fe00-92af-11e9-948c-d79e0a5e1926.png)

![isocrones_openrouteservice_v2](https://use

[2019-06-21 06:51] nilsnolde commented on #559
Well, in very isolated areas like that one with a terrible OSM coverage obviously, isochrones don't work that smoothly. There's just too little data points to make a proper polygon geometry.

Regarding feature ordering: that's your job in QGIS;) definitely nothing ORS can change.

[2019-06-21 06:51] #559 closed, assigned to nobody

[2019-06-21 16:26] geovista116 commented on #559
Hi Nils,

Thanks for your answer. You and your team are doing a very great job. It is a very useful tool for peruvian firemen in order to understand better the coverage service and to plan where to build new firestation.

Sorry to insist but I think it is important you could check what's happening in this specific sector:  http://bit.ly/2FpXoHa  because the algorithm seems to use street that do no

[2019-06-22 11:09] nilsnolde commented on #559
I see what you mean, but still, it's hard for us to respond or even act on such things, as I have no idea what you did to get there. There should be some way there crossing the river. Please have a look on https://openstreetmap.org.

If there is no road, then can you pls give us the exact request producing this? It's in QGIS Log Messages.

[2019-06-24 09:59] arjobsen opened #560 "Matrix request returns wrong snapped sources"
#### Here's what I did
Requesting the duration matrix from
https:// api.openrouteservice.org /v2/matrix/driving-car
with
{"locations":[[5,52],[6,52],[7,52],[8,52],[9,52]],"destinations":[2,3,4],"sources":[0,1]}

---
#### Here's what I got
[code]
The snapped destinations are correct. But the snapped sources are a copy of the destinations.

---
#### Here's what I was expecting
Response with only 2 s

[2019-06-24 10:07] arjobsen commented on #560
This also occurs on my local setup with version `'engine': {'version': '5.0.1', 'build_date': '2019-06-24T06:16:58Z'}`

[2019-06-25 07:57] rabidllama commented on #560
Hi, thanks for that, the fix will be in the next release. Until then, you can use the older version of the api and that will return the correct items:
`https://api.openrouteservice.org/matrix?profile=driving-car`
with
[code]

[2019-06-27 11:07] grischard opened #562 "psv tags ignored"
#### Here's what I did

https://maps.openrouteservice.org/directions?n1=49.6092&n2=6.124652&n3=17&a=49.609577,6.128503,49.610264,6.123964&b=4c&c=0&k1=en-US&k2=km
---
#### Here's what I got

Routing over Marie-Thérèse, Joseph II and back over Monterey

---
#### Here's what I was expecting

Turn right onto Boulevard Royal (`oneway:psv = no`) then turn left onto Avenue Monterey (`access=no` with `psv

[2019-07-01 10:58] HendrikLeuschner commented on #552
imho this should not be considered as long as we don't have a proper framework for public transport. I think funiculars could be categorized alongside cable cars, two-stop-railways, ferries. It's public transport. Already the integration of ferries in our current algos is problematic, as it is multi-modal while we have no support for multi-modal conditions such as timetables, capacities etc. We sh

[2019-07-01 11:09] HendrikLeuschner commented on #315
Part of #385

[2019-07-02 07:09] rabidllama commented on #548
The SRTM elevation data should now be working again

[2019-07-02 09:47] ifle commented on #548
Thanks

[2019-07-02 09:51] nilsnolde commented on #562
Yes, you're right. In the end those HGV sub-profiles are unfortunately fairly poorly done.

We're migrating our code and at this point it would be futile to try and patch those profiles. We'll be looking at supporting a subset after the migration, but that's more towards end of the year.

[2019-07-03 07:30] #548 closed, assigned to nobody

[2019-07-05 13:19] rabidllama opened #564 "app.config.sample has invalid options"
Within the app.config.sample file, the weightings for various items are separated  using the pipe symbol:
[code]
It seems that these items must be separated by commas, else the second set of landmarks are not built.

[2019-07-08 15:55] HendrikLeuschner opened #566 "Investigate stall on demand for CoreALT"
Graphhopper has implemented a CH dijkstra with Stall on demand. Claimed 1.5x speed-up. Might be worth checking out whether feasible for corealt.

[2019-07-10 08:55] MichaelsJP commented on #539
The ways with the IDs `46721420` (Rue Pierre Curie) and `46721415` (Rue Léon Andrieux) were added the tag `oneway=yes` on the 5th of June 2019.
I'll wait the next global Graph and test ist again. Maybe the one-way routes were not present in the global file used for the current graph.

[2019-07-11 11:53] marq24 commented on #558
just to double check - it's "this" document that I need to update - correct?
https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering

or will this be generated from somewhere else?

[2019-07-11 13:53] marq24 commented on #558
ok - sorry that this took that long...
https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering#cycling-regular-bike---cycling-mountain-cycling-road-cycling-electric

[2019-07-12 09:01] rabidllama commented on #174
Bike has been documented on the wiki now, so I will close this.

https://github.com/GIScience/openrouteservice/issues/558

https://github.com/GIScience/openrouteservice/wiki/Tag-Filtering#cycling-regular-bike---cycling-mountain-cycling-road-cycling-electric