[2021-04-15 15:38] aoles commented on #905
A quick solution to circumvent the issue might be setting `"threads": 1` in core preparations for the given profile (car in your case @kgrimsby). We are working on a proper fix.

[2021-04-15 21:21] kgrimsby commented on #905
I haven't tried with smaller datasets.

I will try and get back to you.

What is latest version without this bug?

Thanks for the quick replies!

[2021-04-15 21:27] aoles commented on #905
Thanks for your feedback! I was able to reproduce the problem on the OSM Berlin dataset, haven't tried smaller. This looks like some sort of a threading issue.

We haven't identified nor fixed the bug yet.

[2021-04-15 21:47] kgrimsby commented on #905
I can confirm that setting "threads": 1 in core preparations on my active profile seemed to fix the issue. At least now I get the familiar output from graphhopper!

[code]

[2021-04-16 13:50] aoles commented on #905
The bugfix is now available in https://github.com/GIScience/openrouteservice/commit/2678e5feb5110da44b582cf9aab5a1b9ae3afeb0. It will be merged into master and released as soon as some additional testing has been completed.

For the record: The underlying problem was a concurrency issue caused by the fact that the same instance of `TurnRestrictionsCoreEdgeFilter` has been used across different wei

[2021-04-19 11:53] #806 closed, assigned to takb

[2021-04-19 12:12] #744 closed, assigned to koebi

[2021-04-21 06:51] #882 closed, assigned to koebi

[2021-04-21 09:17] #905 closed, assigned to aoles

[2021-04-21 13:55] TheGreatRefrigerator opened #909 "hiking profile still uses a lot of cycleways"
This is a feedback from a user that generated a hiking trip.

#### Here's what I did

https://classic-maps.openrouteservice.org/directions?n1=48.455734&n2=10.888309&n3=12&a=49.27978,9.689179,48.152243,11.544326&b=2b&c=0&k1=en-US&k2=km

---
#### Here's what I got

Some longer cycleway segments.

---
#### Here's what I was expecting

Less Cycleways/ less asphalted surfaces, which is for hiking not p

[2021-04-22 07:24] slautenb opened #910 "Docker installation guide uses outdated request form in "checking" section"
#### Here's what I did

After setting up a docker based local ORS instance checked if everything went fine.

Looked at https://github.com/GIScience/openrouteservice/blob/master/docker/README.md and used the request in the checking section:
http://localhost:8080/ors/v2/directions?profile=foot-walking&start=8.676581,49.418204&end=8.692803,49.409465
---
#### Here's what I got

{"error":{"code":2001,"

[2021-04-23 11:03] #910 closed, assigned to nobody

[2021-04-23 11:22] #899 closed, assigned to takb

[2021-04-25 15:54] AvdylKrasniqi opened #913 "Foot-walking not working on localhost."
Hi there,
Strangely, profile "`foot-walking`" doesn't return info on localhost while it does on official OSR API.
I also tried profile "driving-car" both on localhost and official API and it DOES return correct infos on the same entered coordinates.

The url:
http://localhost:8080/ors/v2/directions/foot-walking?start=21.166191,42.667542&end=21.164099,42.667530
returns me:
`{"error":{"code":2099,"m

[2021-04-26 05:47] takb commented on #913
This error occurs because the profile is not activated in the `app.config` file. I assume you are using our Dockerfile, which is set up a bit counterintuitively to create a modified `app.config` based on the `app.config.sample` file. If you followed the instructions in the [README](https://github.com/GIScience/openrouteservice/blob/master/docker/README.md) you should see a directory named `conf` i

[2021-04-26 13:43] TheGreatRefrigerator opened #914 "Segments of 0 distance not handled properly for hgv profile"
#### Here's what I did

See https://ask.openrouteservice.org/t/what-does-type-stand-for-in-segments-output/2701/17

`https://api.openrouteservice.org/v2/directions/driving-car/geojson`
[code]
---
#### Here's what I got

[code]
The geometry only contains one single point and values for extra information are empty (which should be filled with an no extra info entry similar to https://github.com/GISc

[2021-04-26 20:19] AvdylKrasniqi commented on #913
Oh, thanks for making it clear to me! Works like a charm!

[2021-04-26 20:19] #913 closed, assigned to nobody

[2021-04-28 18:06] MichaelsJP opened #918 "Adapt http://repo.heigit.org/artifactory/main to SSL"
Maven is expecting a SSL secured link for pom dependencies from Version 3.8.1
https://maven.apache.org/docs/3.8.1/release-notes.html

http://repo.heigit.org/artifactory/main is therefore failing with the new version of maven for openrouteservice and for openrouteservice-api-tests.

Fix:
Change http://repo.heigit.org/artifactory/main to https://repo.heigit.org/artifactory/main

[2021-04-29 06:56] MichaelsJP commented on #918
#919

[2021-04-29 13:48] #918 closed, assigned to MichaelsJP

[2021-04-30 06:42] Nekonato opened #920 "Affichage de la trace"
Bonjour.
CONCERNE https://classic-maps.openrouteservice.org/
Depuis ce matin,
- La recherche d'adresse ne fonctionne pas.
- Il est possible placer des points sur la carte mais l'itinéraire qui les relie n'est pas affiché.  Seuls s'affichent les points de passage et le fond de carte.
- Ces dysfonctionnements affectent également les traces sauvegardées quand elles sont uploadées.
Voici ce qui est pa

[2021-04-30 15:04] takb commented on #914
As for the indexing part, the issue should have been fixed with release 6.4.1, it's just that our server is still running v6.3.6 of our code for the HGV profile - locally I get the expected segments step with `[0,0]`.
As for the extra info part, it's going to be a bit more complicated and should be tackled together with #636. Will get back to it after @MichaelsJP has had time to look at that one.

[2021-04-30 16:22] Nekonato commented on #920
Bonjour.
Le problème est, semble-t-il résolu.
Merci.
Bertrand.

[2021-05-03 06:23] #920 closed, assigned to nobody

[2021-05-03 15:55] koebi opened #922 "Better error message for 2010: Could not find point within 350 m."
#### Here's what I noted
A huge load of questions in the ask forum and some issues on github all relate to the error message for ROUTE_NOT_FOUND in the case where no routable point was within (the standard) 350 meters of a given point the user wanted to use:
`{"error":{"code":2010,"message":"Could not find point 10: -112.6955790 41.4618090 within a radius of 350.0 meters."}}`

#### Here's what I t

[2021-05-03 16:26] koebi opened #923 "Simplify usage of radiuses-Parameter"
#### Here's what I did
I wanted to find a route using multiple waypoints and set the search radiuses for finding routable points higher than the default 350m, but the same for all my waypoints.

---
#### Here's what I got
I had to input individual radiuses for each point, which was tedious.

---
#### Here's what I was expecting
I was hoping for the openrouteservice to be a touch user-friendlier ;)

[2021-05-04 08:44] aoles commented on #909
All but one segments marked as way type: cycleway in the provided example are accessible to pedestrians. This is evident from the tagging, which additionally to `highway=cycleway` includes either `foot=designated` or `foot=yes`, such as ways [5212511](https://www.openstreetmap.org/way/5212511) or [23860341](https://www.openstreetmap.org/way/23860341), respectively. For an overview see also https:/

[2021-05-04 08:48] aoles commented on #890
This has been an OSM data issue caused by outdated ORS graphs. The problem has resolved itself once ORS servers have been updated.

[2021-05-04 08:48] #890 closed, assigned to nobody

[2021-05-05 12:45] TheGreatRefrigerator opened #925 "no correct graph_date for routing requests"
#### Here's what I did

A request to any routing endpoint

---
#### Here's what I got

metadata graph date of `"1970-01-01T00:00:00Z"`

---
#### Here's what I was expecting

The actual date the graph was built

---
#### Here's what I think could be improved

looking at isochrones an matrix, the date should maybe be imported from
`graphHopper.getGraphHopperStorage().getProperties().get("datareader.

[2021-05-05 14:40] koebi commented on #925
This is where the date is read from the graphhopper-storage and set in the response:

https://github.com/GIScience/openrouteservice/blob/1b76cebdfd4d71a0018cc557239310d0fa9e23fe/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/ORSGraphHopper.java#L381-L385

This is prioritising the date of the data over the date of the import.

This is where the date is read from the in

[2021-05-05 15:03] koebi commented on #925
Since the date is returned in the `graph_date`-field, whose documentation states it is "The date that the graph data was last updated", the `datareader.import.date` should be prioritized.

Another metadata field containing the data date could be added, if the date exists.

[2021-05-05 15:05] aoles opened #926 "Robustify default routing algorithm selection logic"
Make sure A* with beeline approximation rather than plain bidir Dijkstra is used as the fallback routing algorithm. This was not always the case before https://github.com/GIScience/openrouteservice/pull/915/commits/7f762f7c5730bb623c121007173a38641a941c13#. For example, without ALT enabled Dijkstra was used when queried with avoid polygons.

[2021-05-06 05:26] #925 closed, assigned to nobody

[2021-05-06 10:56] aoles opened #928 "Disable turn restrictions for certain CALT weightings"
After enabling turn restrictions with CALT routing some performance issues have been observed, mostly for `preference=shortest`. As a short-term remedy we decided to disable turn restrictions for all profiles and weightings but car and hgv with `preference=recommended`. In order to do so a solution for disabling turn restrictions on a per-weighting basis needs to be implemented, preferably through

[2021-05-06 20:46] aoles opened #930 "Broken parameter to set active landmark count for CALT"
Specifying the config file parameter `active_landmarks` for CALT has no effect, the routing always falls back to use the default active landmark count of 4.

[2021-05-07 07:51] TheGreatRefrigerator commented on #909
This was more a question of preference for hikers.
Even if it is allowed for "foot-hiking" to use cycleways it would be rather preferred to use other ways.
Similar to how bicycles are allowed on some roads, but recommended usually does not take them, even if they are the fastest and straight forward connection.
That's why i suggested to increase the penalty for `cycleways`

[2021-05-07 08:31] #930 closed, assigned to aoles

[2021-05-07 10:32] aoles opened #932 "Improve core preparation performance"
Core preparation time has increased after extending the set of core edge filters. In particular `TimeDependentCoreEdgeFilter` seems to introduce considerable slowdown.

This performance penalty seems to be caused by the fact that during CH witness path searches all individual filters need to be queried over and over again. In order to address this issue implement a mechanism of caching core *edges

[2021-05-07 15:49] #926 closed, assigned to aoles

[2021-05-07 16:44] rtroilo opened #933 "Package mismatch "org.heigit.ors.api.response.routing.BoundingBox""
The declared package "org.heigit.ors.api.responses.routing.BoundingBox" does not match the expected package "org.heigit.ors.api.responses.routing.boundingbox" in the class /openrouteservice/src/test/java/org/heigit/ors/api/responses/routing/boundingbox/BoundingBoxFactoryTest.java

[2021-05-10 05:24] #928 closed, assigned to aoles

[2021-05-10 06:03] #933 closed, assigned to nobody

[2021-05-10 22:52] aoles opened #939 "OSM tags zone:maxspeed and zone:traffic not taken into account"
For some of the profiles speed limit values from JSON files under [src/main/resources/resources/services/routing/speed_limits](https://github.com/GIScience/openrouteservice/tree/master/openrouteservice/src/main/resources/resources/services/routing/speed_limits) are not taken into account. In particular, this causes OSM tags `zone:maxspeed` and `zone:traffic` not being taken into account by the car

[2021-05-10 23:30] aoles opened #940 "CALT shortest preparation fails for ways tagged with `maxspeed=0`"
OSM ways tagged with `maxspeed=0` result in the following error during CALT `shortest` preparation.

[code]

This problem is triggered when attempting to compute travel time for a shortcut containing the offending edge.

`fastest` is not affected because such ways are discarded by https://github.com/GIScience/openrouteservice/blob/6a4cd17f5c80555b17b3f34b6eb1398909202547/openrouteservice/src/main/

[2021-05-11 12:47] koebi commented on #940
According to [taginfo](https://taginfo.openstreetmap.org/tags/maxspeed=0), there's only 102 ways worldwide tagged with this.
In germany, there are 9 examples - one is a blocked street (for which this makes sense), four of them are rails, so not applicable to routing anyways, one is "access=private" and the other three were all tagged by the same user and (to me) look like typos.

All this is to sa

[2021-05-12 05:56] #940 closed, assigned to aoles

[2021-05-12 08:02] #939 closed, assigned to aoles

[2021-05-12 09:34] aoles opened #944 "Make sure low speed values are not encoded as 0"
Make sure stored speed values are non-zero in order to void errors when computing edge travel time like #939.

For example, there are over 700+ ways tagged with [`maxspeed = 1`](https://taginfo.openstreetmap.org/tags/maxspeed=1) such as [a section of Speyerer Straße](https://www.openstreetmap.org/way/753581781).

[2021-05-13 22:41] aoles commented on #944
Vehicle flag encoders set edge speeds by [`AbstractFlagEncoder.setSpeed`](https://github.com/GIScience/graphhopper/blob/ors_0.13/core/src/main/java/com/graphhopper/routing/util/AbstractFlagEncoder.java#L556-L570) method which has the side effect of disabling access to edges with low speed values:

[code]

There are, however, two problems with this approach:
1. Edges for which the computed speed fa

[2021-05-14 05:41] #944 closed, assigned to aoles

[2021-05-18 07:45] rtroilo opened #946 "Appling Weightings from request parameter fail on a german local enviroment."
Floating point weights are converted to `String` in the process of setting profile parameter.  For the conversion `String.format("%.2f",..)` is used which depends on the default `Local` of the environment.
e.g. on a German local environment the decimal separator is "," instead of "." and so the converted string of e.g. "`0.5`" becomes "`0,5`" which results in a "NumberFormatException" if later thi

[2021-05-18 09:29] #946 closed, assigned to nobody

[2021-05-19 07:33] sfendrich opened #949 "Unintuitive navigation instructions on highways"
See ask forum: https://ask.openrouteservice.org/t/navigation-instructions-for-highways/2805

---
Original message:
---

Is there a way to distinguish instructions on highways and multi-lane roads? If a route runs along a highway for quite some time, the instructions to stay on the highway vary between “Continue straight onto A7” and “Keep left onto A7”. I find especially the second one confusing,

[2021-05-20 14:29] koebi commented on #165
Apiary isn't used and this is therefore not an issue anymore.

[2021-05-20 14:29] #165 closed, assigned to TimMcCauley

[2021-05-20 15:00] koebi commented on #607
Docs are updated and adding a language shouldn't be an issue anymore - given #901, we'll run into any coming up anyways.

[2021-05-20 15:00] #607 closed, assigned to nobody

[2021-05-21 10:37] #922 closed, assigned to koebi

[2021-05-24 15:38] aoles commented on #622
Yet [another example](https://maps.openrouteservice.org/#/directions/Schlo%C3%9Fstra%C3%9Fe,Stuttgart,Germany/Willi-Bleicher-Stra%C3%9Fe,Stuttgart,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,78,0,232,4,96,29,128,86,0,24,3,102,188,252,6,96,116,210,2,102,32,26,0,88,0,228,37,252,229,138,55,202,56,173,98,1,184,137,146,235,50,169,74,13,200,245,106,71,183,62,2,84,242,

[2021-05-25 07:43] #923 closed, assigned to koebi

[2021-05-25 23:51] aoles opened #955 "Maximum speed limit not compatible with priority type weightings"
#### Here's what I did
Queried for a recommended HGV route with and without maximum speed value set.

---
#### Here's what I got
Default route without any additional settings:
https://classic-maps.openrouteservice.org/directions?n1=48.276382&n2=11.577632&n3=15&a=48.259512,11.557102,48.292616,11.573326&b=4a&c=0&k1=en-US&k2=km
![image](https://user-images.githubusercontent.com/6545356/119579315-7045

[2021-05-26 07:57] aoles opened #956 "Enable time-dependent speeds for any weighting"
Time-dependent speed needs to be taken into account not only for weightings which depend on speed such as `fastest` but for any weighting in order to compute edge travel time. Currently time-dependent speed is supported only by `TimeDependentFastestWeighting`. In particular, `OptimizedPriorityWeighting` and `ShortestWeighting` do not consider time dependent speed when calculating route duration wh

[2021-05-27 23:18] krrhodes opened #961 "[3099] Unable to build an isochrone map."
#### Here's what I did

I am trying to generate several isochrones with ORS.
`body = {"locations":[[36.110422, -79.895855]],"range":[300,200]}
response = requests.post('http://localhost:8080/ors/v2/isochrones/driving-car', json=body, headers={'Authorization':APIKEY_ORS})
print(response.status_code, response.reason)
print(response.text)`

One location is at 36.110422, -79.895855, even when creating

[2021-05-28 09:10] aoles commented on #961
@HendrikLeuschner maybe related to https://github.com/GIScience/openrouteservice/pull/957?

[2021-05-28 10:08] HendrikLeuschner commented on #961
Which version of the code are you using? Could you rerun with the current master branch? It has a fix that is potentially relevant, but it is not yet in a release.

[2021-05-28 10:20] nilsnolde commented on #961
unless you're on an antarctic expedition, small hint: `[36.110422, -79.895855]` ;)

[2021-05-28 10:22] nilsnolde commented on #961
and don't worry, that happens to _everyone_. lat/lon vs lon/lat is one of the most controversial geo things it seems

[2021-05-28 12:56] krrhodes commented on #961
I have tried using both orders of lat/long and long/lat and both produce the same error unfortunately.

[2021-05-28 12:57] krrhodes commented on #961
@HendrikLeuschner I have been using the master branch, I will reclone and see if anything changes

[2021-05-28 13:09] krrhodes commented on #961
Update: after recloning the repo's current master branch I still face the same issue

[2021-05-31 14:52] koebi opened #963 "Roundabout bearings not calculated for exit+entrance, just entrance."
This was initially reported in [the ask-forum](https://ask.openrouteservice.org/t/possible-bug-in-bearing-before-and-bearing-after-after-roundabouts/2811).

#### Here's what I did
Request a route going over some roundabouts with the following body:
[code]
Route can be seen [here](https://bit.ly/3eTxi1A)

---
#### Here's what I got
The following steps:
[code]
---
#### Here's what I was expecting
Th

[2021-05-31 14:58] koebi opened #964 "Maneuver corresponding to instruction type `Goal` has no location and wrong bearings"
For an example, look at #963.
This is due to
https://github.com/GIScience/openrouteservice/blob/90e3f171a26f532576e08469b37170c5e78fe18/openrouteservice/src/main/java/org/heigit/ors/routing/RouteResultBuilder.java#L340-L342
returning directly if the next segment has no points, as is the case for the goal.

[2021-06-01 18:44] Marcoshsc opened #966 "[6099] Unable to compute a distance/duration matrix."
Hello guys, I use the ORS API services in multiple applications. Suddenly the matrix API stopped working for the foot-walking profiles. It works normally for the other profiles, but the foot-walking always return 6099 for the coordinates I am testing. Even in the ORS api playground, turning the path variable from driving-car to foot-walking makes the response to have only 0 distance/duration resul

[2021-06-02 16:23] koebi commented on #961
Hey,

I tried reproducing this, here's what I came up with:
This is the request as posted above. ORS uses [lon, lat], so this point is somewhere in the middle of antarctica - as expected, no isochrone map can be built, though I agree that the error message could be better.
![Screenshot_2021-06-02 investigate 961 - isochrone map - Jupyter Notebook(2)](https://user-images.githubusercontent.com/46929

[2021-06-07 09:24] 1papaya opened #968 "Graph date sometimes returns 1970-01-01T00:00:00Z"
#### Here's what I did

- Build a `foot-hiking` route on ors.org/maps
- Download ORS JSON

---
#### Here's what I got

The output ORS JSON is huge so I chopped a bit off of it but kept most of the relevant bits for here:
[code]

As you can see the rawData>engine>graph_date is at 1970 (UNIX Epoch). I have tried to reproduce this but so far each other request I try graph date is a realistic date, bu

[2021-06-07 09:42] aoles commented on #968
Is this still happening with recent requests? The issue was supposed to be fixed by https://github.com/GIScience/openrouteservice/pull/927  which has been released 3 weeks ago.

[2021-06-07 09:54] 1papaya commented on #968
@aoles The JSON data I posted is just a hair more recent than three weeks (20 days, Tue 18 May 2021 12∶18∶07 AM WEST). However it could be related to the same issue and have been fixed already

[2021-06-07 10:11] aoles commented on #968
Thanks @geodavey for the update! The fixed version 6.5.0 was released on May 17th, however, the version on the servers have been updated only a few days later. So I assume your request was still running against the old code. I believe the issue has been already fixed so I will close it for now. If there are still any sort of problems feel free to report them here and we will reopen the issue. Chee

[2021-06-07 10:11] #968 closed, assigned to nobody

[2021-06-07 19:02] Marcoshsc commented on #966
It is working now, after a week. Thank you!

[2021-06-07 19:02] #966 closed, assigned to nobody

[2021-06-08 07:40] #670 closed, assigned to koebi

[2021-06-08 08:06] #955 closed, assigned to aoles

[2021-06-08 08:34] #956 closed, assigned to aoles

[2021-06-08 15:45] krrhodes commented on #961
@koebi
![image](https://user-images.githubusercontent.com/48464356/121216505-f0ecff00-c84e-11eb-8c9c-98d5c3faea82.png) It still seems to not be working for me, this is on my own instance of ORS. Is there a branch different from master that I should try? The only change in my app.config is the maximum number of locations allowed.

Edit: still does not work with default max locations.

[2021-06-08 16:10] krrhodes commented on #961
Update: It seems to work using the public instance of ORS, however for my purpose I need to eventually plot several isochrones on one map so I must use my own instance. It seems to be failing when I try this (both with the master and release 6.5 branches).
![image](https://user-images.githubusercontent.com/48464356/121220216-6ad2b780-c852-11eb-83a1-a5a3b24dccf5.png) There doesn't seem to be anythi

[2021-06-09 08:52] HendrikLeuschner commented on #961
Which pbf are you using to build this?

[2021-06-09 19:19] krrhodes commented on #961
@HendrikLeuschner I am using one of North Carolina from this source https://download.geofabrik.de/north-america/us/north-carolina.html

[2021-06-10 11:43] koebi commented on #961
Two things that strikes me as odd are the number of edges (~20k) and nodes (~15k) as well as the time it took to build (~78s).
A `.pbf`-file for North Carolina should have a few million nodes and edges, and take a lot longer to build.

Could you share your `app.config` as well as the full log output?
Are you building via docker, `mvn` from cli or some IDE?

[2021-06-10 11:54] koebi commented on #961
In fact, the numbers of edges and nodes are exactly the same as the ones that the included `heidelberg.osm`-file yields:
[code]

[2021-06-10 12:09] koebi commented on #961
This is the request running against my local instance that just finished building NC (after ~18 mins):
![Screenshot_2021-06-10 investigate 961 - isochrone map - Jupyter Notebook](https://user-images.githubusercontent.com/4692974/121522454-68f52980-c9f5-11eb-9085-414e52fde5f1.png)

That seems to work like it should, compared to the public api :)

[2021-06-12 08:49] TheGreatRefrigerator commented on #972
This is not an issue with the frontend but the openrouteservice backend.
Can maybe be mitigated, when setting a low smoothing factor?

[2021-06-16 07:54] HendrikLeuschner commented on #972
This is a result of each isoline being calculated as a single Polygon rather than a MultiPolygon or a polygon with holes. So you are right, the inner areas are included because the surrounding areas are, even if they are not within the time limit.
This is the way the service is at the moment. Adding holes to polygons takes a lot of fine adjustments and performance optimizations, I have tried befor

[2021-06-16 07:54] #972 closed, assigned to nobody

[2021-06-16 12:12] koebi commented on #961
Especially when using docker, it can definitely be a bit tricky to see what data is actually being used.
If you want to make sure that the file mentioned in the logs
[code]
is actually used, I think the best way is to remove your `graphs`-folder (or whatever docker is configured to use) beforehand.

I think this should resolve the issue, feel free to reopen and comment if there are more problems :

[2021-06-16 12:12] #961 closed, assigned to koebi, HendrikLeuschner

[2021-06-17 00:53] joshinils opened #974 "Separately mapped cycleways and paths with bicycle=designated get ignored for routing, even when the road has `bicycle=use_sidepath` and `cycleway=separate`"
#### Here's what I did
[This route](https://maps.openrouteservice.org/#/directions/Hermsdorfer%20Damm%2FBundesfernstra%C3%9Fe,Berlin,Germany/Eschachstra%C3%9Fe,Berlin,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,70,1,152,3,160,9,128,14,67,8,29,159,1,57,72,21,144,198,1,96,1,157,128,216,1,164,116,226,93,217,23,109,90,161,124,229,25,211,173,64,55,17,50,229,91,151,23

[2021-06-17 14:27] HendrikLeuschner opened #975 "originalEdge not updated in CoreALT and CoreDijkstra iteration"
From `CoreDijkstra`, the iteration within `fillEdges`:
[code]

The `orignalEdge` is set once for initialization, but not updated if a better path to the node is found. This might lead to problems with the weighting calculation later on:
[code]
Probably just updating the original edge will help. This might be hard to detect as a bug, as generally the update happens rarely. Might explain some turn r

[2021-06-22 05:04] matkoniecz opened #977 "Consider editing repository setings to remove "Packages" section"
"Packages No packages published" is displayed right now, fortunately this pointless section can be removed.

Edit repo page config to remove it (cog next to the description).

I am not making a PR as it is defined in proprietary github settings, not in a git repository - and I have no rights to modify repo settings.

![Peek 2020-10-25 09-10](https://user-images.githubusercontent.com/899988/9710201

[2021-06-22 05:08] matkoniecz opened #978 "E: Package 'tomcat8' has no installation candidate"
#### Here's what I did
`sudo apt-get install tomcat8` - one of steps required by nondocker install at https://github.com/GIScience/openrouteservice#installation

---
#### Here's what I got
[code]

#### Here's what I was expecting
Working installation instructions.

---
#### Here's what I think could be improved
Updating installation instructions.

[2021-06-22 11:43] TheGreatRefrigerator opened #979 "confusing error message for point not found in route with radiuses:[-1,..]"
#### Here's what I did

`https://api.openrouteservice.org/v2/directions/driving-car/geojson`
`{"coordinates":[[-5.723877,49.41461],[-5.614013671,49.18888421]],"radiuses":[-1,350]}`

---

#### Here's what I got

[code]

---
#### Here's what I was expecting

Something in the directon of `"Could not find opint 0: .... within the maximum possible search radius of 2500(?) meters"`
As `-1.0` meters is n

[2021-06-23 09:15] takb commented on #977
Thx for pointing this out!

[2021-06-23 09:15] #977 closed, assigned to nobody

[2021-06-23 09:23] aoles commented on #974
Thank you for reporting this!

This is an interesting example, as there seem to be some other weird things going on. For example, once the profile is switched from road bike to regular cycling the route changes to the cycle path but on the opposite side of road. This is unexpected too because these cycle paths are marked as one-way, even though the specific tags relating to this differ between the

[2021-06-23 13:07] koebi commented on #978
Installation instructions in the wiki are updated.

[2021-06-23 14:18] matkoniecz commented on #978
in https://github.com/GIScience/openrouteservice/wiki/Building-from-Source/_compare/39e82a69ae4f49924e189b5880d5efb993ef3928...ddb4d51f8357cff4f105c99d96a53f49f861b95a

[2021-06-24 12:08] matkoniecz opened #981 ""Or simply sign up for an API key" would benefit from better link target - to sign up page"
#### Here's what I did
Went through the readme as a basic user (  https://github.com/GIScience/openrouteservice#openrouteservice ), and cliked on link in

---
#### Here's what I got
https://openrouteservice.org/

#### Here's what I was expecting
https://openrouteservice.org/dev/#/signup

---
#### Here's what I think could be improved

Change link target

[2021-06-24 12:20] matkoniecz opened #983 "Spiegel comic linked in Dieselgate example has linkrotted"
#### Here's what I did
Signed up for an account and opened https://openrouteservice.org/dieselgate-avoid-berlin-banned-diesel-streets/

---
#### Here's what I got
https://www.spiegel.de/images/image-1349732-galleryV9-ikww-1349732.jpg is a dead link
---
#### Here's what I was expecting
no dead links

---
#### Here's what I think could be improved
remove or replace by an archive version

http://web.

[2021-06-24 12:21] matkoniecz opened #984 "https://openrouteservice.org/dieselgate-avoid-berlin-banned-diesel-streets/ has dead elements - maps.heigit.org/openmapsurfer/tiles/roads/webmercator for start"
#### Here's what I did
Signed up for an account and opened https://openrouteservice.org/dieselgate-avoid-berlin-banned-diesel-streets/
---
#### Here's what I got
map in an example is gray, console shows that https://maps.heigit.org/openmapsurfer/tiles/roads/webmercator/14/8800/5372.png and similar fail with 410 Gone error

---
#### Here's what I was expecting
A working example

---
#### Here's wha

[2021-06-24 12:23] matkoniecz commented on #983
replaced by https://github.com/GIScience/openrouteservice-examples/issues/24

[2021-06-24 12:23] #983 closed, assigned to nobody

[2021-06-24 12:23] matkoniecz commented on #984
replaced by https://github.com/GIScience/openrouteservice-examples/issues/25

[2021-06-24 12:23] #984 closed, assigned to nobody

[2021-06-24 13:59] aoles opened #985 "Improve snapping radius implementation"
In the current implementation of snapping radius the limit is applied on top of the result returned by the `findClosest` method of `LocationIndex` class. Instead, investigate options to pass the radius directly to the lookup query in order to avoid searching an unnecessarily large area, and to be able to expand the search radius on a per-query basis (basically, override the `location_index_search_

[2021-06-28 13:36] joshinils commented on #974
The oneway tagging is different since one is a (pure?) cycleway which only bicycles are allowed to use (hence `oneway=yes`) and the other one is a shared path, which by foot you could use in the opposite direction (hence `oneway:bicycle=yes`)

[2021-06-29 10:33] #981 closed, assigned to nobody

[2021-06-29 16:15] matkoniecz opened #988 "wiki "Building-from-Source" refers to EOL Ubuntu 16.04"
#### Here's what I did

Visited https://endoflife.software/operating-systems/linux/ubuntu and https://github.com/GIScience/openrouteservice/wiki/Building-from-Source

#### Here's what I got

#### Here's what I was expecting
Install instructions for Ubuntu 20.04

#### Here's what I think could be improved
Update instructions.

Note: I checked wiki due to #978

[2021-07-01 08:14] sfendrich opened #990 "Refactor GenericHandler and ProfileType"
GenericHandler and ProfileType should be refactored to use Polymorphism instead of branching on an int-parameter. The whole parameter handling is confusing and should  be refactored.

[2021-07-01 11:55] mkalath77 opened #991 "Directions seems to produce wrong results"
#### Here's what I did

I tried several routes using the client map, the directions API and the Optimization API and it seems that in several cases we have a strange output. Even if there is a direct straightforward main road connecting 2 points, the suggested route leaves the main road and follows another path with turns into smaller roads. An example is [this link](https://maps.openrouteservice.

[2021-07-02 10:43] sfendrich opened #993 "Replace EncodedValueOld by EncodedValue"
All occurrences of the class EncodedValueOld should be replaced by class EncodedValue.

[2021-07-02 16:49] TheGreatRefrigerator opened #994 "Forbidden requests from web application due to missing Access-Control-Allow-Origin header"
#### Here's what I did

Running a local ors instance.
Trying to use `localhost:8082/ors/v2` endpoints in a web application, which set the `Origin` header for requests.

---
#### Here's what I got

403 response: Invalid CORS request due to missing `Access-Control-Allow-Origin` Header.

---
#### Here's what I was expecting

A valid request to local instance

---
#### Here's what I think could be imp

[2021-07-06 14:21] aoles opened #998 "Time-dependent travel time computation in non-time-dependent routing"
In time-aware routing there is a distinction between time-dependent edge *weights* (including access restrictions) and time-dependent edge *speeds*. The former require a time-dependent routing algorithm, whereas the latter influence travel time. In particular, for a non-time-dependent weighting such as `shortest` there is no need for a proper time-dependent routing unless time-dependent access res

[2021-07-07 07:14] koebi commented on #991
I reformatted your comment for better readability.

[2021-07-08 09:10] aoles commented on #339
The problem is still present, however, it is limited to the CH routing algorithm and does not occur with CALT or A*.

**UPDATE:** The routing with other algorithms is most probably fine because of the turn restrictions that CH does not obey.

[2021-07-08 16:03] TheGreatRefrigerator opened #1000 "Deprecated junit.framework.Assert"
Some Assert-s are still imported from a deprecated location.
Change to `import org.junit.Assert;`
Not sure if there is an order to imports. But it should end up in the right location i guess.

[2021-07-09 04:47] #988 closed, assigned to nobody

[2021-07-09 13:56] ixtensa opened #1003 "Structured query for postal code doesn't work"
#### Here's what I did
I send a structured query like this: https://api.openrouteservice.org/geocode/search/structured?postalcode=39261&country=de&api_key=...

---
#### Here's what I got
Regardless of postal code the coordinates 9.687096, 50.970097 are returned.
It is always the same, as if no postal code is provided.

---
#### Here's what I was expecting
Return the coordinates related to the post

[2021-07-09 15:07] aoles commented on #991
Thank you for reaching out!

The unexpected route is a consequence of how ORS estimates average travel speed on streets. The default speed value corresponding to road type ([OSM highway tag](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwizsInA7dXxAhUFPuwKHYSxASsQFjAAegQICxAD&url=https%3A%2F%2Fwiki.openstreetmap.org%2Fwiki%2FKey%3Ahighway&usg=AOvVaw3w3GhF8

[2021-07-12 07:26] rabidllama commented on #1003
Hi,
the geocoder that we use is Pelias, and there is a known problem with postal codes in Germany as the data simply isn't available in the datasets that Pelias uses (the main one being Whos On First). You can see and example on their page for doing this query and it comes up with the same results:

https://pelias.github.io/compare/#/v1/search/structured?postalcode=39261&country=de&debug=1

It cou

[2021-07-13 17:53] grutts opened #1005 "Bug in Bus profile: Routing ignores bus=yes road, and a restricted road with except=psv"
This bridge is marked as bus=yes in open street map (https://www.openstreetmap.org/way/4545833) and buses should be able to drive over it.

When I try to route to the bridge with the bus profile, it does not work:

https://maps.openrouteservice.org/#/directions/Greenmarket,Dundee,Scotland,United%20Kingdom/Forth%20Road%20Bridge/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64

[2021-07-13 18:37] grutts commented on #1005
I had a glance at the [HGV (bus) routing code](https://github.com/GIScience/openrouteservice/blob/17eb7fbe6ea68a330a877b702c7ef004e07dacb8/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/flagencoders/HeavyVehicleFlagEncoder.java)

It looks like like it ignores most bus related restrictions (e.g. bus=yes, psv=yes, restrictions except=psv) and bus lanes (lanes:bus=*,  bu

[2021-07-13 20:55] aoles commented on #1005
Thanks a lot for your feedback!

It's always good to learn about new opportunities to improve our routing. Having said this, the issue is very similar to https://github.com/GIScience/openrouteservice/issues/733, as you probably figured out by now. We are constantly working in increasing the quality of routes and the problems with HGV subprofiles are on our radar, of course. However, [splitting up

[2021-07-13 21:36] grutts commented on #1005
Thanks Aloes!

Do you know on what kind of timescale you're expecting to be able to look at this? In principle, I might be able to work on a PR to make the changes for the bus profile - though I'm not familiar with the library or have much Java experience so I'm not sure how realistic that will be. Even so, you mention "hardware resources to run the separate profiles", which sounds like even if we

[2021-07-14 05:40] #1000 closed, assigned to takb

[2021-07-14 06:00] takb commented on #775
Done, thx!

[2021-07-14 07:27] #1003 closed, assigned to nobody

[2021-07-14 09:16] aoles opened #1006 "Hgv subprofile access restrictions resolved only when vehicle parameters set"
HGV subprofile-specific access restrictions are not resolved unless `options.profile_params.restrictions` are set. As an [example](https://classic-maps.openrouteservice.org/directions?n1=49.388714&n2=8.712137&n3=15&a=49.390851,8.703232,49.381563,8.719969&b=4a&c=0&k1=en-US&k2=km) consider [Saupfercheckweg](https://www.openstreetmap.org/way/174376622) tagged with `bus=yes` and `hgv=no`.

[2021-07-14 10:17] koebi opened #1007 "refactor smoothness_type into enum"
Currently, the `smoothness_type`-parameter in the `restrictions` object in `profile_params` in the `options` for wheelchair is a string, although only [certain values](https://github.com/GIScience/openrouteservice/blob/3eba339b4a59e3393c5240eb3437a4f3a78cf945/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/WheelchairTypesEncoder.java#L109-L116) are allowed.

To reflect

[2021-07-14 10:18] koebi commented on #1006
Is that in any way related to #816 ?

[2021-07-14 10:34] aoles commented on #1006
Yes, that's the other issue I've mentioned in the meeting.

[2021-07-16 10:51] koebi commented on #979
To me, it seems rather complicated and unclear what the actual limit used in that case is.

I'll clarify docs and warning, but it won't actually specify a radius in that case.

Maybe on refactoring in #985 this will get easier to implement, but in any case if this gets touched the error messages and docs should be looked over - which is why I'm mentioning this.

[2021-07-16 17:54] Jakkajakka opened #1011 "Route calculation for car do not take the best exit"
https://graphhopper.com/maps/?point=51.00548%2C3.75558&point=51.0065%2C3.75131&locale=nl&elevation=true&profile=car&use_miles=false&selected_detail=Elevation&layer=OpenStreetMap

https://www.openstreetmap.org/directions?engine=graphhopper_car&route=51.00548%2C3.75558%3B51.00650%2C3.75131#map=18/51.00592/3.75352&layers=N

What can be the cause some tag missing in osm ?

[2021-07-16 19:11] aoles commented on #1011
Thanks for reaching out!

The example you provided is linking against GraphHopper maps. The route found by openrouteservice is different and AFAIU the actually desired one, please compare https://classic-maps.openrouteservice.org/directions?n1=51.005987&n2=3.753424&n3=18&a=51.00548,3.75558,51.0065,3.75131&b=0&c=0&k1=en-US&k2=km.

![image](https://user-images.githubusercontent.com/6545356/125997318

[2021-07-17 13:56] srhinow opened #1012 "exist location was not found in openroutemap"
With https://nominatim.openstreetmap.org/ui/search.html?q=Germany%2C++16945+Buckow%2C+Ringstra%C3%9Fe+19+ locations was found, but with openroutemap not.
With the same search-String 'Germany,  16945 Buckow, Ringstraße 19 ' also with different search-string like 'Buckow, Ringstraße 19 ' not.

[2021-07-19 07:08] #1007 closed, assigned to koebi

[2021-07-19 07:33] #979 closed, assigned to koebi

[2021-07-19 10:46] takb commented on #1012
We've been experiencing some trouble with our geocoder instance recently, but I could find said address by searching for "buckow ringstrasse 19" https://bit.ly/3hUBvnj

Were you using the our current client version at https://maps.openrouteservice.org ?

Please let us know if the problem persists.

[2021-07-20 14:59] TheGreatRefrigerator opened #1014 "sample config is not valid JSON"
The sample config contained in `openrouteservice-api-tests/conf` does not adhere to the json schema.

While it is still read in correctly in java, IDEs tend to throw a lot of linting errors.

There is also no reason, why this should not be a JSON file.

In the long run maybe a JSON reader can be used to avoid the whole AppConfig class exposing the different values.
Or at least make the access a bi

[2021-07-20 15:02] TheGreatRefrigerator opened #1015 "sample config contains wrong 'profile-vehicles-hgv' value in fastisochrones"
This should be the same profile name from the sample config "profile-hgv"

[2021-07-21 12:32] TheGreatRefrigerator opened #1017 "Convert and rename app.config to ors-config.json"
Why:
- app.config already has JSON structure -> should be JSON file
- automatic IDE linting etc.
- further possibility to manage key-value access with json parser

What:
- [x] rename app.config throughout repo
- [x] deprecate app.config loading
  - [x] default loading from ors-config.json
  - [x] still support app.config but issue warning if loaded from or exists
- [ ] rename in external sources e

[2021-07-25 10:11] jayaddison commented on #904
This would be an API-breaking change, but another idea could be to reconsider the concept of [`locations`](https://github.com/GIScience/openrouteservice/blob/85f503dd0959a49396657850066b203eaed91d90/openrouteservice/src/main/java/org/heigit/ors/api/requests/isochrones/IsochronesRequest.java#L55-L61) in `IsochroneRequests`.

It's nice that the API supports multiple locations, but correlating two re

[2021-07-26 09:26] #1014 closed, assigned to TheGreatRefrigerator

[2021-07-26 09:26] #1015 closed, assigned to TheGreatRefrigerator

[2021-07-26 12:00] knowname opened #1018 "Redownload corrupt elevation tiles"
#### Here's what I did

During my Ansible setup for ORS I accidentally restarted tomcat 2 times in a row with little time in between.
My profile included car with elevation.

---
#### Here's what I got

Corrupt SRTM ZIP-File

---
#### Here's what I was expecting

Validate the elevation data before use and try to update it if necessary.

---
#### Here's what I think could be improved
I am not sure

[2021-07-26 14:28] knowname commented on #1018
The workaround is deleting the elevation data (as suggested here https://github.com/GIScience/openrouteservice/issues/576)
and restarting tomcat.
This will trigger a fresh download.

[2021-07-28 06:43] jp1337 opened #1021 "Multiple CVE in Apache Tomcat Version"
#### Here's what I did

Currently we are scanning all systems using Nessus Scanner. The scanner informed us, that the used Tomcat Version has multiple Security issues.

  - An HTTP request smuggling vulnerability exists in Tomcat due to mishandling Transfer-Encoding headers behind a reverse proxy. An unauthenticated, remote attacker can exploit this, via crafted HTTP requests, to cause unintended

[2021-07-28 11:54] #1017 closed, assigned to TheGreatRefrigerator

[2021-07-28 14:35] MichaelsJP opened #1024 "Missing profile and format in Isochrones metadata"
The current results metadata for isochrones don't have the used profile and format in it.

#### Here's what I did
 curl -X POST \
  'https://api.openrouteservice.org/v2/isochrones/driving-car' \
  -H 'Content-Type: application/json; charset=utf-8' \
  -H 'Accept: application/json, application/geo+json, application/gpx+xml, img/png; charset=utf-8' \
  -H 'Authorization: yourkey' \
  -d '{"locations

[2021-07-29 08:47] TheGreatRefrigerator opened #1025 "Make use of Spring(-boot) Framework properly"
#### Here's what I think could be improved
Currently the spring framework is "only" used to automatically generate the swagger2 api documentation.

Being an API framework for Java there is a lot of unused potential to ease deployment, development of the API and configuration of openrouteservice.

Spring and Spring-Boot should be updated and set up properly by:

- [x] #1318
- [x] #1319
- [x] #1029

[2021-07-29 08:49] TheGreatRefrigerator opened #1026 "updating to latest spring and spring-boot versions"
versions are out of date and should be updated (duh)

[2021-07-29 08:49] TheGreatRefrigerator opened #1027 "migrate from springfox-swagger to springdoc-openapi"
Currenlty swagger 2 is still used as API specs.
OpenAPI specs have been out for some time an are the go to standard nowadays.

It might be possible to integrate the custom keys used to define parameter dependencies in a more openapi spec native way (to be investigated).

Should be tackled together with [ors-website's capability to render openapi](https://gitlab.gistools.geog.uni-heidelberg.de/gisc

[2021-07-29 08:50] TheGreatRefrigerator opened #1028 "Add more spring-boot configurations"
The [spring configuration](https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/src/main/resources/application.properties) right now only sets the port and disables whitelabeled errors (?)

It should be checked which settings are applicable for ors, that might help improve

[2021-07-29 08:50] TheGreatRefrigerator opened #1029 "make openrouteservice run on the spring-boot internal tomcat"
tomcat currently needs to be installed externally, although it is provided within spring-boot, which we already use.

`mvn spring-boot:run` already starts _something_, but it's not configured properly and not a usable openrouteservice instance.

[2021-07-30 11:41] PeterDieter opened #1030 "Car profile routing results in taking forbidden unpaved streets"
I already asked this question on the forum (see [here](https://ask.openrouteservice.org/t/car-profile-gives-forbidden-route/3029)) and was asked to open a bug report.

### My Problem
When navigating through my home town I noticed that ORS gives a route through the forest which is forbidden to take for cars. You can find the corresponding link [here](https://maps.openrouteservice.org/#/directions/E

[2021-08-02 05:55] takb commented on #1018
Elevation data processing is in graphhopper code, this is something we could think about looking into at some point in the future (as currently we don't have the manpower), thx for the report!

[2021-08-04 05:39] #1012 closed, assigned to nobody

[2021-08-09 08:46] MichaelsJP opened #1033 "Move Docker build to Github actions"
With the current limitations for docker builds on docker hub it's necessary to move the logic to github actions for good.

[2021-08-09 09:12] #1021 closed, assigned to nobody

[2021-08-11 22:30] nemosmithasf opened #1036 "Unable to build via Docker, issue with M1 Macs?"
Are there known issues with M1 Macs?

I tried building via Docker, both in the current `master` branch and in `6.6.1`.

I am following the instructions exactly as written. Download the source, `cd docker` and `docker-composer up -d`

All the endpoints and `/status` gives 404s. Though I am able to access the Tomcat page at `localhost:8080`.

This is the error log:

[code]

[2021-08-12 09:04] #1024 closed, assigned to MichaelsJP

[2021-08-12 21:09] Eric-Sparks opened #1037 "Ferry times are not being properly calculated"
I'm noticing that ORS isn't calculating ferry duration times correctly.

For example, the [Cedar Island-Ocracoke Ferry](https://www.openstreetmap.org/way/16460171), which has a [duration tag](https://wiki.openstreetmap.org/wiki/Key:duration) of 02:15, is being calculated as having a duration of 3 hours, 36 minutes.

Another example, the [Hatteras-Ocracoke Ferry](https://www.openstreetmap.org/way/1

[2021-08-15 12:40] arminmertens commented on #1036
Having the same issue. Also on M1 Mac.

[2021-08-17 12:28] loic-faure opened #1039 "[6099] Small matrix computation fails (5x5) over small region (cycling-regular profile)"
I use the matrix API through python sdk which works well with cycling-regular profile.

But I found a strange case this morning when I tried to compute a 5 by 5 matrix in a small area of Paris but received a 500 response with error code 6099.
After some research on the error code, I found that can be caused by distances restrictions but the locations are very close in that case, as you can see on

[2021-08-18 05:02] kuwapa opened #1040 "Feature request - heading value for round-trip"
I have a feature request to make. The idea is to provide a heading value (in degrees) which will be used in the round trip feature to create the route towards a particular direction. This would be useful if a user wants to find routes away from the city’s direction or towards a hilly area.

Thanks.

[2021-08-19 08:19] loic-faure commented on #1039
Hmm, seems like a bigger problem since I have the same result (Error 6099) for several other exemples.
It's working with cycling-mountain, strange behaviour for inner Paris.

[2021-08-23 03:59] AnhTuan-AiT opened #1041 "Cannot running with Docker on Windows"
I'm trying to host <b>openrouteservice</b> backend locally on my laptop. I cloned this repository and ran the command following the installation instructions in this section: [https://github.com/GIScience/openrouteservice#installation](https://github.com/GIScience/openrouteservice#installation), but it doesn't work. I also tried to build <b>openrouteservice</b> image as instructed [here](https://g

[2021-08-23 09:52] HendrikLeuschner opened #1042 "Virtual nodes make edge distances smaller"
#### Here's what I did

Running a matrix request for core matrix results in shorter distances if there is an unrelated virtual node on an edge.
E.g. this [route](https://maps.openrouteservice.org/#/directions/Am%20Wei%C3%9Fen%20Stein,Dossenheim,BW,Germany/Steckelbergstra%C3%9Fe%207,Dossenheim,BW,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,14,0,232,7,96,9,128,102

[2021-08-23 11:40] #851 closed, assigned to koebi

[2021-08-24 07:45] stefanocudini opened #1043 "build war is broken by artifact repository"
i am using docker hub image 6.3.6 which suddenly seems plagued with this problem.

from which docker version was the problem solved?

_Failed to transfer file http://repo.heigit.org/artifactory/main/com/github/GIScience/graphhopper/graphhopper-core/v0.13.10/graphhopper-core-v0.13.10.pom
with status code 308_

[code]

[2021-08-24 12:45] koebi commented on #1039
Hey,

I can only partially reproduce this. I tried your request with cycling-regular, and it seems to work just fine.

It does indeed not work with wheelchair, but this seems to be an issue with the routes themselves, as the regular directions endpoint doesn't reply with a valid route for some combination of waypoints.

In fact, this led me to play around with wheelchair a bit, and I cannot explai

[2021-08-25 07:37] stefanocudini commented on #1043
I suppose that this bug causes error to compiling .war in **all** old versions published in dockerhub

[2021-08-25 11:06] koebi commented on #1039
Currently, the wheelchair profile doesn't allow routing here, since there is no sidewalk available.

This might be a tagging error. In this case, there's nothing the ors can dow.

However, in release 6.6.2, the `allow_unsuitable`-parameter will be introduced to allow wheelchair routing over unsuitable ways, like ones without sidewalks.

Note, that this won't apply to matrix requests, since they cu

[2021-08-25 11:06] #1039 closed, assigned to koebi

[2021-08-25 11:08] koebi opened #1044 "Improve error messages"
#### Here's what I did
Request something that leads to an error, like #1039 did (both in the original request and in my example posted below).

#### Here's what I got
Unhelpful error message `6099: Unknown error` or `2009: Cannot find route`

#### Here's what I think could be improved
Helpful error messages - in the case of 6099, something along the lines of `Some routes could not be calculated.`,

[2021-08-25 11:12] koebi commented on #1041
Hey,

it doesn't look like this is an issue on site of the openrouteservice.
You're trying to access a resource that is present, but your connection gets refused.
This might be an issue with a possible proxy, some windows firewall problem or something else.

Please check what is causing the issue and report back if it turns out to be related to our artifactory.

[2021-08-25 11:12] #1041 closed, assigned to koebi

[2021-08-26 11:11] koebi opened #1045 "Update to tomcat9"
According to an internal message from @takb sent on July 9th,
[code]
and
[code]

[2021-08-26 15:20] aoles commented on #1037
Thanks for reaching out! Let me apologize for not responding earlier, vacation season.. 🏖️

Actually, ORS already takes into account `duration` OSM tag. However, apart from the pure travel time additional overhead of loading/unloading and waiting time for the ferry to be available is added on top to provide more realistic estimates. This is done by a heuristic which reduces the ferry travel speed

[2021-08-30 08:43] koebi commented on #1045
This is superseded by #1029

[2021-08-30 08:43] #1045 closed, assigned to takb

[2021-08-30 09:47] aoles opened #1047 "Failing assertion with CoreALT routing"
CALT routing might fail throwing the following error when run-time assertions are enabled by the `-ea` flag . The problem seems to originate from an attempt of checking whether a virtual node is a core node.

[code]

[2021-09-01 07:17] #1037 closed, assigned to aoles

[2021-09-01 08:55] #1047 closed, assigned to aoles

[2021-09-01 10:11] #1006 closed, assigned to aoles

[2021-09-03 11:44] #1033 closed, assigned to MichaelsJP

[2021-09-05 14:48] Botnary commented on #1043
Same error here, any ideas or work around to this issues?

[2021-09-05 14:51] Wojdom commented on #1043
What I did was to download missing dependencies and manually install them in my local maven repository. It helps, however using remote repository would be much easier.

[2021-09-06 19:33] stefanocudini commented on #1043
the problem I suppose is http(not ssl) artifactory repos

[2021-09-09 08:34] TheGreatRefrigerator commented on #834
The data was updated to 2019 dataset (with 2015 data).
Also Postgres and Postigs for the database were updated.

Neither `ST_SummaryStatistics` nor `ST_SummaryStatisticsAgg` exist anymore.
[`ST_SummaryStats`](https://postgis.net/docs/RT_ST_SummaryStats.html) is the current available function which is already used. ([`ST_SummaryStatsAgg`](https://postgis.net/docs/RT_ST_SummaryStatsAgg.html) existsb

[2021-09-15 05:52] #978 closed, assigned to koebi, takb

[2021-09-15 06:47] koen-dejonghe commented on #1043
I didn't even know it was compiling inside the docker container. Why isn't the war file deployed as such?
I worked around this by using a running container with an already compiled war file, committed it, and made a new image out of it.
Anyway this compiling inside the docker container makes it very brittle as shown by this problem, and defeats the purpose of Docker somehow.

[2021-09-15 09:22] MichaelsJP opened #1058 "Docker push to new and old docker hub"
Adapt the docker workflow to push the the old and new docker hub simultaneously.

[2021-09-15 09:39] TheGreatRefrigerator opened #1059 "deprecated 'cobblestone:flattened' used as surface value for wheelchair"
#### Here's what I got

The default value for the minimum `surface_type` option is `cobblestone:flattened`.
According to the [osm wiki](https://wiki.openstreetmap.org/wiki/Key:surface) this value should not be used.

---
#### Here's what I think could be improved

`sett` or another sensible value for surface should be used as default minimum surface type.
`cobblestone:flattened` still exists in os

[2021-09-17 14:11] vinaypuranik opened #1060 "Directory data/graphs/car does not exist and cannot be created to place lock file there: data/graphs/car/gh.lock at com.graphhopper.storage.NativeFSLockFactory$NativeLock.tryLock(NativeFSLockFactory.java:110) ~[graphhopper-core-v0.13.15.jar:?] at com.graphhopper.GraphHopper."
Trying to run the docker image but getting this error.  Any idea on how to resolve this ?
[code]

[2021-09-20 09:32] TheGreatRefrigerator commented on #1060
probably a permission error with the docker volume.
Is the mapped path existing on the machine your running the image on and does docker have writing permission to the specified folder?

[2021-09-20 12:15] koebi opened #1061 "`access=destination` speed of 5 km/h too low?"
A user commentary in our [forum](https://ask.openrouteservice.org/t/route-returns-very-slow-driving-rate/3151) reported unusually long drive times on a highway that turned out to be tagged with `access:destination`.

The ors uses a speed of 5 km/h for such routes, compare https://github.com/GIScience/openrouteservice/blob/37fca1d1b6bf1203deb69c4a1ec6633248a725f8/openrouteservice/src/main/java/org/

[2021-09-20 12:45] HendrikLeuschner commented on #1061
This has been an ongoing topic for a long time. The speed is set to be 5kmh to keep the routing from using it like a normal way (discouraging by making it very costly in terms of time), while still allowing to reach a destination that is on this path.
You'd need to build a system where you already know that this is going to be your destination in order to avoid this problem. Surely doable (using e

[2021-09-20 13:09] sfendrich commented on #1061
IMO the question why the road is tagged `access:destination` is irrelevant, because this is a very common situation which ORS should handle correctly. Overriding `max_speed` with 5km/h is obviously not the right thing to do. BTW, GH returns a sensible travel time: https://graphhopper.com/maps/?point=35.7011%2C-82.377&point=35.665%2C-82.4486&locale=en-US&elevation=true&profile=car&use_miles=false&l

[2021-09-20 13:10] HendrikLeuschner commented on #1061
If GH have a good solution for this problem, we should use it. Our original solution is based on our GH version afaik.

[2021-09-20 13:52] aoles commented on #1061
I think the best way of addressing the issue of `access:destination` roads  is to use a priority-type weighting, see https://github.com/GIScience/openrouteservice/issues/705.

[2021-09-20 14:01] koebi opened #1062 "Subdivisions of isochrones don't coincide between ranges"
#### Here's what I did
Generate [foot-walking isochrones](https://classic-maps.openrouteservice.org/reach?n1=51.494691&n2=-0.017102&n3=15&a=51.496347,-0.021501&b=2&i=1&j1=3&j2=1&l1=1&k1=de&k2=km) from the same point (excluding ferries) with 1, 2 and 4 km range, all with 1km intervals.
Then, I hid all but the 1km isochrones.

This is what this results in:
![Screenshot_2021-09-20 Openrouteservice Ma

[2021-09-21 11:16] orson-69 opened #1063 "Add Camper profile"
First of all I apologize because I don't know English, I use Google Translate.
My request is to insert the camper profile in the profiles in https://maps.openrouteservice.org/.
It would also be good to have predefined profiles as dimensions, so it might be better to insert two profiles.
One with Motorhomes and one for Campervans
For example, the Motorhome could have default dimensions in meters.
H

[2021-09-21 11:25] orson-69 opened #1064 "Maximum height of road that is not a tunnel"
I apologize, not knowing English I used Google Translate

I tried to do the navigation indicated in this Link
[code]
---
The system allowed me to drive a road with Maxheight = 3.1m even though my vehicle is 3.2m tall

I think the problem is related to the fact that the road is not a tunnel, in fact with the tunnels it filters the results well, giving the right path.

I think it is good that it is

[2021-09-21 12:25] koebi commented on #1064
Hey,

this seems to indeed be a bug - [this request](https://maps.openrouteservice.org/#/directions/Via%20Flaminia%20417,Rimini,RN,Italy/Viale%20Viareggio%207,Rimini,RN,Italy/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,70,0,152,3,160,13,144,128,88,0,101,32,14,90,5,103,32,102,1,57,159,213,128,104,40,184,171,9,80,107,89,133,102,85,88,7,100,16,192,55,17,50,248,197,49,231,2

[2021-09-21 12:54] koebi commented on #1063
Given that there's a [specific tag](https://wiki.openstreetmap.org/wiki/Key:motorhome) for this, it might indeed be beneficial to have a _private_ heavy vehicle profile to set length, width and the likes.

[2021-09-21 12:55] sfendrich commented on #1064
It seems that the concerned road has been edited recently and, therefore, the data might have not arrived in the graph yet.

[2021-09-21 14:28] koebi commented on #1064
Yeah, that seems to be the problem here - I missed that :(
I found [a different example](https://maps.openrouteservice.org/#/directions/Schlierbacher%20Landstra%C3%9Fe%209,Heidelberg,BW,Germany/J%C3%A4gerpfad,Heidelberg,BW,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,14,0,232,7,96,5,152,128,216,6,98,160,6,1,57,232,21,133,251,136,17,128,26,83,236,52,246,123,225,16

[2021-09-21 14:28] #1064 closed, assigned to nobody

[2021-09-21 14:39] orson-69 commented on #1064
Thanks.
Sorry for the wrong report

[2021-09-22 13:07] koebi commented on #1063
There are only about ~2000 uses of the `motorhome` tag on the openstreetmap, so I don't expect that this is something to be supported soon.

However, adding dimensional restrictions to the car profile is definitely something that we're considering.
Unfortunately, this will require some restructuring of how the ors stores information about roads, so it will take some time until this happens.

[2021-09-22 13:08] koebi commented on #1062
As discussed, this is to do with calculation of the polygons and not with the actual isochrones calculation and cannot be fixed without allowing high loads on the server.

Fast Isochrones has a workaround, so this problem will go away in the long run when we fully switch to Core-ALT and then also switch to Fast Isochrones.

[2021-09-22 13:08] #1062 closed, assigned to nobody

[2021-09-22 13:28] koebi commented on #1059
In the `WheelchairTypesEncoder`, all three of `sett`, `unhewn_cobblestone` and `cobblestone:flattened` use the same value:
https://github.com/GIScience/openrouteservice/blob/a462aea7745e8d171f170bf303d979e29dc11e93/openrouteservice/src/main/java/org/heigit/ors/routing/graphhopper/extensions/WheelchairTypesEncoder.java#L68-L70

As [from the wiki](https://wiki.openstreetmap.org/wiki/Key:surface) it

[2021-09-22 14:24] TheGreatRefrigerator commented on #1059
i would prefer `sett` over `unhewn_cobblestones` as a default, as it is more common (215 421 : 9 311
: 5 362 for flattened) and looking at the picture would be a less bumpy ride than unhewn_cobblestones.
wdyt?

[2021-09-23 07:31] koebi commented on #1059
Yeah, sounds good to me :)

[2021-09-23 08:33] hawaclawek opened #1066 "Ferry for route Helsinki / Tallinn doesn't allow cars but in reality it does"
The ferry for route Helsinki / Tallinn doesn't allow cars but in reality it does.
This leads to quite a detour when querying the openrouteservice api.
It works fine for bicycles.

#### Here's what I did
https://maps.openrouteservice.org/#/directions/Tallinn,HA,Estland/Kellom%C3%A4enkaari,Helsinki,Finnland/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,38,0,88,3,160,13,128,

[2021-09-23 09:13] aoles commented on #1066
Thanks for reaching out! This indeed could be related to OSM tagging. Even though the [ferry connection](https://www.openstreetmap.org/way/140673970) is correctly tagged, there might be a problem with the connecting terminal roads in Tallinn, as suggested by this [example](https://classic-maps.openrouteservice.org/directions?n1=59.443578&n2=24.77858&n3=17&a=59.44236,24.775114,59.444798,24.780343&b

[2021-09-23 09:39] orson-69 commented on #1063
Yes.
However, that is a tag used only to signal the possibility of access to services by Motorhomes.
There are other Keys that are used to indicate specific services, and these are more common
The parking areas are about 19,000
https://wiki.openstreetmap.org/wiki/Tag:tourism%3Dcaravan_site
There are 5,400 loading / unloading stations
https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dsanitary_dump_

[2021-09-23 09:59] aoles commented on #1066
After looking into flag encoder's code I believe the observed issue is caused by the barrier being [blocked](https://github.com/GIScience/graphhopper/blob/ors_0.13/core/src/main/java/com/graphhopper/routing/util/AbstractFlagEncoder.java#L232-L248). A barrier is considered as passable if it has one of the `restrictions` tags with a value from `intendedValues`. The barrier in question is tagged with

[2021-09-23 10:21] hawaclawek commented on #1066
Good news, thanks for looking into this!

For our current project, we are using OSM for requesting distance matrices via post request (https://openrouteservice.org/dev/#/api-docs/v2/matrix/{profile}/post).

I guess overriding the default behaviour by setting block_barriers=false through ORS config file would require running our own instance of OSM?

[2021-09-23 10:37] aoles commented on #1066
You're welcome, thanks for getting back to me!

For the time being changing the default way of how barriers are handled would indeed require running you own ORS instance. Next week we will discuss internally whether we want to make this change in our public API too, so stay tuned.

[2021-09-23 10:54] hawaclawek commented on #1066
Great, I will, thanks!
Having such an option in the https://api.openrouteservice.org/v2/matrix/driving-car API would solve the issue for us.

[2021-09-24 07:28] vinaypuranik commented on #1060
Ok..  No longer facing this error, we can mark this issue as closed.

[2021-09-24 09:12] TheGreatRefrigerator commented on #1060
Thanks for reporting back!
Could you add a small comment, with what resolved the issue, please?

[2021-09-24 09:12] #1060 closed, assigned to nobody

[2021-09-24 12:18] hawaclawek commented on #1066
One more note: We recognized today that, if you invert the route in the given example, the ferry is taken correctly.
So:
- Helsinki -> Tallinn works as expected
- Tallinn -> Helsinki does not work

We had another example where the ferry connection to/from Helsinki does not work as expected today:
**This is what we get:**
https://maps.openrouteservice.org/#/directions/Biblioteksgatan%2024,Stockholm

[2021-09-27 08:41] #1059 closed, assigned to koebi

[2021-09-27 09:51] koebi commented on #1063
Hey,

thanks for you comments :) We know of the importance and growth of motorhome infrastructure.
However, both the `tourism:caravan_site` and the `amenity:sanitary_dump_station`-tags are not used by the openrouteservice.

They are important for the user, but have no use when calculating routes. For this, only the `access:*`-tags such as `motorhome` are taken into account.

Since motorhomes are m

[2021-09-29 08:36] HendrikLeuschner opened #1067 "Consolidate RequestHandlers"
Citing @aoles :

I had to copy over some methods from the request handlers to handle options for the matrix. There is no generic solution implemented, so there is a lot of duplication. This should be addressed.

[2021-09-30 09:23] koebi opened #1069 "Integrate openrouteservice/docs into docs"
#### Here's what I did
Search for error codes

---
#### Here's what I got
https://github.com/GIScience/openrouteservice/blob/master/openrouteservice/docs/services/error_codes.md

---
#### Here's what I was expecting
Not more than one source for documentation apart from docs.

---
#### Here's what I think could be improved
They could be merged

[2021-09-30 09:33] koebi opened #1070 "Collect good answers to frequently asked questions in backend docs"
#### Here's what I did
Recognize that there are a few questions that are being asked every now and again.

---
#### Here's what I got
Good answers in a few cases, Bad answers in a few others

---
#### Here's what I was expecting
One answer to rule them all

---
#### Here's what I think could be improved
The good answers could be collected in a page in the backend docs and then used as reference fo

[2021-09-30 15:34] aoles commented on #1066
Thanks for your feedback and for providing the additional example.

I can now confirm that in the Tallinn example setting `block_barriers=false` to `encoder_options` in ORS config file allows traversing the [barrier](https://www.openstreetmap.org/node/5884596281).

![image](https://user-images.githubusercontent.com/6545356/135484995-02ab68d5-28d7-424d-9be9-f82d61f685e2.png)

[2021-10-01 12:15] ghost opened #1072 "Unable to deploy server using docker-compose"
I have tried to setup a local server using docker-compose. But I can't seem to get it to deploy correctly. Firstly I had a problem where only was able to calculate driving routes. Then I added my own `ors-config.json` file in order to combat that. Now I seem to have a problem when building the project where it does not seem to deploy correctly using the default `ors-config.json`. I have pasted a G

[2021-10-01 15:52] aoles opened #1073 "CALT with turn restrictions enabled might fail to find optimal route"
There are cases when CALT with turn restrictions doesn't find the optimal route in terms of the given weighting. Consider the following examples where the first route is returned by CALT and the second one by A* (forced by providing some polygons to avoid).

### 1. Berlin

CALT fails to find the faster and shorter route through a gas station [ORS maps](https://classic-maps.openrouteservice.org/dir

[2021-10-04 07:56] sfendrich commented on #1073
**Berlin:** The route through the gas station is tagged `access=customers` and should therefore not be used as a drive through shortcut.
**Heidelberg:** Using an additional waypoint in the roundabout "Im Bieth", both variants take two minutes, so it might be a matter of seconds? Also I noticed that the roundabout is not tagged as roundabout in OSM and ORS incorrectly uses the same lane for both di

[2021-10-04 08:07] koebi commented on #1069
The following is a tree-like overview over the `openrouteservice/openrouteservice/docs/services`-directory.

 `services`
    ├── `accessibility`
    │   └── accessibility_post_request.json
    ├── `isochrones`
    │   ├── `eurostat`
    │   │   ├── age_groups_mappings.txt
    │   │   └── example_query.sql
    │   └── isochrones_post_request.json
    ├── `routing`
    │   └── BikeSpeedCalculations.

[2021-10-04 08:14] HendrikLeuschner commented on #1073
Here's an example where CALT uses a loop edge to circumvent a no left turn restriction directly after the turn from Berliner Straße.
[Heidelberg route](https://maps.openrouteservice.org/#/directions/Im%20Neuenheimer%20Feld,Heidelberg,BW,Germany/Three%20Wise%20Men,Heidelberg,BW,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,14,0,232,3,96,29,152,128,88,2,96,1,130,129

[2021-10-04 08:53] aoles commented on #1073
Thanks for your feedback @sfendrich and @HendrikLeuschner.

The examples I've provided might not be entirely representative. My point was that there are cases when there is a difference between the route found by CALT and A* the former being always worse (I've updated my original comment). Have a look at [the confluence page](https://confluence.gistools.geog.uni-heidelberg.de/x/hYHhAw) listing a f

[2021-10-04 14:24] #711 closed, assigned to aoles

[2021-10-05 11:24] koebi commented on #1072
Hey,

this is a follow-up to [this post in the ask-forum](https://ask.openrouteservice.org/t/unable-to-find-walking-route-on-local-server/3185/13).

I'll try to answer to the problems here once again for completenes. As stated, this is using `docker-compose`.

If you don't provide a config file yourself via the `docker-compose.yml`-file, the ors will use the sample `ors-config-sample.json` file an

[2021-10-05 12:18] koebi commented on #803
Given that the config file has been renamed and a few things have been put into place regarding this, I don't think this is an issue anymore.

Feel free to reopen if the problem persists. Please give a more detailed bug report than

especially quoting the command you use to run docker or the docker-compose file you are using. This will help us a lot in debugging your issues :)

[2021-10-05 12:18] #803 closed, assigned to rabidllama

[2021-10-05 12:26] koebi commented on #1036
Hey,

the line

[code]
looks a bit like there is a bit of log missing.

Could you please provide a bit more info, i.e. what requests you are issuing when you state

and what your `docker-compose.yml` looks like?
Best regards

[2021-10-05 18:15] nemosmithasf commented on #1036
I've updated the log in the original post.

I went to these URLs, which all result in 404s:
- `http://localhost:8080/ors/v2/directions/foot-walking?start=8.676581,49.418204&end=8.692803,49.409465`
- `http://localhost:8080/ors/v2/health`
- `http://localhost:8080/ors/v2/status`

Here's the exact error:
[code]

I should note that I'm downloading and running the files exactly as is, I haven't changed

[2021-10-07 09:57] #1069 closed, assigned to koebi

[2021-10-07 10:20] aoles commented on #1066
After some further research it turned out that apart from `customers` there is another `access` value for barriers for which the default `block_barriers` is taken, namely `permit`. [According to taginfo](https://gist.github.com/aoles/2e83e3fbcc44f108f6b6f3e8b53da5cb) there are currently around 40k occurrences of the former, and 10k of the latter.

For now we have decided to refrain from any change

[2021-10-07 14:17] aoles commented on #1073
I've created a toy graph example which illustrates one of the possible problems. Consider the following graph.
https://github.com/GIScience/openrouteservice/blob/dd54273b6041329b60b81608c4af70ce8832b265/openrouteservice/src/test/java/org/heigit/ors/util/ToyGraphCreationUtil.java#L354-L359
All edges are bidirectional and of length 1 except edge 3-6 which has length 9. Turn 1-2-5 is forbidden, but a

[2021-10-12 14:27] koebi commented on #764
Looks like this has been fixed in the last year ;)
![Screenshot 2021-10-12 at 16-26-51 V2 Isochrones {Profile} Post ORS API](https://user-images.githubusercontent.com/4692974/136975049-de2f79da-d0ed-4134-bd97-31faa360e470.png)

[2021-10-12 14:27] #764 closed, assigned to nobody

[2021-10-12 14:28] koebi commented on #764
Whoops, didn't set the `range_type`. But it still works ;)
![Screenshot 2021-10-12 at 16-27-53 V2 Isochrones {Profile} Post ORS API](https://user-images.githubusercontent.com/4692974/136975266-8f5bc227-ee8c-47b0-b9b0-4c8b5c577915.png)

[2021-10-14 08:50] koebi commented on #1067
Refactoring `RouteRequestHandler` worked without too much trouble.

Currently, `MatrixRequestHandler` isn't instantiated anywhere, but uses only static methods.
All calls to code in `MatrixRequestHandler` result from a single `MatrixRequestHandler.generateMatrixFromRequest()`-call, similar to the single `RouteRequestHandler().generateRouteFromRequest()`-call for routing.

Is there any upside to us

[2021-10-14 11:19] koebi commented on #1067
I got abit of input from @aoles about this:

So personally I think static methods should be chosen over instance methods if the design allows for it

The problem here is, that much of the duplication differs only in the error codes used.
Calls from `MatrixRequestHandler` should use `MatrixErrorCodes`, calls from `RoutingRequestHandler` should use `RoutingErrorCodes`

Since we want to inherit from

[2021-10-14 11:23] koebi commented on #1067
There is also a lot of Code Duplication in `RouteRequestOptions` and `MatrixRequestOptions` - they only differ in one field:
`RouteRequestOptions` has `round_trip` and `MatrixRequestOptions` has `dynamic_speeds`.
We could probably refactor all duplicates into a generic `RequestOptions`-class, but I'm not sure whether this would greatly increase clarity of the underlying code.

In similar fashion,

[2021-10-14 12:28] aoles commented on #1067
I believe most of the code duplication in these classes comes from the focus on fast delivery in first place rather than maintainability in long run. If you are already on it I strongly encourage you to clean up a bit.

[2021-10-15 07:38] sfendrich commented on #1067
If it makes so much trouble, please postpone this refactoring until after the Graphhopper upgrade.

Concerning static methods: In general, I would say that a static method is a code smell. If a method does not touch the fields of an object, why should it be related to it? However, in Java static methods are often used to encompass the lack of first class functions. For example the standard library

[2021-10-15 09:14] koebi commented on #1067
It doesn't make much trouble - I'm just stumbling over how things are done and am wondering if there is a particular reason I don't know of or if I can just assume historic reasons and continue as I feel is correct :)

[2021-10-15 09:14] koebi commented on #1067
Regarding a refactoring of the `*Request` and `*RequestOptions`, I'd just go forward with this and we see whether we like what comes up?
I'd do that in a separate PR, to keep things clean. We can move forward with this, I have marked the branch as _Ready for Review_

[2021-10-17 14:43] marisancans commented on #1060
I hate when people dont add solution. I had this problem too and you have to manually create the folders before starting the docker.
From documentation: mkdir -p conf elevation_cache graphs logs/ors logs/tomcat

If you are using docker-compose, make sure your volume mounts are the same. This error is caused when docker-compose created the folders not you.

[2021-10-18 04:46] kf99916 opened #1076 "Origin is not allowed by Access-Control-Allow-Origin for reverse geocode API"
#### Here's what I did

https://api.openrouteservice.org/geocode/reverse?api_key={API_KEY}&point.lon=121.47145271301271&point.lat=24.927073120131514&boundary.circle.radius=50&size=1&lang=zh-TW

---
#### Here's what I got

Origin is not allowed by Access-Control-Allow-Origin. It also happens in play ground: https://openrouteservice.org/dev/#/api-docs/geocode/reverse/get

---
#### Here's what I was

[2021-10-18 07:44] koebi commented on #1070
A comment about `-Xms` and `-Xmx` would be good, including estimates for memory needed.

[2021-10-19 09:46] koebi commented on #1067
As a short writeup of the discussion about the way forward with @takb and @sfendrich:

API v3.0 is far in the future and will mostly concern the API output rather than the input. Whether OGC compliance is something we want for ors remains to be seen.

Given that, it makes sense to clean up as much as possible. The vision would be to get rid of the `*RequestHandler`-classes, as they don't do anythi

[2021-10-19 10:25] TheGreatRefrigerator commented on #1076
Hi @kf99916,

please check out https://ask.openrouteservice.org/t/error-with-r-package-ors-directions/3184/2 and test if that is a problem on the machine your working on, by sending a curl request from your command line.

If you still encounter the same problem please also provide the Headers of your request.

Best regards

[2021-10-19 10:47] kf99916 commented on #1076
Hi @TheGreatRefrigerator ,

The issue still exists in [your API playground](https://openrouteservice.org/dev/#/api-docs/geocode/reverse/get) with my API key. But my API key can work on directions API. so I think it is not expired certificate issue.

Here is the API response:
![截圖 2021-10-19 下午6 43 05](https://user-images.githubusercontent.com/6695195/137894411-a23f1a70-cf03-45fd-9151-0bd8a08cd3b9.

[2021-10-19 11:01] kf99916 commented on #1076
Hi @TheGreatRefrigerator ,
I found this is quota issue for my API key and thank you for your help.

[2021-10-19 11:01] #1076 closed, assigned to nobody

[2021-10-20 11:14] koebi commented on #385
Does this get closed by #959 @HendrikLeuschner ?

[2021-10-20 11:31] HendrikLeuschner commented on #385
yeah

[2021-10-20 11:31] #385 closed, assigned to HendrikLeuschner

[2021-10-20 13:20] Cinci07 opened #1077 "Direction Service Routing Problem with Gotthardo"
Hello

There seems to be a problem with the calculation of the altitude when calculating a route through the Saint Gotthard tunnel. Inside the tunnel, values for altitude of up to 6000 metres are given, but outside the tunnel the values seem to be valid.

Enclosed is the requested route as Python code:

***
import requests

body = {"coordinates":[[9.029192,46.195839],[8.303934,47.047776]],"elevati

[2021-10-20 13:45] aoles commented on #1077
Thanks for reporting this!

Weird indeed, not sure where the elevation of 6000 m could come from. We already had some similar problems in the past which have been addressed in https://github.com/GIScience/openrouteservice/pull/750. However, there seem to be a similar issue in graphhopper too, see below.

[openrouteservice maps](https://classic-maps.openrouteservice.org/directions?n1=46.601337&n2=8

[2021-10-22 07:33] nilsnolde opened #1078 "hgv builds fast-isochrones by default"
for europe that demands ~ ~~60~~ 52 GB RAM instead of ~15 GB.

https://github.com/GIScience/openrouteservice/blob/393a4bfa7ec1bcecfa1e4b21a4a42bf0de6b5bf7/openrouteservice/src/main/resources/ors-config-sample.json#L69-L74

[2021-10-22 08:55] HendrikLeuschner commented on #1078
Got to check that out. Memory requirements should not be this big for fast isochrones.

[2021-10-22 10:12] nilsnolde commented on #1078
fyi, this was my config (just overlooked the fast-isochrones stuff) on a few weeks old europe extract, built with docker:

<details>
  <summary>config</summary>
<pre>
{
  "ors": {
    "info": {
      "base_url": "https://openrouteservice.org/",
      "support_mail": "support@openrouteservice.org",
      "author_tag": "openrouteservice",
      "content_licence": "LGPL 3.0"
    },
    "services": {

[2021-10-28 13:35] koebi commented on #1067
This issue is being used to keep track of the ongoing refactoring stated above.

[2021-10-28 14:58] koebi commented on #973
Graphhopper [have implemented something](https://github.com/graphhopper/graphhopper/pull/1936) related to this.

I don't think a similar change in ors would ever go live, but self-hosted instances could then route ignoring access restrictions.

[2021-11-08 09:11] koebi opened #1084 "Improve docker setup documentation"
#### Here's what I think could be improved
Recently, the questions about how to set up with docker are increasing. Most people seem to struggle with the complexity stemming from the jumble of how to mount and configure everything correctly and the interactions of docker-compose.yml, the Dockerfile, the ors-config and the .pbf.

This is currently not super well documented and could definitely be im

[2021-11-09 12:12] ghost commented on #1041
Same problem here. Any solutions so far?

[2021-11-09 15:17] joker234 commented on #1041
Do you have any timestamp for us, when the issue occurred? This would help us to identify if there is/was an issue on our side. Is the issue still occurring at this time?

[2021-11-09 15:59] ghost commented on #1041
Sorry it's the first time I use that image :(

[2021-11-11 13:48] ghost commented on #1041
Problem solved on my side. I had to add my companies root certificate. So it was a environment-specific problem on my side. Sorry.

[2021-11-11 14:04] joker234 commented on #1041
Okay good to know. Thanks for the feedback :+1:

**If anyone every stumbles upon this issue**, please check if https://repo.heigit.org is accessible, if not, try again a few minutes later. If you want to open an issue, include the time and date (including timezone) when you performed the request/build.

[2021-11-18 06:30] ghost opened #1085 "API returns 400 with empty body (on any request)"
#### Here's what I did
Create a new docker-image extending openrouteservice:latest to add my companies root cert.
docker-compose build
docker-compose up

---
#### Here's what I got
The container starts up all right and there are, besides some warnings at the beginning, only info logs. When trying to use the API (e.g. http://localhost:8080/ors/v2/directions/driving-car?start=8.681495,49.41461&end=8

[2021-11-18 09:18] koebi commented on #1085
Hey,

to me, this looks like the ors hasn't finshed building all profiles.
You can check `http://localhost:8080/ors/status` in your browser, it'll tell you whether the ors is ready or not.
Note, that depending on your used pbf file, it may take quite some time until the ors is ready.

Best regards

[2021-11-18 09:50] ghost commented on #1085
Hey, thank you for the fast response.
After waiting a bit I am one step closer.

For status I get:
`{
  "engine": {
    "version": "6.6.1",
    "build_date": "2021-11-18T09:37:12Z"
  }
}`

For http://localhost:8080/ors/v2/directions/driving-car I get a nice 400 with content (error 2001).

But http://localhost:8080/ors/v2/directions/driving-car?start=8.681495,49.41461&end=8.687872,49.420318 results

[2021-11-18 10:09] koebi commented on #1085
Hey,
status should also mention the services and profiles available - if it doesn't, then it's not ready.
Check `http://localhost:8080/ors/health` to see wheter it's ready or not.

Out of curiosity, what is the .pbf-file you're using? How big is it?

[2021-11-18 10:18] ghost commented on #1085
Hey, thank you for the hints. It's a 60GB file from here: https://ftp.fau.de/osm-planet/pbf/?C=M;O=D
Gonna wait some more time then :) Thank you!

[2021-11-18 10:31] koebi commented on #1085
Hey,
yes, for a 60GB file expect two or three days of build time and note that you'll probably need around 120GB of RAM for *one* profile.
Best regards

[2021-11-18 10:31] #1085 closed, assigned to nobody

[2021-11-18 10:31] koebi commented on #1070
Estimates for build times on given machine specs could be given?

[2021-11-21 18:39] nanshanli commented on #1036
Hi - just wanted to say that I am facing the same error on my m1 Mac. I've tried running `docker-compose up` with default configs unchanged in both a rosetta (`i386`) and `arm64` terminal, and the same error comes up.

[2021-11-25 10:28] jp1337 opened #1088 "Not enough space - Import Error"
#### Here's what I did

I am using the docker image on a rather large hardware system.

Specs:
Intel® Core™ i7-8700 Hexa-Core
128GB DDR4 RAM
2x 1TB NVMe SSD
Gigabit Ethernet

My system is managed by ansible so I can not use the docker compose directly.
This is my ansible code:

[code]

As OSM File I use the Planet OSM from bbbike.org since it does not contain any meta data, which shrinks the file

[2021-11-26 10:54] rabidllama commented on #1088
Hi @jpylypiw,

this is most likely due to needing to increase the memory mapping count.
For our machines that run the planet builds, we add the following to the `/etc/sysctl.conf` file:

`vm.max_map_count=81920`

[2021-11-26 12:20] jp1337 commented on #1088
Hi @rabidllama,
thank you for the fast reply! I increased the value this morning and the container is running since six hours without any issue. I will keep you updated if this fixed the issue but currently it is looking very good.

[2021-11-27 07:05] ManDay commented on #868
I think this has not been solved conclusively. Once again, I've edited a way and the changes are not reflected after several weeks. Try to route across [this bridge](https://www.openstreetmap.org/way/734472571) and the adjacent footways, which were previously disconnected. ORS is still unaware of the changes made.

[2021-11-28 12:43] ManDay commented on #868
@rabidllama can you reopen this?

[2021-11-29 05:44] #1088 closed, assigned to nobody

[2021-12-01 05:50] #1067 closed, assigned to koebi

[2021-12-11 14:54] wojtekszymak opened #1092 "RCE in log4j used by ORS"
ORS is using log4j 2.13.3 with RCE BUG : https://nvd.nist.gov/vuln/detail/CVE-2021-44228
It should be updatet to 2.15.0

[2021-12-14 08:49] ihsankurt0 commented on #1084
Hi, I think there should be a section as (maybe there is and I didnt see yet) FAQ for Docker Installation. I had a problem (status is not getting ready) related to docker resources settings. It was a pain to find the reason.

[2021-12-14 13:21] koebi commented on #1084
Hey,
I agree, though I'd hope that most of it can be covered by improving the documentation in itself.

Can you elaborate on what the symptoms, the reason and the fix were for your problem?
That way, we can collect all the issues people have and provide reasonable documentation for them :)

[2021-12-14 13:45] ihsankurt0 commented on #1084
I am new on docker and openrouteservice.
I have tried to follow the documentation. Downloaded a custom pbf file (~379mb) for my country.
Firstly: The part "... build your own image either with docker run... " does not mapping the log files to host machine.
Secondly: The health request (http://localhost:8080/ors/v2/health) said that the service is not ready. I have checked the catalina logs (I am t

[2021-12-14 18:28] koebi opened #1094 "Add info about "regular" encoded polylines to backend docs"
Currently, the [backend docs](https://giscience.github.io/openrouteservice/documentation/Geometry-Decoding.html) mention what to do with strings if you

and do not mention what to do if you don't.

[2021-12-14 22:17] wojtekszymak commented on #1092
Update:
Fix from version 2.15.0 was not complete, it is recommended to update to 2.16.0.
Details: https://nvd.nist.gov/vuln/detail/CVE-2021-45046

[2021-12-21 08:32] sfendrich opened #1102 "Cleanup Maven"
The maven setup needs some cleanup:
- [ ] Move api-tests into integration tests
- [ ] Move HttpRepoManagerTest into integration tests
- [ ] Use dependency:analyze to cleanup unused and undeclared dependencies. Caution: dependency:analyze is not precise!

[2021-12-21 08:39] sfendrich opened #1103 "Migrate to Junit5"
Graphhopper already uses Junit5. We don't want to mess around with a mix of two unit-testing frameworks.

[2021-12-21 08:40] sfendrich opened #1104 "Remove ProfileUpdater"
The code around `ProfileUpdater` is unused since years and can be removed to reduce maintenance cost.

[2021-12-21 08:44] sfendrich opened #1105 "Refactor ORSFlagEncoderFactory"
- [ ] Rename into `OrsFlagEncoderFactory`
 - [ ] Use composition instead of inheritance to fallback on `DefaultFlagEncoderFactory`

[2021-12-21 08:46] sfendrich opened #1106 "Remove duplication between Graphhopper and ORS"
There is quite some code that has been copy-pasted from our Graphhopper-fork into the main ORS-code base which caused a lot of maintenance issues.

[2021-12-21 09:06] sfendrich opened #1107 "Migrate JSON-configuration into something more suitable"
JSON is a data-exchange format and not well-suited to configuration. Therefore we should find an alternative and migrate to that. Possible examples:
- [ ] Failsafe Yaml
- [ ] Strict Yaml
- [ ] Full fledged configuration language such as CUE (probably overkill)
- [ ] ... (add further candidates)

[2021-12-21 09:11] sfendrich opened #1108 "Remove copies of external libraries"
We have copy-pasted parts of external libraries such as Json.org, JTS, which we have to maintain ourselves now. Therefore it would be better to use the original libraries as dependencies. This would also ease upgrading the libraries in case of security issues.

[2021-12-21 14:29] stecog commented on #1092
2.17.0 is better

[2021-12-29 22:10] yasinahlattci opened #1109 "Dockerfile mkdir Issue"
I recently want to deploy openrouteservice to k8s, I changed the osm file and build the docker image. Docker gives me an error when creating directories at line 16 `RUN mkdir /usr/local/tomcat /ors-conf /var/log/ors &&`. So I add -p flag to command and It worked. As far as I know -p flag is required

[2022-01-01 14:30] yasinahlattci opened #1110 "Error:LOGGING FILE DOES NOT EXIST!"
Hi, I have some problems with running openrouteservice on k8s cluster. I am using version 6.6.3. If I create a deployment with the Image that exists on the dockerhub which is `openrouteservice/openrouteservice:v6.6.3` it works smoothly. But If I build an image from the Dockerfile just with osm.pbf file change, it is not working. Error log below;

[code]

I think this is some kind of bug or authori

[2022-01-01 14:49] yasinahlattci commented on #1084
Hİ @ihsankurt0, can you tell me how you solve the log issue? I might be getting the same error. My error is `LOGGING FILE DOES NOT EXIST!`

[2022-01-03 09:04] HendrikLeuschner commented on #1078
Mem consumption is quite high during processing time, but significantly lower afterwards. High processing consumption is expected, but this is extreme. Will check again what is happening here.

[2022-01-03 10:47] HendrikLeuschner commented on #1078
Needs some investigation still. Disabling by default independently of investigation

[2022-01-05 06:01] #1092 closed, assigned to nobody

[2022-01-11 09:41] #775 closed, assigned to takb

[2022-01-12 08:44] sfendrich opened #1114 "Simplify dataflow from API to core engine"
The data flow that passes the weighting name from the API into the core engine seems overly complicated and should be simplified. Here is a rough sketch of the current data flow:

1. At the API, a user requests a weighting through a String ("shortest", "fastest", "recommended")
2. This String is transformed into an APIEnums.RoutePreference (FASTEST, SHORTEST, RECOMMENDED)
3. This Enum is converted

[2022-01-13 13:49] koebi commented on #1110
The error message here is a bit misleading and unclear:
* it's not the logging file that is causing the error, it's the logging level settings file.
* it may be the case that it cannot be opened for file permission reasons or it may be the case that it doesn't exist.
* it's unclear what file is the one in question.
This should be fixed by improving the error message.

As to what is happening in yo

[2022-01-14 11:55] #1094 closed, assigned to koebi

[2022-01-15 22:23] yasinahlattci commented on #1110
Thank you, that solved my problem

[2022-01-18 06:52] #1109 closed, assigned to koebi

[2022-01-24 09:57] #756 closed, assigned to nobody

[2022-01-25 14:18] koebi commented on #823
This seems to have been fixed, as the same search mentioned now returns a locality.

[2022-01-25 14:18] #823 closed, assigned to nobody

[2022-01-26 16:00] TheGreatRefrigerator commented on #600
How to ignore sac_scale for local instances:
https://ask.openrouteservice.org/t/t5-t6-ferrata-ignored/2622/7

[2022-01-26 16:57] starzu-sentio opened #1120 "ArrayIndexOutOfBoundsException from fast isochrones"
#### Here's what I did
I'm trying to generate data for Europe on k8s with pod limits set to 8 vCPU and 220GB RAM.

Docker image version: `v6.7.0`
Source file: `http://download.geofabrik.de/europe-latest.osm.pbf`

Env variables:
[code]

ORS config:
[code]

---
#### Here's what I got
ArrayIndexOutOfBoundsException (probably) during isochrones generation.

Content of `/var/log/ors/ors.log`:
[code]

-

[2022-01-27 07:12] starzu-sentio commented on #1120
After another 24h I've got more logs with OOM:
[code]

It seems that memory limit is at least one of the problems.

[2022-01-27 08:40] sfendrich opened #1121 "Provide more realistic hiking times in mountain areas"
This issue is based on the forum post https://ask.openrouteservice.org/t/hiking-path-time/3536, stating that one might get better estimations of hiking times by using the swiss-rando formula. The formula is found in the excel file linked on the page https://www.suisse-rando.ch/fr/signalisation/signalisation/temps-de-marche (Version 2020.1):

[code]
The constants are given at two places in the exce

[2022-01-27 11:29] marq24 commented on #1121
I just want to leave my 2 cent here... I am not sure how I could start.

comparing just the elevation delta between two points (start & end) is IMHO not suitable at all - It's fine in the case you have a route from down of the valley to up the summit - but even then - a lot of times you have to pass "dips" on your way...

I have spend quite a while to implement some sort of climb detection (and ca

[2022-01-27 11:39] sfendrich commented on #1121
A quick inspection of the data revealed the following insight: The swiss-rando polynomial makes no sense beyond a slope of 40%. Within the 40% it is easily approximated with a 2nd order polynomial with an error of less than 30s/km, e.g.:
[code]
It has a smoother curve and seems to make more sense from a modelling perspective.

[2022-01-27 11:43] sfendrich commented on #1121
@marq24 exactly, the swiss-rando model is applied to sections of constant slope, i.e., to estimate time from start to end one would have to split the route into such sections. We would be happy, if you would share your insights.

[2022-01-27 18:06] Huntani commented on #1121
The swiss-rando model is a curve fitting of this graph which, as far as I know, was based on measurements on the field.
https://i0.wp.com/www.nellanatura.it/wp-content/uploads/2016/11/Diagramma-tempi.jpg?w=800&ssl=1

I've tested the formula to calculate the hiking time on kml traces extracted from openrouteservice, applying it to each point in the trace, and the results look reasonable.

I've look

[2022-01-27 18:08] Huntani commented on #1121
For slopes above 40% it could be reasonable to keep a constant vertical speed, even if slopes above that one look more like a difficult ski slope than a hiking track.

[2022-01-28 10:49] TheGreatRefrigerator commented on #1121
The OP of the topic provided some code example:
https://ask.openrouteservice.org/t/hiking-path-time/3536/6

[2022-01-28 13:39] Huntani commented on #1121
Sorry, I put a wrong formula above. This coefficient set is much better:

14.14221824, 0.293799084, 0.031619121, 3.88741E-05, -5.70469E-06, 3.37396E-08

The resulting fifth order equation matches the one from swisse-rando with less than 2% error in slopes ranging between -30% and +40%.
Below and above those values, it is reasonable to keep a constant vertical speed.

[2022-01-31 10:17] sfendrich commented on #1121
@Huntani ~~Of course, as for the original formula, downward slopes would need a different polynomial (`t_from` instead of `t_to`)~~. The above is just an example.

**EDIT** see @Huntani's correction below

[2022-01-31 10:39] Huntani commented on #1121
@sfendrich The polynomial applies both for downward and upward slopes.
The two formulas above are just used to calculate the time forwards and backwards, the second one is the same as the first one replacing "s" with "-s".

[2022-01-31 12:25] darshan-rivulet commented on #603
hi @ivanpetrushev

I need you help related the ORS I'm facing the same issues that you were facing before.
I guess you found the solution. Can you please help me with that. looking forward  to get your help

[2022-01-31 13:11] darshan-rivulet opened #1122 "Error Code 2099 in /ors/v2/directions/driving-car API"
#### Here's what I did
I have setup ORS backend service with docker

I'm using direction API  **/ors/v2/directions/driving-car**

**Request Parameters :**
`{
  "coordinates": [
    [
      -121.82567676573,
      37.282215914330116
    ],
    [
      -121.81070536168951,
      37.305813913765206
    ]
  ],
  "radiuses": -1,
  "units": "mi"
}`

**Response:**
`{
  "error": {
    "code": 2099,
    "m

[2022-01-31 13:23] koebi commented on #1122
Hey,

your query runs perfectly on the public ors api.
This is thus not related to the ors source code, but most probably to your setup.
Please refer to [our help forum](https://ask.openrouteservice.org/) for advice.

Please check if you have done the following before posting a topic:
- didn't mix up latitude and longitude
- searched the forum for similar topics and there are none
- using the corr

[2022-01-31 13:23] #1122 closed, assigned to nobody

[2022-01-31 13:34] sfendrich commented on #1121
@Huntani Thanks for the clarification!

[2022-02-01 06:00] ivanpetrushev commented on #603
Hi @darshan-rivulet

Check the answers above - coordinate pairs within the target and destination were flipped:

[2022-02-02 09:17] sfendrich commented on #1121
A fourth order polynomial that approximates the swiss-rando polynomial (SRP) well is `f(x) = 14.1744 + 0.291215 * x + 0.0312744*x**2 + 6.20369e-05*x**3+-4.96421e-06*x**4`. It has a smoother curve than the SRP, as its derivative lacks the bounces of the SRP derivative (see figure). However, like the SRP, f makes no sense for slopes beyond +/-40%. Similar things are true of @Huntani 's fifth order p

[2022-02-02 10:07] koebi commented on #603
The query that started the question currently returns
[code]
which is an appropriate error message in this case.

[2022-02-03 09:32] sfendrich commented on #1121
Summary from internal discussions:
* The topic is definitively interesting for ORS
* It should not be difficult to add such estimations into the postprocessing of an already computed route
* However, using such estimates during routing is much more difficult because relevant altitude changes exist between two subsequent nodes of some OSM ways, i.e., the resolution of OSM ways does not match DEMs.

[2022-02-04 13:43] koebi commented on #816
I'd assume that the changes in #1054 also fix this issue, but it seems that they don't, as the query above still happily routes over the `hgv=no`-way as well as an example query will route via `Saupfercheckweg` mentioned in #1006.

[2022-02-04 13:59] aoles commented on #816
#1054 fixes the problem that setting both `vehicle_type` and `options.profile_params.restrictions` was required in order to resolve `vehicle_type`-specific access restrictions. The remaining issue observed in the maps client originates from the fact that `vehicle_type` is not set by the client unless some vehicle parameters are used. As long as we want to have CH as the default routing algorithm s

[2022-02-08 11:56] luckyhandler opened #1124 "3 high CVEs when scanning docker container on AWS"
#### Here's what I did
I created a docker container from the latest master

---
#### Here's what I got
After uploading the container to AWS and scan the container for vulnerabilities I get these:

https://security-tracker.debian.org/tracker/CVE-2021-33574
https://security-tracker.debian.org/tracker/CVE-2020-26159
https://security-tracker.debian.org/tracker/CVE-2021-29921

with high severity and 9

[2022-02-08 13:47] koebi commented on #816
It seems a bit unintuitive that `hgv` access restrictions are not checked when using the `driving-hgv`-profile.
In fact, the API docs state that the default `vehicle_type` is `hgv`, so at least that should be changed.

IMO, when using the `hgv`-profile without any further settings, OSMs `hgv:*`-access restrictions should be considered.
If not, what even is the difference between the `hgv` and the

[2022-02-08 15:18] Huntani commented on #1121
I think that using the resolution of the nodes during the routing is already better than using no altitude information. Postprocessing could be used just for a more accurate information once a route is selected.

On the other side, pre-processing an area adding the time for every edge in the graph would be too resource consuming?

[2022-02-08 17:25] TheGreatRefrigerator opened #1125 "iso maps leaked to metadata.query"
#### Here's what I did

do an isochrone request with (prob. also without) population to the live API

---
#### Here's what I got

<img width="341" alt="grafik" src="https://user-images.githubusercontent.com/23240110/153041560-07403545-9aae-4b2c-b3fe-51f9774a9b84.png">

---
#### Here's what I was expecting

No internal objects leaked to response

---
#### Here's what I think could be improved
Don't

[2022-02-08 21:11] luckyhandler commented on #1124
Got even more with the latest master

[code]

[2022-02-09 09:34] HendrikLeuschner commented on #1120
Thanks for posting, will have a look at it. Memory requirements for Europe should be way below 100GB.

[2022-02-09 11:32] koebi commented on #1125
This was introduced in #1086 fixing #1067 and was subsequently fixed in #1117, but is not live yet.

[2022-02-09 11:32] #1125 closed, assigned to nobody

[2022-02-09 11:38] HendrikLeuschner commented on #1120
Hi @starzu-sentio the second error message you got was when you restarted from scratch with the same parameters?

[2022-02-09 11:39] starzu-sentio commented on #1120
No, it was hanging 24h as far as I remember.

[2022-02-09 18:55] tflabs-nl commented on #1120
Seeing a similar issue while importing latest europe from [europe-latest.osm.bpf](https://download.openstreetmap.fr/extracts/europe-latest.osm.pbf)

Using the [docker image](https://hub.docker.com/r/giscience/openrouteservice):

[code]

[2022-02-09 19:07] HendrikLeuschner commented on #1120
@tflabs-nl this looks like a different issue. It happens within the `OSMReader`. Best to open a new issue.

[2022-02-09 20:07] tflabs-nl commented on #1120
@HendrikLeuschner I see now, thank you! Will try to re-download the pbf before opening a separate issue to make sure the pbf itself isn't the issue.

[2022-02-10 16:28] aoles commented on #816
Thanks, these are all fair points!

While hgv-specific access restrictions are certainly important, there is still a number of other differences between these two profiles. Apart from a distinct set of default road speeds, the main difference between `car` and `hgv` profiles is that  for the latter one the `recommended` weighting uses additional prioritization of certain road types.

I couldn't ag

[2022-02-14 11:53] #816 closed, assigned to aoles

[2022-02-16 11:25] takb opened #1128 "Adapt to deprecated GH implementation"

[2022-02-17 08:31] #1128 closed, assigned to nobody

[2022-02-19 23:56] indeOWS opened #1129 "Parameter profile is missing"
I am installing openrouteservice via docker in a Ubuntu Server 20.04 LTS according to the tutorial in [[1](https://github.com/GIScience/openrouteservice)] and [[2](https://giscience.github.io/openrouteservice/installation/Running-with-Docker)].
After creating the container ors-app and tryng to make a request in the browser for : http://192.168.15.44:8081/ors/v2/directions, I am getting the followi

[2022-02-21 10:38] takb commented on #1129
Requests to the directions endpoint need to be sent with a set of required parameters, one of which is `profile`. For details, see our API playground: https://openrouteservice.org/dev/#/api-docs/v2/directions/{profile}/get

[2022-02-21 10:38] #1129 closed, assigned to nobody

[2022-02-24 12:14] mariodavid opened #1131 "Run application with embedded tomcat aka "java -jar""
Hi,

I looked into your docker deployment and saw that during the container creation, the java build is also performed. This has the implication that at runtime there are a lot of dependencies (related security risk exposure), that are probably not needed in the container - like `mvn`.

Is there any specific reason why this was implemented like this?

After seeing that the application is built on

[2022-02-25 15:40] koebi opened #1132 "Unexpected route via `route=shuttle_train`"
I played around with a request from an unrelated forum issue and got the following rather weird `foot-walking` route seemingly using a train track

https://classic-maps.openrouteservice.org/directions?n1=46.263799&n2=7.986546&n3=12&a=46.3125,7.84355,46.314183,7.874279,46.3096,7.91865&b=2&c=1&k1=de&k2=km

![Screenshot 2022-02-25 at 16-26-03 Openrouteservice Maps](https://user-images.githubuserconte

[2022-02-28 10:26] sfendrich commented on #1132
It seems something is wrong here. Using "avoid ferries" to avoid using the shuttle results in a shorter and quicker route.

[2022-02-28 10:40] MichaelsJP opened #1133 "add missing matchTraffic override"
While merging the matchTraffic() override got lost.

[2022-02-28 11:09] koebi commented on #1132
It doesn't get as close to the waypoint, though, so it wouldn't be an option for the route allowing the shuttle, as that can get closer to the waypoint.

[2022-02-28 11:12] letsdig opened #1135 "Geocode search error - Failed to get a valid response from API"
Geocode search error in official website aswell (https://openrouteservice.org/dev/#/api-docs/geocode/search/get)

Failed to get a valid response from API

"errors": [
"[index_not_found_exception] no such index [pelias], with { resource.type=\"index_or_alias\" & resource.id=\"pelias\" & index_uuid=\"_na_\" & index=\"pelias\" }"
]

It only works with cities without any address
Error even with the de

[2022-02-28 12:11] koebi commented on #1135
Hey,

yes, we're currently experiencing issues with our geocoder and are in the process of rebuilding the database. It'll be back up working within a few days.

EDIT: This issue will stay open until the matter is resolved, as it may be helpful for anybody else to see :)

[2022-02-28 12:22] letsdig commented on #1135
Thanks for the quick answer, hope it is going to be up asap, very much needed!

[2022-03-02 09:35] #1133 closed, assigned to MichaelsJP

[2022-03-02 13:49] Conway6288 commented on #1135
Any eta on this one?

[2022-03-02 13:56] koebi commented on #1135
Unfortunately not, but it should rather be a matter of days than weeks.

[2022-03-04 23:03] jessegpierce opened #1137 "Could not find routable point within a radius of 350.0 meters of specified coordinate"
I've seen a couple of similar issues with the above error, but they turned out to be swapped coordinates. Here is my requested url:
[https://api.openrouteservice.org/v2/directions/driving-car?api_key=REDACTED&start=%20-103.6195867,48.2366192&end=%20-102.581440960,47.414588700&units=mi](url)

I also tried the directions map @ [https://classic-maps.openrouteservice.org/directions?n1=48.236619&n2=-10

[2022-03-07 09:41] koebi commented on #1137
Hey,

please refer questions like these to [our official forum](https://ask.openrouteservice.org/), where you would find answers [like these](https://ask.openrouteservice.org/t/point-not-within-a-radius-of-350-0-meters/1156/9) ;)

Also, you left your API key in the request - I've removed it, but you might want to delete and create a new one.

On to your problem:
If you switch to the POST request,

[2022-03-07 09:41] #1137 closed, assigned to nobody

[2022-03-07 09:41] koebi commented on #1135
Hey, as by [this announcement](https://ask.openrouteservice.org/t/geocoding-working-again/3668), the geocoder is back up and running.

[2022-03-07 09:41] #1135 closed, assigned to nobody

[2022-03-07 10:04] TheGreatRefrigerator commented on #1131
Hi @mariodavid,

we are aware of this but currently don't have resources to tackle this.
The specific reason would be, because it works right now 😅
Please also see https://github.com/GIScience/openrouteservice/issues/1025

There is a lot of room to improve the project structure and the deployment, feel free to comment on the existing issues related to that or even do a PR with suggested changes.

[2022-03-07 12:14] letsdig commented on #1135
Ok thank you!

[2022-03-07 14:19] Conway6288 opened #1138 "Geocode - Incorrect coordinates returned when searching with more than the postcode"
Since the geocode service went down last week we have now started getting erroneous coordinates returned from the service.

#### Here's what I did
Used the api playground to test what was being returned from the service. I started with the full address as we were requesting it.

[code]

However, if you only search on the postcode then the coordinates for the street gets returned by both calls.

[c

[2022-03-07 14:42] jessegpierce commented on #1137
Thank you for the reply and for removing my API key!

[2022-03-07 14:45] HendrikLeuschner opened #1139 "RPHAST and Dijkstra matrix times not equal"
RPHAST times are higher than Dijkstra Matrix times for the same request. On test HD graph:
e.g.
[code]
They should be equal or lower for RPHAST.

[2022-03-08 12:45] HendrikLeuschner opened #1140 "Restart without rebuild results in failure of storage init"
Building and running of ORS works fine when requesting a route. If the service is stopped and then restarted, the same route request results in an error:
`"Handler dispatch failed; nested exception is java.lang.AssertionError: call create or loadExisting before usage!"`
which stems from
[code]

I suppose this specific one or all storages in general are not properly initialized if they are not bein

[2022-03-10 08:00] takb opened #1141 "Uncaught exceptions due to missing/invalid config"
In multiple places exception handling is incomplete, we should make sure ORS stops gracefully with meaningful error messages instead of throwing exceptions and not even stopping at all.

[2022-03-13 10:36] starzu-sentio commented on #1120
@HendrikLeuschner Did you find anything?

[2022-03-15 08:26] sfendrich opened #1143 "Remove AccelerationWeighting"
AccelerationWeighting is an unfinished class that has not been touched since 2017 and is not covered by any tests. Therefore we should be able to remove it.

[2022-03-16 10:20] koebi commented on #1138
Hey,

It seems that in that process of rebuilding the database, one of the import processes failed to read the data. That means we’ll have to re-build and re-import the data, which will unfortunately take a while.

This issue will remain open until the problem is resolved and can then be closed.

Best regards

[2022-03-21 10:36] koebi commented on #770
[This forum thread](https://ask.openrouteservice.org/t/directions-api-returns-differnt-elevation-values-for-same-point-on-reverse-route/3707) has another example

[2022-03-22 13:19] rabidllama commented on #1138
Hi @Conway6288 - can you check to see if it is working as expected now?

[2022-03-23 10:46] sfendrich opened #1144 "Integrate Profiles into configuration"
The new profile setup is kind of semi-hardcoded and should be fully integrated into the configuration.

[2022-03-25 11:15] Conway6288 commented on #1138
The two examples I gave previously are now returning correctly.

However, more strange behaviour has started. If I geocode on certain postcodes not only do I get two results back but both of them are incorrect (And seem to be the same two incorrect ones each time?)

Two examples are "DY2 0XG" and "M40 2BA"

[code]

Running the two above calls on the api playground shows the following for both on t

[2022-03-25 13:27] TheDropZone opened #1146 "Swagger-UI missing on Docker"
#### Here's what I did
I cloned the latest repo, with the intent of starting up an instance with docker. I'm running the north-america map on 16 cores, 128gb ram. Upon starting up the container and letting it complete the setup, I am unable to get the swagger page to load and/or find it.

---
#### Here's what I got
[code]

I have tried every endpoint I can think of, based on swagger/springfox docs

[2022-03-29 19:05] JokerGermany opened #1171 "Take into account way `smoothness` for bicycle routing"
[code]
Ors Maps is routing every bike except racing bikes over this way.
Perhaps MTB can drive this way, but not all others...

Shall i open a issue for classic-maps as well or isn't this necessary, because it will be abandoned soon?

[2022-03-29 22:24] etxebarriaI opened #1149 "ArrayIndexOutOfBoundsException during the project execution"
#### Here's what I did

During the execution of the ORS in **local** and after loading the map I get the following error:

**java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.ArrayIndexOutOfBoundsException: Index 1048576 out of bounds for length 1048576**

The complete error is:

java.util.concurrent.ExecutionException: java.lan

[2022-03-30 08:58] TheGreatRefrigerator commented on #1146
Hi @TheDropZone,

we currently don't provide the swagger UI in our repository.
As we host several different services next to the openrouteservice backend via our API, we are using our custom Documentation which also hides some technical endpoints that are not accessible by users. (see https://openrouteservice.org/dev/#/api-docs)

If you want to use the normal swagger UI you could also just copy th

[2022-03-30 09:54] TheGreatRefrigerator commented on #1146
@TheDropZone,

so for now we decided to not include this.
Feel free to create a PR for this though.

[2022-03-31 15:39] TheDropZone commented on #1146
@TheGreatRefrigerator Thanks so much for the clarification! I had been poking around in the source and noticed the reference to "swagger-ui.html" and figured I was just not looking in the right place for it. Also, I like the ideas in #1025. Sounds like some great stuff

[2022-03-31 17:34] TheDropZone opened #1151 "Spring Shell RCE inquiry"
https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement
https://www.lunasec.io/docs/blog/spring-rce-vulnerabilities/#applying-mitigations

Spring has announced an RCE affecting spring projects with the following stats:
- JDK 9 or higher
- Apache Tomcat as the Servlet container
- Packaged as a traditional WAR (in contrast to a Spring Boot executable jar)
- spring-webmvc or spring-

[2022-04-02 14:47] falvees opened #1153 "I built my own server, how do I configure the unique api_key?"

[2022-04-04 09:56] MichaelsJP commented on #1153
@falvees Hi, thx for using openrouteservice. Once you set up your own server you shouldn't need any api_key but just query the respective ip/url your instance is running at. To check run (replace {} with your details):

- local docker setup from our repo: curl http://0.0.0.0:8080/v2/ors/status
- local non-docker setup: curl http://127.0.0.1:8080/v2/ors/status
- setup with external access: curl htt

[2022-04-04 09:56] #1153 closed, assigned to nobody

[2022-04-04 11:44] sfendrich opened #1154 "Harmonize profile names"
Some of the profiles have different names at different places, e.g., `bike-regular` and `cycling-regular` denote the same profile. In order to reduce confusion these names should be harmonized.

[2022-04-12 07:59] koebi opened #1156 "`avoid_polygons` blocks whole way instead of polygon-way-intersection"
#### Here's what I did
This came up [in the ask forum](https://ask.openrouteservice.org/t/problem-with-avoid-polygons/3744/3).
The user was calculating a route between two points on a single OSM way. They were trying to force the route away from the direct path connecting A and B. They were doing this by adding multiple `avoid_polygon`s on the path connecting A and B.

---
#### Here's what I got
T

[2022-04-27 12:00] ManDay opened #1157 "ORS data is not sufficiently up-to-date"
This is becoming somewhat of a chronic issue in my experience. It was reported before in #868 and closed but this seems to remain a recurring problem. Highways are not accounted for by the router on maps.openrouteservice.org even after weeks and months. Current example [here](https://www.openstreetmap.org/way/256727089), although I think it's not helpful to solve this on a per-case basis. There se

[2022-04-27 15:16] vittorioz opened #1158 "openrouteservice local container cannot load profile "driving-hgv""
#### Here's what I did
I have built a container with docker-compose with  Albania map downloaded from Geofabrik (https://download.geofabrik.de/europe/albania.html)  and it works fine.
I'm trying to enable "driving-hgv"  profile but it doesn't work.
For enabling it,  I added the XXX part of profile-XXX name  in the "active" list in the ors-config.json file (see attached file line 96 in the zip arch

[2022-04-29 08:15] centiveo opened #1159 "Language parameter ignored"
I try to get directions in 'nl'. On the status page 'nl' is in the list but when I add 'language=dutch' in the url the instructions are still in english. Also other languages ('de') are not working. Instructions are always in English. I'm running the latest build in Docker.

[2022-04-29 09:19] koebi commented on #1159
Hey,

could you give a bit more info about your request? You're stating you're adding `language=dutch` in the url.
That suggests you're using the [GET](https://openrouteservice.org/dev/#/api-docs/v2/directions/{profile}/get)-request, for which languages are not available.

To use them, you'd have to issue a [POST](https://openrouteservice.org/dev/#/api-docs/v2/directions/{profile}/post)-request.
I

[2022-04-29 09:19] #1159 closed, assigned to nobody

[2022-05-02 12:46] koebi commented on #1157
Hey,

this is a due to the processes at work in getting changes from the OSM to the ors. In short, stuff happens on a weekly schedule and in the best case the expected time is about two weeks.
Any step in the process is bound to go wrong at some point, which will lead to delays of a week per error.

As we speak, the graph builders are rebuilding the planet file, so it should be as up to date as it

[2022-05-06 11:34] bassmaster187 opened #1163 "Postalcode is missing in reverse geocoding"
#### Here's what I did
I don't know if this bug belongs to pelias or ORS so here we go:
https://api.openrouteservice.org/geocode/reverse?api_key=xxxx&point.lon=9.90026&point.lat=48.18184&size=1
https://pelias.github.io/compare/#/v1/reverse?layers=address&sources=osm&size=1&point.lat=48.18184&point.lon=9.90026

---
#### Here's what I got

[ors__geocode_reverse_get_1651836609717.txt](https://github.

[2022-05-10 07:27] koebi commented on #1163
Hey,

the geocode service is a pelias instance hosted by us.
This is not related to the ors, but rather to pelias, and [there](https://github.com/pelias/pelias/issues/789) [is](https://github.com/pelias/pelias/issues/111) a [lot](https://github.com/pelias/pelias/issues/777) of [discussion](https://github.com/pelias/pelias/issues/887) around this [issue](https://github.com/pelias/pelias/issues/889)

[2022-05-10 07:27] #1163 closed, assigned to nobody

[2022-05-10 12:57] koebi opened #1164 "Dynamic parameters not available for matrix"
Currently, there are no dynamic parameters available for the matrix endpoint.
There are various reasons for this:

* the CoreMatrix-Algorithm to handle them is already there, but not yet in a way that is performance-wise compatible with the global instances.
* filters like `avoid_highways` are not yet implemented.
* the neccessary additional parameters are not yet exposed by the API.
* the test co

[2022-05-10 14:49] HendrikLeuschner commented on #1164
CoreMatrix should support all the same parameters as CoreALT. Therefore the same parameters need to be exposed by the API.
In principle, the algorithm already has these capabilities. What is missing is the api to computation pipeline. This includes initialization of the necessary request time edge filters e.g. for `avoid_highways`.
Further testing is then necessary.
The GH 4.0 upgrade code already

[2022-05-11 08:10] koebi opened #1165 "No differentiation between de- and incline in wheelchair routing"
### The following is the description of an old issue related to this. See below for details.

#### [Old] Parse incline tag "down" as decline

This happens for the wheelchair profile at

https://github.com/GIScience/openrouteservice/blob/76d7c97761bdf768d22db5157332d8b9e25823c5/openrouteservice/src/main/java/org/heigit/ors/util/UnitsConverter.java#L188

where an incline tag of "down" is replaced wi

[2022-05-12 07:26] koebi opened #1167 "bridleway with bicycle=yes not used for bike routing"
This was brought up by [this question](https://ask.openrouteservice.org/t/bridleways-and-cycling-isochrones/3868) in the forum.

#### Here's what I did
Request a [bike route](https://maps.openrouteservice.org/#/directions/Jackson's%20Bridge,Manchester,England,United%20Kingdom/Jackson's%20Bridge,Manchester,England,United%20Kingdom/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184

[2022-05-12 10:45] koebi commented on #1165
In general, the description and fix seem to be the correct.

Nevertheless, this will be put on hold for the following reason:

The containing method is only called once in the whole codebase. There, `declineToIncline` is set to true, so this change wouldn't affect anything (since the returned value is 10 in either case). Currently, the wheelchair profile only has a `maximum_incline`-method. For th

[2022-05-12 14:50] aoles commented on #1149
Hi,

Thanks for reaching out! In order to be able to dig into this issue, I would first need to reproduce the error. For this, could you please provide a link to a location where the mentioned **Euskadi.osm.gz** file can be obtained from? Also, the content of you ORS configuration file would be helpful.

Cheers
Andrzej

[2022-05-16 22:12] IAmTheWebb opened #1169 "Lat Long order in search"
I was testing the search functionality on https://maps.openrouteservice.org to see what inputs were all accepted.  When I enter the lon/lat co-ordinates for New York 40.714,-74.006 the maps shows Antartica, if I switch the order it shows New York.

Not sure if that is expected behaviour?

[2022-05-16 22:28] aoles commented on #1169
Yes, [lon/lat coords of NY are -74.006, 40.714](https://www.latlong.net/place/new-york-city-ny-usa-1848.html).

[2022-05-16 22:28] #1169 closed, assigned to nobody

[2022-05-17 11:56] koebi commented on #1157
Hey,

you can find some more info [in our backend documentation](https://giscience.github.io/openrouteservice/Frequently-Asked-Questions.html).

I'd hope that clears it up a bit more.

[2022-05-17 11:56] #1157 closed, assigned to nobody

[2022-05-17 12:10] koebi commented on #1070
Some more topics:

- [x] non-availability of geocode/optimization/… endpoints in ors
- [ ] Dynamic Parameters for Matrix/Isochrones
- [x] Comment on top about the search bar

[2022-05-24 11:53] koebi commented on #1171
Hey,

this is not an issue with the client, but with the routing.
Could you provide more information, especially what way you're talking about, what route you requested and what result you got?
In the best case with links and/or screenshots.

Thanks :)

[2022-05-24 22:31] aoles commented on #1167
Apparently https://github.com/graphhopper/graphhopper/pull/2105 fixes this issue. I believe it could be fixed on the ORS side by incorporating those changes into `CommonBikeFlagEncoder`.

[2022-05-25 08:27] JokerGermany commented on #1171
Sorry i don't want to give to much Informations.

This is the route:
![grafik](https://user-images.githubusercontent.com/30293477/170216329-74240dad-6910-4f1a-a52c-86a48ab0bd3b.png)
The route is a litte bit more than 600m long

The route arround it would be 1,7 km long.

I think that is the case why you route this way.
But you can't drive the short route....

Other routing service propose the rout

[2022-05-25 11:21] aoles opened #1173 "Discourage routing of road bikes on tracktypes below grade 1"
See the [original post ](https://ask.openrouteservice.org/t/profile-roadbike-selects-grade2-often/3901) on the ask forum.

[2022-05-25 11:54] HendrikLeuschner opened #1174 "inORS flag not correctly used"
In gh 4 upgrade, this flag was moved to `GHUtility` where it does nothing. The original implementation did indeed have a use and it needs to be redone.
Maybe there has been an issue for this before, but I could not find it now.

[2022-05-29 10:22] marq24 commented on #1173
I hope with my replies in the forum this issue can be closed...
1)'st When using "shortest" Profile's make almost no difference -> that's correct - since "applied" speeds (per highway type & surface) will not have an effect
2) "shorter/faster" route (via the A20 bridge) will include gravel sections (that the road bike profile tries to avoid if possible at any case (handled internally as "pushing s

[2022-05-30 13:04] koebi opened #1177 "Include `waterway:lock_gate` in (pedestrian) routing"
This was reported [in the ask-forum](https://ask.openrouteservice.org/t/locks-and-weirs-which-double-as-footpaths-get-excluded-from-routing/3905/2).

#### Here's what I did
Request [this route](https://maps.openrouteservice.org/#/directions/Saxon%20Court,Benson,England,United%20Kingdom/Saxon%20Court,Benson,England,United%20Kingdom/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,18

[2022-05-30 15:19] aoles commented on #1177
For the record: the problem with this particular example is that both way segments [82644748](https://www.openstreetmap.org/way/82644748) and [677222821](https://www.openstreetmap.org/way/677222821) which constitute the lock gate are not tagged as `highway`. In order to consider such ways for routing some additional logic based on OSM tags needs to be added to [handleNonHighways](https://github.co

[2022-05-31 12:04] TheGreatRefrigerator opened #1178 "Add preference selection to matrix to allow 'shortest' distance & duration"
#### Here's what I did
Trying to return a matrix with `shortest` preference

---
#### Here's what I got
Matrix defaulting to `recommended` preference

---
#### Here's what I was expecting
API parameter to choose the preference

---
#### Here's what I think could be improved
Exposing a `preference` (or similar named) parameter to the API and pass the value to the matrix algorithm to also return sho

[2022-05-31 22:43] TheophileWalter commented on #963
Hello, is there a fix ongoing?

[2022-06-01 08:26] alexki838 commented on #1005
Hello all, according to the [openstreetmap WiKi](https://wiki.openstreetmap.org/wiki/Tag:highway%3Dbusway), the bus only road should be tagged with these way:
Bus-only Service road = `highway=service` +` access=no` + `bus=yes`
Bus-only motorway links = `highway=motorway_link` + `access=no` + `bus=designated` OR` highway=service` + `access=no` + `bus=designated`

To try to make the route search wor

[2022-06-01 12:35] koebi commented on #1177
ToDo here:

- [x] check how routing behaves on `waterway=lock_gate` if tagged w/ `highway`
- [x] add unit test for `waterway=lock_gate; foot=yes/no`
- [x] add check as above
- [x] test and be happy :)

[2022-06-01 12:46] koebi opened #1179 "Empty error message in case of failure with `"radiuses":[-1,-1]`"
Bug was reported in the [forum](https://ask.openrouteservice.org/t/exceptions-apierror-code-2099/976/14).

#### Here's what they did (simplified and usable)
[code]

---
#### Here's what I got

[code]

---
#### Here's Adam's thoughts

[2022-06-02 07:15] koebi commented on #1177
[This route](https://classic-maps.openrouteservice.org/directions?n1=57.098312&n2=-4.739251&n3=18&a=57.098876,-4.739866,57.097736,-4.739141&b=2&c=0&k1=de&k2=km) and [this route](https://classic-maps.openrouteservice.org/directions?n1=51.99644&n2=-2.157491&n3=18&a=51.995596,-2.157896,51.997301,-2.157193&b=2&c=0&k1=de&k2=km) both include `waterway=lock_gate`s that have a `highway=*`-tag.

I'd conclu

[2022-06-02 09:22] aoles commented on #1177
Great, thanks a lot @koebi for verifying that in the presence of `highway` tag the routing works as expected. I can additionally confirm, that as long as there is a highway tag present the routing works even in the absence of an explicit `foot` tag, as [here for example](https://classic-maps.openrouteservice.org/directions?n1=63.942524&n2=-20.817523&n3=18&a=63.942425,-20.817408,63.942449,-20.81683

[2022-06-03 14:25] #1177 closed, assigned to koebi

[2022-06-03 15:31] aoles opened #1181 "`ArrayIndexOutOfBoundsException` during core graph preparation for hgv"
As [reported on the ask forum](https://ask.openrouteservice.org/t/java-util-concurrent-executionexception-java-lang-arrayindexoutofboundsexception-index-1048576-out-of-bounds-for-length-1048576/3932), build of [bengaluru.pbf](https://easyupload.io/fo7nul) against [app.config.txt](https://github.com/GIScience/openrouteservice/files/8833360/app.config.txt) fails with the following error.

The underl

[2022-06-04 08:49] netproject0 opened #1182 "java.lang.Exception: ExtendedGraphStorage for avoid features was not found."
Hi,

Seems my Isochrone request `https://MYSERVER:8080/v2/isochrones/foot-walking` doesn't take into consideration `"options":{"avoid_features":["ferries"]}` parameter.
Also, i've this error in my log :
`04 Jun 00:11:59 ERROR [extensions.ORSEdgeFilterFactory] - java.lang.Exception: ExtendedGraphStorage for avoid features was not found.`

I use the "docker-compose" way. What could be wrong with my

[2022-06-07 07:09] koebi commented on #1182
Hey,

this issue was reported similarly in our forum, I think also by you.
[This is the response](https://ask.openrouteservice.org/t/isochrone-call-on-premise-server-avoid-features-ferries-issue/3940/2), linked here for completeness.

Best regards

[2022-06-07 07:09] #1182 closed, assigned to nobody

[2022-06-07 14:42] aoles commented on #1181
The issue is actually not related to the core routing algorithm as the error message might indicate. The problem originates from accessing multi-byte values in `RAMDataAccess` objects. These objects store data in byte arrays split into segments of certain size. It turns out that the convenience methods for reading/writing multi-byte values such as `get-/setShort` fail at the segment boundary when

[2022-06-07 14:45] aoles commented on #1149
Closing this for now as it seems to be a duplicate of https://github.com/GIScience/openrouteservice/issues/1181.

[2022-06-07 14:45] #1149 closed, assigned to aoles

[2022-06-08 14:30] aoles opened #1184 "Address `access=destination` restrictions through an edge filter"
Apparently there have been attempts to address access restrictions tagged as `destination` through `DestinationDependentEdgeFilter`. Even though this code has been defunct, such approach could actually be a pretty neat alternative to a priority-based solution described in https://github.com/GIScience/openrouteservice/issues/705. The idea here would be to have a dedicated edge filter which allows r

[2022-06-15 12:07] koebi opened #1189 "Document `waterway` and potentially other recent tag filtering changes"
Since the initial `docs`-folder was created, not much documentation regarding tag filtering has happened.
At least the `waterway:lock_gate`-change from #1180 is not documented, #1172 needs documentation as well.

I assume there are some more changes that aren't documented :(

[2022-06-15 13:00] koebi opened #1190 "fix typos in docs"
* links from FAQ don't work (should have small letters in link
* configuration table `default_params` has extra `100` in last row, last column entry, adding a new row

[2022-06-15 13:30] #1181 closed, assigned to aoles

[2022-06-15 20:57] aoles opened #1191 "Graph build date missing from geoJSON response in case route is not found"
When route cannot be found the `graph_date` is missing from the metadata section in the geoJSON response object, as evident from the example below.

![image](https://user-images.githubusercontent.com/6545356/173927100-f31c9dd3-e04b-45fc-9c02-c029d2bd6e30.png)

vs.

![image](https://user-images.githubusercontent.com/6545356/173926124-ae173af3-ac64-433b-84b2-57bd3f04d436.png)

[2022-06-15 21:12] aoles opened #1192 "Include OSM data version in the API response"
It would be helpful if the `metadata` section of the geoJSON API response would include, apart from the ORS graph build date in `graph_data`, also information on the OSM data version on which a given build is actually based on.

![image](https://user-images.githubusercontent.com/6545356/173930733-4665d9a8-5496-47e4-b9ea-770709153925.png)

[2022-06-17 07:25] koebi commented on #1192
this seems related to #925 and the corresponding PR #927

[2022-06-17 11:08] aoles commented on #1192
Thanks @koebi ! The snapshot date of the OSM file is a different thing than the date on which it is being imported and parsed by ORS and when the graphs are being created. The former one for example is useful to determine whether a given change in OSM is expected to be reflected in ORS, the latter one makes difference when it comes to e.g. seasonal road closures. Only recently questions relating t

[2022-06-17 14:45] Hedaja opened #1193 "Reach calculation: ignore access option"
Hi and thanks for the awesome service.

Having an option to disable access restrictions during a reach analysis would be beneficial. For example for firefighters it might not be too important if something is a private road so having a drop down menu (like for avoid) with different options for access=customer/private/no would be nice.

In this example one could take the private shortcut in an emerg

[2022-06-20 08:31] #1167 closed, assigned to takb

[2022-06-24 10:29] aoles commented on #1139
Thanks for raising this issue! Do you think you could include the actual response values from both RPHAST and Dijkstra for reference?

 I was wondering whether this should be considered as a bug rather than cleanup, what do you think?

[2022-06-27 17:06] HendrikLeuschner commented on #1139
I will have to check this again to see if the issue is still there, then I can attach the actual times, yes.

[2022-06-29 08:26] KaMaToZzz opened #1195 "Cannot access org.heigit.ors.globalresponseprocessor.gpx.GpxResponseWriter"
I have some ERROR when trying to run docker container
[code]

[2022-06-29 09:33] koebi commented on #1192
Apparently, the `planet.pbf` has a timestamp. This would have to be checked, or the date of the latest change set could be used if it's not in the metadata.

Either way, this seems to be a bit more involved and not something that will happen soon.

[2022-06-29 09:56] koebi commented on #1195
Hey,
could you add a bit more info here? In particular, the version of ors that you are running and a bit more detail on your build process would be helpful :)

Also, it states you're using Linux 3.10 - this kernel was released in 2013, so unless I'm mistaken you might think about updating?

[2022-06-29 12:33] koebi commented on #1193
Hey,

currently, access restrictions are considered at graph build time. For there to be an option similar to `avoid ferries`, one would have to implement a new `EdgeFilter` and make access parsing conditional, depending on this new option.
We will most probably refrain from doing so, since ways with `access=customer/private/no` are tagged as that for a reason: They are not accessible to the publi

[2022-06-29 22:05] smugleafdev opened #1196 "Minor spelling issues in Places"
#### Here's what I think could be improved
accomodation -> accommodation
apparmtent -> apartment
lanuage_school -> language_school
alkohol -> alcohol (though liquor_store might be better, from an American English perspective)
seefood -> seafood

"aeroport" is probably fine, as much as I want to change it to airport.

[2022-06-30 06:54] KaMaToZzz commented on #1195
Hello,

I'm deploying by ansible playbooks. Simple copy file of projects: Dockerfile, docker-compose.yml, entrypoint, openrouteservice directory.

CentOS 7
I have similar node with working ors same configuration.

Dockerfile:
[code]

 docker-compose:

[code]

docker-entrypoint.sh:
[code]

[2022-06-30 10:42] KaMaToZzz commented on #1195
This is log mvn clean install -X inside docker container:

[code]

[2022-06-30 12:32] koebi commented on #1195
Hey,
what command are you using to run the docker container?

[2022-06-30 13:44] KaMaToZzz commented on #1195
docker-compose up -d

[2022-06-30 14:01] KaMaToZzz commented on #1195
Hmmm, its okay https://repo.heigit.org/ui/native/main/maven/maven-compiler-plugin/ 404?
Same here https://repo.maven.apache.org/maven2/maven/maven-compiler-plugin/

Its seems no maven org.apache.maven.plugins:maven-compiler-plugin:3.8.1 in this repo

[2022-06-30 14:06] koebi opened #1198 "{car, hgv}-directions and car-matrix find route, but hgv-matrix doesn't"
This was reported [in the forum](https://ask.openrouteservice.org/t/error-6099-in-matrix-calculation-with-hgv-profile/3993/6) - for the same locations, directions finds car and hgv routes, and matrix finds a car-matrix, but no hgv-matrix.

[2022-07-01 07:07] KaMaToZzz commented on #1195
I'm deleting docker image and rebuild new and its work now. lol

[2022-07-01 07:07] #1195 closed, assigned to nobody

[2022-07-04 10:53] #1196 closed, assigned to nobody

[2022-07-06 08:15] KaMaToZzz opened #1199 "Exception in thread "PBF Reader" java.lang.RuntimeException: Unable to read PBF file"
Have some problem with map  java.util.concurrent.ExecutionException: java.lang.RuntimeException: Couldn't process file data/osm_file.pbf, error: Index 69746054 out of bounds for length 0

Map takes this one https://download.geofabrik.de/russia/kaliningrad-latest.osm.pbf and renamed to ru-kz.osm.pbf in data dir

ls -l in vps, from here I make build and run by docker-compose file

[code]

docker-com

[2022-07-21 11:03] koebi opened #1201 "Document fastisochrones"
Currently, there is no documentation for all the fastisochrones settings that exist for ors-config.json.

This should be added to the backend docs.

[2022-07-21 15:04] aoles commented on #1199
I've just tried running ORS locally with https://download.geofabrik.de/russia/kaliningrad-latest.osm.pbf but was unable to reproduce the issue. @KaMaToZzz does the problem still persist for you?

[2022-07-21 15:05] KaMaToZzz commented on #1199
Non actual. Thanks

[2022-07-21 15:05] #1199 closed, assigned to nobody

[2022-07-25 15:32] aoles commented on #1198
I think the problem has been introduced in https://github.com/GIScience/openrouteservice/pull/1126. This would explain why the issue is only observed on master and not with the current release. It needs further investigation at which point [the new approach](https://github.com/GIScience/openrouteservice/issues/816#issuecomment-1035127497) fails and whether it doesn't work with CH routing in genera

[2022-07-25 20:04] f1lander commented on #1072
Hi, I've been unable to start the API, I install it via docker but is saying that the osr-config.json file does not found on the folder, I saw the sample but I don't know where to copy it.

[2022-08-01 07:38] #1198 closed, assigned to aoles

[2022-08-07 04:50] joshinils opened #1205 "shortest route takes footways"
#### Here's what I did
trying to generate a route around hauptbahnhof in berlin, which used this segment, in this direction:
https://maps.openrouteservice.org/#/directions/Invalidenstra%C3%9Fe,Berlin,Germany/Invalidenstra%C3%9Fe,Berlin,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,70,1,152,3,164,32,54,1,216,5,96,9,128,14,1,57,242,160,22,0,25,110,160,26,91,141,170,

[2022-08-19 10:36] takb commented on #1205
Thank you for the report, (and sorry for the long time we took to answer,) but this behavior is basically intended. The bicycle profiles treat footways as traversible "pushing sections", since in some cases getting off the bike and pushing for a certain length of the way makes more sense than taking a longer detour, and this assessment is calculated by assigning pushing sections a lower priority i

[2022-08-19 10:36] #1205 closed, assigned to takb

[2022-08-19 10:55] marq24 commented on #1205
also there is quite simple alternative by using 'fastest' option (instead of shortest)...

[2022-08-22 03:31] kf99916 opened #1207 "Geocode search error - Failed to get a valid response from API"
#### Here's what I did

https://openrouteservice.org/dev/#/api-docs/geocode/search/get with the default query "Namibian Brewery"

---
#### Here's what I got

 "errors": [
"[index_not_found_exception] no such index [pelias], with { resource.type="index_or_alias" & resource.id="pelias" & index_uuid="na" & index="pelias" }"
]

---
#### Here's what I was expecting

Get correct results

---
#### Here's

[2022-08-22 09:59] TheGreatRefrigerator commented on #1207
See https://ask.openrouteservice.org/t/geocode-search-stopped-working-index-not-found-exception-no-such-index-pelias/3653/9

[2022-08-22 09:59] #1207 closed, assigned to nobody

[2022-08-28 08:21] Rickyc81 opened #1208 "Autocomplete with house number"
It's seems the autocomplete work only with address without house number, correct?

Like
text = 'via Roma 100 Palermo'

Thanks

[2022-08-29 10:13] takb commented on #1208
House numbers can be used in places where they are available in the underlying data. Our geocoder uses OSM and several additional databases, and if you did not find your example query it means it's not represented in any of our data sources.

Also, this is NOT the right place for questions like these, we have a forum for that: https://ask.openrouteservice.org/ Please refrain from opening issues fo

[2022-08-29 10:13] #1208 closed, assigned to nobody

[2022-08-29 10:49] Rickyc81 commented on #1208
Ok thanks so much.. but keep calm.. :)

[2022-09-01 11:01] takb opened #1209 "Investigate GTFSStorage files not closing properly"
on the gh-4.0-gtfs branch, at least one of the files used by GTFSStorage is not closed properly sometimes. We should look into wether this file needs to be kept open at runtime and if so if we can find a way to close the file properly in case ORS is stopped suddenly.
[code]

[2022-09-07 16:00] Taar opened #1212 "Foot-walking profile (preference shortest) does not correctly avoid ways tagged with highway trunk"
---
#### Here's what I did
Using the API playground:
[code]
With the following json payload:
[code]

---
#### Here's what I got

![ors-trunk-2022-09-06_14-55](https://user-images.githubusercontent.com/702909/188917954-891dfb42-da1a-4a56-9b3e-9ba18ab46b9e.png)

<details>
<summary>Json payload</summary>

[code]

</details>

---
#### Here's what I was expecting
I was expecting the `foot-walking` prof

[2022-09-20 07:54] sfendrich commented on #1174
Resolved.

[2022-09-20 07:54] #1174 closed, assigned to nobody

[2022-09-27 13:43] StevenGhyselbrecht opened #1218 "Weird results (to slow driving) in Belgium"
#### Here's what I did
`{
    "coordinates": [[5.97715,50.664077],[6.02034,50.67909]],
    "language": "nl", "preference": "fastest",
    "attributes": ["avgspeed"]
}
`

---
#### Here's what I got
`{
    "routes": [
        {
            "summary": {
                "distance": 9428.0,
                "duration": 721.3
            },
            "segments": [
                {

[2022-09-29 22:09] vmandic commented on #1036
Hi, this is still an issue, even with rosseta and --platofrm linux/amd64 flag on.

[2022-10-05 08:29] aoles opened #1219 "Account for multiple vehicle types in access restrictions"
Access-specific OSM-tag values listing multiple vehicle types, such as `motor_vehicle=agricultural;forestry`, are currently not being parsed which results in the access restriction not being enforced. This might lead to illegal routes such as [here](https://classic-maps.openrouteservice.org/directions?n1=49.451893&n2=8.654796&n3=17&a=49.452989,8.650629,49.452901,8.652652&b=0&c=0&k1=en-US&k2=km), w

[2022-10-05 10:41] takb opened #1220 "Configuration option to force routing to select Turn Cost sensitive algo for routing"
A customer wants to have the option to have a profile have CH enabled (for matrix) but still have routing respect turn costs. Algorithm selection needs to default to `FLEX_PREPROCESSED` mode instead of `FLEX_STATIC`.

Easiest place to put is `encoder_options` of the respective profile, where we also enable turn costs, e.g.
[code]

We decided to have a patch release based off of the last release, a

[2022-10-07 11:56] takb commented on #1220
Semantically it makes more sense to place directly as a profile parameter, e.g.
[code]

[2022-10-10 11:41] #1220 closed, assigned to takb

[2022-10-20 11:35] MichaelsJP commented on #1151
@takb ?

[2022-10-25 08:57] koebi commented on #1151
We're not using either `spring-webmvc` or `spring-webflux`.
As I see it, we should not be affected.
Both attempts to execute remote code by the original poster have been unsuccessful, so I'll close this if no one objects.

[2022-10-29 14:52] EmmanuelLM commented on #881
Hi, I have successfully added 2020 population data to my local instance of openrouteservice. I was hoping to also add 2025 population data using the instructions above and add it as a second statistics providers under the attribute "total_pop2025", however this seems to fail with "Parameter 'attributes' has incorrect value of 'total_pop2025' - does this mean Openrouteservice limits the attributes

[2022-11-02 12:52] takb opened #1226 "Add unit tests for elevation data import"
#### Here's what I think could be improved
We need to add unit tests for the functionality that reads elevation data from the OSM data (as used in our production setup using the ORS preprocessor).

During the GH update the parsing code caused problems and that wasn't caught until we actually tried to build in production setup.

[2022-11-07 09:56] aoles commented on #1219
Fixed via https://github.com/GIScience/openrouteservice/commit/cf5717b5b8112839322a1b10f296e8db5535d8b2.

[2022-11-10 10:01] aoles opened #1227 "Walking profiles fail to route over ways tagged as `foot=yes` but `access=no`"
[Example illustrating the issue](https://maps.openrouteservice.org/#/directions/Finkenweg,G%C3%B6rlitz,SN,Deutschland/Finkenweg%2021a,G%C3%B6rlitz,SN,Deutschland/Hans-Beimler-Stra%C3%9Fe,G%C3%B6rlitz,SN,Deutschland/Girbigsdorfer%20Stra%C3%9Fe%2048,Markersdorf,SN,Deutschland/Girbigsdorfer%20Stra%C3%9Fe%2044,Markersdorf,SN,Deutschland/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,

[2022-11-15 02:27] shivam2893 commented on #1073
Hi @aoles @HendrikLeuschner, we are facing this issue in an older version of ORS (6.6.1). May I know if this was fixed in a newer release or if you found out some information which might be helpful for anyone who comes across this issue in the future? Thanks in advance!

[2022-11-15 10:57] aoles commented on #1073
Thanks @shivam2893 for your feedback. Unfortunately, this issue has not been fixed yet. We hope to get back to it soon. In the meantime, it would be great if you could provide your failing example. Cheers!

[2022-11-15 13:06] fftg97 opened #1228 "Isochrone API Call not returning geometry of intersections"
#### Here's what I did
[code]
---
#### Here's what I got
[code]

---
#### Here's what I was expecting
I would only expect 4 features to be output, one for each combination of distance and core_station.

Instead there is a 5th feature which has no geometry value.

This only appears to happen for some combinations of locations and distances.

When running this via the web API test it creates a blank

[2022-11-16 18:06] Loki-Afro opened #1229 "openrouteservice is not suggesting the shortest route"
#### Here's what I did

https://maps.openrouteservice.org/#/directions/K%201366,Falkenstein%2FHarz,ST,Germany/Alte%20Reihe,Falkenstein%2FHarz,ST,Germany/Alte%20Reihe,Falkenstein%2FHarz,ST,Germany/data/55,130,32,198,15,97,4,224,38,9,96,59,2,24,5,192,166,6,113,0,184,64,70,124,3,160,25,128,38,1,57,201,32,54,0,88,43,160,6,122,72,21,128,26,55,137,162,128,57,41,49,32,29,130,141,54,2,72,6,228,42,68,157,6

[2022-11-17 10:20] sfendrich commented on #1229
Thank you for reporting this issue! I can see no issue with the data itself. As the way is only 23 days old, it might not have  entered the ORS graph yet. (https://www.openstreetmap.org/way/1106840206/history)  We will reconsider this issue after the next graph update.

[2022-11-17 14:19] Loki-Afro commented on #1229
@sfendrich might be might be, but on thing is odd then, this change https://www.openstreetmap.org/changeset/128883188 modified the way slightly between 1-2 (I did that change by the way) and these changes are already applied, the upper left turn in the screenshot would not have been possible

can you elaborate a bit what ORS graph is, how and when is it generated, and how does this affect this pro

[2022-11-18 08:01] koebi commented on #1229
Hey,
I don't think that the changeset you referred to is reflected in the openrouteservice.
The [OSM history viewer](https://osmhv.openstreetmap.de/changeset.jsp?id=128883188) shows that the change in the first left turn after 1 is the crossing going from a straight 90° T-crossing to a more sharp ~120° T-crossing.
Looking at the screenshot you provided, you can see the new, rendered crossing just

[2022-11-28 17:41] nilsnolde opened #1232 "multi-stage ORS image"
Partly my own fault I guess, but currently the ORS docker image takes _ages_ to compile ORS every time a container is started. Very annoying when it's supposed to run in CI to validate libraries against.

The image should compile the code, not the container, so I quickly multi-staged it to only carry over the WAR to the final image. The image size is around half of what it was before which still s

[2022-11-29 14:54] koebi opened #1233 "Parse non-integer (speed) values correctly"
This is related to [this thread in the forum](https://ask.openrouteservice.org/t/distance-matrix-isochrone-do-not-use-custom-maxspeed-values/4343).

#### Here's what I did
According to the forum thread, I changed the maxspeed of the way in question to 10. Then, I ran ors and successfully retrieved a route with a duration according to the changed maxspeed.

I then retried with a maxspeed of 10.1

-